/*
Theme Name:  Salient
Description: Styles for the "Milestone" page builder element.
*/

.nectar-milestone{
  text-align:center
}
.nectar-milestone:not(.animated-in){
  opacity:0
}
.span_12.right .nectar-milestone, .nectar-milestone[data-ms-align="right"]{
  text-align:right
}
.nectar-milestone[data-ms-align="left"]{
  text-align:left
}
.span_12.right .nectar-milestone[data-symbol-alignment="superscript"]{
  padding-right:40px
}
body .nectar-milestone .number h1,
body .nectar-milestone .number h2,
body .nectar-milestone .number h3,
body .nectar-milestone .number h4,
body .nectar-milestone .number h5{
  font-size:inherit;
  line-height:inherit;
  color:inherit;
  display:inline-block
}
.nectar-milestone .number{
  font-size:62px;
  line-height:62px;
  font-family:'Open Sans';
  font-weight:600;
  margin-bottom:5px;
  position:relative;
  display:inline-block
}
.nectar-milestone.motion_blur .number span:not(.in-sight) {
  transform:translateY(-100%);
  -webkit-transform:translateY(-100%);
  opacity:0
}
.nectar-milestone.motion_blur .number span{
  display:inline-block
}
body .nectar-milestone .subject {
  letter-spacing:0.5px;
  font-size:16px;
  line-height:25px
}
.nectar-milestone .number .symbol-wrap{
  display:inline-block
}
.nectar-milestone[data-symbol-alignment="superscript"] .number .symbol-wrap{
  transform:translateX(103%);
  -webkit-transform:translateX(103%);
  top:0;
  right:0;
  position:absolute;
  display:inline;
  font-size:30px;
  line-height:34px
}
.nectar-milestone[data-symbol-alignment="superscript"][data-symbol-pos="before"] .number .symbol-wrap{
  transform:translateX(-103%);
  -webkit-transform:translateX(-103%);
  right:auto;
  left:0
}
.milestone-wrap{
  text-align:center
}


@media only screen and (min-width: 1000px) and (max-width: 1300px) {

  .nectar-milestone .number {
    font-size: 50px;
    line-height: 50px;
  }

}

@media only screen and (min-width : 1px) and (max-width : 999px) {
  .nectar-milestone {
    margin-bottom: 15px;
  }

  .nectar-milestone:not(.animated-in) {
    opacity: 1;
  }

  .nectar-milestone.motion_blur .number span:not(.in-sight) {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    opacity: 1;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {
  .full-width-content .vc_span2 .nectar-milestone .number,
  .full-width-content .vc_col-sm-2 .nectar-milestone .number {
    font-size: 50px;
    line-height: 50px;
  }
}
