/*
Theme Name:  Salient
Description: Styles for the "Fancy Unordered List" page builder element.
*/

.nectar-fancy-ul ul li{
  list-style:none;
  position:relative;
  padding-left:38px
}
body .nectar-fancy-ul[data-list-icon="none"] ul li{
  padding-left:0;
  margin-bottom:0
}
.nectar-fancy-ul ul{
  margin-left:0
}
.nectar-fancy-ul ul li i,
.nectar-fancy-ul ul li i.icon-default-style{
  position:absolute;
  left:0;
  top:0;
  width:20px
}
.nectar-fancy-ul ul li .icon-default-style[class^="icon-"]{
  font-size:16px;
  height:100%;
  line-height:22px
}
.nectar-fancy-ul ul li i.icon-default-style[class^="icon-"].icon-salient-thin-line{
  font-size:27px;
  height:27px;
  line-height:27px
}
.main-content .nectar-fancy-ul[data-spacing="5px"] ul li {
	margin-bottom: 5px;
}
.main-content .nectar-fancy-ul[data-spacing="10px"] ul li {
	margin-bottom: 10px;
	line-height: 1.5em;
}
.main-content .nectar-fancy-ul[data-spacing="15px"] ul li {
	margin-bottom: 15px;
	line-height: 1.5em;
}
.main-content .nectar-fancy-ul[data-spacing="20px"] ul li {
	margin-bottom: 20px;
	line-height: 1.5em;
}
.main-content .nectar-fancy-ul[data-spacing="25px"] ul li {
	margin-bottom: 25px;
	line-height: 1.5em;
}
.nectar-fancy-ul[data-list-icon="dot"] ul li {
	padding-left: 30px;
}
.nectar-fancy-ul[data-list-icon="dot"] ul li:before {
	content: ".";
  position: absolute;
  left: 0px;
	top: 9px;
	line-height: 0;
  font-size: 26px;
}

.nectar-fancy-ul[data-animation="true"] ul li{
  opacity:0;
  left:-20px;
  margin-bottom:5px
}
.nectar-fancy-ul[data-alignment="center"] ul,
.nectar-fancy-ul[data-alignment="center"] ul li{
  text-align:center!important
}
.nectar-fancy-ul[data-alignment="right"] ul,
.nectar-fancy-ul[data-alignment="right"] ul li{
  text-align:right!important
}
.nectar-fancy-ul[data-alignment="right"] ul li i:not(.none),
.nectar-fancy-ul[data-alignment="center"] ul li i:not(.none){
  position:relative;
  margin-right:10px
}
