/*
Theme Name:  Salient
Description: Styles for the "Team Member" page builder element.
*/

.team-member{
   margin-top:7px;
    padding-bottom:7px
}
.team-member h4{
   font-size:22px;
}
.row .col .team-member h4 {
    margin-bottom:0px
}
.team-member h4 a{
   color:#444
}
.team-member p.description, 
.row .col .team-member p.description{
   padding:15px 0px;
    margin:15px 0px;
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd
}
.team-member .social{
   margin:0px
}
.team-member .social:after{
   content:"";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
.team-member .social li{
   float:left;
    list-style:none
}
.team-member .social li a{
   font-size:11px;
    margin:0px 8px
}
.team-member .social li:first-child a{
   margin-left:0px
}
.team-member .social li:after{
   content:' / ';
   font-size:11px
}
.team-member .social li:last-child:after{
   content:' '
}
.full-width-section .team-member img {
   margin-bottom:15px
}
.team-member[data-style="bio_fullscreen"]{
    cursor:pointer
}
.team-member[data-style="meta_overlaid"], 
.team-member[data-style="meta_overlaid_alt"], 
.team-member[data-style="bio_fullscreen"]{
   margin-top:0;
    margin-bottom:0;
    padding-bottom:0;
    line-height:0;
    position:relative
}
.team-member[data-style="meta_overlaid"] a, 
.team-member[data-style="meta_overlaid_alt"] a, 
.team-member[data-style="bio_fullscreen"] a{
   display:block;
    position:absolute;
    background:transparent;
    top:0;
    left:0;
    z-index:20;
    width:100%;
    height:100%
}
.team-member[data-style="meta_overlaid"] img, 
.team-member[data-style="meta_overlaid_alt"] img, 
.team-member[data-style="bio_fullscreen"] img{
   line-height:0;
    max-width:none;
    max-height:none;
    width:100%!important;
    margin-bottom:0
}
.team-member[data-style="meta_overlaid"] .team-member-overlay, 
.team-member[data-style="bio_fullscreen"] .team-member-overlay{
   background-color:#282B30;
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    width:100%;
    height:100%;
    opacity:0.45;
    transition:opacity 0.3s ease 0s
}
.team-member[data-style="meta_overlaid"] .team-member-image, 
.team-member[data-style="meta_overlaid_alt"] .team-member-image{
   z-index:2;
    height:300px;
    width:100%;
    background-position:center;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover
}
.team-member[data-style="bio_fullscreen"] .team-member-image{
   z-index:2;
    width:100%
}
.team-member[data-style="meta_overlaid_alt"] .team-member-image{
   background-color:#444
}
.team-member .nectar_team_bio_img, .team-member .nectar_team_bio{
   display:none
}
.full-width-content .vc_span3 .team-member[data-style="meta_overlaid"] .team-member-image, 
.full-width-content .vc_col-sm-3 .team-member[data-style="meta_overlaid"] .team-member-image, 
.full-width-content .vc_span3 .team-member[data-style="meta_overlaid_alt"] .team-member-image, 
.full-width-content .vc_col-sm-3 .team-member[data-style="meta_overlaid_alt"] .team-member-image{
   height:350px
}
.full-width-content .vc_span4 .team-member[data-style="meta_overlaid"] .team-member-image, 
.full-width-content .vc_col-sm-4 .team-member[data-style="meta_overlaid"] .team-member-image, 
.full-width-content .vc_span4 .team-member[data-style="meta_overlaid_alt"] .team-member-image, 
.full-width-content .vc_col-sm-4 .team-member[data-style="meta_overlaid_alt"] .team-member-image{
   height:400px
}
.wpb_row:not(.full-width-content) .vc_span3 .team-member[data-style="meta_overlaid"] .team-member-image, 
.wpb_row:not(.full-width-content) .vc_col-sm-3 .team-member[data-style="meta_overlaid"] .team-member-image, 
.wpb_row:not(.full-width-content) .vc_span3 .team-member[data-style="meta_overlaid_alt"] .team-member-image, 
.wpb_row:not(.full-width-content) .vc_col-sm-3 .team-member[data-style="meta_overlaid_alt"] .team-member-image{
   height:275px
}
.team-member[data-style="meta_overlaid"]:hover 
.team-member-overlay, 
.team-member[data-style="bio_fullscreen"] .team-member-overlay{
   opacity:0
}
.team-member[data-style="bio_fullscreen"] .team-member-overlay{
   transition:opacity .8s cubic-bezier(.2,1,.2,1);
    -webkit-transition:opacity .8s cubic-bezier(.2,1,.2,1);
    backface-visibility:hidden;
    transform:translateZ(0)
}
.team-member[data-style="bio_fullscreen"]:hover .team-member-overlay{
   opacity:0.4
}
.team-member[data-style="meta_overlaid"] .team-meta, 
.team-member[data-style="meta_overlaid_alt"] .team-meta, 
.team-member[data-style="bio_fullscreen"] .team-meta{
   position:absolute;
    z-index:10;
    bottom:40px;
    width:100%;
    text-align:center
}
.team-member[data-style="meta_overlaid_alt"] .team-meta{
   text-align:left;
    left:25px;
    bottom:40px
}
.team-member[data-style="bio_fullscreen"] .team-meta{
   padding-left:25px;
    margin-bottom:25px;
    left:0;
    bottom:0;
    text-align:left
}
body .team-member[data-style="bio_fullscreen"] .team-meta p{
    display:block;
    line-height:16px;
    padding-top:0
}
body .team-member[data-style="bio_fullscreen"] .team-meta .arrow-end{
    color:#fff;
    right:25px;
    opacity:0;
    width:auto
}
body .team-member[data-style="bio_fullscreen"] .team-meta .arrow-line{
    background-color:#fff;
    right:27px
}
body .team-member[data-style="bio_fullscreen"] .team-meta .arrow-end{
    -ms-transform:translateX(-8px) translateY(-50%);
    -webkit-transform:translateX(-8px) translateY(-50%);
    transform:translateX(-8px) translateY(-50%)
}
.team-member[data-style="bio_fullscreen"]:hover .team-meta .arrow-line, 
.team-member[data-style="bio_fullscreen"]:hover .team-meta .arrow-end{
    opacity:1;
    -ms-transform:translateX(0) translateY(-50%);
    -webkit-transform:translateX(0) translateY(-50%);
    transform:translateX(0) translateY(-50%)
}
.team-member[data-style="bio_fullscreen"] .team-meta h3{
    transform:translateY(10px);
    -webkit-transform:translateY(10px);
    transition:opacity .95s cubic-bezier(.2,1,.2,1),transform .95s cubic-bezier(.2,1,.2,1);
    -webkit-transition:opacity .95s cubic-bezier(.2,1,.2,1),-webkit-transform .95s cubic-bezier(.2,1,.2,1);
    opacity:0
}
.team-member[data-style="bio_fullscreen"] .team-meta p{
    transform:translateY(20px);
    -webkit-transform:translateY(20px);
    transition:opacity .95s cubic-bezier(.2,1,.2,1),transform .95s cubic-bezier(.2,1,.2,1);
    -webkit-transition:opacity .95s cubic-bezier(.2,1,.2,1),-webkit-transform .95s cubic-bezier(.2,1,.2,1);
    opacity:0
}
.team-member[data-style="bio_fullscreen"]:hover .team-meta h3, 
.team-member[data-style="bio_fullscreen"]:hover .team-meta p{
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    opacity:1
}
.team-member[data-style="meta_overlaid"] .team-meta h3, 
.team-member[data-style="meta_overlaid_alt"] .team-meta h3, 
.team-member[data-style="bio_fullscreen"] .team-meta h3{
   color:#fff
}
.team-member[data-style="meta_overlaid"] .team-meta p, 
.team-member[data-style="meta_overlaid_alt"] .team-meta p, 
.team-member[data-style="bio_fullscreen"] .team-meta p{
   color:rgba(255,255,255,0.8);
  padding:7px 0 0 0
}
.wpb_row:not(.full-width-content) .vc_span3 .team-member[data-style="meta_overlaid"] .team-meta h3, 
.wpb_row:not(.full-width-content) .col.span_3 .team-member[data-style="meta_overlaid"] .team-meta h3, 
.wpb_row:not(.full-width-content) .vc_span3 .team-member[data-style="meta_overlaid_alt"] .team-meta h3, 
.wpb_row:not(.full-width-content) .col.span_3 .team-member[data-style="meta_overlaid_alt"] .team-meta h3, 
.wpb_row:not(.full-width-content) .vc_span3 .team-member[data-style="bio_fullscreen"] .team-meta h3, 
.wpb_row:not(.full-width-content) .col.span_3 .team-member[data-style="bio_fullscreen"] .team-meta h3{
    font-size:14px;
    line-height:20px;
    margin-bottom:2px
}
.wpb_row:not(.full-width-content) .vc_span4 .team-member[data-style="meta_overlaid"] .team-meta h3, 
.wpb_row:not(.full-width-content) .col.span_4 .team-member[data-style="meta_overlaid"] .team-meta h3, 
.wpb_row:not(.full-width-content) .vc_span4 .team-member[data-style="meta_overlaid_alt"] .team-meta h3, 
.wpb_row:not(.full-width-content) .col.span_4 .team-member[data-style="meta_overlaid_alt"] .team-meta h3, 
.wpb_row:not(.full-width-content) .vc_span4 .team-member[data-style="bio_fullscreen"] .team-meta h3, 
.wpb_row:not(.full-width-content) .col.span_4 .team-member[data-style="bio_fullscreen"] .team-meta h3{
   margin-bottom:2px
}
.team-member[data-style="meta_overlaid_alt"]{
   overflow:hidden
}
.team-member[data-style="meta_overlaid_alt"]:after{
   position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    content:' ';
    opacity:0;
    display:block;
    transition:all 0.3s;
    -webkit-transition:all 0.3s;
    background:linear-gradient(to top,rgba(51,51,51,1) 0%,rgba(51,51,51,0.8) 20%,rgba(51,51,51,0) 100%);
    background:-webkit-linear-gradient(to top,rgba(51,51,51,1) 0%,rgba(51,51,51,0.8) 20%,rgba(51,51,51,0) 100%)
}
.team-member[data-style="meta_overlaid_alt"] .team-meta{
   transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    opacity:0;
    transform:translateY(40px);
    -webkit-transform:translateY(40px)
}
.team-member[data-style="meta_overlaid_alt"]:hover:after{
   opacity:1
}
.team-member[data-style="meta_overlaid_alt"]:hover .team-meta{
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
    opacity:1
}

.row .team-member .team-member-image-inner .nectar-lazy {
  display: block;
  transition: opacity 0.5s ease;
  opacity: 0;
  width: 100%;
}
.row .team-member .team-member-image-inner .nectar-lazy.loaded {
  opacity: 1;
}

.team-member[data-style="bio_fullscreen_alt"] {
  cursor: pointer;
}
.team-member[data-style="bio_fullscreen_alt"] .team-member-image { 
  line-height: 0;
  overflow: hidden; 
  margin-bottom: 30px;
}
.team-member[data-style="bio_fullscreen_alt"] h3 {
  margin-bottom: 10px;
}
.row .team-member[data-style="bio_fullscreen_alt"] h5 {
  margin-bottom: 5px;
  line-height: 1em;
}
.team-member[data-style="bio_fullscreen_alt"] .team-member-image img{
  margin-bottom: 0;
}

.team-member[data-style="bio_fullscreen_alt"] .team-meta p {
  padding-bottom: 10px;
}

.team-member[data-style="bio_fullscreen_alt"] .team-member-image,
.team-member[data-style="bio_fullscreen_alt"] .team-member-image-inner {
	-webkit-transition: transform .8s cubic-bezier(.05,0.2,.1,1);
	transition: transform .8s cubic-bezier(.05,0.2,.1,1);
}

.team-member[data-style="bio_fullscreen_alt"]:hover .team-member-image-inner {
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

.team-member[data-style="bio_fullscreen_alt"]:hover .team-member-image {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.centered-text.wpb_column .team-member[data-style="bio_fullscreen_alt"] .nectar-cta {
  text-align: center;
}

.nectar_team_member_overlay[data-style="bio-fullscreen-alt"] .team_member_details .title {
    -ms-transition: all 1.1s cubic-bezier(0.2,1,.2,1) 0.4s;
    -webkit-transition: all 1.1s cubic-bezier(0.2,1,.2,1) 0.4s;
    transition: all 1.1s cubic-bezier(0.2,1,.2,1) 0.4s;
    margin-bottom: 10px;
}
.nectar_team_member_overlay[data-style="bio-fullscreen-alt"] .team_member_details h2 {
    -ms-transition: all 1.1s cubic-bezier(0.2,1,.2,1) 0.55s;
    -webkit-transition: all 1.1s cubic-bezier(0.2,1,.2,1) 0.55s;
    transition: all 1.1s cubic-bezier(0.2,1,.2,1) 0.55s;
    margin-bottom: 30px;
}


.light .team-member[data-style="bio_fullscreen_alt"] svg {
  color: #fff;
}
.light .team-member[data-style="bio_fullscreen_alt"] .line {
  background-color: #fff!important;
}
.light .team-member[data-style="bio_fullscreen_alt"] p {
  opacity: 0.6;
}

.nectar_team_member_overlay{
   height:100%;
    width:100%;
    background-color:#f2f2f2;
    color:#555;
    position:fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index:1100;
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    -webkit-transition:-webkit-transform 0.8s cubic-bezier(0.2,1,.2,1);
    transition:transform 0.8s cubic-bezier(0.2,1,.2,1)
}
.nectar_team_member_overlay.in-boxed .inner-wrap {
    top: 0!important;
}
.nectar_team_member_overlay.in-boxed {
    z-index: 10010;
}
.nectar-close-indicator.in-boxed {
    z-index: 10020;
}
.nectar_team_member_overlay .inner-wrap{
   position:relative;
    width:100%;
    height:100%
}
.nectar_team_member_overlay.open{
   -webkit-transform:translateX(0%);
    transform:translateX(0%)
}
.nectar_team_member_overlay.open.on-mobile{
   cursor:pointer
}
.nectar_team_member_overlay .team_member_picture{
   height:100%;
    width:50%;
    position:fixed;
    right:0;
    top:0;
    pointer-events: none;
    background-color:rgba(0,0,0,0.1)
}
.nectar_team_member_overlay .team_member_image{
   height:100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    background-size:cover;
    -webkit-transition:-webkit-transform 15s cubic-bezier(.15,0,.7,1),opacity 0.3s;
    transition:transform 15s cubic-bezier(.15,0,.7,1),opacity 0.3s;
    -webkit-transform:scale(1.11);
    transform:scale(1.11);
    opacity:0;
    background-position:center top
}
.nectar_team_member_overlay.open:not(.animating) .team_member_image{
    -webkit-transform:scale(1);
    transform:scale(1)
}
.team_member_picture_wrap{
   overflow:hidden;
    width:100%;
    top:0;
    left:0;
    height:100%;
    position:absolute
}
.nectar_team_member_overlay .inner-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.nectar_team_member_overlay::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, 0.07);
  width: 10px;
}
.nectar_team_member_overlay::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
.nectar_team_member_overlay::-webkit-scrollbar-thumb {
		background: rgba(0,0,0,0.25);
  background-clip: padding-box;
  min-height: 10px;
}

.nectar_team_member_overlay .bottom_meta a {
    display: inline-block;
    color: inherit;
    padding: 30px 30px 30px 0;
}
.nectar_team_member_overlay .bottom_meta a i {
    height: auto;
    width: auto;
    font-size: 28px;
    transition: color 0.2s ease;
}
.nectar_team_member_overlay .bottom_meta a:not(:hover) i {
    color: inherit;
}
.nectar_team_member_overlay .team_member_details{
    width: 100%;
    left:0;
    position:relative;
    padding: 8% 60% 4% 10%;
    overflow-y: scroll;
    margin: auto 0;
    max-height: 100vh;
}

@media only screen and (max-width: 690px) {
    .nectar_team_member_overlay .team_member_details{
        padding:10% 10%;
   }
}

.nectar_team_member_overlay .team_member_details .title{
   line-height:20px;
    margin-bottom:30px
}
.nectar_team_member_overlay .team_member_details h2, 
.nectar_team_member_overlay .team_member_details .mobile-close, 
.nectar_team_member_overlay .team_member_details .title, 
.nectar_team_member_overlay .team_member_details .team-desc, 
.nectar_team_member_overlay .team_member_details .team-desc .bottom_meta a {
   opacity:0;
    -ms-transform:translateY(40px);
    -webkit-transform:translateY(40px);
    transform:translateY(40px);
    -ms-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.4s;
    -webkit-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.4s;
    transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.4s
}
.nectar_team_member_overlay .team_member_details .title {
   -ms-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.55s;
    -webkit-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.55s;
    transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.55s
}
.nectar_team_member_overlay .team_member_details .team-desc{
   -ms-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.7s;
    -webkit-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.7s;
    transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.7s
}
.nectar_team_member_overlay .team_member_details .team-desc .bottom_meta a:nth-child(1) {
   -ms-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.85s;
    -webkit-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.85s;
    transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.85s
}
.nectar_team_member_overlay .team_member_details .team-desc .bottom_meta a:nth-child(2) {
   -ms-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.9s;
    -webkit-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.9s;
    transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.9s
}
.nectar_team_member_overlay .team_member_details .team-desc .bottom_meta a:nth-child(3) {
   -ms-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.95s;
    -webkit-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.95s;
    transition:all 1.1s cubic-bezier(0.2,1,.2,1) 0.95s
}
.nectar_team_member_overlay .team_member_details .team-desc .bottom_meta a:nth-child(4) {
   -ms-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 1s;
    -webkit-transition:all 1.1s cubic-bezier(0.2,1,.2,1) 1s;
    transition:all 1.1s cubic-bezier(0.2,1,.2,1) 1s
}
.nectar_team_member_overlay.open .team_member_details .mobile-close, 
.nectar_team_member_overlay.open .team_member_details h2, 
.nectar_team_member_overlay.open .team_member_details .title, 
.nectar_team_member_overlay.open .team_member_details .team-desc, 
.nectar_team_member_overlay.open .team_member_details .team-desc .bottom_meta a {
   opacity:1;
    -ms-transform:translateY(0px);
    -webkit-transform:translateY(0px);
    transform:translateY(0px)
}
.nectar_team_member_overlay .team_member_details .team-desc p:empty {
    display: block;
}
.nectar_team_member_overlay .team_member_picture .team_member_image_bg_cover{
   width:100%;
    height:100%;
    position:absolute;
    z-index:1001;
    left:-2px;
    top:0;
    -webkit-transform:scaleX(1);
    -ms-transform:scaleX(1);
    transform:scaleX(1);
    -ms-transform-origin:left;
    -webkit-transform-origin:left;
    transform-origin:left;
    background-color:#f2f2f2;
    -webkit-transition:-webkit-transform 1s cubic-bezier(0.25,1,.2,1);
    transition:transform 1s cubic-bezier(0.25,1,.2,1)
}
.nectar_team_member_overlay.open .team_member_picture .team_member_image_bg_cover{
   -webkit-transform:scaleX(0);
    -ms-transform:scaleX(0);
    transform:scaleX(0)
}
.nectar-close-indicator{
    left:-45px;
    position:fixed;
    top:-45px;
    pointer-events:none;
    display:block;
    height:90px;
    width:90px;
    text-align:center;
    line-height:88px;
    font-size:24px;
    z-index:10001;
    opacity:0;
    -webkit-transition:opacity 0.3s;
    transition:opacity 0.3s;
    will-change: transform, opacity;
    mix-blend-mode: difference;
}
.nectar-close-indicator .inner{
   border:2px solid #fff;
    height:90px;
    width:90px;
    line-height:88px;
    opacity:0;
    font-size:24px;
    border-radius:100px;
    -webkit-transition:opacity 0.2s;
    transition:opacity 0.2s
}
.nectar-close-indicator.visible, 
.nectar-close-indicator .inner.visible{
   opacity:1
}
.nectar-close-indicator .inner:before{
   font-family:'icomoon';
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    content:"\e117";
    color:#fff;
    font-size:24px;
    display:block
}
.team-member[data-style="bio_fullscreen"] .team-meta .arrow-end{
    display:inline-block;
    font-family:'FontAwesome';
    speak:none;
    font-style:normal;
    font-weight:normal;
    font-variant:normal;
    text-transform:none;
    line-height:50px;
    height:50px;
    -webkit-font-smoothing:antialiased;
    letter-spacing:0;
    content:"\f105";
    margin-left:15px;
    position:absolute;
    right:0;
    top:53%;
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(-50%) translateZ(0);
    transform:translateY(-50%) translateZ(0);
    font-size:25px;
    transition:opacity 0.25s cubic-bezier(0.12,0.75,0.4,1),transform 0.25s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:opacity 0.25s cubic-bezier(0.12,0.75,0.4,1),-webkit-transform 0.25s cubic-bezier(0.12,0.75,0.4,1) 
}
.team-member[data-style="bio_fullscreen"] .team-meta .arrow-line{
    backface-visibility:hidden;
    letter-spacing:0;
    display:block;
    content:' ';
    z-index:100;
    position:absolute;
    width:22px;
    height:2px;
    background-color:#000;
    top:53%;
    opacity:0;
    right:-10px;
    cursor:pointer;
    transform:translateY(-50%) translateX(-20px) translateZ(0);
    -webkit-transform:translateY(-50%) translateX(-20px) translateZ(0);
    transition:opacity 0.25s cubic-bezier(0.12,0.75,0.4,1),transform 0.25s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:opacity 0.25s cubic-bezier(0.12,0.75,0.4,1),-webkit-transform 0.25s cubic-bezier(0.12,0.75,0.4,1)
}
.team-member[data-style="bio_fullscreen"] .team-meta .arrow-line{
    top:53% 
}
@media only screen and (min-width : 690px) and (max-width : 999px) {
    .nectar_team_member_overlay .team_member_picture {
        width: 35%;
   }
    .nectar_team_member_overlay .team_member_details {
        padding-right: 45%;
   }
    .team-member[data-style="meta_overlaid"] .team-member-image {
        height: 500px;
   }
    .one-fourths .team-member[data-style="meta_overlaid"] .team-member-image {
        height: 350px;
   }
    .wpb_row:not(.full-width-content) .vc_span3.one-fourths .team-member[data-style="meta_overlaid"] .team-member-image, 
    .wpb_row:not(.full-width-content) .vc_col-sm-3.one-fourths .team-member[data-style="meta_overlaid"] .team-member-image {
        height: 250px;
   }
}
@media only screen and (max-width : 690px) {
    .nectar_team_member_overlay .team_member_details {
        width: 100%;
   }
    .nectar_team_member_overlay .team_member_picture {
        display: none;
   }

}
@media only screen and (min-width : 1px) and (max-width : 999px) {
    .nectar-close-indicator {
        display: none;
   }
    .nectar_team_member_overlay .team_member_details .bio-inner .mobile-close {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        display: block;
        height: 32px;
        width: 32px;
        border-radius: 50px;
        transform-origin: center;
        margin-bottom: 10px;
        cursor: pointer;
        border: 2px solid;
   }
    .nectar_team_member_overlay .team_member_details .bio-inner .mobile-close:before {
        position: absolute;
        display: block;
        height: 2px;
        width: 16px;
        left: 6px;
        top: 13px;
        content: ' ';
   }
    .nectar_team_member_overlay .team_member_details .bio-inner .mobile-close:after {
        position: absolute;
        display: block;
        height: 16px;
        width: 2px;
        left: 13px;
        top: 6px;
        content: ' ';
   }
}
@media only screen and (min-width: 1300px) and (max-width: 1600px) {
    .full-width-content .vc_span3 .team-member[data-style="meta_overlaid"] .team-member-image, 
    .full-width-content .vc_col-sm-3 .team-member[data-style="meta_overlaid"] .team-member-image{
        height: 320px;
   }
    .full-width-content .vc_span4 .team-member[data-style="meta_overlaid"] .team-member-image, 
    .full-width-content .vc_col-sm-4 .team-member[data-style="meta_overlaid"] .team-member-image {
        height: 370px;
   }
}
@media only screen and (min-width: 990px) and (max-width: 1300px) {
    .team-member[data-style="meta_overlaid"] .team-meta h3 {
        font-size: 14px;
        line-height: 20px;
   }
    .team-member[data-style="meta_overlaid"] .team-meta {
        bottom: 30px;
   }
    .full-width-content .vc_span3 .team-member[data-style="meta_overlaid"] .team-member-image, 
    .full-width-content .vc_col-sm-3 .team-member[data-style="meta_overlaid"] .team-member-image {
        height: 270px;
   }
    .full-width-content .vc_span4 .team-member[data-style="meta_overlaid"] .team-member-image, 
    .full-width-content .vc_col-sm-4 .team-member[data-style="meta_overlaid"] .team-member-image {
        height: 320px;
   }
    .wpb_row:not(.full-width-content) .vc_span3 .team-member[data-style="meta_overlaid"] .team-member-image, 
    .wpb_row:not(.full-width-content) .vc_col-sm-3 .team-member[data-style="meta_overlaid"] .team-member-image {
        height: 250px;
   }
}
body.nectar-no-scrolling {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
html.nectar-no-scrolling {
    overflow: hidden;
    height: 100vh;
}

