/*
Theme Name:  Salient
Description: Styles for the "Tabs" page builder element.
*/

.tabbed >ul,
.wpb_content_element .tabbed .wpb_tabs_nav {
    margin-left:0px;
    margin-bottom:17px
}
 .tabbed >ul li{
    float:left;
     position:relative;
     list-style:none;
     margin:0px
}
 .tabbed >ul:after{
    content:"";
     display:block;
     height:0;
     clear:both;
     visibility:hidden
}
 .tabbed >ul li a{
    display:block;
     color:#888;
     position:relative;
     background-color:rgba(0,0,0,0.045);
     padding:8px 15px;
     transition:all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     -webkit-transition:all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     border-left:0px;
     border-right:1px solid rgba(0,0,0,0.06)
}
 .tabbed >ul li a svg {
     fill: #888;
}
 .tabbed >ul li:hover,
 body .wpb_content_element .wpb_tabs_nav li,
 body .wpb_content_element .wpb_tabs_nav li:hover{
    background-color:transparent
}
 .tabbed .clear{
    display:block!important;
     padding-bottom:0px
}
 .tabbed > ul li a:hover{
    background-color:rgba(0,0,0,0.035)
}
 .tabbed > ul li:last-child a{
    border-color:transparent
}
 .tabbed > ul li .active-tab{
    color:#fff;
     border-color:#27CFC3;
     background-color:#27CFC3
}
 .tabbed >ul li .active-tab svg {
     fill: #fff;
}
 .light .tabbed >ul li:last-child a,
 .light .tabbed >ul li a{
    border-color:rgba(0,0,0,0.2)
}
 .light .tabbed >ul li a{
    background-color:rgba(0,0,0,0.15)
}
 .tabbed .wpb_tab{
    opacity:0
}
 body .tabbed > div {
    padding:0px;
     margin-bottom:0px;
     background-color:transparent
}
body .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tab {
    padding:0px;
    background-color:transparent
}
 .tabbed .wpb_tab{
    position:absolute;
    width: 100%;
    left: -9999px;
    top: 0;
    visibility: hidden;
}
 .tabbed >div:first-of-type{
    position:relative
}
body .row .tabbed >div:first-of-type{
   display: block;
   opacity: 1;
   visibility: visible;
 	position: relative;
 	left: 0;
}
 .tabbed div.wp-video .mejs-mediaelement{
    position:absolute
}
 .tabbed div.wp-video .mejs-inner{
    position:static
}
 .wpb_tabs_nav .cta-button{
    position:absolute;
     right:0;
     top:0
}
 .tabbed[data-alignment="right"] .wpb_tabs_nav .cta-button{
    left:0;
     right:auto
}
 .wpb_tabs_nav .cta-button a{
    visibility:visible;
    margin-bottom:0
}
 .wpb_tabs_nav .cta-button a:after{
    display:none!important
}
 .tabbed .wpb_tab > .tab-icon {
     display: none;
}
 .tabbed[data-alignment="center"] .wpb_tabs_nav li,
 .tabbed[data-alignment="right"] .wpb_tabs_nav li{
    float:none;
     display:inline-block
}
 .tabbed[data-alignment="center"] .wpb_tabs_nav{
    text-align:center
}
 .tabbed[data-alignment="right"] .wpb_tabs_nav{
    text-align:right
}
 .tabbed[data-style="minimal"] .wpb_tabs_nav{
    border-bottom:1px solid #e1e1e1;
     line-height:0px;
     margin-bottom:65px;
     position:relative
}
 .tabbed[data-style="minimal"] >ul li:not(.cta-button) a,
 .tabbed[data-style="minimal"] >ul li:not(.cta-button) .active-tab,
 .tabbed[data-style="minimal_alt"] >ul li:not(.cta-button) a,
 .tabbed[data-style="minimal_alt"] >ul li:not(.cta-button) .active-tab{
    background-color:transparent;
     border-right:none;
     position:relative;
     color:inherit;
     z-index:10;
     padding:18px 17px;
     line-height:32px;
     margin-bottom:-1px;
     overflow-y:hidden;
     transition:all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     -webkit-transition:all 0.3s cubic-bezier(0.12,0.75,0.4,1)
}
 .tabbed[data-style="minimal"] >ul li:not(.cta-button) a svg,
 .tabbed[data-style="minimal"] >ul li:not(.cta-button) .active-tab svg,
 .tabbed[data-style="minimal_alt"] >ul li:not(.cta-button) a svg,
 .tabbed[data-style="minimal_alt"] >ul li:not(.cta-button) .active-tab svg {
     fill: currentColor;
}
 .tabbed[data-style="minimal"] >ul li a:hover{
    opacity:0.7
}
 .tabbed[data-style*="minimal"] >ul li a:after{
     height:4px;
     width:100%;
     content:' ';
     background-color:#000;
     display:block;
     position:absolute;
     bottom:-4px;
     left:0;
     z-index:10;
     transition:transform 0.3s cubic-bezier(0.12,0.75,0.4,1);
     -webkit-transition:-webkit-transform 0.3s cubic-bezier(0.12,0.75,0.4,1)
}
 .tabbed[data-style="minimal"] >ul li .active-tab{
    opacity:1
}
 .tabbed[data-style*="minimal"] >ul li .active-tab:after{
    transform:translateY(-3px);
     -webkit-transform:translateY(-3px)
}
.tabbed[data-style="vertical"].clearfix:after,
.tabbed[data-style="vertical_modern"].clearfix:after {
  clear: both;
}
.tabbed[data-style="vertical"].clearfix:before,
.tabbed[data-style="vertical"].clearfix:after,
.tabbed[data-style="vertical_modern"].clearfix:before,
.tabbed[data-style="vertical_modern"].clearfix:after {
  content: " ";
  display: table;
}

 .tabbed[data-style*="vertical"] .wpb_tabs_nav{
    width:20%;
     float:left
}
 .tabbed[data-style*="vertical"] >div{
    float:left;
     width:80%;
     padding-left:40px;
     right: 0;
}
 body .tabbed[data-style*="vertical"] .wpb_tabs_nav li {
     white-space:normal;
}
 @media only screen and (min-width: 1000px) and (max-width: 1300px) {
     .tabbed[data-style*="vertical"] .wpb_tabs_nav{
        width:25%;
    }
     .tabbed[data-style*="vertical"] >div{
         width:65%;
    }
}
 .tabbed[data-style="vertical_modern"] >div{
     padding-left:80px
}
 .tabbed[data-style*="vertical"] .wpb_tabs_nav li{
    float:none;
}
 .tabbed[data-style*="vertical"] .wpb_tabs_nav li a{
    border-right:none
}
 .tabbed[data-style="vertical_modern"] > .wpb_tabs_nav li i {
     transition: none;
}
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li i,
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li svg {
     margin-right: 13px;
     position: relative;
}
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a {
     background-color: rgba(0,0,0,0.04);
}
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a:hover {
     background-color: rgba(0,0,0,0.025);
}
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     align-items: center;
}
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li {
     margin-bottom: 12px;
}
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a {
     border-radius: 6px;
     padding: 25px 20px;
     overflow: hidden;
}
 @media only screen and (max-width: 999px) {
     .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a {
         padding: 15px 20px;
    }
}
 .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li .active-tab {
     box-shadow: 0px 15px 50px rgba(0,0,0,0.2);
}
 .tabbed[data-style="minimal_alt"] ul{
    position:relative
}
 @media only screen and (min-width:1000px){

    body .tabbed[data-style="minimal_alt"] >ul li a:after{
        display:none
    }
     .tabbed[data-style="minimal_alt"] .magic-line{
         position:absolute;
         bottom:8px;
         left:0;
         height:2px;
         background-color:white;
         width:1px;
         -webkit-transform:translateX(0);
         transform:translateX(0);
         -webkit-transform-origin:left;
         transform-origin:left;
         -webkit-transition:visibility 0s,-webkit-transform 0.4s;
         transition:visibility 0s,-webkit-transform 0.4s;
         transition:transform 0.4s,visibility 0s;
         transition:transform 0.4s,visibility 0s,-webkit-transform 0.4s;
         -webkit-backface-visibility:hidden;
         backface-visibility:hidden;
         will-change:transform
    }
}
 .tabbed[data-style="minimal_alt"] >ul li:not(.cta-button) a{
    padding:2px 0px!important
}
 .tabbed[data-style="minimal_alt"] >ul li:not(.cta-button){
    margin:0 30px!important
}
 .tabbed > .wpb_tabs_nav li i{
     transition: color 0.3s cubic-bezier(0.12,0.75,0.4,1);
     margin-right: 10px;
}
 .tabbed > .wpb_tabs_nav li svg {
     transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     margin-right: 10px;
}
 .tabbed[data-style="default"] > .wpb_tabs_nav li i,
 .tabbed[data-style="vertical"] > .wpb_tabs_nav li i,
 .tabbed[data-style*="material"] .wpb_tabs_nav li i {
     transition: none;
}
 .tabbed[data-style*="minimal"] .wpb_tabs_nav li i,
 .tabbed[data-style*="material"] .wpb_tabs_nav li i,
 .tabbed[data-style*="minimal"] .wpb_tabs_nav li svg,
 .tabbed[data-style*="material"] .wpb_tabs_nav li svg {
     display: block;
     text-align: center;
     margin: 0 0 8px 0;
     font-size: 32px;
}
 .tabbed[data-style*="material"] .wpb_tabs_nav,
 .tabbed[data-style="minimal_flexible"] .wpb_tabs_nav {
     margin-bottom: 65px;
}
 .tabbed[data-style*="material"] .wpb_tabs_nav li {
     float: none;
     display: inline-block;
}
 .tabbed[data-style*="material"] .wpb_tabs_nav:after,
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li a:before {
     background-color: #000;
     display: block;
     left: 0;
     width: 100%;
     position: absolute;
     content: '';
     height: 1px;
     opacity: 0.25;
     visibility: visible;
}
 .tabbed[data-style*="material"] ul:after {
     opacity: 0.3;
}
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li a,
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li a,
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li .active-tab,
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li .active-tab,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li .active-tab,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li .active-tab,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li .active-tab,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li .active-tab {
     background-color: transparent;
}
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li a:before {
     height: 100%;
     top: 0;
     opacity: 0;
     transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     -webkit-transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     z-index: -1;
     border-radius: 5px 5px 0 0px;
}
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-1"] .wpb_tabs_nav li a:before,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-2"] .wpb_tabs_nav li a:before {
     height: 100%;
     top: 0;
     opacity: 0;
     transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     -webkit-transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     z-index: -1;
}
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] ul li .active-tab:before,
 .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] ul li .active-tab:before,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-1"] ul li .active-tab:before,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-2"] ul li .active-tab:before,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-1"] ul li .active-tab:before,
 .tabbed[data-style*="vertical"][data-color-scheme="extra-color-gradient-2"] ul li .active-tab:before {
     opacity: 1;
}
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-1"] ul li .active-tab,
 .tabbed[data-style*="default"][data-color-scheme="extra-color-gradient-2"] ul li .active-tab {
     border-color: transparent;
}
 .tabbed[data-style*="material"][data-full-width-line="true"] ul:after {
     left: 50%;
     right: 50%;
     margin-left: -50vw;
     margin-right: -50vw;
     width: 100vw;
}
 .tabbed[data-style*="material"] .wpb_tabs_nav li i,
 .tabbed[data-style*="material"] .wpb_tabs_nav li svg {
     font-size: 22px;
     margin-top: 7px;
     line-height: 22px;
     height: auto;
     margin-bottom: 5px;
     width: auto;
}
 .tabbed[data-style*="minimal"] .wpb_tabs_nav li svg {
   margin: 0 auto 8px auto
 }
 .tabbed[data-style*="material"] .wpb_tabs_nav li svg {
     margin: 0 auto
}
 .tabbed[data-style*="material"] .wpb_tabs_nav li a:not(.active-tab):hover,
 body .tabbed[data-style*="material"][data-color-scheme] .wpb_tabs_nav li a:not(.active-tab):hover {
     color: #000;
}
 .tabbed[data-style*="material"] .wpb_tabs_nav li a:not(.active-tab):hover svg {
     fill: #000;
}
 .tabbed[data-style*="material"] .wpb_tabs_nav li .active-tab:after {
     opacity: 0.3;
}
 .tabbed[data-style*="material"] .wpb_tabs_nav li a:after {
     transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     opacity: 0.3;
     display: block;
     content: '';
     width: 92%;
     height: 92%;
     top: 4%;
     left: 4%;
     z-index: -2;
     position: absolute;
}
 .span_12.light .tabbed[data-style*="material"] >ul li a:not(.active-tab) {
     color: rgba(255,255,255,0.7);
}
 .span_12.light .tabbed[data-style*="material"] >ul li a:hover {
     color: rgba(255,255,255,1);
}


.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li {
  float: none;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.light .tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li  {
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a {
  background-color: transparent;
  text-align: center;
  color: inherit;
  border: none;
  font-size: 1.2em;
  padding: 25px 30px;
}

.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a:not(.active-tab):hover {
  opacity: 0.6;
}

.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a.active-tab:hover {
  background-color: transparent;
}
.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a:not(.active-tab):after {
  background: none;
}
.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a:after {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  height: 4px;
  bottom: 0;
  -webkit-transition: transform .4s ease;
  transition: transform .4s ease;
}
.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a.active-tab:after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a:before {
  position: absolute;
  display: block;
  content: '';
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity .4s ease;
  box-shadow: 0px 8px 24px rgba(0,0,0,0.15);
}
.tabbed[data-style="minimal_flexible"] .wpb_tabs_nav > li a.active-tab:before {
  opacity: 0.3;
}


/* vertical scrolling */
.nectar-scrolling-tabs {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.nectar-scrolling-tabs .scrolling-tab-nav {
  width: 25%;
  min-width: 225px;
  margin-left: 0;
  margin-bottom: 0;
  position: relative;
}
.nectar-scrolling-tabs .scrolling-tab-nav ul {
  margin-left: 0;
  margin-bottom: 0;
}
.nectar-scrolling-tabs .scrolling-tab-nav ul li {
  list-style: none;
  float: none;
  display: block;
}
.nectar-scrolling-tabs[data-navigation-width="wide"] .scrolling-tab-nav {
  width: 35%;
  min-width: 275px;
}
.nectar-scrolling-tabs[data-navigation-width="narrow"] .scrolling-tab-nav {
  width: 20%;
  min-width: 175px;
}
.nectar-scrolling-tabs .scrolling-tab-content {
  flex: 1;
  padding-left: 7%;
}

.nectar-scrolling-tabs .scrolling-tab-nav  a {
  color: inherit;
}
.nectar-scrolling-tabs .scrolling-tab-nav h6,
.nectar-scrolling-tabs .scrolling-tab-nav h5,
.nectar-scrolling-tabs .scrolling-tab-nav h4,
.nectar-scrolling-tabs .scrolling-tab-nav h3,
.nectar-scrolling-tabs .scrolling-tab-nav h2 {
  margin-bottom: 0;
  line-height: 1.3em;
}

.nectar-scrolling-tabs .scrolling-tab-nav ul li {
  line-height: 1em;
  opacity: 0.45;
  padding-left: 50px;
  padding-bottom: 35px;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.nectar-scrolling-tabs .scrolling-tab-nav ul[data-spacing="15px"] li {
  padding-bottom: 15px;
}
.nectar-scrolling-tabs .scrolling-tab-nav ul[data-spacing="20px"] li {
  padding-bottom: 20px;
}
.nectar-scrolling-tabs .scrolling-tab-nav ul[data-spacing="25px"] li {
  padding-bottom: 25px;
}
.nectar-scrolling-tabs .scrolling-tab-nav ul[data-spacing="30px"] li {
  padding-bottom: 30px;
}
.nectar-scrolling-tabs .scrolling-tab-nav ul[data-spacing="40px"] li {
  padding-bottom: 40px;
}
.nectar-scrolling-tabs .scrolling-tab-nav ul[data-spacing="45px"] li {
  padding-bottom: 45px;
}

.nectar-scrolling-tabs[data-tab-spacing="10%"] .scrolling-tab-content > div {
  padding-top: 5%;
  padding-bottom: 5%;
}

.nectar-scrolling-tabs[data-tab-spacing="20%"] .scrolling-tab-content > div {
  padding-top: 10%;
  padding-bottom: 10%;
}

.nectar-scrolling-tabs[data-tab-spacing="30%"] .scrolling-tab-content > div {
  padding-top: 15%;
  padding-bottom: 15%;
}

.nectar-scrolling-tabs[data-tab-spacing="40%"] .scrolling-tab-content > div {
  padding-top: 20%;
  padding-bottom: 20%;
}

.nectar-scrolling-tabs[data-tab-spacing="50%"] .scrolling-tab-content > div {
  padding-top: 50%;
  padding-bottom: 50%;
}

@media only screen and (min-width: 1000px) {
  .nectar-scrolling-tabs .scrolling-tab-mobile-title {
    margin-bottom: 60px;
  }
  .full-width-content .nectar-scrolling-tabs .scrolling-tab-mobile-title {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .nectar-scrolling-tabs.initalized .scrolling-tab-content {
    margin-top: -61px;
  }
}

@media only screen and (max-width: 999px) {
  .nectar-scrolling-tabs[data-tab-spacing="30%"] .scrolling-tab-content > div,
  .nectar-scrolling-tabs[data-tab-spacing="40%"] .scrolling-tab-content > div,
  .nectar-scrolling-tabs[data-tab-spacing="50%"] .scrolling-tab-content > div {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .nectar-scrolling-tabs {
    display: block;
  }
}

.nectar-scrolling-tabs[data-tab-spacing] .scrolling-tab-content > div:first-child {
  padding-top: 0;
}
.nectar-scrolling-tabs[data-tab-spacing] .scrolling-tab-content > div:last-child {
  padding-bottom: 0;
}

.nectar-scrolling-tabs .scrolling-tab-nav .theiaStickySidebar ul li:last-child {
  padding-bottom: 0;
}

.nectar-scrolling-tabs .scrolling-tab-nav .menu-item:hover {
  opacity: 1;
}

.nectar-scrolling-tabs .scrolling-tab-nav .menu-item .sub-desc {
  padding-top: 10px;
  line-height: 1.6em;
  display: block;
  opacity: 0.7;
}

.nectar-scrolling-tabs .scrolling-tab-nav .menu-item.has-icon {
  display: flex;
}

.nectar-scrolling-tabs .scrolling-tab-nav .svg-icon-link svg {
  width: 24px;
}

.scrolling-tab-content .im-icon-wrap.tab-icon {
  display: none;
}

.nectar-scrolling-tabs .scrolling-tab-nav .svg-icon-link {
  padding-top: 0;
}
.nectar-scrolling-tabs .scrolling-tab-nav i,
.nectar-scrolling-tabs .scrolling-tab-nav .svg-icon-link {
  margin-right: 15px;
}
.nectar-scrolling-tabs[data-nav-tag="h2"] .scrolling-tab-nav i,
.nectar-scrolling-tabs[data-nav-tag="h2"] .scrolling-tab-nav .svg-icon-link svg {
  font-size: 30px;
}

.nectar-scrolling-tabs .scrolling-tab-nav a {
  padding-top: 5px;
}

.nectar-scrolling-tabs .scrolling-tab-mobile-title {
  min-height: 1px;
}

.nectar-scrolling-tabs .scrolling-tab-mobile-title .inner {
  display: none;
  margin-bottom: 25px;
}

.scrolling-tab-mobile-title i {
  font-size: 28px;
}

.nectar-scrolling-tabs .scrolling-tab-nav .active {
  opacity: 1;
}

.nectar-scrolling-tabs .scrolling-tab-nav .theiaStickySidebar:before,
.nectar-scrolling-tabs .scrolling-tab-nav .line,
[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav:before,
#ajax-content-wrap [data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a:before {
  display: block;
  position: absolute;
  left: 3px;
  top: 0;
  content: '';
  background-color: rgba(0,0,0,0.1);
  width: 1px;
  height: 100%;
}

.light .nectar-scrolling-tabs .scrolling-tab-nav .theiaStickySidebar:before,
.light .nectar-scrolling-tabs .scrolling-tab-nav .line,
.light [data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav:before,
.light #ajax-content-wrap [data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a:before {
  background-color: rgba(255,255,255,0.2);
}

.nectar-scrolling-tabs .scrolling-tab-nav.single-tab .skip-hash {
  pointer-events: none;
}

.nectar-scrolling-tabs .scrolling-tab-nav .line {
  width: 3px;
  left: 2px;
}

.nectar-scrolling-tabs .scrolling-tab-nav .line {
  max-height: 1px;
  height: 100%;
  background-color: #000;
  -webkit-transition: transform 0.5s cubic-bezier(0,0,.34,.96), max-height 0.5s cubic-bezier(0,0,.34,.96);
  transition: transform 0.5s cubic-bezier(0,0,.34,.96), max-height 0.5s cubic-bezier(0,0,.34,.96);
  transform: translate3d(0px, 0px, 0px);
}

@media only screen and (max-width: 999px ) {
  .nectar-scrolling-tabs .scrolling-tab-nav {
    display: none;
  }
  .nectar-scrolling-tabs .scrolling-tab-content {
    padding-left: 0;
  }
  .nectar-scrolling-tabs:not([data-m-display="hidden"]) .scrolling-tab-mobile-title .inner {
    display: block;
  }
  .nectar-scrolling-tabs .scrolling-tab-content > div {
    padding-bottom: 40px;
  }

}

/* front end vs */
[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a {
  background-color: transparent!important;
  padding: 0 0 0 40px;
  margin-bottom: 35px;
}

[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li:last-child,
[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li:last-child a {
  margin-bottom: 0;
}

[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a:before {
  display: none;
}

[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li .active-tab {
  box-shadow: none;
  color: inherit;
}
[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a:before {
  opacity: 0;
  background-color: #000;
  transition: opacity 0.3s ease;
}
[data-stored-style="vs"] .tabbed[data-style="vertical_modern"] .wpb_tabs_nav li a.active-tab:before {
  opacity: 1
}


 .tabbed .wpb_tabs_nav li .im-icon-wrap.tab-icon {
     line-height: 0;
}
 .tabbed[data-icon-size="24"] .wpb_tabs_nav li i{
     font-size: 24px;
     line-height: 24px;
}
 .tabbed[data-icon-size="26"] .wpb_tabs_nav li i{
     font-size: 26px;
     line-height: 26px;
}
 .tabbed[data-icon-size="28"] .wpb_tabs_nav li i{
     font-size: 28px;
     line-height: 28px;
}
 .tabbed[data-icon-size="30"] .wpb_tabs_nav li i{
     font-size: 30px;
     line-height: 30px;
}
 .tabbed[data-icon-size="32"] .wpb_tabs_nav li i{
     font-size: 32px;
     line-height: 32px;
}
 .tabbed[data-icon-size="34"] .wpb_tabs_nav li i{
     font-size: 34px;
     line-height: 34px;
}
 .tabbed[data-icon-size="36"] .wpb_tabs_nav li i{
     font-size: 36px;
     line-height: 36px;
}
 .tabbed[data-icon-size="24"] .wpb_tabs_nav li svg{
     height: 24px;
}
 .tabbed[data-icon-size="26"] .wpb_tabs_nav li svg{
     height: 26px;
}
 .tabbed[data-icon-size="28"] .wpb_tabs_nav li svg{
     height: 28px;
}
 .tabbed[data-icon-size="30"] .wpb_tabs_nav li svg{
     height: 30px;
}
 .tabbed[data-icon-size="32"] .wpb_tabs_nav li svg{
     height: 32px;
}
 .tabbed[data-icon-size="34"] .wpb_tabs_nav li svg{
     height: 34px;
}
 .tabbed[data-icon-size="36"] .wpb_tabs_nav li svg{
     height: 36px;
}

.tabbed[data-style="default"] .wpb_tabs_nav li .im-icon-wrap.tab-icon { margin-right: 10px; }
.tabbed[data-style="default"] .wpb_tabs_nav li svg,
.tabbed[data-style="default"] .wpb_tabs_nav li .im-icon-wrap.tab-icon,
.tabbed[data-style="default"] .wpb_tabs_nav li .im-icon-wrap.tab-icon svg {
    height: 18px;
    width: 18px;
    display: inline-block;
}

 .tabbed[data-icon-size="30"][data-style*="material"] .wpb_tabs_nav li i,
 .tabbed[data-icon-size="32"][data-style*="material"] .wpb_tabs_nav li i,
 .tabbed[data-icon-size="34"][data-style*="material"] .wpb_tabs_nav li i,
 .tabbed[data-icon-size="36"][data-style*="material"] .wpb_tabs_nav li i,
 .tabbed[data-icon-size="30"][data-style*="material"] .wpb_tabs_nav li svg,
 .tabbed[data-icon-size="32"][data-style*="material"] .wpb_tabs_nav li svg,
 .tabbed[data-icon-size="34"][data-style*="material"] .wpb_tabs_nav li svg,
 .tabbed[data-icon-size="36"][data-style*="material"] .wpb_tabs_nav li svg {
     margin-top: 10px;
     margin-bottom: 10px;
}
 .tabbed[data-style="material"] .wpb_tabs_nav li a {
     transition: all 0.3s cubic-bezier(0.12,0.75,0.4,1);
     padding-top: 13px;
     padding-bottom: 13px;
     border: none;
     border-radius: 5px 5px 0 0px;
}
 .tabbed[data-style="material"] >ul li a:not(.active-tab) {
     background-color: transparent;
}
 .tabbed[data-spacing="side-15px"]:not([data-style="vertical"]) .wpb_tabs_nav li a,
 .tabbed[data-spacing="side-15px"]:not([data-style="vertical"]) .wpb_tabs_nav li .active-tab {
     padding-left: 17px;
     padding-right: 17px;
}
 .tabbed[data-spacing="side-20px"]:not([data-style="vertical"]) .wpb_tabs_nav li a,
 .tabbed[data-spacing="side-20px"]:not([data-style="vertical"]) .wpb_tabs_nav li .active-tab {
     padding-left: 20px;
     padding-right: 20px;
}
 .tabbed[data-spacing="side-25px"]:not([data-style="vertical"]) .wpb_tabs_nav li a,
 .tabbed[data-spacing="side-25px"]:not([data-style="vertical"]) .wpb_tabs_nav li .active-tab {
     padding-left: 25px;
     padding-right: 25px;
}
 .tabbed[data-spacing="side-30px"]:not([data-style="vertical"]) .wpb_tabs_nav li a,
 .tabbed[data-spacing="side-30px"]:not([data-style="vertical"]) .wpb_tabs_nav li .active-tab {
     padding-left: 30px;
     padding-right: 30px;
}
 .tabbed[data-spacing="side-35px"]:not([data-style="vertical"]) .wpb_tabs_nav li a,
 .tabbed[data-spacing="side-35px"]:not([data-style="vertical"]) .wpb_tabs_nav li .active-tab {
     padding-left: 35px;
     padding-right: 35px;
}
 .tabbed[data-spacing="side-40px"]:not([data-style="vertical"]) .wpb_tabs_nav li a,
 .tabbed[data-spacing="side-40px"]:not([data-style="vertical"]) .wpb_tabs_nav li .active-tab {
     padding-left:40px;
     padding-right:40px;
}
 .tabbed[data-spacing="side-45px"]:not([data-style="vertical"]) .wpb_tabs_nav li a,
 .tabbed[data-spacing="side-45px"]:not([data-style="vertical"]) .wpb_tabs_nav li .active-tab {
     padding-left:45px;
     padding-right:45px;
}
 @media only screen and (max-width : 690px) {

     .tabbed[data-style*="minimal"] > ul li:not(.cta-button) a,
     .tabbed[data-style*="minimal"] > ul li:not(.cta-button) .active-tab {
         padding: 20px 15px 5px 15px;
    }
     .tabbed[data-style="minimal_alt"] > ul li:not(.cta-button) {
         margin: 0 10px!important;
    }
     .tabbed[data-style="minimal"] .wpb_tabs_nav {
         border-bottom: none;
    }
     .tabbed > ul li {
         float: none;
         display: inline-block;
         border-right: 0px;
    }
     .tabbed > ul {
         float: none;
    }
     .tabbed > ul li a {
         border-right: 0px!important;
    }
     .tabbed[data-style*="material"] ul:after {
         display: none;
    }
     .tabbed[data-style="material"] .wpb_tabs_nav li a,
     .tabbed[data-style="material"] .wpb_tabs_nav li {
         display: block;
         text-align: center;
    }
     .tabbed[data-style="material"] ul li a,
     .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-1"] ul li a:before,
     .tabbed[data-style*="material"][data-color-scheme="extra-color-gradient-2"] ul li a:before {
         border-radius: 5px;
    }
     .tabbed[data-style*="vertical"] .wpb_tabs_nav {
         width: 100%;
    }
     .tabbed[data-style*="vertical"] .wpb_tabs_nav li {
         display: inline-block;
         margin: 5px;
    }
}
 @media only screen and (min-width : 1px) and (max-width : 999px) {

     .tabbed[data-style="minimal_flexible"] .wpb_tabs_nav {
       -ms-flex-wrap: wrap;
       flex-wrap: wrap;
     }

     .tabbed[data-alignment="right"] .wpb_tabs_nav .cta-button {
         top: 0;
         -webkit-transform: translateY(-100%);
         transform: translateY(-100%);
         left: auto;
         right: 0;
    }
     .tabbed[data-alignment="center"] .wpb_tabs_nav .cta-button {
         top: 0;
         -webkit-transform: translateY(-100%) translateX(-50%);
         transform: translateY(-100%) translateX(-50%);
         left: 50%;
         right: auto;
    }
     .tabbed[data-style*="vertical"] .wpb_tabs_nav {
         width: 100%;
         text-align: center;
         margin-bottom: 35px!important;
    }
     .tabbed[data-style*="vertical"] .wpb_tabs_nav li {
         display: inline-block;
         font-size: 12px;
         margin: 5px;
    }
     .tabbed[data-style*="vertical"] >div {
         width: 100%;
         padding-left: 0;
    }
}
