/*
Theme Name:  Salient
Description: Styles for the "Category Grid" page builder element.
*/

.nectar-post-grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}


.nectar-post-grid[data-grid-item-height="30vh"] .nectar-post-grid-item {
   min-height: 30vh;
}
.nectar-post-grid[data-grid-item-height="40vh"] .nectar-post-grid-item {
   min-height: 40vh;
}
.nectar-post-grid[data-grid-item-height="50vh"] .nectar-post-grid-item {
   min-height: 50vh;
}
.nectar-post-grid[data-grid-item-height="60vh"] .nectar-post-grid-item {
   min-height: 60vh;
}
.nectar-post-grid[data-grid-item-height="75vh"] .nectar-post-grid-item {
   min-height: 75vh;
}


.nectar-post-grid[data-grid-item-height="30vh"][data-masonry="yes"] {
   grid-auto-rows: minmax(30vh, auto);
}
.nectar-post-grid[data-grid-item-height="40vh"][data-masonry="yes"] {
   grid-auto-rows: minmax(40vh, auto);
}
.nectar-post-grid[data-grid-item-height="50vh"][data-masonry="yes"] {
   grid-auto-rows: minmax(50vh, auto);
}
.nectar-post-grid[data-grid-item-height="60vh"][data-masonry="yes"] {
   grid-auto-rows: minmax(60vh, auto);
}
.nectar-post-grid[data-grid-item-height="75vh"][data-masonry="yes"] {
   grid-auto-rows: minmax(75vh, auto);
}



.nectar-post-grid[data-columns="4"][data-grid-spacing="none"] .nectar-post-grid-item {
  width: 25%;
}
.nectar-post-grid[data-columns="3"][data-grid-spacing="none"] .nectar-post-grid-item {
 width: 33.32%;
}
.nectar-post-grid[data-columns="2"][data-grid-spacing="none"] .nectar-post-grid-item {
 width: 50%;
}

.nectar-post-grid[data-columns="1"] .nectar-post-grid-item {
  width: 100%;
}

.nectar-post-grid[data-grid-spacing="5px"] {
  margin-left: -5px;
  margin-right: -5px;
}

.nectar-post-grid[data-grid-spacing="5px"] .nectar-post-grid-item {
 margin: 5px;
}
.wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="5px"] {
  margin: 5px;
}
.wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="10px"] {
  margin: 10px;
}
.wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="15px"] {
  margin: 15px;
}
.wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="25px"] {
  margin: 25px;
}

.wpb_row:not(.full-width-content) .vc_col-sm-12 .nectar-post-grid-filters[data-sortable="yes"] {
  margin-bottom: 20px;
}

@media only screen and (min-width: 1001px) {
 body[data-body-border="1"] .wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="5px"]{
   margin: 5px -4px;
 }
 body[data-body-border="1"] .wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="10px"]{
   margin: 10px -9px;
 }
 body[data-body-border="1"] .wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="15px"]{
   margin: 15px -14px;
 }
 body[data-body-border="1"] .wpb_row.full-width-content .vc_col-sm-12 .nectar-post-grid[data-grid-spacing="25px"]{
   margin: 25px -24px;
 }
}

.nectar-post-grid[data-columns="4"][data-grid-spacing="5px"] .nectar-post-grid-item {
  width: calc(25% - 10px);
}
.nectar-post-grid[data-columns="3"][data-grid-spacing="5px"] .nectar-post-grid-item {
  width: calc(33.32% - 10px);
}
.nectar-post-grid[data-columns="2"][data-grid-spacing="5px"] .nectar-post-grid-item {
  width: calc(50% - 10px);
}



.nectar-post-grid[data-grid-spacing="10px"] {
  margin-left: -10px;
  margin-right: -10px;
}

.nectar-post-grid[data-grid-spacing="10px"] .nectar-post-grid-item {
 margin: 10px;
}

.nectar-post-grid[data-columns="4"][data-grid-spacing="10px"] .nectar-post-grid-item {
  width: calc(25% - 20px);
}
.nectar-post-grid[data-columns="3"][data-grid-spacing="10px"] .nectar-post-grid-item {
  width: calc(33.32% - 20px);
}
.nectar-post-grid[data-columns="2"][data-grid-spacing="10px"] .nectar-post-grid-item {
  width: calc(50% - 20px);
}


.nectar-post-grid[data-grid-spacing="15px"] {
  margin-left: -15px;
  margin-right: -15px;
}

.nectar-post-grid[data-grid-spacing="15px"] .nectar-post-grid-item {
 margin: 15px;
}

.nectar-post-grid[data-columns="4"][data-grid-spacing="15px"] .nectar-post-grid-item {
  width: calc(25% - 30px);
}
.nectar-post-grid[data-columns="3"][data-grid-spacing="15px"] .nectar-post-grid-item {
  width: calc(33.32% - 30px);
}
.nectar-post-grid[data-columns="2"][data-grid-spacing="15px"] .nectar-post-grid-item {
  width: calc(50% - 30px);
}


.nectar-post-grid[data-grid-spacing="25px"] {
 margin-left: -25px;
 margin-right: -25px;
}

.nectar-post-grid[data-grid-spacing="25px"] .nectar-post-grid-item {
margin: 25px;
}

.nectar-post-grid[data-columns="4"][data-grid-spacing="25px"] .nectar-post-grid-item {
 width: calc(25% - 50px);
}
.nectar-post-grid[data-columns="3"][data-grid-spacing="25px"] .nectar-post-grid-item {
 width: calc(33.32% - 50px);
}
.nectar-post-grid[data-columns="2"][data-grid-spacing="25px"] .nectar-post-grid-item {
 width: calc(50% - 50px);
}



@media only screen and (max-width: 999px) and (min-width: 690px) {

 .nectar-post-grid[data-columns="4"][data-grid-spacing="none"]:not([data-masonry="yes"]) .nectar-post-grid-item {
   width: 50%;
   padding-bottom: 50%;
 }

 body .nectar-post-grid[data-columns][data-grid-spacing="25px"] .nectar-post-grid-item {
   width: calc(50% - 50px);
 }

 body .nectar-post-grid[data-columns][data-grid-spacing="15px"] .nectar-post-grid-item {
   width: calc(50% - 30px);
 }

 body .nectar-post-grid[data-columns][data-grid-spacing="10px"] .nectar-post-grid-item {
   width: calc(50% - 20px);
 }

 body .nectar-post-grid[data-columns][data-grid-spacing="5px"] .nectar-post-grid-item {
   width: calc(50% - 10px);

 }

}


@media only screen and (max-width: 690px) {

 body .nectar-post-grid[data-columns][data-grid-spacing] .nectar-post-grid-item {
   width: 100%;
   padding-bottom: 75%;
 }

 .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-mouse_follow_post_spacing="35px"]:not([data-columns="1"]) .content,
 .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-mouse_follow_post_spacing="45px"]:not([data-columns="1"]) .content {
   padding-top: 10px;
 }

 body .nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid[data-columns] .nectar-post-grid-item {
   padding-bottom: 0;
 }

}


.nectar-post-grid .nectar-post-grid-item {
  position: relative;
}

.nectar-post-grid .nectar-post-grid-item .inner {
  overflow: hidden;
  position: relative;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0; left: 0;
   background-color: rgba(0,0,0,0.1);
}
.nectar-post-grid-wrap[data-style="content_overlaid"] .nectar-post-grid-item .content {
  transition: opacity 0.45s cubic-bezier(.15,.75,.5,1) 0s;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .post-heading span {
  display: inline-block;
}

.nectar-post-grid-wrap[data-style="content_overlaid"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item,
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item .post-heading span,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item .meta-date {
  opacity: 0;
  -webkit-transform: translateY(80px);
  transform: translateY(80px);
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-post-title-overlay="yes"] .nectar-post-grid-item .post-heading a:before {
  opacity: 0;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-post-title-overlay="yes"]:not([data-animation="fade-in-from-bottom"]) .nectar-post-grid-item:hover .post-heading a:before,
.nectar-post-grid-wrap[data-style="mouse_follow_image"].finished-animating .nectar-post-grid[data-animation="fade-in-from-bottom"][data-post-title-overlay="yes"] .nectar-post-grid-item:hover .post-heading a:before {
  opacity: 1;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"]:not(.finished-animating) [data-animation="fade-in-from-bottom"][data-post-title-overlay="yes"] .nectar-post-grid-item.animated-in .post-heading a:before {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease 0.7s;
  transition: opacity 0.25s ease 0.7s;
}

.nectar-post-grid-wrap[data-style="content_overlaid"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item.animated-in,
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item.animated-in {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: transform 0.75s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.75s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item.animated-in .post-heading span,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item.animated-in .meta-date {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: transform 0.75s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.75s cubic-bezier(0.22, 0.61, 0.36, 1), color 0.25s ease;
}

.nectar-post-grid-wrap[data-style="content_under_image"]:not(.finished-animating) .nectar-post-grid[data-animation="fade-in-from-bottom"] .nectar-post-grid-item.animated-in {
  transition: transform 0.75s cubic-bezier(0.22, 0.61, 0.36, 1), opacity 0.75s cubic-bezier(0.22, 0.61, 0.36, 1), background-color 0.35s ease;
}

.nectar-post-grid[data-border-radius="3px"][data-text-layout="all_bottom_left_shadow"] .nectar-post-grid-item:before,
.nectar-post-grid[data-border-radius="3px"] .nectar-post-grid-item .inner,
.nectar-post-grid[data-border-radius="3px"] .bg-overlay,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="3px"]:not([data-card="yes"]) .nectar-post-grid-item-bg-wrap,
[data-style="mouse_follow_image"] .nectar-post-grid[data-border-radius="3px"] .nectar-post-grid-item-bg-wrap-inner,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="3px"][data-lock-aspect="yes"]:not([data-card="yes"]) .img-wrap,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="3px"][data-card="yes"] .nectar-post-grid-item,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="3px"][data-shadow-hover="yes"][data-card="yes"] .nectar-post-grid-item:after {
   border-radius: 3px;
}

.nectar-post-grid[data-border-radius="5px"][data-text-layout="all_bottom_left_shadow"] .nectar-post-grid-item:before,
.nectar-post-grid[data-border-radius="5px"] .nectar-post-grid-item .inner,
.nectar-post-grid[data-border-radius="5px"] .bg-overlay,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="5px"]:not([data-card="yes"]) .nectar-post-grid-item-bg-wrap,
[data-style="mouse_follow_image"] .nectar-post-grid[data-border-radius="5px"] .nectar-post-grid-item-bg-wrap-inner,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="5px"][data-lock-aspect="yes"]:not([data-card="yes"]) .img-wrap,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="5px"][data-card="yes"] .nectar-post-grid-item,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="5px"][data-shadow-hover="yes"][data-card="yes"] .nectar-post-grid-item:after {
   border-radius: 5px;
}

.nectar-post-grid[data-border-radius="10px"][data-text-layout="all_bottom_left_shadow"] .nectar-post-grid-item:before,
.nectar-post-grid[data-border-radius="10px"] .nectar-post-grid-item .inner,
.nectar-post-grid[data-border-radius="10px"] .bg-overlay,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="10px"]:not([data-card="yes"]) .nectar-post-grid-item-bg-wrap,
[data-style="mouse_follow_image"] .nectar-post-grid[data-border-radius="10px"] .nectar-post-grid-item-bg-wrap-inner,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="10px"][data-lock-aspect="yes"]:not([data-card="yes"]) .img-wrap,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="10px"][data-card="yes"] .nectar-post-grid-item,
[data-style="content_under_image"] .nectar-post-grid[data-border-radius="10px"][data-shadow-hover="yes"][data-card="yes"] .nectar-post-grid-item:after {
   border-radius: 10px;
}

.nectar-post-grid[data-border-radius="none"][data-text-layout="all_bottom_left_shadow"] .nectar-post-grid-item:before,
.nectar-post-grid[data-border-radius="none"] .nectar-post-grid-item .inner,
.nectar-post-grid[data-border-radius="none"] .bg-overlay {
   border-radius: 0px;
}

.nectar-post-grid .nectar-post-grid-item .content {
 position: absolute;
 width: 100%;
 z-index: 200;
}

.nectar-post-grid .nectar-post-grid-item .content .item-main {
  position: relative;
  z-index: 9;
  display: inline-block;
}
.nectar-post-grid .nectar-post-grid-item .content .meta-category {
  position: relative;
  z-index: 11;
  display: block;
}

.nectar-post-grid[data-cat-click="static"] .nectar-post-grid-item .content .meta-category {
  pointer-events: none;
}

.nectar-post-grid .nectar-post-grid-item .item-meta-extra {
  margin-top: 10px;
}

.nectar-post-grid .nectar-post-grid-item .meta-excerpt {
  margin-top: 10px;
  display: block;
  transition: color 0.45s cubic-bezier(.15,.75,.5,1) 0s;
}

.nectar-post-grid[data-shadow-hover="yes"] .nectar-post-grid-item:after {
 box-shadow: 0px 30px 70px rgba(0,0,0,0.25);
 opacity: 0;
 display: block;
 position: absolute;
 content: '';
 z-index: -1;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 transition: opacity 0.35s cubic-bezier(.15,.75,.5,1) 0s;
}

.nectar-post-grid[data-shadow-hover="yes"] .nectar-post-grid-item:hover:after {
 opacity: 1;
}




.nectar-post-grid[data-text-color="dark"] .nectar-post-grid-item .content *,
.full-width-section > .col.span_12.dark .nectar-post-grid[data-text-color="dark"] .nectar-post-grid-item .content * {
  color: #000;
}

.nectar-post-grid[data-text-color="light"] .nectar-post-grid-item .content *,
.full-width-section > .col.span_12.dark .nectar-post-grid[data-text-color="light"] .nectar-post-grid-item .content * {
  color: #fff;
}

.nectar-post-grid[data-text-color="light"] .meta-category a:before {
    background-color: #fff;
}

.nectar-post-grid .meta-category a {
  margin: 0 10px 10px 0;
  display: inline-block;
  line-height: 1.1em;
}
.nectar-post-grid[data-text-layout="all_middle"] .meta-category a {
  margin: 5px 10px 5px 0;
}
.nectar-post-grid .meta-category a {
  position: relative;
}
.nectar-post-grid .meta-category a:before {
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  background-color: #000;
  -webkit-transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
}
.nectar-post-grid .meta-category a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}




.nectar-post-grid .nectar-post-grid-item .content {
  padding: 35px;
}

.nectar-post-grid[data-text-layout="all_top_left"] .nectar-post-grid-item .content .item-main {
  display: block;
}
.nectar-post-grid[data-text-layout="all_top_left"] .nectar-post-grid-item .content {
  height: 100%;
}

.nectar-post-grid[data-text-layout*="all_bottom_left"] .meta-category {
  align-self: flex-start;
}

.nectar-post-grid[data-text-layout*="all_bottom_left"] .content {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   flex-direction: column;
}

.nectar-post-grid[data-text-layout="all_bottom_left_shadow"] .nectar-post-grid-item:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 55%;
  display: block;
  z-index: 10;
  content: '';
  opacity: 0.9;
  background: linear-gradient(to bottom,rgba(15,15,15,0),rgba(15,15,15,.75) 100%);
  transition: opacity .65s cubic-bezier(.05,0.2,.1,1);
}

.nectar-post-grid[data-text-layout*="all_bottom_left"] .content .item-main,
.nectar-post-grid[data-text-layout*="all_bottom_left"] .content .item-meta-extra {
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.nectar-post-grid[data-text-layout="all_middle"] .content {
 text-align: center;
 height: 100%;
 width: 100%;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.nectar-post-grid[data-text-layout="all_middle"] .nectar-post-grid-item .content .post-heading {
  margin: 0 auto;
}

.nectar-post-grid .meta-date {
  margin-top: 20px;
  line-height: 1.1em;
  display: block;
  transition: color 0.45s cubic-bezier(.15,.75,.5,1) 0s;
}

.rtl .nectar-post-grid-wrap[data-style="mouse_follow_image"] .meta-date {
  text-align: right;
}

.nectar-post-grid .nectar-post-grid-item .content .post-heading {
 margin: 0;
 transition: all 0.45s cubic-bezier(.15,.75,.5,1) 0s;
 line-height: 1.25em;
 max-width: 70%;
}
.nectar-post-grid .nectar-post-grid-item .content .post-heading a span {
  transition: color 0.3s ease;
}
.nectar-post-grid[data-alignment*="right"]  .nectar-post-grid-item  .content .post-heading {
  max-width: 100%;
  padding-left: 30%
}
.nectar-post-grid[data-alignment*="middle"]  .nectar-post-grid-item  .content .post-heading {
  margin: 0 auto;
}


.nectar-post-grid .nectar-post-grid-item .content .subtext {
 font-size: 14px;
 line-height: 1em;
 transition: opacity 0.25s cubic-bezier(.15,.75,.5,1) 0s;
 position: relative;
}

.nectar-post-grid .nectar-post-grid-item:hover .content .subtext {
 transition: opacity 0.5s cubic-bezier(.15,.75,.5,1) 0s;
}

.nectar-post-grid .nectar-post-grid-item .content[data-subtext-vis="always"] .subtext {
   transition: all 0.45s cubic-bezier(.15,.75,.5,1) 0s;
}

.nectar-post-grid .nectar-post-grid-item .content[data-subtext-vis="on_hover"] .subtext {
 opacity: 0;
}
.nectar-post-grid .nectar-post-grid-item:hover .content[data-subtext-vis="on_hover"] .subtext {
 opacity: 1;
}

.nectar-post-grid[data-alignment*="bottom"] .nectar-post-grid-item .content[data-subtext="cat_item_count"][data-subtext-vis="on_hover"] .post-heading,
.nectar-post-grid[data-alignment*="bottom"] .nectar-post-grid-item .content[data-subtext="custom"][data-subtext-vis="on_hover"] .post-heading {
 transform: translateY(30px);
}

.nectar-post-grid[data-alignment*="middle"] .nectar-post-grid-item .content[data-subtext="cat_item_count"][data-subtext-vis="on_hover"] .post-heading,
.nectar-post-grid[data-alignment*="middle"] .nectar-post-grid-item .content[data-subtext="custom"][data-subtext-vis="on_hover"] .post-heading {
 transform: translateY(15px);
}

.nectar-post-grid .nectar-post-grid-item:hover .content[data-subtext="cat_item_count"][data-subtext-vis="on_hover"] .post-heading,
.nectar-post-grid .nectar-post-grid-item:hover .content[data-subtext="custom"][data-subtext-vis="on_hover"] .post-heading {
 transform: translateY(0px);
}


.nectar-post-grid[data-text-color="dark"] .nectar-post-grid-item:hover .content[data-subtext="custom"][data-subtext-vis="always"] .subtext:after {
  background-color: #000;
}
.nectar-post-grid[data-text-color="light"] .nectar-post-grid-item:hover .content[data-subtext="custom"][data-subtext-vis="always"] .subtext:after {
  background-color: #fff;
}

.nectar-post-grid[data-text-hover-color="dark"] .nectar-post-grid-item:hover .content *,
.full-width-section > .col.span_12.dark .nectar-post-grid[data-text-hover-color="dark"] .nectar-post-grid-item:hover .content * {
  color: #000;
}

.nectar-post-grid[data-text-hover-color="dark"]  .nectar-post-grid-item:hover .content[data-subtext="custom"][data-subtext-vis="always"] .subtext:after {
  background-color:#000;
}

.nectar-post-grid[data-text-hover-color="light"] .nectar-post-grid-item:hover .content * { color: #fff; }

.nectar-post-grid .bg-overlay {
  z-index: 2;
}

.nectar-post-grid-item .bg-overlay[data-opacity="0"] { opacity: 0; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.1"] { opacity: 0.1; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.2"] { opacity: 0.2; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.3"] { opacity: 0.3; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.4"] { opacity: 0.4; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.5"] { opacity: 0.5; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.6"] { opacity: 0.6; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.7"] { opacity: 0.7; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.8"] { opacity: 0.8; }
.nectar-post-grid-item .bg-overlay[data-opacity="0.9"] { opacity: 0.9; }
.nectar-post-grid-item .bg-overlay[data-opacity="1"] { opacity: 1; }

.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0"] { opacity: 0; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.1"] { opacity: 0.1; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.2"] { opacity: 0.2; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.3"] { opacity: 0.3; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.4"] { opacity: 0.4; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.5"] { opacity: 0.5; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.6"] { opacity: 0.6; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.7"] { opacity: 0.7; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.8"] { opacity: 0.8; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="0.9"] { opacity: 0.9; }
.nectar-post-grid-item:hover .bg-overlay[data-hover-opacity="1"] { opacity: 1; }

.nectar-post-grid[data-hover-effect="zoom"] .nectar-post-grid-item .nectar-post-grid-item-bg,
.nectar-post-grid[data-hover-effect="zoom"] .bg-overlay {
  transition: opacity 0.45s cubic-bezier(.15,.75,.5,1) 0s, transform 0.45s cubic-bezier(.15,.75,.5,1) 0s;
}

.nectar-post-grid[data-hover-effect="zoom"] .nectar-post-grid-item:hover .nectar-post-grid-item-bg {
  transform: scale(1.1);
}


.nectar-post-grid[data-hover-effect="slow_zoom"] .nectar-post-grid-item .nectar-post-grid-item-bg,
.nectar-post-grid[data-hover-effect="slow_zoom"] .bg-overlay,
.nectar-post-grid[data-hover-effect="slow_zoom"][data-lock-aspect="yes"] .nectar-post-grid-item .img-wrap img {
  transition: opacity 0.45s cubic-bezier(.15,.75,.5,1) 0s, transform 1s ease;
}

.nectar-post-grid[data-hover-effect="slow_zoom"] .nectar-post-grid-item:hover .nectar-post-grid-item-bg,
.nectar-post-grid[data-hover-effect="slow_zoom"][data-lock-aspect="yes"] .nectar-post-grid-item:hover .img-wrap img {
    transform: scale(1.12);
    -webkit-transform: scale(1.12);
    -webkit-transition: transform 5s cubic-bezier(0.1,0.2,.7,1);
    transition: transform 5s cubic-bezier(0.1,0.2,.7,1);
}



.nectar-post-grid .nectar-post-grid-item-bg,
.nectar-post-grid .nectar-post-grid-link,
.nectar-post-grid .bg-overlay,
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid-item-bg-wrap a {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 100%;
  height: 100%;
}


.nectar-post-grid  .nectar-post-grid-link {
  z-index: 10;
}

.nectar-post-grid-item-bg[data-nectar-img-src],
.nectar-post-grid[data-lock-aspect="yes"] .img-wrap img[data-nectar-img-src] {
  opacity: 0;
}
.nectar-post-grid-item-bg,
.nectar-post-grid[data-lock-aspect="yes"] .img-wrap img {
  -webkit-transition: opacity 0.6s ease 0.25s;
  transition: opacity 0.6s ease 0.25s;
  opacity: 1;
}

/* Content under image style */
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-masonry="yes"] .nectar-post-grid-item {
  min-width: 0;
}

.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid .nectar-post-grid-item {
  min-height: 0;
}

.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid[data-masonry="yes"] {
   grid-auto-rows: auto;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid-item-bg-wrap {
  overflow: hidden;
  position: relative;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-columns="4"] .nectar-post-grid-item  .content .post-heading,
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-columns="3"] .nectar-post-grid-item  .content .post-heading {
  max-width: 100%;
}

.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid-item-bg-wrap a {
  display: block;
  z-index: 100;
}

.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .content .item-main {
  width: 100%;
}

.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid-item .content .meta-excerpt {
  max-width: 90%;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid-item-bg,
.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid-item .content,
.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid-item .inner {
    position: relative;
    height: auto;
}
.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid-item .inner {
  background-color: transparent;
}

.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid .nectar-post-grid-item .content {
  padding: 25px 0;
}

.nectar-post-grid-wrap[data-style="content_under_image"] [data-grid-item-height="30vh"] .nectar-post-grid-item-bg {
  height: 30vh;
}
.nectar-post-grid-wrap[data-style="content_under_image"] [data-grid-item-height="40vh"] .nectar-post-grid-item-bg {
  height: 40vh;
}
.nectar-post-grid-wrap[data-style="content_under_image"] [data-grid-item-height="50vh"] .nectar-post-grid-item-bg {
  height: 50vh;
}
.nectar-post-grid-wrap[data-style="content_under_image"] [data-grid-item-height="60vh"] .nectar-post-grid-item-bg {
  height: 60vh;
}
.nectar-post-grid-wrap[data-style="content_under_image"] [data-grid-item-height="75vh"] .nectar-post-grid-item-bg {
  height: 75vh;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-text-align="center"] .content {
  text-align: center;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-text-align="center"] .nectar-post-grid-item .post-heading {
  margin: 0 auto;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-text-align="right"] .content {
  text-align: right;
}


.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid .img-wrap.nectar-lazy-wrap {
  background-color: rgba(0,0,0,0.2);
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-text-color="light"] .img-wrap.nectar-lazy-wrap {
  background-color: rgba(255,255,255,0.07);
}

/* Aspect lock */
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"] .nectar-post-grid-item-bg {
  display: none;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"] .img-wrap img {
  margin-bottom: 0;
  display: block;
  position: relative;
  z-index: 10;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"] .img-wrap {
  overflow: hidden;
  margin-bottom: 5px;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"] .nectar-post-grid-item-bg-wrap-inner {
  transition: transform 0.45s cubic-bezier(.15,.75,.5,1);
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"][data-hover-effect="zoom"] .img-wrap img {
  transition: opacity 0.45s cubic-bezier(.15,.75,.5,1) 0s, transform 0.45s cubic-bezier(.15,.75,.5,1) 0s;
  backface-visibility: hidden;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-hover-effect="zoom"][data-lock-aspect="yes"] .nectar-post-grid-item:hover .img-wrap img {
  transform: scale(1.1);
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-shadow-hover="yes"]:not([data-card="yes"]) .nectar-post-grid-item:after {
  display: none;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"][data-shadow-hover="yes"]:not([data-card="yes"]) .nectar-post-grid-item-bg-wrap,
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"][data-shadow-hover="yes"]:not([data-card="yes"]) .nectar-post-grid-item .inner {
  overflow: visible;
}
.nectar-post-grid[data-lock-aspect="yes"][data-shadow-hover="yes"]:not([data-card="yes"]) .nectar-post-grid-item .img-wrap:before {
   box-shadow: 0px 25px 40px rgba(0,0,0,0.2);
   position: absolute;
   left: 1%;
   top: 1%;
   width: 98%;
   height: 98%;
   content: '';
   display: block;
   opacity: 0;
   transition: opacity 0.45s cubic-bezier(.15,.75,.5,1);
   z-index: 0;
}
.nectar-post-grid[data-lock-aspect="yes"][data-shadow-hover="yes"]:not([data-card="yes"]) .nectar-post-grid-item:hover .img-wrap:before {
  opacity: 1;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-lock-aspect="yes"][data-shadow-hover="yes"]:not([data-card="yes"]) .nectar-post-grid-item:hover .nectar-post-grid-item-bg-wrap-inner {
  transform: translateY(-4px);
}

/* Card style */
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-card="yes"] .img-wrap {
  margin-bottom: 0;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-card="yes"] .nectar-post-grid-item {
  background-color: #fff;
  transition: transform 0.32s ease, background-color .32s ease;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-card="yes"] .nectar-post-grid-item .content {
  padding: 30px;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-card="yes"][data-text-align="center"] .nectar-post-grid-item .content {
  padding: 35px 45px;
}
.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-shadow-hover="yes"][data-card="yes"] .nectar-post-grid-item:after {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.22);
  transition: opacity .55s ease, box-shadow .35s ease;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-card="yes"] .nectar-post-grid-item .content .post-heading {
  line-height: 1.4em;
}


.nectar-post-grid-wrap[data-style="content_under_image"].nectar-browser-window-style .nectar-post-grid-item .inner:before {
  display: block;
  letter-spacing: 2px;
  line-height: 20px;
  font-size: 24px;
  width: 100%;
  padding: 3px 10px 2px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  color: rgba(0,0,0,0.4);
  box-sizing: border-box;
  content: '\2022\2022\2022';
}

.nectar-post-grid-wrap[data-style="content_under_image"].nectar-browser-window-style [data-text-color="light"] .nectar-post-grid-item .inner:before {
  color: rgba(255,255,255,0.3);
}

.nectar-post-grid-wrap[data-style="content_under_image"].nectar-browser-window-style .nectar-post-grid:not([data-card="yes"]) .inner:before {
  border-radius: 10px 10px 0 0;
  background-color: #111315;
}
.nectar-post-grid-wrap[data-style="content_under_image"].nectar-browser-window-style .nectar-post-grid:not([data-card="yes"]) .img-wrap,
.nectar-post-grid-wrap[data-style="content_under_image"].nectar-browser-window-style .nectar-post-grid:not([data-card="yes"]) .nectar-post-grid-item-bg-wrap {
  border-radius: 0 0 10px 10px;
}


.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-shadow-hover="yes"][data-card="yes"] .nectar-post-grid-item:hover:after {
  box-shadow: 0px 25px 40px rgba(0,0,0,0.22);
  transition: opacity .1s ease, box-shadow .32s ease;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-grid-spacing*="px"][data-card="yes"] .nectar-post-grid-item {
  transition: transform 0.32s ease, background-color .32s ease;
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid[data-grid-spacing*="px"][data-card="yes"] .nectar-post-grid-item:hover {
  transform: translateY(-4px);
}

.nectar-post-grid-wrap[data-style="content_under_image"] .nectar-post-grid-item.nectar-new-item .inner:before,
.nectar-post-grid-wrap[data-style="content_overlaid"] .nectar-post-grid-item.nectar-new-item .inner:before {
    display: block;
    border-radius: 50px;
    padding: 10px 20px;
    position: absolute;
    left: 13px;
    top: 13px;
    color: #fff;
    line-height: 16px;
    font-size: 16px;
    content: 'New';
    z-index: 100;
    transform: scale(0.9) translateZ(0);
    backface-visibility: hidden;
}



/* Featured Image Mouse Follow style */
@media only screen and (min-width: 1000px) {

  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid .nectar-post-grid-item .content .post-heading,
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid .nectar-post-grid-item .content .post-heading a:before {
    max-width: 100%;
  }
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .inner,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .content {
 position: static;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-link {
  z-index: 100;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .inner {
  overflow: visible;
  width: auto;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .meta-date {
  margin-top: 15px;
  opacity: 0.7;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item-bg-wrap,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item-bg {
  width: 250px;
  height: 250px;
  position: absolute;
}
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item-bg-wrap {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item-bg-wrap-inner {
  transform-origin: center;
  transform: scale(0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-mouse-follow-image-alignment="middle"] .nectar-post-grid-item-bg-wrap {
  left: -125px;
  top: -125px;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item-bg-wrap {
  left: 10px;
  top: 10px;
  will-change: transform, opacity;
}

.using-mobile-browser .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item-bg-wrap {
  will-change: auto;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-post-title-overlay="yes"] .nectar-post-grid-item .post-heading a:before {
  content: attr(data-title-text);
  position: absolute;
  mix-blend-mode: overlay;
  left: 0;
  top: 0;
  z-index: 1000;
  display: block;
  max-width: 70%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-post-title-overlay="yes"] .nectar-post-grid-item .post-heading a:before {
    display: none;
  }
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-mouse-follow-image-alignment="middle"] .nectar-post-grid-item-bg-wrap {
    left: 10px;
    top: 10px;
  }
}
@supports (-ms-ime-align:auto) {
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-post-title-overlay="yes"] .nectar-post-grid-item .post-heading a:before {
    display: none;
  }
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-mouse-follow-image-alignment="middle"] .nectar-post-grid-item-bg-wrap {
    left: 10px;
    top: 10px;
  }
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="dark"][data-post-title-overlay="yes"] .post-heading a:before {
  color: #fff;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .content .post-heading {
  line-height: 1.5em;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-post-title-overlay="yes"] .nectar-post-grid-item .content .item-main,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-post-title-overlay="yes"] .nectar-post-grid-item .content,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-mouse-follow-image-alignment="top_left"] .nectar-post-grid-item .content .item-main,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-mouse-follow-image-alignment="top_left"] .nectar-post-grid-item .content {
  z-index: auto;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-opacity-hover="yes"] .nectar-post-grid-item .content .item-main .post-heading a,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] [data-opacity-hover="yes"] .nectar-post-grid-item .content .item-main span {
  transition: color 0.2s ease;
}
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="dark"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item .content .post-heading a,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="dark"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item .content span {
  color: rgba(0,0,0,0.3);
}
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="dark"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item:hover .content .post-heading a,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="dark"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item:hover .content span {
  color: rgba(0,0,0,1);
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="light"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item .content .post-heading a,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="light"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item .content span {
  color: rgba(255,255,255,0.35);
}
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="light"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item:hover .content .post-heading a,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-text-color="light"][data-opacity-hover="yes"].mouse-over .nectar-post-grid-item:hover .content span {
  color: rgba(255,255,255,1);
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .content .item-main,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .content,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .meta-category {
  z-index: 10;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .content .meta-date {
  position: relative;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item-bg-wrap .nectar-post-grid-item-bg {
  transform-origin: center;
  z-index: 10;
  transform: scale(1.8);
  transition: transform 0.3s ease;
}

#nectar_fullscreen_rows[data-animation="none"] .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .inner,
#nectar_fullscreen_rows[data-animation="none"] .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item {
  position: static;
}
#nectar_fullscreen_rows[data-animation="none"] .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .content {
  position: relative;
}
#nectar_fullscreen_rows[data-animation="none"] .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid-item .nectar-post-grid-item-bg-wrap {
  position: absolute;
  top: -300px;
  left: -200px;
}


/* lazy loading */
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid:not(.mouse-over) .nectar-post-grid-item-bg[data-nectar-img-src] {
  display: none;
}
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid:not(.mouse-over) > div:nth-child(1) .nectar-post-grid-item-bg[data-nectar-img-src],
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid:not(.mouse-over) > div:nth-child(2) .nectar-post-grid-item-bg[data-nectar-img-src],
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="3"]:not(.mouse-over) > div:nth-child(3) .nectar-post-grid-item-bg[data-nectar-img-src],
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="4"]:not(.mouse-over) > div:nth-child(4) .nectar-post-grid-item-bg[data-nectar-img-src] {
  display: block;
}
.centered-text .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid .content,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="1"] + .load-more-wrap  {
  text-align: left;
}


.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid:not([data-post-title-overlay="yes"]) .nectar-post-grid-item:hover .content {
  z-index: 101;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid:not(:hover) .nectar-post-grid-item .nectar-post-grid-item-bg-wrap {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .mouse-over .nectar-post-grid-item .nectar-post-grid-item-bg-wrap {
  opacity: 0;
  transition: opacity 0.2s ease 0.17s;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .mouse-over .nectar-post-grid-item:hover .nectar-post-grid-item-bg-wrap {
  opacity: 1;
  transition: opacity 0.2s ease;
  z-index: 100;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .mouse-over .nectar-post-grid-item .nectar-post-grid-item-bg-wrap .nectar-post-grid-item-bg,
.nectar-post-grid-wrap[data-style="mouse_follow_image"] .mouse-over .nectar-post-grid-item .nectar-post-grid-item-bg-wrap-inner {
  transform: scale(1);
  transition: transform 0.8s cubic-bezier(0.2, 0.75, 0.3, 1);
}


.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid[data-mouse_follow_post_spacing="5px"] .content {
  padding: 5px 0;
}
.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid[data-mouse_follow_post_spacing="10px"] .content {
  padding: 10px 0;
}
.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid[data-mouse_follow_post_spacing="15px"] .content {
  padding: 15px 0;
}
.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid[data-mouse_follow_post_spacing="35px"] .content {
  padding: 35px 0;
}
.nectar-post-grid-wrap:not([data-style="content_overlaid"]) .nectar-post-grid[data-mouse_follow_post_spacing="45px"] .content {
  padding: 45px 0;
}

.nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="4"][data-grid-spacing="none"] .nectar-post-grid-item {
  padding-bottom: 0;
}


@media only screen and (max-width: 690px) {
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid .nectar-post-grid-item .content .post-heading,
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid .nectar-post-grid-item .content .post-heading a:before {
    max-width: 100%;
  }
}

@media only screen and (max-width: 999px) and (min-width: 690px) {
 .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="3"][data-grid-spacing="none"] .nectar-post-grid-item {
   width: 50%;
 }
}

@media only screen and (min-width: 1001px) {

  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="4"] {
    margin: 0 -40px;
  }
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="4"] .nectar-post-grid-item {
    padding: 0 40px;
  }


  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="3"] {
    margin: 0 -50px;
  }
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="3"] .nectar-post-grid-item {
    padding: 0 50px;
  }


  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="2"] {
    margin: 0 -65px;
  }
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid[data-columns="2"] .nectar-post-grid-item {
    padding: 0 65px;
  }

}

@media only screen and (min-width: 1400px) {
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid .nectar-post-grid-item .content .post-heading,
  .nectar-post-grid-wrap[data-style="mouse_follow_image"] .nectar-post-grid .nectar-post-grid-item .content .post-heading a:before {
    max-width: 85%;
  }
}


/* Filters */
.nectar-post-grid-filters {
  text-align: center;
  padding: 30px 0;
  display: none;
}
.nectar-post-grid-filters[data-align="left"] {
  text-align: left;
}

.nectar-post-grid-filters[data-align="right"] {
  text-align: right;
}

@media only screen and (min-width: 1000px) {
  .full-width-content .nectar-post-grid-filters[data-align="left"],
  .full-width-content .nectar-post-grid-filters[data-align="right"] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .nectar-post-grid-filters[data-align="left"] a {
    margin: 0 40px 0 0;
    line-height: 1.1;
    display: inline-block;
  }
  .nectar-post-grid-filters[data-align="right"] a {
    margin: 0 0 0 40px;
    line-height: 1.1;
    display: inline-block;
  }
}
.nectar-post-grid-filters[data-animation="fade-in-from-bottom"] {
  opacity: 0;
  transition: opacity 0.7s ease;
}
.nectar-post-grid-filters[data-animation="fade-in-from-bottom"].animated-in {
  opacity: 1;
}

.nectar-post-grid-filters[data-sortable="yes"] {
  display: block;
}

.nectar-post-grid-filters a {
  color: inherit;
  line-height: 1;
  padding: 4px 0;
  margin: 10px 20px;
  position: relative;
}
.nectar-post-grid-filters a:after {
  content: "";
  transition: 0.37s all cubic-bezier(0.23, 0.46, 0.4, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  display: block;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #000;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

.nectar-post-grid-filters a:hover:after,
.nectar-post-grid-filters a.active:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.light .nectar-post-grid-filters a:after,
.light .nectar-post-grid-filters h4:after,
.light .nectar-post-grid-filters h4:before {
  background-color: #fff;
}

.col.span_12.light .nectar-post-grid-filters {
  color: #fff;
}

.nectar-post-grid-filters h4 {
  display: none;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
}
.nectar-post-grid-filters h4:before {
    content: ' ';
    top: calc(50% - 6px);
    left: 47px;
    width: 2px;
    margin-left: -2px;
    height: 12px;
    position: absolute;
    background-color: #000;
    transform-origin: center;
    -ms-transition: transform 0.45s cubic-bezier(.3,.4,.2,1), background-color 0.15s ease;
    transition: transform 0.45s cubic-bezier(.3,.4,.2,1), background-color 0.15s ease;
    -webkit-transition: -webkit-transform 0.45s cubic-bezier(.3,.4,.2,1), background-color 0.15s ease;
}
.nectar-post-grid-filters h4:after {
    content: ' ';
    top: calc(50% - 1px);
    left: 40px;
    width: 12px;
    height: 2px;
    position: absolute;
    background-color: #000;
    transform-origin: center;
    -ms-transition: transform 0.45s cubic-bezier(.3,.4,.2,1), background-color 0.15s ease;
    transition: transform 0.45s cubic-bezier(.3,.4,.2,1), background-color 0.15s ease;
    -webkit-transition: transform 0.45s cubic-bezier(.3,.4,.2,1), background-color 0.15s ease;
}
.nectar-post-grid-filters h4.visible:before {
   transform: rotate(90deg);
   -webkit-transform: rotate(90deg);
}
.nectar-post-grid-filters h4.visible:after {
   transform: scaleY(0) rotate(90deg);
   -webkit-transform: scaleY(0) rotate(90deg);
}

.nectar-post-grid-wrap .nectar-post-grid {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.nectar-post-grid-wrap.loading .nectar-post-grid {
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}

.nectar-post-grid-wrap.loading .nectar-post-grid {
  opacity: 0.5;
}

.nectar-post-grid-wrap .load-more-wrap {
  text-align: center;
  margin: 60px 0;
}

.nectar-post-grid-wrap .load-more {
  padding: 10px 40px;
  color: #000;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: transparent;
  display: inline-block;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}
.nectar-post-grid-wrap[data-load-more-color="extra-color-gradient-1"] .load-more:before,
.nectar-post-grid-wrap[data-load-more-color="extra-color-gradient-2"] .load-more:before {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  z-index: -1;
  transition: all 0.3s ease;
}
.nectar-post-grid-wrap[data-load-more-color="extra-color-gradient-1"] .load-more:hover:before,
.nectar-post-grid-wrap[data-load-more-color="extra-color-gradient-2"] .load-more:hover:before {
  opacity: 1;
}
.nectar-post-grid-wrap .load-more:hover {
  color: #fff;
}

.nectar-post-grid-wrap[data-load-more-color="black"] .load-more:hover {
  background-color: #000;
}

.light .nectar-post-grid-wrap .load-more {
 color: #fff;
 border-color: rgba(255,255,255,0.3);
}

.nectar-post-grid-wrap .load-more-wrap.inactive {
  margin: 0;
}

.nectar-post-grid-wrap .load-more-wrap.inactive .load-more {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

body .nectar-post-grid-wrap .load-more:hover {
   border-color: transparent;
 }

body[data-button-style*="slightly_rounded"] .nectar-post-grid-wrap .load-more,
body[data-button-style*="slightly_rounded"] .nectar-post-grid-wrap .load-more:before,
body[data-button-style*="slightly_rounded"] .nectar-post-grid-filters h4 {
  border-radius: 4px;
}

body[data-button-style^="rounded"] .nectar-post-grid-wrap .load-more,
body[data-button-style^="rounded"] .nectar-post-grid-wrap .load-more:before,
body[data-button-style^="rounded"] .nectar-post-grid-filters h4 {
  border-radius: 50px;
}


/* grid style */
@supports (display: grid) {

  .nectar-post-grid[data-masonry="yes"] {
      display: grid;
  }
  body .nectar-post-grid[data-columns][data-grid-spacing][data-masonry="yes"] .nectar-post-grid-item {
    width: auto;
  }

  .nectar-post-grid[data-grid-item-height*="vh"][data-masonry="yes"] .nectar-post-grid-item {
     min-height: 0;
  }

  /* 4 cols */
  .full-width-content .vc_col-sm-12 .nectar-post-grid[data-columns="4"][data-masonry="yes"] {
      grid-auto-rows: minmax(33vh, auto);
  }
  .nectar-post-grid[data-columns="4"][data-masonry="yes"] {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-auto-rows: minmax(30vh, auto);
  }

  .nectar-post-grid[data-columns="4"][data-masonry="yes"] > div:nth-of-type(6n + 1),
  .nectar-post-grid[data-columns="4"][data-masonry="yes"] > div:nth-of-type(6n + 6) {
    grid-column-end: span 2;
  }



  /* 3 cols */
  .full-width-content .vc_col-sm-12 .nectar-post-grid[data-columns="3"][data-masonry="yes"] {
      grid-auto-rows: minmax(35vh, auto);
  }
  .nectar-post-grid[data-columns="3"][data-masonry="yes"] {
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(30vh, auto);
  }


  .nectar-post-grid[data-columns="3"][data-masonry="yes"] > div:nth-of-type(10n + 1),
  .nectar-post-grid[data-columns="3"][data-masonry="yes"] > div:nth-of-type(10n + 7) {
    grid-column-end: span 2;
  }



  /* 2 cols */
  .nectar-post-grid[data-columns="2"][data-masonry="yes"] {
      grid-template-columns: 1fr 1fr;
  }

  .nectar-post-grid[data-columns="2"][data-masonry="yes"] > div:nth-of-type(3n + 1) {
    grid-column-end: span 2;
    grid-row-end: span 2;
  }
  .nectar-post-grid[data-columns="2"][data-masonry="yes"] > div:nth-of-type(3n + 1) .item-meta-extra,
  .nectar-post-grid[data-columns="1"] > div .item-meta-extra {
    width: 75%;
  }

  .nectar-post-grid[data-text-layout="all_middle"][data-columns="2"][data-masonry="yes"] > div:nth-of-type(3n + 1) .item-meta-extra,
  .nectar-post-grid[data-text-layout="all_middle"][data-columns="1"] > div .item-meta-extra {
    margin: 0 auto;
  }


  .nectar-post-grid-wrap[data-style="content_overlaid"] .nectar-post-grid[data-grid-item-height*="vh"][data-masonry="yes"] .nectar-post-grid-item {
    min-height: 250px;
  }

}


@media only screen and (max-width: 999px) and (min-width: 690px) {
    .nectar-post-grid[data-columns][data-masonry="yes"] {
        grid-template-columns: 1fr 1fr;
    }
    body .wpb_row .nectar-post-grid[data-columns][data-masonry="yes"] > div {
      grid-row-end: span 1;
      grid-column-end: span 1;
    }
    body .wpb_row .nectar-post-grid[data-columns][data-masonry="yes"] > div:nth-child(3n+1){
      grid-column-end: span 2;
    }
}

@media only screen and (max-width: 690px)  {

    .nectar-post-grid[data-shadow-hover="yes"] .nectar-post-grid-item:after { display: none; }

    body .nectar-post-grid[data-columns][data-masonry="yes"] {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-columns: none;
        grid-auto-rows: auto;
    }
    body .wpb_row .nectar-post-grid[data-columns][data-masonry="yes"] > div {
      grid-row-end: auto;
      width: 100%!important;
      grid-column-end: auto;
    }

    .nectar-post-grid .nectar-post-grid-item .nectar-post-grid-item-bg,
    .nectar-post-grid[data-hover-effect="slow_zoom"] .nectar-post-grid-item:hover .nectar-post-grid-item-bg,
    .nectar-post-grid[data-hover-effect="zoom"] .nectar-post-grid-item:hover .nectar-post-grid-item-bg {
        -webkit-transform: none;
        transform: none;
    }
    body.material .main-content .nectar-post-grid .nectar-post-grid-item .inner {
      overflow: visible;
      border-radius: 0;
    }
    body.material .main-content .nectar-post-grid[data-grid-spacing*="px"] .nectar-post-grid-item .nectar-post-grid-item-bg {
      border-radius: 5px;
    }

    .nectar-post-grid[data-columns="2"][data-masonry="yes"] > div:nth-of-type(3n + 1) .item-meta-extra,
    .nectar-post-grid[data-columns="1"] > div .item-meta-extra {
      width: 100%;
    }


}


@media only screen and (max-width: 1000px) {
  .nectar-post-grid-filters {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0;
  }

  .nectar-post-grid-filters div {
    display: none;
    margin-top: 20px;
  }

  .nectar-post-grid-wrap .nectar-post-grid-filters h4 {
    padding: 10px 40px 10px 60px;
    margin-bottom: 0;
    border: 1px solid rgba(0,0,0,0.15);
  }
  .light .nectar-post-grid-wrap .nectar-post-grid-filters h4 {
    border-color: rgba(255,255,255,0.3);
  }

  .nectar-post-grid-filters h4 {
    display: inline-block;
  }

  .nectar-post-grid-filters div.visible {
    display: block;
  }

  .nectar-post-grid-filters a {
    margin: 10px 20px;
    display: inline-block;
  }

}

@media only screen and (max-width: 690px) {
  .nectar-post-grid-filters {
      max-width: 320px;
  }
}

@media only screen and (max-width: 690px) and (min-width: 480px) {
  .nectar-post-grid-filters {
    max-width: 420px;
  }
}
