/*
Theme Name:  Salient
Description: Styles for the "vc_separator" shortcode element.
*/

.vc_separator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.vc_separator h4 {
    line-height: 1em;
    font-size: 100%;
    margin: 0;
    word-wrap: break-word;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
}

.vc_separator h4 .normal {
    font-size: 12px;
    font-weight: 400
}

.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 10%
}

.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #EBEBEB;
    display: block;
    position: relative;
    top: 1px;
    width: 100%
}

.vc_separator.vc_separator_align_left .vc_sep_holder.vc_sep_holder_l,
.vc_separator.vc_separator_align_right .vc_sep_holder.vc_sep_holder_r {
    display: none
}

.vc_separator.vc_separator_align_center h4 {
    padding: 0 .8em
}

.vc_separator.vc_separator_align_left h4 {
    padding: 0 .8em 0 0
}

.vc_separator.vc_separator_align_right h4 {
    padding: 0 0 0 .8em;
    margin: 0!important
}

.vc_separator.vc_sep_double {
    height: 3px
}

.vc_separator.vc_sep_double .vc_sep_line {
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    height: 3px
}

.vc_separator.vc_sep_dashed .vc_sep_line {
    border-top-style: dashed
}

.vc_separator.vc_sep_dotted .vc_sep_line {
    border-top-style: dotted
}

.vc_separator.vc_sep_shadow .vc_sep_line {
    border: none;
    position: relative;
    height: 20px;
    top: 0;
    overflow: hidden
}

.vc_separator.vc_sep_shadow .vc_sep_line::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -20px;
    right: 0;
    height: 10px;
    border-radius: 100%
}

.vc_separator.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    right: -100%;
    box-shadow: 10px 10px 10px 1px
}

.vc_separator.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    left: -100%;
    box-shadow: -10px 10px 10px 1px
}

.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_l {
    width: 100%
}

.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_r {
    display: none
}

.vc_separator .vc_icon_element {
    margin-bottom: 0
}

.vc_separator .vc_icon_element:not(.vc_icon_element-have-style)+h4 {
    padding-left: 0
}

.vc_separator .vc_icon_element:not(.vc_icon_element-have-style) .vc_icon_element-size-xl {
    margin-left: .8em;
    margin-right: .8em
}

.vc_separator.vc_separator-has-text.vc_separator_align_center .vc_icon_element.vc_icon_element-have-style,
.vc_separator.vc_separator-has-text.vc_separator_align_right .vc_icon_element.vc_icon_element-have-style {
    margin-left: .8em
}

.vc_separator.vc_separator_align_left .vc_icon_element.vc_icon_element-have-style+h4 {
    padding-left: .8em
}

.vc_separator.vc_sep_border_width_1 .vc_sep_holder .vc_sep_line {
    border-top-width: 1px
}

.vc_separator.vc_sep_border_width_1.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 1px;
    top: 0
}

.vc_separator.vc_sep_border_width_1.vc_sep_shadow .vc_sep_line {
    top: 0
}

.vc_separator.vc_sep_border_width_1.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 1px
}

.vc_separator.vc_sep_border_width_1.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 1px
}

.vc_separator.vc_sep_border_width_2 .vc_sep_holder .vc_sep_line {
    border-top-width: 2px
}

.vc_separator.vc_sep_border_width_2.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 2px;
    top: -1px
}

.vc_separator.vc_sep_border_width_2.vc_sep_shadow .vc_sep_line {
    top: -1px
}

.vc_separator.vc_sep_border_width_2.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 2px
}

.vc_separator.vc_sep_border_width_2.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 2px
}

.vc_separator.vc_sep_border_width_3 .vc_sep_holder .vc_sep_line {
    border-top-width: 3px
}

.vc_separator.vc_sep_border_width_3.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 3px;
    top: -1px
}

.vc_separator.vc_sep_border_width_3.vc_sep_shadow .vc_sep_line {
    top: -1px
}

.vc_separator.vc_sep_border_width_3.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 3px
}

.vc_separator.vc_sep_border_width_3.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 3px
}

.vc_separator.vc_sep_border_width_4 .vc_sep_holder .vc_sep_line {
    border-top-width: 4px
}

.vc_separator.vc_sep_border_width_4.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 4px;
    top: -2px
}

.vc_separator.vc_sep_border_width_4.vc_sep_shadow .vc_sep_line {
    top: -2px
}

.vc_separator.vc_sep_border_width_4.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 4px
}

.vc_separator.vc_sep_border_width_4.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 4px
}

.vc_separator.vc_sep_border_width_5 .vc_sep_holder .vc_sep_line {
    border-top-width: 5px
}

.vc_separator.vc_sep_border_width_5.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 5px;
    top: -2px
}

.vc_separator.vc_sep_border_width_5.vc_sep_shadow .vc_sep_line {
    top: -2px
}

.vc_separator.vc_sep_border_width_5.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 5px
}

.vc_separator.vc_sep_border_width_5.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 5px
}

.vc_separator.vc_sep_border_width_6 .vc_sep_holder .vc_sep_line {
    border-top-width: 6px
}

.vc_separator.vc_sep_border_width_6.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 6px;
    top: -3px
}

.vc_separator.vc_sep_border_width_6.vc_sep_shadow .vc_sep_line {
    top: -3px
}

.vc_separator.vc_sep_border_width_6.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 6px
}

.vc_separator.vc_sep_border_width_6.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 6px
}

.vc_separator.vc_sep_border_width_7 .vc_sep_holder .vc_sep_line {
    border-top-width: 7px
}

.vc_separator.vc_sep_border_width_7.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 7px;
    top: -3px
}

.vc_separator.vc_sep_border_width_7.vc_sep_shadow .vc_sep_line {
    top: -3px
}

.vc_separator.vc_sep_border_width_7.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 7px
}

.vc_separator.vc_sep_border_width_7.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 7px
}

.vc_separator.vc_sep_border_width_8 .vc_sep_holder .vc_sep_line {
    border-top-width: 8px
}

.vc_separator.vc_sep_border_width_8.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 8px;
    top: -4px
}

.vc_separator.vc_sep_border_width_8.vc_sep_shadow .vc_sep_line {
    top: -4px
}

.vc_separator.vc_sep_border_width_8.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 8px
}

.vc_separator.vc_sep_border_width_8.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 8px
}

.vc_separator.vc_sep_border_width_9 .vc_sep_holder .vc_sep_line {
    border-top-width: 9px
}

.vc_separator.vc_sep_border_width_9.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 9px;
    top: -4px
}

.vc_separator.vc_sep_border_width_9.vc_sep_shadow .vc_sep_line {
    top: -4px
}

.vc_separator.vc_sep_border_width_9.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 9px
}

.vc_separator.vc_sep_border_width_9.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 9px
}

.vc_separator.vc_sep_border_width_10 .vc_sep_holder .vc_sep_line {
    border-top-width: 10px
}

.vc_separator.vc_sep_border_width_10.vc_sep_double .vc_sep_holder .vc_sep_line {
    border-bottom-width: 10px;
    top: -5px
}

.vc_separator.vc_sep_border_width_10.vc_sep_shadow .vc_sep_line {
    top: -5px
}

.vc_separator.vc_sep_border_width_10.vc_sep_shadow .vc_sep_holder_l .vc_sep_line::after {
    box-shadow: 10px 10px 10px 10px
}

.vc_separator.vc_sep_border_width_10.vc_sep_shadow .vc_sep_holder_r .vc_sep_line::after {
    box-shadow: -10px 10px 10px 10px
}

.vc_separator.vc_sep_color_blue .vc_sep_line {
    border-color: #5472D2
}

.vc_separator.vc_sep_color_blue.vc_sep_shadow .vc_sep_holder {
    color: #5472D2
}

.vc_separator.vc_sep_color_turquoise .vc_sep_line {
    border-color: #00C1CF
}

.vc_separator.vc_sep_color_turquoise.vc_sep_shadow .vc_sep_holder {
    color: #00C1CF
}

.vc_separator.vc_sep_color_pink .vc_sep_line {
    border-color: #FE6C61
}

.vc_separator.vc_sep_color_pink.vc_sep_shadow .vc_sep_holder {
    color: #FE6C61
}

.vc_separator.vc_sep_color_violet .vc_sep_line {
    border-color: #8D6DC4
}

.vc_separator.vc_sep_color_violet.vc_sep_shadow .vc_sep_holder {
    color: #8D6DC4
}

.vc_separator.vc_sep_color_peacoc .vc_sep_line {
    border-color: #4CADC9
}

.vc_separator.vc_sep_color_peacoc.vc_sep_shadow .vc_sep_holder {
    color: #4CADC9
}

.vc_separator.vc_sep_color_chino .vc_sep_line {
    border-color: #CEC2AB
}

.vc_separator.vc_sep_color_chino.vc_sep_shadow .vc_sep_holder {
    color: #CEC2AB
}

.vc_separator.vc_sep_color_mulled_wine .vc_sep_line {
    border-color: #50485B
}

.vc_separator.vc_sep_color_mulled_wine.vc_sep_shadow .vc_sep_holder {
    color: #50485B
}

.vc_separator.vc_sep_color_vista_blue .vc_sep_line {
    border-color: #75D69C
}

.vc_separator.vc_sep_color_vista_blue.vc_sep_shadow .vc_sep_holder {
    color: #75D69C
}

.vc_separator.vc_sep_color_black .vc_sep_line {
    border-color: #2A2A2A
}

.vc_separator.vc_sep_color_black.vc_sep_shadow .vc_sep_holder {
    color: #2A2A2A
}

.vc_separator.vc_sep_color_grey .vc_sep_line {
    border-color: #EBEBEB
}

.vc_separator.vc_sep_color_grey.vc_sep_shadow .vc_sep_holder {
    color: #EBEBEB
}

.vc_separator.vc_sep_color_orange .vc_sep_line {
    border-color: #F7BE68
}

.vc_separator.vc_sep_color_orange.vc_sep_shadow .vc_sep_holder {
    color: #F7BE68
}

.vc_separator.vc_sep_color_sky .vc_sep_line {
    border-color: #5AA1E3
}

.vc_separator.vc_sep_color_sky.vc_sep_shadow .vc_sep_holder {
    color: #5AA1E3
}

.vc_separator.vc_sep_color_green .vc_sep_line {
    border-color: #6DAB3C
}

.vc_separator.vc_sep_color_green.vc_sep_shadow .vc_sep_holder {
    color: #6DAB3C
}

.vc_separator.vc_sep_color_juicy_pink .vc_sep_line {
    border-color: #F4524D
}

.vc_separator.vc_sep_color_juicy_pink.vc_sep_shadow .vc_sep_holder {
    color: #F4524D
}

.vc_separator.vc_sep_color_sandy_brown .vc_sep_line {
    border-color: #F79468
}

.vc_separator.vc_sep_color_sandy_brown.vc_sep_shadow .vc_sep_holder {
    color: #F79468
}

.vc_separator.vc_sep_color_purple .vc_sep_line {
    border-color: #B97EBB
}

.vc_separator.vc_sep_color_purple.vc_sep_shadow .vc_sep_holder {
    color: #B97EBB
}

.vc_separator.vc_sep_color_white .vc_sep_line {
    border-color: #FFF
}

.vc_separator.vc_sep_color_white.vc_sep_shadow .vc_sep_holder {
    color: #FFF
}

.vc_sep_width_10 {
    width: 10%
}

.vc_sep_width_20 {
    width: 20%
}

.vc_sep_width_30 {
    width: 30%
}

.vc_sep_width_40 {
    width: 40%
}

.vc_sep_width_50 {
    width: 50%
}

.vc_sep_width_60 {
    width: 60%
}

.vc_sep_width_70 {
    width: 70%
}

.vc_sep_width_80 {
    width: 80%
}

.vc_sep_width_90 {
    width: 90%
}

.vc_sep_pos_align_center {
    margin-left: auto;
    margin-right: auto
}

.vc_sep_pos_align_left {
    margin-left: 0;
    margin-right: auto
}

.vc_sep_pos_align_right {
    margin-left: auto;
    margin-right: 0
}

.vc_text_separator div {
    display: inline-block;
    background-color: #FFF;
    padding: 1px 1em;
    position: relative;
    top: -9px
}

.separator_align_left {
    text-align: left
}

.separator_align_right {
    text-align: right
}

.vc-zigzag-wrapper {
    text-align: center
}

.vc-zigzag-wrapper.vc-zigzag-align-left {
    text-align: left
}

.vc-zigzag-wrapper.vc-zigzag-align-right {
    text-align: right
}

.vc-zigzag-inner {
    display: inline-block
}