/*
Theme Name:  Salient
Description: Styles for the "Image Gallery" parallax grid style page builder element.
*/


/* Parallax Image Grid */
@media only screen and (min-width: 1600px) {
  .full-width-content .vc_col-sm-12 .wpb_gallery .parallax-grid-item {
    width: 33%;
  }
  .full-width-content .vc_col-sm-12 .wpb_gallery .wpb_gallery_slidesparallax_image_grid > div:nth-child(3) {
    margin-top: 0;
  }
}
.wpb_gallery .parallax-grid-item img {
  width: 100%;
  max-width: none;
  height: auto;
}
.wpb_gallery .parallax-grid-item img:not([srcset]) {
  max-width: 100%;
}
.wpb_gallery .parallax-grid-item .parallaxImg-layers a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 100%;
}
.wpb_gallery .parallax-grid-item .item-meta p {
  opacity: 0.65;
}
.wpb_gallery .parallax-grid-item .item-meta h4 {
  margin-bottom: 3px;
}
.wpb_gallery .parallax-grid-item .item-meta {
  padding: 5% 0 0 0;
}
.wpb_gallery_slidesparallax_image_grid > div:nth-child(2n+2) {
  padding-left: 3.3%;
}
.wpb_gallery_slidesparallax_image_grid > div:nth-child(2n+1) {
  padding-right: 3.3%;
}
.wpb_gallery .parallax-grid-item {
  width: 50%;
  display: inline-block;
  margin-top: 6.2%;
  vertical-align: top;
  transform: translateZ(0px);
}
.wpb_gallery_slidesparallax_image_grid > div:nth-child(1) {
  margin-top: 0;
}
.wpb_gallery_slidesparallax_image_grid > div:nth-child(2) {
  margin-top: 0;
}
body.cssreflections .wpb_gallery .parallax-grid-item .parallaxImg-container {
  transition: transform 0.2s cubic-bezier(0,0,0.65,1);
  -webkit-transition: transform 0.2s cubic-bezier(0,0,0.65,1);
  outline: 1px solid transparent;
  backface-visibility: hidden;
}
html.cssreflections .wpb_gallery .parallax-grid-item .parallaxImg.transition .parallaxImg-container {
  transition: transform 0.8s cubic-bezier(0,0,0.55,1);
  -webkit-transition: transform 0.8s cubic-bezier(0,0,0.55,1);
}
html.cssreflections .wpb_gallery .parallax-grid-item .parallaxImg-container {
  transition: transform 0.5s cubic-bezier(0,0,0.55,1);
  -webkit-transition: transform 0.5s cubic-bezier(0,0,0.55,1);
  backface-visibility: hidden;
}
html.cssreflections .wpb_gallery .parallax-grid-item .parallaxImg-container:not(.over),
html.cssreflections .wpb_gallery .parallax-grid-item .parallaxImg-container:not(.over) .parallaxImg-rendered-layer,
html.cssreflections .wpb_gallery .parallax-grid-item .parallaxImg:not(.over) {
  transition: transform 1.1s cubic-bezier(0,0,0.2,1);
  -webkit-transition: transform 1.1s cubic-bezier(0,0,0.2,1);
}

@media only screen and (max-width : 690px) {
  .wpb_gallery .parallax-grid-item {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width : 1px) and (max-width : 999px) {
  #ajax-content-wrap .wpb_gallery .parallax-grid-item {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
}
