/*
Theme Name:  Salient
Description: Styles for the "Toggles" page builder element.
*/

body .toggle{
  margin-bottom:15px
}
.toggle.open h3 a{
  color:#fff;
  background-color:#000
}
body .toggle h3,
body .row .toggle h3 {
  margin-bottom:0
}
.toggle h3 {
  position:relative;
  z-index:10;
  font-size:12px;
}
div[data-style="default"] .toggle h3 a,
div[data-style="default"] .toggle h3{
  font-size:14px;
  line-height:14px
}
.toggle h3 a{
  display:block;
  color: rgba(0,0,0,0.65);
  letter-spacing:0;
  font-size:14px;
  line-height:16px;
  padding:14px 14px 16px 43px;
  font-weight:400;
  background-color:rgba(0,0,0,0.045);
  transition:all 0.2s linear;
  -webkit-transition:all 0.2s linear;
}
.toggle h3 a i{
  position:absolute;
  left:13px;
  background-color:transparent;
  color:#888;
  top:13px;
  width:18px;
  height:16px;
  line-height:18px;
  font-size:15px;
  transition:all 0.2s linear;
  -webkit-transition:all 0.2s linear;
}
.toggle.open h3 a i{
  color:#fff
}
.toggle h3 a:hover{
  background-color:rgba(0,0,0,0.035)
}
body .toggle >div{
  border-top:0;
  background-color:#fff;
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
	padding:10px 14px;
	display:none;
}

.toggle >div .wpb_wrapper{
  margin:0
}

body .toggle[data-inner-wrap="true"] > div {
	-webkit-transition: max-height 0.5s ease;
	transition: max-height 0.5s ease;
	max-height: 0;
	overflow: hidden;
	pointer-events: none;
	display: block;
}
@media only screen and (max-width: 999px) {
  body .accordion .toggle[data-inner-wrap="true"]:not(.open) > div {
    -webkit-transition: none;
  	transition: none;
  }
}


body .toggle[data-inner-wrap="true"].open > div {
	pointer-events: all;
}

body .toggle[data-inner-wrap="true"] > div,
div[data-style="minimal_small"] .toggle[data-inner-wrap="true"] > div,
div[data-style*="minimal"] .toggle[data-inner-wrap="true"] > div {
	padding: 0;
}

body div[data-style="minimal_small"] .toggle > div .inner-toggle-wrap {
	padding-top: 1.4em;
  padding-bottom: 0;
}

div[data-style="minimal"] .toggle[data-inner-wrap="true"] > div .inner-toggle-wrap {
	padding: 0 0 30px 0;
}

body .toggle[data-inner-wrap="true"] > div .inner-toggle-wrap {
	padding:10px 14px;
}


.toggle >div >div:last-child,
.toggle[data-inner-wrap="true"] .inner-toggle-wrap > div:last-child{
  margin-bottom:0!important
}
.light .toggle >div{
  color:#676767
}
.light .toggles[data-style="default"] .toggle h3 a {
  color: #fff;
}
.light .toggles[data-style="default"] .toggle >div{
  background-color: transparent;
}
body div[data-style*="minimal"] .toggle.open h3 a,
body div[data-style*="minimal"] .toggle h3 a{
  background-color:transparent
}
div[data-style*="minimal"] .toggle >div{
  box-shadow:none;
  -webkit-box-shadow:none;
  padding:0 0 30px 0;
  background-color:transparent
}
div[data-style*="minimal"] .toggle h3 i{
  width:30px;
  height:30px;
  position:absolute;
  right:0;
  left:auto;
  top:50%;
  margin-top:-15px;
  border:2px solid #888;
  border-radius:30px 30px;
  -ms-transition:border-color 0.15s ease;
  transition:border-color 0.15s ease;
  -webkit-transition:border-color 0.15s ease
}
div[data-style="minimal"] .toggle h3 a{
  padding:30px 70px 30px 0px;
  -ms-transition:color 0.15s ease;
  transition:color 0.15s ease;
  -webkit-transition:color 0.15s ease
}
div[data-style="minimal"] .toggle{
  border-bottom:2px solid rgba(0,0,0,0.08);
  transition:border-color 0.15s ease;
  -webkit-transition:border-color 0.15s ease;
}
body div[data-style="minimal"] .toggle {
  margin-bottom:0
}
div[data-style="minimal"] .toggle h3 i:before{
  content:' ';
  top:14px;
  left:6px;
  margin-top:-2px;
  width:14px;
  height:2px;
  position:absolute;
  background-color:#888;
  transition:background-color 0.15s ease;
  -webkit-transition:background-color 0.15s ease
}
div[data-style="minimal"] .toggle h3 i:after{
  content:' ';
  top:6px;
  left:14px;
  width:2px;
  margin-left:-2px;
  height:14px;
  position:absolute;
  background-color:#888;
  transition:transform 0.45s cubic-bezier(.3,.4,.2,1),background-color 0.15s ease;
}
.light div[data-style="minimal"] .toggle {
  border-color:rgba(255,255,255,0.2)
}
.light div[data-style*="minimal"] .toggle h3 i{
  border-color:#fff
}
.light div[data-style*="minimal"] .toggle h3 i:before,
.light div[data-style*="minimal"] .toggle h3 i:after{
  background-color:#fff
}
.light div[data-style*="minimal"] .toggle h3 a{
  color:#fff
}
div[data-style*="minimal"] .toggle.open i:after{
  -ms-transform:scale(1,0);
  transform:scale(1,0);
  -webkit-transform:scale(1,0)
}
div[data-style="minimal_small"] .toggle h3 {
  display: inline-block;
  padding: 0 0 4px;
}
div[data-style="minimal_small"] .toggle h3 a {
  padding: 0
}
div[data-style="minimal_small"] .toggle.default h3 a:hover,
div[data-style="minimal_small"] .toggle.default.open h3 a {
  color: #000;
}
div[data-style="minimal_small"] .toggle.default > h3:after {
  background-color: #000;
}
.span_12.light div[data-style="minimal_small"] .toggle.default h3 a:hover,
.span_12.light div[data-style="minimal_small"] .toggle.default.open h3 a {
  color: #fff;
}
.span_12.light div[data-style="minimal_small"] .toggle > h3:before {
  background-color: rgba(255,255,255,0.2);
}
.span_12.light div[data-style="minimal_small"] .toggle.default:hover > h3:after,
.span_12.light div[data-style="minimal_small"] .toggle.default.open > h3:after,
.span_12.light div[data-style="minimal_small"] .toggle.default > h3:after {
  background-color: #fff;
}
div[data-style="minimal_small"] .toggle > h3:after,
div[data-style="minimal_small"] .toggle > h3:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
  height: 2px;
  left: 0;
  pointer-events: none;
}
div[data-style="minimal_small"] .toggle > h3:after {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.5s cubic-bezier(0.3, 0.4, 0.1, 1);
  transition: transform 0.5s cubic-bezier(0.3, 0.4, 0.1, 1);
  transform-origin: left;
}
div[data-style="minimal_small"] .toggle.open > h3:after,
div[data-style="minimal_small"] .toggle:hover > h3:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
div[data-style="minimal_small"] .toggle >div {
  padding-top: 1.3em;
  padding-bottom: 0;
}
div[data-style="minimal_small"] .toggle > h3 i {
  display: none;
}
div[data-style="minimal_small"] .toggle {
  margin-bottom: 1.4em;
}

@media only screen and (max-width : 690px) {
  div[data-style="minimal"] .toggle h3 a {
    font-size: 20px;
    line-height: 24px;
  }
}
