/*
Theme Name:  Salient
Description: Styles for the "Page Submenu" page builder element.
*/

.page-submenu:not(.stuck){
  transform:translateY(0px)!important;
  -webkit-transform:translateY(0px)!important
}

.page-submenu.stuck{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  transition:all 0.3s;
  -webkit-transition:all 0.3s;
}
.page-submenu.stuck.header-not-visible{
  transition:all 0.2s;
  -webkit-transition:all 0.2s;
}
.page-submenu.stuck .full-width-content,
.full-width-content >.span_12 >.vc_col-sm-12 >.vc_column-inner >.wpb_wrapper .page-submenu:not(.stuck) >.full-width-content{
  margin-left:0!important;
  left: 0;
}

@media only screen and (min-width: 1000px) {
  [data-header-format="left-header"] .page-submenu.stuck .full-width-content {
    margin-left:-2px!important;
  }
}

.page-submenu .full-width-section,
.page-submenu .full-width-content{
  height:auto!important
}
.page-submenu ul{
  margin:0;
  color:inherit
}
@media only screen and (min-width:1000px){
  .page-submenu ul{
    display:block!important;
    height:auto!important
  }
}
.page-submenu[data-alignment="left"]{
  text-align:left
}
.page-submenu[data-alignment="center"]{
  text-align:center
}
.page-submenu[data-alignment="right"]{
  text-align:right
}
.page-submenu[data-alignment="right"] .full-width-section ul li:last-child{
  margin-right:0
}
.page-submenu[data-alignment="left"] .full-width-section ul li:first-child{
  margin-left:0
}
.page-submenu[data-alignment="left"] .full-width-content ul li:first-child{
  margin-left:25px
}
.page-submenu[data-alignment="right"] .full-width-content ul li:last-child{
  margin-right:33px
}
.page-submenu li{
  display:inline-block;
  margin:0 25px 0 0;
  color:inherit
}
body .page-submenu li a{
  color:inherit;
  transition:all 0.1s ease;
  -webkit-transition:all 0.1s ease;
  padding-top:20px;
  padding-bottom:20px;
  display:block;
  opacity:0.7
}
.page-submenu li a:hover,
.page-submenu.stuck .current-menu-item a{
  opacity:1;
  color:inherit
}
.page-submenu .mobile-menu-link{
  padding:16px 20px;
  border-left:1px solid rgba(255,255,255,0.2);
  border-right:1px solid rgba(255,255,255,0.2);
  color:inherit;
  display:none;
  line-height:17px
}
.page-submenu[data-bg-color="#fff"] .mobile-menu-link{
  border-left:1px solid rgba(0,0,0,0.08);
  border-right:1px solid rgba(0,0,0,0.08)
}
.salient-page-submenu-icon{
  font-size:16px;
  float:left;
  margin-right:8px
}
.salient-page-submenu-icon:before{
  content:'\e067'
}

@media only screen and (min-width : 1px) and (max-width : 999px) {

  .page-submenu .mobile-menu-link {
    display: inline-block;
  }

  .page-submenu ul {
    position: absolute;
    top: 48px;
    left: 0;
    width: 101%;
    display: none;
    z-index: 1000;
  }

  .page-submenu[data-alignment="left"],
  .page-submenu[data-alignment="right"] {
    text-align: center;
  }

  #boxed .page-submenu ul {
    width: 100%;
  }

  #ajax-content-wrap .page-submenu ul li {
    display: block;
    margin: 0;
  }

  .page-submenu .full-width-content {
    position: relative;
  }

  .page-submenu ul li a {
    border-top: 1px solid rgba(255,255,255,0.2);
    padding: 10px 20px;
  }

  .page-submenu[data-bg-color="#ffffff"] ul li a {
    border-top: 1px solid rgba(0,0,0,0.08);
  }

}
