/*
Theme Name:  Salient
Description: Styles for the "Interactive Map" page builder element.
*/

html:not(.js) #contact-map,
html:not(.js) .nectar-google-map{
  display:none
}

#contact-map{
  width:100%;
  height:370px;
  margin-bottom:30px
}

body.page-template-template-contact[data-header-resize="1"] .container-wrap {
	padding-top: 0;
}

.gm-style-iw{
  color:#777
}
#contact-map div,
.nectar-google-map div {
  box-sizing:content-box;
  -webkit-box-sizing:content-box
}
.wpb_wrapper > .nectar-google-map,
.nectar-google-map{
  margin-bottom:0
}
.nectar-google-map img{
  max-width:none!important
}
.wpb_column.centered-text .nectar-google-map img {
  display: block;
}
body[data-bg-header="true"] #contact-map{
  margin-top:-30px
}
.contact-info{
  padding-left:20px
}
body.page-template-template-contact-php .page-header-no-bg .col.section-title{
  border-bottom:0
}
body.page-template-template-contact-php #page-header-bg{
  margin-bottom:0
}
.gm-style .gm-style-iw,
.gm-style .gm-style-iw a,
.gm-style .gm-style-iw span,
.gm-style .gm-style-iw label,
.gm-style .gm-style-iw div{
  font-family:arial;
  letter-spacing:0;
  line-height:20px
}
.nectar-google-map .animated-dot,
.nectar-leaflet-map .animated-dot {
  width:20px;
  height:20px;
  left:-9px;
  top:-5px;
  position:relative
}
.nectar-google-map .animated-dot .middle-dot,
.nectar-leaflet-map .animated-dot .middle-dot {
  width:16px;
  height:16px;
  border-radius:30px;
  position:absolute;
  left:2px;
  top:2px;
  transform-origin:50% 50%;
  animation-fill-mode:forwards;
  animation-iteration-count:infinite
}
.nectar-google-map[data-dark-color-scheme="1"] .animated-dot .middle-dot:after{
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  left:0;
  top:0;
  content:' ';
  background-color:#fff;
  border-radius:30px;
  z-index:100;
  opacity:0;
  animation:animationSignal2 cubic-bezier(0,.55,.55,1) 2s;
  transform-origin:50% 50%;
  animation-fill-mode:forwards;
  animation-delay:0.78s;
  animation-iteration-count:infinite
}
.nectar-google-map .animated-dot .signal,
.nectar-leaflet-map .animated-dot .signal {
  width:180px;
  pointer-events:none;
  height:180px;
  border-radius:200px;
  position:absolute;
  left:-80px;
  top:-80px;
  opacity:0;
  -webkit-animation:animationSignal cubic-bezier(0,.55,.55,1) 2s;
  animation:animationSignal cubic-bezier(0,.55,.55,1) 2s;
  transform-origin:50% 50%;
  animation-fill-mode:forwards;
  animation-delay:0.78s;
  animation-iteration-count:infinite
}
.nectar-google-map .animated-dot .signal2,
.nectar-leaflet-map .animated-dot .signal2 {
  width:180px;
  height:180px;
  pointer-events:none;
  border-radius:200px;
  position:absolute;
  left:-80px;
  top:-80px;
  opacity:0;
  -webkit-animation:animationSignal cubic-bezier(0,.55,.55,1) 2s;
  animation:animationSignal cubic-bezier(0,.55,.55,1) 2s;
  transform-origin:50% 50%;
  animation-fill-mode:forwards;
  animation-delay:1s;
  animation-iteration-count:infinite
}
.nectar-leaflet-map .nectar-leaflet-pin {
  width: 34px;
  height: 34px;
  font-size: 0;
  border: 10px solid #3452ff;
  border-radius: 50% 50% 50% 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  background-color: #fff;
}
.nectar-leaflet-map:not([data-marker-style="nectar"]) .leaflet-marker-icon:before {
  background-image: url(../../img/icons/leaflet/marker-shadow.png);
  position: absolute;
  z-index: -1;
  display: block;
  top: 2px;
  left: 9px;
  width: 41px;
  height: 41px;
  content: '';
  -webkit-transform: rotate(13deg);
  transform: rotate(13deg);
}
.nectar-leaflet-map .leaflet-marker-icon {
  overflow: visible;
  background-color: transparent;
  border: none;
}
.nectar-leaflet-map[data-greyscale="1"] > .leaflet-map-pane .leaflet-tile-container {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
@-webkit-keyframes animationSignal{
  0%{
    opacity:0;
    transform: scale(0.00)
  }
  1%{
    opacity:0.25
  }
  20%{
    opacity:0.25
  }
  60%{
    transform: scale(1);
    opacity:0
  }
}
@-webkit-keyframes animationSignal2{
  0%{
    opacity:0
  }
  1%{
    opacity:0.2
  }
  20%{
    opacity:0.17
  }
  60%{
    opacity:0
  }
}
@keyframes animationSignal{
  0%{
    opacity:0;
    transform: scale(0.00)
  }
  1%{
    opacity:0.25
  }
  20%{
    opacity:0.25
  }
  60%{
    transform: scale(1);
    opacity:0
  }
}
@keyframes animationSignal2{
  0%{
    opacity:0
  }
  1%{
    opacity:0.2
  }
  20%{
    opacity:0.17
  }
  60%{
    opacity:0
  }
}

