/*
Theme Name:  Salient
Description: Styles for the "Recent Posts" page builder element.
*/

.home .blog-recent .col .post-header{
     color:#999;
     margin-bottom:12px
}
 .home .blog-recent .col .post-header h3 a{
    color:#27CFC3
}
 .blog-recent .mejs-container{
    margin-bottom:15px
}
 .home .blog-recent .col .post-header h3{
    margin-bottom:3px
}
 .blog-recent[data-style="default"] .col .post-header h3{
    margin-bottom:3px;
     letter-spacing:-0.2px;
     font-size:16px;
     line-height:23px
}
.blog-recent .col .post-header a, 
.blog-recent .col .post-header h3 a:hover{
    color:inherit
}

 .blog-recent .col{
    margin-bottom:40px
}
 .blog-recent .col .video-wrap{
    position:relative;
     padding-bottom:54.25%;
     padding-top:5px;
     height:0;
     margin-bottom:15px
}
 .blog-recent .col .video-wrap iframe{
    position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%
}
 .blog-recent div:last-of-type{
    margin-right:0
}
 @media only screen and (min-width: 1000px) {
     .blog-recent .col.span_3 {
         width: 23.4%;
    }
}
body .blog-recent[data-style].columns-4 div:nth-child(4n+4),
body .blog-recent[data-style].columns-3 div:nth-child(3n+3),
body .blog-recent[data-style].columns-2 div:nth-child(2n+2),
body .blog-recent[data-style].columns-1 div:nth-child(1n+1){
    margin-right:0!important
}

 .blog-recent.columns-4 div:nth-child(4n+5){
    clear:both
}
 .blog-recent.columns-3 div:nth-child(3n+4){
    clear:both
}
 .blog-recent.columns-2 div:nth-child(2n+3){
    clear:both
}
 .video-wrap iframe{
    opacity:0;
     visibility:hidden
}
 .blog-recent .col .audio-wrap{
    margin-bottom:15px
}
 .blog-recent[data-style="minimal"] .col{
    margin-bottom:2%;
     padding:20px
}
 .blog-recent[data-style="minimal"] .meta{
    margin-bottom:13px;
     display:block
}
 .blog-recent[data-style="title_only"] .meta{
    margin-bottom:6px;
     display:block
}
 .blog-recent[data-style="minimal"] .col >a, 
 .blog-recent[data-style="title_only"] .col >a{
    position:absolute;
     z-index:100;
     top:0;
     left:0;
     width:100%;
     height:100%;
     display:block
}
 .blog-recent[data-style="minimal"] .col a{
    color:inherit
}
 .blog-recent[data-style="minimal"] .col >span{
    color:#27CFC3;
     display:block
}
 .blog-recent[data-style="minimal"] .col i{
     background-color:transparent;
     color:inherit;
     height:auto;
     font-size:15px;
     width:23px;
     top:0px;
     transition:transform .33s cubic-bezier(.75,0,.18,1);
     -webkit-transition:transform .33s cubic-bezier(.75,0,.18,1);
}
 .blog-recent[data-style="minimal"] .col:hover i{
    transform:translateX(7px);
     -webkit-transform:translateX(7px);
}
 .blog-recent[data-style="minimal"] .col >span{
    font-family:'Open Sans';
     font-weight:700;
     text-transform:uppercase;
     letter-spacing:2px;
     font-size:12px
}
 .blog-recent[data-style="title_only"] .col{
    background-color:rgba(0,0,0,0.03);
     margin-bottom:2%;
     padding:50px 25px
}
 .blog-recent[data-style="title_only"]{
    text-align:center
}
 .blog-recent[data-style="title_only"] .post-header{
    width:70%;
     left:15%;
     margin-bottom:0;
     word-break:break-word;
     position:relative
}
 .blog-recent[data-style="title_only"] .post-header .title, 
 .blog-recent[data-style="title_only"] .col .post-header .meta{
    transition:transform .33s cubic-bezier(.75,0,.18,1),opacity .33s cubic-bezier(.75,0,.18,1),color .33s cubic-bezier(.75,0,.18,1);
     -webkit-transition:transform .33s cubic-bezier(.75,0,.18,1),opacity .33s cubic-bezier(.75,0,.18,1),color .33s cubic-bezier(.75,0,.18,1);
}
 .blog-recent[data-style="title_only"] .col:hover .post-header .title{
    transform:scale(1.1) translateY(-10px);
     -webkit-transform:scale(1.1) translateY(-10px);
     color:#27CFC3
}
 .blog-recent[data-style="title_only"] .col:hover .post-header .meta{
    transform:translateY(20px);
     -webkit-transform:translateY(20px);
     opacity:0
}
 .span_9 .carousel-heading{
    padding-right:10px
}
 .nectar-recent-posts-slider{
    overflow:hidden
}
 .nectar-recent-posts-slider .nectar-recent-post-slide {
    width:101%;
     position:relative;
     line-height:0px;
     min-height:250px;
     overflow:hidden
}
 .nectar-recent-posts-slider .nectar-recent-posts-slider-inner:not(.flickity-enabled) .nectar-recent-post-slide {
     position: absolute;
     opacity: 0;
}
 .nectar-recent-posts-slider .nectar-recent-posts-slider-inner:not(.flickity-enabled) > .nectar-recent-post-slide:first-child {
     position: relative;
     opacity: 1;
}
 .nectar-recent-posts-slider .nectar-recent-posts-slider-inner:not(.flickity-enabled) .inner-wrap {
     position: relative;
     -webkit-transform: none;
     transform: none;
}
 .nectar-recent-posts-slider .nectar-recent-posts-slider-inner:not(.flickity-enabled) .recent-post-container {
     padding-bottom: 100px;
     padding-top: 100px;
}
 .nectar-recent-post-slide .nectar-recent-post-bg, 
 .nectar-recent-posts-slider_multiple_visible .nectar-recent-post-slide .nectar-recent-post-bg-wrap, 
 .nectar-recent-posts-slider_multiple_visible .nectar-recent-post-slide .nectar-recent-post-bg-blur {
    position:absolute;
     top:0;
     left:0;
     height:100%;
     width:100%;
     background-size:cover;
     background-position:center;
     background-color:#222
}
#ajax-content-wrap .nectar-recent-post-slide .nectar-recent-post-bg[data-nectar-img-src] {
	opacity: 0;
}
#ajax-content-wrap .nectar-recent-post-slide .nectar-recent-post-bg.loaded {
  -webkit-transition: opacity 0.55s ease 0.25s;
  transition: opacity 0.55s ease 0.25s;
}

#ajax-content-wrap .nectar-recent-posts-slider_multiple_visible .flickity-viewport .nectar-recent-post-bg.loaded {
  -webkit-transition: transform .28s ease, opacity 0.55s ease 0.25s;
  transition: transform .28s ease, opacity 0.55s ease 0.25s;
}

 .nectar-recent-post-slide .row-bg {
     background-color: #222;
}
 .nectar-recent-posts-single_featured .nectar-recent-post-slide .nectar-recent-post-bg:after {
     background-color: rgba(2,2,2,0.43);
}
 .nectar-recent-posts-single_featured.multiple_featured .nectar-recent-post-slide .row-bg {
     z-index: 0;
}
 .nectar-recent-posts-single_featured[data-bg-overlay="diagonal_gradient"] .nectar-recent-post-slide .nectar-recent-post-bg:after {
     background-color: transparent;
}
 .nectar-recent-posts-single_featured[data-bg-overlay="diagonal_gradient"] .nectar-recent-post-slide:after {
     background: linear-gradient(to right top, rgba(10,10,10,0.9), transparent);
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     content: '';
     z-index: 1;
}
 .nectar-recent-posts-slider .container .strong{
    font-size:12px;
     font-family:'Open Sans';
     font-weight:700;
     letter-spacing:2px;
     text-transform:uppercase;
     margin-bottom:15px;
     color:#fff;
     position:relative;
     display:block;
     line-height:12px
}
 .nectar-recent-posts-slider .container .strong a{
    color:#fff;
     margin-left:15px
}
 .nectar-recent-posts-slider .container .strong a:hover span:before{
    width:100%;
     height:20px;
     top:-4px
}
 .nectar-recent-posts-slider .container .strong a:first-child{
    margin-left:0
}

 .nectar-recent-posts-slider .container .strong span{
    display:inline-block;
    position:relative;
    padding-left:13px;
    padding-right:10px;
    z-index:10
}

 .nectar-recent-posts-slider .container .strong span:before{
    display:block;
    content:' ';
    height:11px;
    margin-right:4px;
    position:absolute;
    left:0;
    top:0px;
    width:3px;
    transition:all .3s cubic-bezier(.175,.885,.32,1.1);
    -webkit-transition:all .3s cubic-bezier(.175,.885,.32,1.1);
    z-index:-1
}

 .nectar-recent-post-content{
    position:absolute;
     color:#fff;
     z-index:20;
     width:100%;
     height:100%;
     top:0;
     left:0;
     pointer-events:none
}
 .wpb_row:not(.full-width-content) .wpb_column:not(.vc_col-sm-12) .nectar-recent-posts-slider .container{
    padding:0!important
}
 .wpb_row:not(.full-width-content) .wpb_column:not(.vc_col-sm-12) .nectar-recent-posts-slider .inner-wrap{
    max-width:none!important;
     padding:10px 15%!important;
     left:0
}
 .nectar-recent-posts-slider .container{
    height:100%;
     pointer-events:none
}
 .nectar-recent-posts-slider .inner-wrap{
    top:50%;
     position:absolute;
     left:auto;
     max-width:50%;
     width:auto;
     pointer-events:all;
     transform:translateY(-50%);
     -webkit-transform:translateY(-50%);
     transition:all 0.3s linear;
     display:inline-block;
     z-index:100
}
 .nectar-recent-posts-slider h2 a, .nectar-recent-posts-slider_multiple_visible h3 a{
    transition:color 0.16s ease;
     -webkit-transition:color 0.16s ease
}
 .nectar-recent-posts-single_featured {
     overflow: hidden;
     position: relative;
}
 .nectar-recent-posts-single_featured .nectar-recent-post-slide {
     position: relative;
     overflow: hidden;
}
 .nectar-recent-posts-single_featured.multiple_featured .nectar-recent-post-slide {
     transition: opacity .3s ease;
     opacity: 0;
}
 .nectar-recent-posts-single_featured.multiple_featured .nectar-recent-post-slide.active {
     opacity: 1;
}
 .nectar-recent-posts-single_featured.multiple_featured:not(.js-loaded) .nectar-recent-post-slide:not(:first-child), 
 .nectar-recent-posts-single_featured.multiple_featured.js-loaded .nectar-recent-post-slide:not(.tallest) {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
 .nectar-recent-posts-single_featured .recent-post-container {
     z-index: 10;
     position: relative;
}
 .nectar-recent-posts-single_featured[data-padding="20%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="20%"] .recent-post-container {
     padding-top: 20%;
     padding-bottom: 20%;
}
 .nectar-recent-posts-single_featured[data-padding="18%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="18%"] .recent-post-container {
     padding-top: 18%;
     padding-bottom: 18%;
}
 .nectar-recent-posts-single_featured[data-padding="16%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="16%"] .recent-post-container {
     padding-top: 16%;
     padding-bottom: 16%;
}
 .nectar-recent-posts-single_featured[data-padding="14%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="14%"] .recent-post-container {
     padding-top: 14%;
     padding-bottom: 14%;
}
 .nectar-recent-posts-single_featured[data-padding="12%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="12%"] .recent-post-container {
     padding-top: 12%;
     padding-bottom: 12%;
}
 .nectar-recent-posts-single_featured[data-padding="10%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="10%"] .recent-post-container {
     padding-top: 10%;
     padding-bottom: 10%;
}
 .nectar-recent-posts-single_featured[data-padding="8%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="8%"] .recent-post-container {
     padding-top: 8%;
     padding-bottom: 8%;
}
 .nectar-recent-posts-single_featured[data-padding="6%"] .recent-post-container, 
 #boxed .nectar-recent-posts-single_featured[data-padding="6%"] .recent-post-container {
     padding-top: 6%;
     padding-bottom: 6%;
}
 @media only screen and (max-width: 999px) {
     .nectar-recent-posts-single_featured .recent-post-container, 
     .nectar-recent-posts-single_featured.multiple_featured > .container {
         padding-left: 50px;
         padding-right: 50px;
    }
     .full-width-content .vc_col-sm-12 .nectar-recent-posts-single_featured .recent-post-container, 
     .full-width-content .vc_col-sm-12 .nectar-recent-posts-single_featured.multiple_featured > .container {
         padding-left: 0px;
         padding-right: 0px;
    }
}
 .nectar-recent-posts-single_featured .nectar-button {
     opacity: 1;
     margin-bottom: 0;
}
 .nectar-recent-posts-single_featured .recent-post-container .excerpt {
     margin-bottom: 45px;
     width: 75%;
}
 .nectar-recent-posts-single_featured h2 {
     margin: 15px 0 50px 0;
}
 .nectar-recent-posts-single_featured .inner-wrap {
     width: 45%;
}
 .vc_col-sm-9 .nectar-recent-posts-single_featured .inner-wrap, 
 .vc_col-sm-8 .nectar-recent-posts-single_featured .inner-wrap, 
 .vc_col-sm-6 .nectar-recent-posts-single_featured .inner-wrap, 
 .vc_col-sm-10 .nectar-recent-posts-single_featured .inner-wrap {
     width: 60%;
}
 .vc_col-sm-2 .nectar-recent-posts-single_featured .inner-wrap, 
 .vc_col-sm-3 .nectar-recent-posts-single_featured .inner-wrap, 
 .vc_col-sm-4 .nectar-recent-posts-single_featured .inner-wrap {
     width: 80%;
}
 .nectar-recent-posts-single_featured .inner-wrap .strong a {
     padding: 4px 8px;
     display: inline-block;
     line-height: 20px;
     -webkit-transition: transform .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
     transition: transform .45s cubic-bezier(0.25, 1, 0.33, 1), box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
}
 .nectar-recent-posts-single_featured .inner-wrap .strong a:hover {
     box-shadow: 0 20px 38px rgba(0, 0, 0, 0.16);
     -ms-transform: translateY(-3px);
     transform: translateY(-3px);
     -webkit-transform: translateY(-3px);
}
 .nectar-recent-posts-single_featured.multiple_featured .nectar-recent-post-slide:first-child {
     z-index: 20;
}
 .nectar-recent-posts-single_featured.multiple_featured .recent-post-container {
     z-index: auto;
}
.nectar-recent-posts-single_featured.multiple_featured[data-bg-overlay="diagonal_gradient"] .recent-post-container {
  z-index: 10;
}
 .nectar-recent-posts-single_featured.multiple_featured .recent-post-container h2 a > span {
     position: relative;
     display: inline-block;
     overflow: hidden;
     margin-bottom: -5px;
}
 .nectar-recent-posts-single_featured.multiple_featured .recent-post-container h2 a > span span {
     position: relative;
     display: block;
     -webkit-transform: translate3d(0, 102%, 0);
     transform: translate3d(0,102%, 0);
}
 .nectar-recent-posts-single_featured.multiple_featured .nectar-button {
     transition: none;
}
 .nectar-recent-posts-single_featured.multiple_featured .active .grav-wrap, 
 .nectar-recent-posts-single_featured.multiple_featured .active .recent-post-container h2 a > span span, 
 .nectar-recent-posts-single_featured.multiple_featured .active .nectar-button {
     transition: opacity .85s cubic-bezier(0.4, 0, 0.1, 1) 0.2s, transform .85s cubic-bezier(0.4, 0, 0.1, 1) 0.2s, box-shadow .45s cubic-bezier(0.25, 1, 0.33, 1);
}
 .nectar-recent-posts-single_featured.multiple_featured .grav-wrap, 
 .nectar-recent-posts-single_featured.multiple_featured .nectar-button {
     opacity: 0;
     transform: translateY(40px)
}
 .nectar-recent-posts-single_featured.multiple_featured .active .grav-wrap, 
 .nectar-recent-posts-single_featured.multiple_featured .active .nectar-button {
     opacity: 1;
     transform: translateY(0px)
}
 .nectar-recent-posts-single_featured.multiple_featured .active .recent-post-container h2 a > span span {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
     opacity: 1;
}
 .nectar-recent-posts-single_featured.multiple_featured > .container {
     position: absolute;
     top: 50%;
     left: 50%;
     right: 0;
     transform: translateY(-50%) translateX(-50%);
     z-index: 20;
     text-align: right;
     pointer-events: none;
}
 .nectar-recent-posts-single_featured.multiple_featured > .container .controls {
     display: inline-block;
     text-align: left;
     width: 200px;
     pointer-events: auto;
}

 @media only screen and (min-width: 1000px) {
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] > .container .controls {
         display: block;
         text-align: left;
         width: auto;
         margin-left: 0;
         pointer-events: auto;
    }
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] > .container {
         top: auto;
         right: 0;
         left: 0;
         bottom: 0;
         text-align: left;
         transform: none;
    }
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls li {
         display: inline-block;
    }
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .nectar-recent-post-slide .container {
         margin-bottom: 75px;
    }
     .full-width-content .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="2"] li {
         width: 25%;
         margin-right: 25%;
    }
     .full-width-content .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="3"] li {
         width: 20%;
         margin-right: 18%;
    }
     .full-width-content .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="4"] li {
         width: 17.9%;
         margin-right: 6.9%;
    }
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="2"] li {
         width: 25%;
         margin-right: 25%;
    }
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="3"] li {
         width: 20%;
         margin-right: 20%;
    }
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls[data-num="4"] li {
         width: 18%;
         margin-right: 9%;
    }
     .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls li:last-child, 
     .full-width-content .nectar-recent-posts-single_featured.multiple_featured[data-nav-location="bottom"] .controls li:last-child {
         margin-right: 0;
    }
}

 @media only screen and (max-width: 999px) {
     .nectar-recent-posts-single_featured.multiple_featured .nectar-recent-post-slide .container {
         margin-bottom: 30px;
    }
}

 .nectar-recent-posts-single_featured.multiple_featured .controls li:after, 
 .nectar-recent-posts-single_featured.multiple_featured .controls li:before, 
 .nectar-recent-posts-single_featured.multiple_featured .controls li .color-bar, 
 .nectar-recent-posts-single_featured.multiple_featured .controls li .color-bar:after {
     display: block;
     content: '';
     position: absolute;
     bottom: 0;
     width: 100%;
     background-color: rgba(255,255,255,0.2);
     height: 2px;
     left: 0;
}
 @media only screen and (min-width: 1000px) {
     body .nectar-recent-posts-single_featured.multiple_featured .controls li.active:before {
         background-color: rgba(255,255,255,0.2)!important;
    }
}
 .nectar-recent-posts-single_featured.multiple_featured .controls li:after {
     transform: scaleX(0);
     transform-origin: right;
     transition: transform 1s cubic-bezier(0.4, 0, 0.1, 1);
}
 .nectar-recent-posts-single_featured[data-autorotate="3000"] .controls li.active:after {
     transition: transform 2950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="4000"] .controls li.active:after {
     transition: transform 3950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="5000"] .controls li.active:after {
     transition: transform 4950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="6000"] .controls li.active:after {
     transition: transform 5950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="7000"] .controls li.active:after {
     transition: transform 6950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="8000"] .controls li.active:after {
     transition: transform 7950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="9000"] .controls li.active:after {
     transition: transform 8950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="10000"] .controls li.active:after {
     transition: transform 9950ms linear;
}
 .nectar-recent-posts-single_featured[data-autorotate="11000"] .controls li.active:after {
     transition: transform 10950ms linear;
}
 .nectar-recent-posts-single_featured.multiple_featured .controls li.trans-out:after {
     transition: none;
}
 .nectar-recent-posts-single_featured.multiple_featured .controls li.active:after {
     transform: scaleX(1);
     transform-origin: left;
}
 .nectar-recent-posts-single_featured.multiple_featured .controls li.active .title, 
 .nectar-recent-posts-single_featured.multiple_featured .controls li:hover .title {
     opacity: 1;
}
 .nectar-recent-posts-single_featured.multiple_featured .controls li {
     margin:50px 0px;
     padding: 10px 0;
     position: relative;
     cursor: pointer;
     display: block;
}
 .nectar-recent-posts-single_featured.multiple_featured .controls li .title {
     transition: opacity .2s ease;
     opacity: 0.65;
     line-height: 22px;
     font-size: 16px;
     display: block;
}
 body[data-button-style*="slightly_rounded"] .nectar-recent-posts-single_featured .inner-wrap .strong a {
     border-radius: 5px;
}
 body[data-button-style^="rounded"] .nectar-recent-posts-single_featured .inner-wrap .strong a {
     border-radius: 50px;
     padding: 4px 12px 
}
 .nectar-recent-posts-slider h2 a, 
 .nectar-recent-posts-slider_multiple_visible h3 a, 
 .nectar-recent-posts-slider_multiple_visible .recent-post-container.container .strong a {
    color:#fff
}
.nectar-recent-posts-slider h2 a:hover{
   color:rgba(255,255,255,0.8)
}
 .nectar-recent-posts-single_featured .grav-wrap .text, 
 [data-style="list_featured_first_row"] .grav-wrap .text {
     display:inline-block;
     font-size: 16px;
     line-height: 20px 
}
 .nectar-recent-posts-single_featured .grav-wrap .text a {
     position: relative;
}
 .nectar-recent-posts-single_featured .grav-wrap .text a:before {
     background-color: #fff;
}
 .nectar-recent-posts-single_featured h2, 
 .nectar-recent-posts-single_featured a, 
 .nectar-recent-posts-single_featured .controls li, 
 .nectar-recent-posts-single_featured .inner-wrap {
     color: #fff;
}
 .blog-recent[data-style="list_featured_first_row"] a.small {
     width: 80px;
     height: 100%;
     margin-right: 30px;
     line-height: 0;
     position: relative;
}
 .blog-recent[data-style="list_featured_first_row"] a.small .img-thumbnail {
   width: 100%;
   height: 100%;
   background-size: cover;
   display: block;
 }
 
.blog-recent[data-style="list_featured_first_row"] .featured .img-thumbnail {
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-bottom: 65%;
  display: block;
}

.blog-recent[data-style="list_featured_first_row"] .meta-category {
     position: relative;
     z-index: 30;
}
 .blog-recent[data-style="list_featured_first_row"] .small img, 
 .blog-recent[data-style="list_featured_first_row"] a.small .img-thumbnail,
 .blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small {
     border-radius: 5px;
     -webkit-transition: transform .7s cubic-bezier(.2,1,.22,1), box-shadow .7s cubic-bezier(.2,1,.22,1), opacity 0.55s ease 0.25s; 
     transition: transform .7s cubic-bezier(.2,1,.22,1), box-shadow .7s cubic-bezier(.2,1,.22,1), opacity 0.55s ease 0.25s; 
}
 .blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small {
     background-color:rgba(0,0,0,0.35);
     border-radius: 5px;
}
 .span_12.light .blog-recent[data-style="list_featured_first_row"] .excerpt {
     opacity: 0.7;
}
 .blog-recent[data-style="list_featured_first_row"] .full-post-link {
     position: absolute;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     display: block;
     z-index: 20;
}
 .blog-recent[data-style="list_featured_first_row"] .col.span_3 a.small {
     width: 60px;
     height: 60px;
}
 .blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small, 
 .blog-recent[data-style="list_featured_first_row"] .col.span_6 a.small {
     width: 80px;
     height: 80px;
}
 @media only screen and (min-width: 1300px) {
     .blog-recent[data-style="list_featured_first_row"] .col.span_6 a.small {
         width: 100px;
         height: 100px;
    }
}
 .vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small, 
 .vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small, 
 .vc_col-sm-6 .blog-recent[data-style="list_featured_first_row"] .col.span_4 a.small {
     width: 65px;
     height: 65px;
     margin-right: 22px;
}
 .vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small, 
 .vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small, 
 .vc_col-sm-6 .blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small {
     padding-right: 0px;
}
 .blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small:after {
     display: block;
     width: 20px;
     height: 20px;
     border-radius: 5px;
     text-align: center;
     margin-right: 3%;
     position: absolute;
     left: 50%;
     top: 50%;
     color: #fff;
     -webkit-transform: translateY(-50%) translateX(-50%);
     transform: translateY(-50%) translateX(-50%);
     font: normal normal normal 18px/20px FontAwesome;
     content: "\f03e";
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
}
 @media only screen and (min-width: 1000px) {
     .blog-recent[data-style="list_featured_first_row"] .col.span_3 {
         width: 22.6%;
         margin-right: 3%;
    }
     .blog-recent[data-style="list_featured_first_row"] .col.span_4 {
         width: 31.2%;
         margin-right: 3%;
    }
     .blog-recent[data-style="list_featured_first_row"] .col.span_6 {
         width: 47.9%;
         margin-right: 4%;
    }
     .vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_3, 
     .vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_3 {
         width: 22.3%;
         margin-right: 3.5%;
    }
     .vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_4, 
     .vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_4 {
         width: 31%;
         margin-right: 3.4%;
    }
     .vc_col-sm-9 .blog-recent[data-style="list_featured_first_row"] .col.span_6, 
     .vc_col-sm-8 .blog-recent[data-style="list_featured_first_row"] .col.span_6 {
         width: 48.1%;
         margin-right: 3.5%;
    }
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(1), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(2), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(3), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(4), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_4:nth-child(1), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_4:nth-child(2),
    .blog-recent[data-style="list_featured_first_row"] > .col.span_4:nth-child(3), 
    .blog-recent[data-style="list_featured_first_row"] > .col.span_6:nth-child(1), 
    .blog-recent[data-style="list_featured_first_row"] > .col.span_6:nth-child(2) {
         align-self:flex-start;
    }
}
 @media only screen and (max-width: 999px) {
     .row .blog-recent[data-style="list_featured_first_row"] .col {
         margin-right: 0;
    }
}
 .blog-recent[data-style="list_featured_first_row"] {
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-wrap: wrap;
     flex-wrap: wrap;
     width: 100%;
     align-items: center;
}
 @media only screen and (max-width: 999px) and (min-width: 690px) {
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(1), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(2), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(3), 
     .blog-recent[data-style="list_featured_first_row"] > .col.span_3:nth-child(4) {
         vertical-align: top;
    }
     .blog-recent[data-style="list_featured_first_row"] .col.span_3 {
         width: 46.9%!important;
         margin-right: 6%!important;
         padding-right: 0;
         padding-left: 0
    }
     .blog-recent[data-style="list_featured_first_row"] .col.span_3:nth-child(2n+2) {
         margin-right: 0!important;
    }
}
 .blog-recent[data-style="list_featured_first_row"] .col {
     float: none;
}
 .blog-recent[data-style="list_featured_first_row"] .featured .post-featured-img {
     padding-bottom: 145%;
     background-position: center;
     background-size: cover;
}

.blog-recent[data-style="list_featured_first_row"] .featured .img-thumbnail[data-nectar-img-src],
.blog-recent[data-style="list_featured_first_row"] .featured .post-featured-img[data-nectar-img-src],
.blog-recent[data-style="list_featured_first_row"] a.small .img-thumbnail[data-nectar-img-src] {
  opacity: 0;
}

 .full-width-section .blog-recent[data-style="list_featured_first_row"] .featured > img,
 .full-width-section .blog-recent[data-style="list_featured_first_row"] .featured > .img-thumbnail {
     margin-bottom: 25px;
}
 .blog-recent[data-style="list_featured_first_row"] .featured > img, 
 .blog-recent[data-style="list_featured_first_row"] .featured > .img-thumbnail, 
 .blog-recent[data-style="list_featured_first_row"] .featured .post-featured-img {
     display: block;
     margin-bottom: 20px;
     max-width: none;
     width: 100%;
     border-radius: 5px;
     -webkit-transition: transform .7s cubic-bezier(.2,1,.22,1), box-shadow .7s cubic-bezier(.2,1,.22,1), opacity 0.55s ease 0.25s;
     transition: transform .7s cubic-bezier(.2,1,.22,1), box-shadow .7s cubic-bezier(.2,1,.22,1), opacity 0.55s ease 0.25s; 
}
 .blog-recent[data-style="list_featured_first_row"] .featured:hover > img, 
 .blog-recent[data-style="list_featured_first_row"] .small:hover > img,
 .blog-recent[data-style="list_featured_first_row"] .small:hover > .img-thumbnail,  
 .blog-recent[data-style="list_featured_first_row"] .col:not(.has-post-thumbnail) a.small:hover, 
 .blog-recent[data-style="list_featured_first_row"] .col:hover a > img, 
 .blog-recent[data-style="list_featured_first_row"] .col:hover a > .img-thumbnail, 
 .blog-recent[data-style="list_featured_first_row"] .col:hover:not(.has-post-thumbnail) a.small, 
 .blog-recent[data-style="list_featured_first_row"] .col:hover .post-featured-img {
     -webkit-transform: translateY(-4px);
     transform: translateY(-4px);
     box-shadow: 0px 25px 60px rgba(0,0,0,0.17);
}
 .blog-recent[data-style="list_featured_first_row"] .small:hover > img,
 .blog-recent[data-style="list_featured_first_row"] .small:hover > .img-thumbnail {
     -webkit-transform: translateY(-3px);
     transform: translateY(-3px);
}
 .blog-recent[data-style="list_featured_first_row"] .small:hover > img {
     box-shadow: 0px 13px 30px rgba(0,0,0,0.14);
}
 .blog-recent[data-style="list_featured_first_row"] .col.span_4 .post-header.small, 
 .blog-recent[data-style="list_featured_first_row"] .col.span_6 .post-header.small {
     padding-right: 30px;
}
 .blog-recent[data-style="list_featured_first_row"] .post-header h3 a, 
 .blog-recent[data-style="list_featured_first_row"] .post-header h5 a, 
 .home .blog-recent[data-style="list_featured_first_row"] .col .post-header h3 a {
     color: inherit!important;
}
 .blog-recent[data-style="list_featured_first_row"] .post-header.small {
     display: inline-block;
     margin-bottom: 0;
     vertical-align: middle;
     width: calc(100% - 120px);
}
 @media only screen and (min-width: 1300px) {
     .blog-recent[data-style="list_featured_first_row"] .post-header.small {
         width: calc(100% - 140px);
    }
}
 .blog-recent[data-style="list_featured_first_row"] .col.span_3 .post-header.small {
     width: calc(100% - 100px);
}
 .blog-recent[data-style="list_featured_first_row"] .small img {
     margin-bottom: 0;
}
 [data-style="list_featured_first_row"] .meta-category a {
     margin-right: 10px;
     font-size: 14px;
     line-height: 18px;
     position: relative;
}
 [data-style="list_featured_first_row"] .post-header.small .meta-category a {
     font-size: 13px;
}
 .span_12.light [data-style="list_featured_first_row"] .meta-category a {
     color: #fff;
     transition: opacity 0.37s cubic-bezier(0.52, 0.01, 0.16, 1) 
}
 .span_12.light [data-style="list_featured_first_row"] .meta-category a {
     opacity: 0.72;
}
 .span_12.light [data-style="list_featured_first_row"] .meta-category a:hover {
     opacity: 1;
}
 .span_12.light [data-style="list_featured_first_row"] .meta-category a:before {
     background-color: #fff;
}
 .blog-recent[data-style*="classic_enhanced"] .inner-wrap{
    background-color:#fff
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] .inner-wrap{
    background-color:rgba(0,0,0,0.3)
}

.blog-recent[data-style="classic_enhanced"].no-thumbs .inner-wrap:not(.has-post-thumbnail) .article-content-wrap {
     position: relative;
     top: 0;
     -webkit-transform: none;
     transform: none;
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] .article-content-wrap{
    background-color:transparent
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] h3.title, 
 .span_12.light .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] h3.title{
    color:#fff
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] .inner-wrap:not(.has-post-thumbnail) .meta-category a{
    color:rgba(255,255,255,0.6)
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] .inner-wrap:not(.has-post-thumbnail) .meta-category a{
    border:2px solid rgba(255,255,255,0.3)
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] .post-meta a:hover i{
    color:#fff
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] .post-featured-img{
    overflow:hidden
}
 .blog-recent[data-style="classic_enhanced"][data-color-scheme="dark"] .post-meta{
    border-top:1px solid rgba(255,255,255,0.06)
}
 @media only screen and (min-width:1000px){
     .blog-recent[data-style*="classic_enhanced"].columns-3 .span_4, 
     .blog-recent[data-style="material"].columns-3 .span_4{
        width:31.2%;
         margin-right:3%;
         margin-bottom:3%
    }
}

 @media only screen and (min-width:1000px){
     .blog-recent[data-style*="classic_enhanced"].columns-2 .span_6{
        width:48.2%;
         margin-right:3%;
         margin-bottom:3%
    }
}

body .blog-recent[data-style*="classic_enhanced"] .has-post-thumbnail .meta-category a {
    z-index:320
}
 .blog-recent[data-style*="classic_enhanced"] .inner-wrap {
    width:100%;
     padding-bottom:47px
}
 .full-width-section >.span_12.blog-recent[data-style="material"] .col {
     margin-bottom: 30px!important
}
 .blog-recent[data-style="material"] .inner-wrap {
    width:100%;
}
 .blog-recent[data-style*="classic_enhanced"], .blog-recent[data-style="material"]{
     display:-webkit-flex;
     display:flex;
     -webkit-flex-wrap:wrap;
     flex-wrap:wrap;   
}

.single .vc_row-fluid > .blog-recent[data-style*="classic_enhanced"], 
.single .vc_row-fluid > .blog-recent[data-style="material"] {
  margin-right: 0;
  margin-left: 0;
 }
 
 .blog-recent[data-style*="classic_enhanced"] >.col, .blog-recent[data-style="material"] >.col{
     display:-webkit-flex;
     display:flex
}
 .blog-recent[data-style*="classic_enhanced_alt"] .inner-wrap{
    background-color:#444
}
 .blog-recent[data-style*="classic_enhanced_alt"] .has-post-thumbnail .meta-category a, 
 .blog-recent[data-style*="classic_enhanced_alt"] .meta-category a{
    position:relative
}
body .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .article-content-wrap, 
body .blog-recent[data-style*="classic_enhanced_alt"] .inner-wrap:not(.has-post-thumbnail) .article-content-wrap{
    position:relative;
     background-color:transparent;
     left:0;
     top:0;
     -webkit-transform:none;
     transform:none;
     width:100%;
     padding:30% 17%;
     margin-top:20px;
     z-index:100
}
 .recent-posts .post-header a{
    color:#888
}
 .recent-posts .post-header a:hover{
    color:#27CFC3
}
 .recent-posts .post-header .title{
    margin-bottom:1px
}
 .recent-posts .post-header .title a{
    color:#27CFC3
}
 .recent-posts .post-header .title a:hover{
    color:inherit
}
 .recent-posts article.post .post-header a{
    color:#999
}

 @media only screen and (min-width : 1px) and (max-width : 999px) {
   
    .blog-recent[data-style="title_only"] .post-header {
         transform: none;
         -webkit-transform: none;
         top: 0;
    }
     .nectar-recent-posts-single_featured.multiple_featured > .container .controls {
         width: auto;
         margin-left: 0;
         margin-bottom: 10px;
    }
     .nectar-recent-posts-single_featured.multiple_featured .controls li {
         display: inline-block;
         padding: 12px;
         margin: 6px;
    }
     .nectar-recent-posts-single_featured.multiple_featured .controls li:first-child {
         margin-left: -8px;
        ;
    }
     .nectar-recent-posts-single_featured.multiple_featured .controls li .title {
         display: none;
    }
     .nectar-recent-posts-single_featured.multiple_featured .controls li:after {
         display: none;
    }
     .nectar-recent-posts-single_featured.multiple_featured .controls li:before {
         height: 10px;
         width: 10px;
         top: 50%;
         bottom: auto;
         left: 50%;
         border-radius: 10px;
         transform: translateX(-50%) translateY(-50%);
         transition: all 0.3s ease;
    }
     .nectar-recent-posts-single_featured.multiple_featured > .container {
         top: auto;
         text-align: left;
         bottom: 0;
         left: 0;
         right: 0;
         -webkit-transform: translateY(-15%);
         transform: translateY(-15%) 
    }
     .nectar-recent-posts-single_featured .inner-wrap {
         width: 80%;
    }
}
 @media only screen and (max-width : 690px) {
     .nectar-recent-posts-single_featured.multiple_featured .recent-post-container {
         margin-bottom: 40px;
    }
     .nectar-recent-posts-single_featured .grav-wrap > a, 
     .nectar-recent-posts-single_featured .grav-wrap .text > span {
         display: none;
    }
    .nectar-recent-posts-single_featured .inner-wrap {
         width: 100%!important;
    }
    .blog-recent[data-style*="classic_enhanced"] .post .post-meta {
      display: block;
    }
}
 @media only screen and (min-width : 690px) and (max-width : 999px) {
     .row .blog-recent[data-style="list_featured_first_row"].columns-3 .col:first-child .post-featured-img {
         padding-bottom: 50%;
    }
     .row .blog-recent[data-style="list_featured_first_row"].columns-3 .col:not(:first-child), 
     .row .blog-recent[data-style="list_featured_first_row"].columns-2 .col {
         width: 48%;
         margin-right: 4%!important;
    }
     .row .blog-recent[data-style="list_featured_first_row"].columns-3 .col:nth-child(2n+3), 
     .row .blog-recent[data-style="list_featured_first_row"].columns-2 .col:nth-child(2n+2) {
         margin-right: 0!important;
    }
     .row .blog-recent[data-style="list_featured_first_row"].columns-3 .col:nth-child(2), 
     .row .blog-recent[data-style="list_featured_first_row"].columns-3 .col:nth-child(3), 
     .row .blog-recent[data-style="list_featured_first_row"].columns-2 .col:nth-child(1), 
     .row .blog-recent[data-style="list_featured_first_row"].columns-2 .col:nth-child(2) {
         align-self: flex-start;
    }
}
