/*
Theme Name:  Salient
Description: Styles for the "Cascading Images" page builder element.
*/

.nectar_cascading_images{
  position:relative;
  display:block;
}
.nectar_cascading_images .cascading-image {
	pointer-events: none;
}

.nectar_cascading_images.overflow-hidden {
  overflow: hidden;
}

.nectar_cascading_images.forced-aspect .cascading-image:first-child .img-wrap {
  background-size: cover;
  background-position: center;
}
.nectar_cascading_images.forced-aspect .cascading-image:first-child .bg-layer > div {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  padding-bottom: 0;
  position: absolute;
}

.nectar_cascading_images .cascading-image img,
.nectar_cascading_images .cascading-image .img-wrap{
  display:block;
  margin-bottom:0;
  line-height:0
}
.nectar_cascading_images .cascading-image img.nectar-lazy {
	opacity: 0;
	width: 100%;
	transition: opacity 0.5s ease;
}

.cascading-image[data-has-img="false"] .bg-color:not(.calculated) {
	padding-bottom: 60%;
}

.nectar_cascading_images .cascading-image img.nectar-lazy.loaded {
	opacity: 1;
}

.nectar_cascading_images .cascading-image .img-wrap, .nectar_cascading_images .cascading-image .bg-layer > .bg-color {
  display:inline-block
}
.nectar_cascading_images .cascading-image .img-wrap.lazy-enabled:not(.img-loaded) {
	display: block;
}
.nectar_cascading_images .cascading-image,
.nectar_cascading_images .cascading-image .inner-wrap{
  display:inline-block;
  width:100%;
  text-align:center
}
.nectar_cascading_images {
	line-height: 0;
}
.nectar_cascading_images .cascading-image:not(:first-child){
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translateY(-50%) translateX(-50%);
  -webkit-transform:translateY(-50%) translateX(-50%);
  transform:translateY(-50%) translateX(-50%)
}
.nectar_cascading_images.animated-in .cascading-image .inner-wrap{
  -ms-transition:transform 0.7s cubic-bezier(.3,0.95,.3,0.95),opacity 0.3s ease;
  -webkit-transition:-webkit-transform 0.7s cubic-bezier(.3,0.95,.3,0.95),opacity 0.3s ease;
  transition:transform 0.7s cubic-bezier(.3,0.95,.3,0.95),opacity 0.3s ease
}
.nectar_cascading_images.animated-in .cascading-image[data-animation="grow-in-reveal"] .inner-wrap{
  -ms-transition:transform 1.1s cubic-bezier(.3,0.95,.3,0.95),opacity 0.3s ease;
  -webkit-transition:-webkit-transform 1.1s cubic-bezier(.3,0.95,.3,0.95),opacity 0.3s ease;
  transition:transform 1.1s cubic-bezier(.3,0.95,.3,0.95),opacity 0.3s ease
}
.nectar_cascading_images[data-border-radius="3px"] .inner-wrap img,
.nectar_cascading_images[data-border-radius="3px"] .inner-wrap .img-wrap,
.nectar_cascading_images[data-border-radius="3px"] .inner-wrap .bg-color {
  border-radius: 3px;
}
.nectar_cascading_images[data-border-radius="5px"] .inner-wrap img,
.nectar_cascading_images[data-border-radius="5px"] .inner-wrap .img-wrap,
.nectar_cascading_images[data-border-radius="5px"] .inner-wrap .bg-color {
  border-radius: 5px;
}
.nectar_cascading_images[data-border-radius="10px"] .inner-wrap img,
.nectar_cascading_images[data-border-radius="10px"] .inner-wrap .img-wrap,
.nectar_cascading_images[data-border-radius="10px"] .inner-wrap .bg-color {
  border-radius: 10px;
}
.nectar_cascading_images[data-border-radius="15px"] .inner-wrap img,
.nectar_cascading_images[data-border-radius="15px"] .inner-wrap .img-wrap,
.nectar_cascading_images[data-border-radius="15px"] .inner-wrap .bg-color {
  border-radius: 15px;
}
.nectar_cascading_images[data-border-radius="20px"] .inner-wrap img,
.nectar_cascading_images[data-border-radius="20px"] .inner-wrap .img-wrap,
.nectar_cascading_images[data-border-radius="20px"] .inner-wrap .bg-color {
  border-radius: 20px;
}

.cascading-image[data-has-img="true"] .inner-wrap .bg-color {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.nectar_cascading_images .cascading-image[data-max-width="125%"] img {
	max-width: 125%;
	width: auto;
}
.nectar_cascading_images .cascading-image[data-max-width="135%"] img {
	max-width: 135%;
	width: auto;
}
.nectar_cascading_images .cascading-image[data-max-width="150%"] img {
	max-width: 150%;
	width: auto;
}
.nectar_cascading_images .cascading-image[data-max-width="175%"] img {
	max-width: 175%;
	width: auto;
}
.nectar_cascading_images .cascading-image[data-max-width="200%"] img {
	max-width: 200%;
	width: auto;
}


@media only screen and (max-width: 1000px) {

	.nectar_cascading_images .cascading-image[data-max-width-mobile="100%"] img {
		max-width: 100%;
		width: auto;
	}
	.nectar_cascading_images .cascading-image[data-max-width-mobile="125%"] img {
		max-width: 125%;
		width: auto;
	}
	.nectar_cascading_images .cascading-image[data-max-width-mobile="135%"] img {
		max-width: 135%;
		width: auto;
	}
	.nectar_cascading_images .cascading-image[data-max-width-mobile="150%"] img {
		max-width: 150%;
		width: auto;
	}
	.nectar_cascading_images .cascading-image[data-max-width-mobile="175%"] img {
		max-width: 175%;
		width: auto;
	}
	.nectar_cascading_images .cascading-image[data-max-width-mobile="200%"] img {
		max-width: 200%;
		width: auto;
	}
}


@media all and (-ms-high-contrast:none){
  *::-ms-backdrop,.row .nectar_cascading_images .cascading-image img:not([srcset]){
    width:100%
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .row .nectar_cascading_images .cascading-image img:not([srcset]){
    width:100%
  }
	.nectar_cascading_images .cascading-image .img-wrap {
	  max-width: 100%;
	}
}

.nectar_cascading_images .cascading-image[data-animation="grow-in"] .inner-wrap{
  -webkit-transform:scale(0.75);
	transform:scale(0.75);
}
.nectar_cascading_images .cascading-image[data-animation="grow-in-reveal"] .inner-wrap {
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
}
.nectar_cascading_images .cascading-image[data-animation="grow-in-reveal"] .inner-wrap .img-wrap {
		overflow: hidden;
}
.nectar_cascading_images .cascading-image[data-animation="grow-in-reveal"] .inner-wrap img {
	-webkit-transform: scale(1.7);
	transform: scale(1.7);
	transition: transform 1.1s cubic-bezier(.3,0.95,.3,0.95);
  -webkit-transition: transform 1.1s cubic-bezier(.3,0.95,.3,0.95);
}
.nectar_cascading_images .cascading-image[data-animation="flip-in"] .inner-wrap{
  transform: rotateY(25deg);
  -webkit-transform:rotateY(25deg);
}
.nectar_cascading_images .cascading-image[data-animation="fade-in-from-left"] .inner-wrap{
  transform:translateX(-60px);
  -webkit-transform:translateX(-60px);
}
.nectar_cascading_images .cascading-image[data-animation="fade-in-from-right"] .inner-wrap{
  transform:translateX(60px);
  -webkit-transform:translateX(60px);
}
.nectar_cascading_images .cascading-image[data-animation="fade-in-from-bottom"] .inner-wrap{
  transform:translateY(60px);
  -webkit-transform:translateY(60px);
}
