/*
Theme Name:  Salient
Description: Styles for the "Animated Title" page builder element.
*/

.nectar-animated-title, 
body .wpb_wrapper > .nectar-animated-title {
  margin-bottom:0
}
.nectar-animated-title-inner{
  display:inline-block;
  overflow:hidden;
  position:relative;
  margin-bottom:10px;
	transform: translateZ(0);
}
.nectar-animated-title h6{
  padding:5px 10px
}
.nectar-animated-title h5{
  padding:6px 12px
}
.nectar-animated-title h4{
  padding:7px 14px
}
.nectar-animated-title h3{
  padding:8px 16px
}
.nectar-animated-title h2{
  padding:10px 20px
}
.nectar-animated-title h1{
  padding:15px 30px
}
.nectar-animated-title .nectar-animated-title-inner .wrap >*{
  margin-bottom:0;
  position:relative;
  z-index:100;
  color:#fff
}
.nectar-animated-title .nectar-animated-title-inner:after{
  display:block;
  background-color:#000;
  content:' ';
  position:absolute;
  z-index:10;
  top:0;
  left:0;
  width:100%;
  height:100%
}
.nectar-animated-title .nectar-animated-title-outer{
  display:inline-block
}
.nectar-animated-title[data-style="hinge-drop"] .nectar-animated-title-outer{
  perspective:1000px
}
.nectar-animated-title[data-style="hinge-drop"] .nectar-animated-title-inner{
  -ms-transform:rotateX(-90deg) translateZ(0);
  -webkit-transform:rotateX(-90deg) translateZ(0);
  transform:rotateX(-90deg) translateZ(0);
  -ms-transform-origin:0px 0px 0px;
  -webkit-transform-origin:0px 0px 0px;
  transform-origin:0px 0px 0px;
  opacity:0;
  box-shadow:rgba(0,0,0,0.13) 0px 6px 20px
}
.nectar-animated-title[data-style="hinge-drop"].completed .nectar-animated-title-inner{
  -ms-transform:rotateX(0deg) translateZ(0);
  -webkit-transform:rotateX(0deg) translateZ(0);
  transform:rotateX(0deg) translateZ(0);
  opacity:1;
  -ms-transition:transform 1.3s cubic-bezier(0.2,1,0.2,1),opacity 1.3s cubic-bezier(0.2,1,0.2,1);
  transition:transform 1.3s cubic-bezier(0.2,1,0.2,1),opacity 1.3s cubic-bezier(0.2,1,0.2,1);
  -webkit-transition:-webkit-transform 1.3s cubic-bezier(0.2,1,0.2,1),opacity 1.3s cubic-bezier(0.2,1,0.2,1)
}
.nectar-animated-title[data-style="color-strip-reveal"] .nectar-animated-title-inner:after{
  -ms-transform-origin:left;
  -ms-transform:scale(0,1);
  transform-origin:left;
  transform:scale(0,1)
}
.nectar-animated-title[data-style="color-strip-reveal"] .nectar-animated-title-inner .wrap{
  overflow:hidden;
  -ms-transform:translateX(-100%) translateZ(0);
  -webkit-transform:translateX(-100%) translateZ(0);
  transform:translateX(-100%) translateZ(0);
  position:relative;
  z-index:100
}
.nectar-animated-title[data-style="color-strip-reveal"] .nectar-animated-title-inner .wrap *{
  -ms-transform:translateX(100%) translateZ(0);
  -webkit-transform:translateX(100%) translateZ(0);
  transform:translateX(100%) translateZ(0);
  display:block
}
.nectar-animated-title[data-style="color-strip-reveal"].completed .nectar-animated-title-inner .wrap, 
.nectar-animated-title[data-style="color-strip-reveal"].completed .nectar-animated-title-inner .wrap *{
  -ms-transform:translateX(0%) translateZ(0);
  -webkit-transform:translateX(0%) translateZ(0);
  transform:translateX(0%) translateZ(0);
  -ms-transition:transform 0.7s cubic-bezier(0.85,0,0.12,1);
  -webkit-transition:-webkit-transform 0.7s cubic-bezier(0.85,0,0.12,1);
  transition:transform 0.7s cubic-bezier(0.85,0,0.12,1)
}
.nectar-animated-title[data-style="color-strip-reveal"].completed .nectar-animated-title-inner:after{
  -webkit-animation:colorStripReveal 0.7s cubic-bezier(0.85,0,0.12,1) forwards;
  animation:colorStripReveal 0.7s cubic-bezier(0.85,0,0.12,1) forwards
}
@keyframes colorStripReveal{
  0%{
    transform:scale(0,1) translateZ(0)
  }
  100%{
    transform:scale(1,1) translateZ(0)
  }
}
