/*
Theme Name:  Salient
Description: Styles for the "Rotating Words Title" page builder element.
*/


.nectar-rotating-words-title .beginning-text,
.nectar-rotating-words-title .ending-text,
.nectar-rotating-words-title .dynamic-words {
  line-height: 1.2;
  display: inline;
}

.nectar-rotating-words-title .dynamic-words > span:not(.active) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 0;
  top: 0;
}


.nectar-rotating-words-title .beginning-text,
.nectar-rotating-words-title .ending-text,
.nectar-rotating-words-title .dynamic-words {
  vertical-align: middle;
}


.nectar-rotating-words-title:not(.element_stagger_words) .heading {
  line-height: 1;
}


.nectar-rotating-words-title .dynamic-words {
  position: relative;
  transition: width 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  font-size: inherit!important;
  line-height: inherit!important;
  display: inline-block;
}

.nectar-rotating-words-title .dynamic-words span {
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  display: block;
  line-height: 1.2;
  white-space: nowrap;
}

.nectar-rotating-words-title .dynamic-words > span {
  overflow: hidden;
  transform: translate3d(-100%,0,0);
}

.nectar-rotating-words-title .dynamic-words > span span span {
  transform: translate3d(100%,0,0);
  margin: 0 1px;
}

.nectar-rotating-words-title .dynamic-words span.active,
.nectar-rotating-words-title .dynamic-words span.active span span {
  transition-delay: 0.4s;
  transform: translate3d(0,0,0);
}

/* Element Animations */
.nectar-rotating-words-title.element_stagger_words:not(.markup-generated) {
  opacity: 0;
}

.nectar-rotating-words-title.element_stagger_words .text-wrap {
  overflow: hidden;
  display: inline-block;
}

.nectar-rotating-words-title.element_stagger_words .text-wrap > span {
  transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
  transform: translate3d(0, 1.2em, 0);
}

.nectar-rotating-words-title.element_stagger_words .text-wrap > span {
  display: block;
  vertical-align: middle;
}

.nectar-rotating-words-title.element_stagger_words .beginning-text,
.nectar-rotating-words-title.element_stagger_words .ending-text {
  display: inline-block;
  font-size: inherit;
  line-height: inherit;
}

.nectar-rotating-words-title.element_stagger_words .heading {
  line-height: 0.8;
}
.nectar-rotating-words-title.element_stagger_words .beginning-text span,
.nectar-rotating-words-title.element_stagger_words .ending-text span,
.nectar-rotating-words-title.element_stagger_words .dynamic-words span {
  line-height: 1.2;
}


@media only screen and (max-width: 690px) {
  .nectar-rotating-words-title[data-mobile="stacked"] .beginning-text,
  .nectar-rotating-words-title[data-mobile="stacked"] .ending-text {
    display: block;
  }
}



