/*
Theme Name:  Salient
Description: Styles for the "Salient Widgets" plugin.
*/

.nectar_widget[class*="nectar_blog_posts_"] > li, 
.ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"] li, 
#sidebar div .nectar_widget[class*="nectar_blog_posts_"] li {
  counter-increment: step-counter;
  position: relative;
  min-height: 40px;
  border-bottom: 0;
  line-height: 40px;
}

#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li, 
.ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] li, 
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] li {
  margin-bottom: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 25px;
  transition: border-color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  overflow: hidden;
}

#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li {
  padding: 20px;
  border: 1px solid rgba(255,255,255,0.15)!important;
}

#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li:first-child,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li:first-child, 
#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li:hover,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > .has-img:hover, 
.ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] li:hover, 
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] .has-img:hover {
  border-color: transparent!important;
}

#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"] > li .post-date {
  color: rgba(0,0,0,1);
  -webkit-transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
}

.widget .nectar_widget[class*="nectar_blog_posts_"] > li:last-child {
  margin-bottom: 0;
}

.widget .nectar_widget[class*="nectar_blog_posts_"] > li a, 
.ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"] > li a, 
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"] > li a {
  display: block;
  line-height: 26px;
  vertical-align: middle;
}
.widget-area-active .widget .nectar_widget[data-style="minimal-counter"] > li a,
.widget-area-active .widget .nectar_widget[data-style="hover-featured-image"] > li a,
.widget-area-active .widget .nectar_widget[data-style="hover-featured-image-gradient-and-counter"] > li a {
  position: static!important;
}

.widget .nectar_widget[class*="nectar_blog_posts_"] > li a, 
.widget .nectar_widget[class*="nectar_blog_posts_"] > li:not(.has-img) .post-title, 
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li .post-title {
  -webkit-transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:not(.has-img) .post-title {
  -webkit-transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:not(.has-img) a {
  -webkit-transition: none;
  transition: none;
}

#footer-outer .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li::before {
  border: 2px solid rgba(255,255,255,0.15);
}

#footer-outer .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child::before,
#footer-outer .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:hover::before {
  border: 2px solid rgba(255,255,255,1);
}

#footer-outer .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="minimal-counter"] > li::before {
  border: 2px solid rgba(255,255,255,0.15);
}

body .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li::before {
  top: auto;
  transform: none;
  -webkit-transform: none;
}

body .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:hover::before,
body .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child::before {
  color: #fff;
  border-color: #fff;
}


body #footer-outer #footer-widgets .row .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li,
 #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li,
.ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li {
  padding-left: 85px!important;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li a .popular-featured-img:after,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child a .popular-featured-img:after,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child a .popular-featured-img:after {
  opacity: 0.7;
}

#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] li:first-child,
#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li:first-child {
  padding-top: 100px!important;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li:first-child,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li:first-child,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] li:first-child,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] li:first-child {
  padding-top: 100px;
}

#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="minimal-counter"] > li,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="minimal-counter"] > li,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="minimal-counter"] > li {
  padding-left: 55px;
  margin-bottom: 25px;
  position: relative;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li .popular-featured-img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  transition: opacity 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  border-radius: 5px;
}

.widget .nectar_widget[class*="nectar_blog_posts_"] > li .post-title,
.widget .nectar_widget[class*="nectar_blog_posts_"] > li .post-date {
  z-index: 10;
  position: relative;
  display: block;
}

body .widget .nectar_widget[class*="nectar_blog_posts_"] > li  .post-title {
  font-size: 16px;
  line-height: 22px;
}

body .widget .nectar_widget[class*="nectar_blog_posts_"] > li .post-date {
  font-size: 13px;
  line-height: 14px;
  margin-top: 6px;
}

#header-outer .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > .has-img a:hover span,
#header-outer .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li:first-child a span,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > .has-img a:hover,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > .has-img a:hover,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li a:hover,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li a:hover,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child a,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child a,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child a,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child a {
  color: #fff;
}

.material .widget [data-style="hover-featured-image-gradient-and-counter"] li:not(.has-img) a:hover .post-title, 
.material #sidebar .widget [data-style="hover-featured-image-gradient-and-counter"] li:not(.has-img) a:hover .post-title,
#footer-outer .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > .has-img a:hover,
#footer-outer .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child a,
#footer-outer .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child a,
#slide-out-widget-area .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > .has-img a:hover span,
#slide-out-widget-area .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li:first-child a span {
  color: #fff!important;
}

#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > .has-img a:hover .post-date,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li a:hover .post-date,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child a .post-date,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child a .post-date,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child a .post-date,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child a .post-date {
  color: rgba(255,255,255,0.75);
}

.widget .nectar_widget[class*="nectar_blog_posts_"] > .has-img:hover {
  border-color: transparent;
}

.widget .nectar_widget[class*="nectar_blog_posts_"] > .has-img a:hover .popular-featured-img,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li a:hover .popular-featured-img,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li:first-child a .popular-featured-img,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child a .popular-featured-img {
  opacity: 1;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li a .popular-featured-img:after {
  position: absolute;
  content: '';
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  border-radius: 5px;
}

.widget .nectar_widget[class*="nectar_blog_posts_"] a:hover .arrow-circle svg circle {
  stroke-dashoffset: 287;
}

.widget .nectar_widget[class*="nectar_blog_posts_"]  .arrow-circle {
  position: absolute;
  width: 36px;
  height: 36px;
  backface-visibility: hidden;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -1px;
  margin-left: -1px;
  -ms-transform-origin: left;
  -webkit-transform-origin: left;
  transform-origin: left;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.widget .nectar_widget[class*="nectar_blog_posts_"] svg {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  backface-visibility: hidden;
  display: block;
}

.widget .nectar_widget[class*="nectar_blog_posts_"] .arrow-circle svg circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 133;
  stroke-dashoffset: 399;
  -ms-transition: all .47s cubic-bezier(.25,0,.2,1);
  -webkit-transition: all .47s cubic-bezier(.25,0,.2,1);
  transition: all .47s cubic-bezier(.25,0,.2,1);
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a .popular-featured-img,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img) a:before,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img):after {
  overflow: hidden;
  border-radius: 5px;
  height: 65px;
  width: 65px;
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 50%;
  z-index: 10;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img) a:before {
  background-color: rgba(0,0,0,0.35);
}

.main-content #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child:not(.has-img),
.main-content #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child:hover:not(.has-img) {
  border: 1px solid #e6e6e6!important;
  padding-top: 25px;
}

.main-content #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child:not(.has-img) .post-date {
  color: rgba(0,0,0,1);
}

#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li:first-child:not(.has-img) a {
  color: inherit;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a .meta-wrap {
  width: calc(100% - 71px);
  padding-left: 25px;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li {
  min-height: 55px;
  padding-top: 0;
  padding-bottom: 0;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a .popular-featured-img img {
  width: 100%;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li,
#sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li {
  margin-bottom: 28px;
}

#footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li {
  margin-bottom: 15px;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img) a:before,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a .popular-featured-img,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a .meta-wrap {
  position: relative;
  -webkit-transform: none;
  transform: none;
  top: 0;
  display: inline-block;
  vertical-align: middle;
}



.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="minimal-counter"] > li::before,
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li::before {
  content: counter(step-counter);
  margin-right: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  font-weight: bold;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  line-height: 34px;
  font-size: 12px;
  pointer-events: none;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1), border-color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1), border-color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
}
.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img):after {
  border-radius: 0;
  text-align: center;
  color: #fff;
  font: normal normal normal 18px/60px FontAwesome;
  content: "\f03e";
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li::before {
  left: 25px;
  border-width: 2px;
  z-index: 20;
}

.material #footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="minimal-counter"] > li {
  padding-left: 55px!important;
}
.material #footer-outer #footer-widgets .widget .nectar_widget[class*="nectar_blog_posts_"][data-style*="hover-featured-image"] > li {
  padding: 20px!important;
}

@media only screen and (min-width : 1px) and (max-width : 999px) {
  
  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] > li, 
  .ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] li, 
  #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image"] li {
    padding: 30px;
  }

  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] > li, 
  .ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li, 
  #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="hover-featured-image-gradient-and-counter"] li {
    padding: 30px 30px 30px 80px;
  }

  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a .popular-featured-img, 
  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img):before, 
  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img):after,
  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img) a:before, 
  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img):after {
    width: 80px;
    height: 80px;
  }

  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li, 
  #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li {
    min-height: 80px;
    line-height: 80px;
  }

  .widget .nectar_widget[class*="nectar_blog_posts_"] > li a, 
  .ascend #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"] > li a, 
  #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"] > li a {
    display: inline-block;
  }

  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li:not(.has-img):after {
    line-height: 80px;
  }

  #sidebar .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a, 
  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a {
    display: block;
  }

  .widget .nectar_widget[class*="nectar_blog_posts_"][data-style="featured-image-left"] > li a .meta-wrap {
    width: calc(100% - 90px);
  }
}