/*
Theme Name:  Salient
Description: Theme Skin set to "Ascend" in theme options
*/


.ascend #header-outer[data-full-width="false"] #top nav ul #search-btn >div,
.ascend #header-outer[data-full-width="false"] #top nav ul #nectar-user-account >div,
.ascend #header-outer[data-full-width="false"] #top nav ul .nectar-woo-cart >div,
.ascend #header-outer[data-full-width="false"] #top nav ul .slide-out-widget-area-toggle > div {
  padding-left:19px
}

.ascend .container-wrap,
.ascend .project-title,
.ascend .vc_text_separator div,
.carousel-wrap[data-full-width="true"] .carousel-heading,
.carousel-wrap .left-border,
.carousel-wrap .right-border,
#page-header-wrap,
.page-header-no-bg,
.portfolio-items .col,
.page-template-template-portfolio-php .portfolio-items .col.span_3,
.page-template-template-portfolio-php .portfolio-items .col.span_4 {
    background-color:#f6f6f6
}

#call-to-action .triangle {
    color:#f6f6f6
}

.ascend #footer-outer #footer-widgets .col ul li,
.ascend #sidebar div ul li,
.ascend #sidebar .widget.widget_categories li,
.ascend #sidebar .widget.widget_pages li,
.ascend #sidebar .widget.widget_nav_menu li {
    border:none!important;
    padding:4px 0
}
.ascend #sidebar .widget.widget_categories li,
.ascend #sidebar .widget.widget_pages li,
.ascend #sidebar .widget.widget_nav_menu li,
.ascend #footer-outer .widget.widget_categories li,
.ascend #footer-outer .widget.widget_pages li,
.ascend #footer-outer .widget.widget_nav_menu li,
.ascend #footer-outer #footer-widgets .widget.widget_categories li,
.ascend #footer-outer #footer-widgets .widget.widget_pages li,
.ascend #footer-outer #footer-widgets .widget.widget_nav_menu li {
    padding:4px 0!important
}
.ascend #sidebar .widget.widget_categories li a,
.ascend #sidebar .widget.widget_pages li a,
.ascend #sidebar .widget.widget_nav_menu li a,
.ascend #footer-outer .widget.widget_categories li a,
.ascend #footer-outer .widget.widget_pages li a,
.ascend #footer-outer .widget.widget_nav_menu li a {
    padding:0!important;
    border:none!important
}

.ascend #footer-outer #footer-widgets .col ul li a,
.ascend #sidebar div ul li a {
    display:block
}
.ascend #footer-outer .widget h4,
.ascend #sidebar h4 {
    margin-bottom:12px
}
#sidebar > .theiaStickySidebar .widget,
#sidebar > .inner .widget {
  margin-bottom:50px
}
.ascend #footer-outer #copyright {
    border-top:1px solid rgba(255,255,255,0.1);
    background-color:transparent
}
.ascend #footer-outer[data-using-widget-area="false"] #copyright {
    border:none
}
.nectar-progress-bar span strong {
    padding:4px 0;
    background-color:transparent;
    color:inherit
}
.nectar-progress-bar span strong:after {
    display:none
}
.nectar-progress-bar .bar-wrap {
    background-color:rgba(0,0,0,0.043)
}
.ascend .nectar-progress-bar .bar-wrap,
.ascend .nectar-progress-bar span {
    box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0
}
.ascend .carousel-wrap[data-full-width="false"] .control-wrap {
    right:10px;
    text-align:center
}
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-prev {
    padding-right:10px;
    padding-left:10px;
    margin-right:0
}
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-next {
    padding-left:10px;
    margin-left:0
}
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-prev,
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-next,
.ascend[data-ext-responsive="true"] .carousel-wrap[data-full-width="false"] .control-wrap .carousel-prev,
.ascend[data-ext-responsive="true"] .carousel-wrap[data-full-width="false"] .control-wrap .carousel-next {
    right:0;
    position:relative;
    display:block;
    float:left
}
.ascend .carousel-next,
.ascend .carousel-prev {
    background-color:transparent;
    height:23px;
    width:10px;
    line-height:22px;
    font-size:14px;
    cursor:pointer;
    top:1px;
    transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
    box-sizing:content-box
}
.carousel-wrap .control-wrap .item-count {
    height:23px;
    top:-1px;
    right:-2px;
    line-height:22px;
    letter-spacing:4px;
    position:relative;
    display:block;
    float:left;
    z-index:10;
    cursor:pointer;
    transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1)
}
.ascend [data-full-width="false"] .carousel-next:after,
.ascend [data-full-width="false"] .carousel-prev:after {
    display:block;
    content:' ';
    position:absolute;
    width:24px;
    height:2px;
    background-color:#000;
    top:8px;
    opacity:0;
    left:-4px;
    cursor:pointer;
    transform:translateX(-20px);
    transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1)
}

.ascend .light [data-full-width="false"] .carousel-next:after,
.ascend .light [data-full-width="false"] .carousel-prev:after {
    background-color:#fff
}

.ascend .light .carousel-next i,.ascend .light .carousel-prev i {
    color:#fff
}
.ascend [data-full-width="false"] .carousel-next:after {
    left:5px
}
.ascend [data-full-width="false"] .carousel-next:hover:after {
    opacity:1;
    transform:translateX(-12px)
}
.ascend [data-full-width="false"] .carousel-prev:after {
    transform:translateX(20px)
}
.ascend [data-full-width="false"] .carousel-prev:hover:after {
    opacity:1;
    transform:translateX(0px)
}
.ascend [data-full-width="false"] .carousel-prev:hover i {
    transform:translateX(-18px)
}
.ascend [data-full-width="false"] .carousel-prev.next-hovered,
.ascend [data-full-width="false"] .item-count.next-hovered {
    transform:translateX(-18px)
}
.ascend .carousel-next:hover,
.ascend .carousel-prev:hover {
    background-color:transparent
}
.carousel-wrap[data-full-width="true"] .carousel-prev,
.carousel-wrap[data-full-width="true"] .carousel-next {
    border:none
}
.ascend .carousel-heading .container .carousel-prev {
    right:30px
}
.ascend[data-ext-responsive="true"] .carousel-heading .container .carousel-prev {
    right:40px
}
.ascend .carousel-next i,
.ascend .carousel-prev i {
    color:#000;
    font-size:22px;
    line-height:18px;
    height: 23px;
    transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1)
}
.ascend .carousel-next:hover,
.ascend .carousel-prev:hover {
    border-color:transparent
}
.ascend .light .carousel-next:hover i,
.ascend .light .carousel-prev:hover i {
    color:#fff
}
.ascend .nectar-button.see-through,
body.ascend .nectar-button.see-through,
.ascend .swiper-slide .button a,
body.ascend .nectar-button.see-through-2,
.ascend .nectar-button,
.ascend #to-top {
    border-radius:0;
    box-shadow:none
}
.ascend #header-outer .cart-menu .cart-icon-wrap .icon-salient-cart {
    left:0;
    transition:all .2s linear;
    -webkit-transition:all .2s linear
}

.ascend .icon-salient-cart:before {
    content:"\e606"
}
.ascend #header-outer a.cart-contents .cart-wrap span:before {
    display:none
}

body.ascend #header-outer[data-full-width="false"] #mobile-cart-link .cart-wrap {
    margin-right: 0;
}

body:not([data-header-format="left-header"]).ascend #header-outer .cart-menu .cart-contents {
  display: block;
}

body:not([data-header-format="left-header"]).ascend #header-outer[data-full-width="true"] .cart-menu .cart-contents {
  display: block;
  padding-right:29px;
  padding-left:29px
}

.ascend #header-outer .cart-wrap {
    top:-7px;
}
.ascend #header-outer .cart-menu-wrap {
    right:0
}
#header-outer .cart-wrap {
    font-size:11px
}


.ascend #header-outer #top nav ul .slide-out-widget-area-toggle[data-custom-color="true"] a,
.ascend .slide-out-widget-area-toggle[data-custom-color="true"].mobile-icon a > span {
	height: 22px;
}

.ascend #header-outer[data-full-width="true"] #top nav ul .slide-out-widget-area-toggle {
    padding-top: 0;
    padding-bottom: 0;
}

.ascend #header-outer[data-full-width="true"] #top .slide-out-widget-area-toggle[data-custom-color="true"] > div a:before {
  display: none;
}

.ascend #header-outer[data-full-width="true"][data-cart="true"] #top nav ul .slide-out-widget-area-toggle {
    position:relative;
}

.ascend[data-header-search="false"] #header-outer[data-full-width="true"][data-cart="false"][data-format="centered-menu"] #top nav ul #social-in-menu {
    margin-right:13px
}

.ascend #header-outer[data-full-width="true"] #top nav ul #search-btn a,
.ascend #header-outer[data-full-width="true"] #top nav ul #nectar-user-account a {
    padding-left:25px;
    padding-right:25px
}
.ascend #header-outer[data-full-width="true"] #top nav ul .slide-out-widget-area-toggle a {
    padding-left:28px;
    padding-right:28px
}


body[data-header-color="dark"].ascend #header-outer[data-full-width="true"][data-remove-border="true"] #top nav ul #search-btn a:after,
body[data-header-color="dark"].ascend #header-outer[data-full-width="true"][data-remove-border="true"] #top nav ul #nectar-user-account a:after,
body[data-header-color="dark"].ascend #header-outer[data-full-width="true"][data-remove-border="true"] #top nav ul .slide-out-widget-area-toggle a:after,
body[data-header-color="dark"].ascend #header-outer[data-remove-border="true"] .cart-contents:after,
body[data-header-color="dark"].ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] .cart-contents:after{
   border-left:1px solid rgba(255,255,255,0.15)
}
.ascend[data-header-search="false"] #header-outer[data-full-width="true"][data-format="centered-logo-between-menu"][data-cart="false"] #top nav ul .slide-out-widget-area-toggle a{
   border:none
}

.ascend:not([data-header-format="default"]) #header-outer[data-full-width="true"]:not([data-format="left-header"]) #search-btn,
.ascend[data-header-search="false"]:not([data-header-format="default"]) #header-outer[data-full-width="true"]:not([data-format="left-header"]) #nectar-user-account,
.ascend[data-header-search="false"][data-user-account-button="false"]:not([data-header-format="default"]) #header-outer[data-full-width="true"]:not([data-format="left-header"]) .nectar-woo-cart,
.ascend[data-header-search="false"][data-user-account-button="false"][data-cart="false"]:not([data-header-format="default"]) #header-outer[data-full-width="true"]:not([data-format="left-header"]) .slide-out-widget-area-toggle {
  margin-left: 22px;
}

body.ascend[data-header-format="default"] #header-outer[data-full-width="true"]:not([data-format="left-header"]) #top nav >.buttons{
   margin-left:22px;
}

body.ascend[data-header-format="default"] #header-outer[data-full-width="true"]:not([data-format="left-header"]) #top nav .sf-menu:not(.buttons){
   z-index: 20;
}

body.ascend #header-outer[data-full-width="true"]:not([data-format="left-header"]) #top nav >.buttons{
   margin-right: -28px;
}
body.ascend #header-outer[data-full-width="true"][data-format="menu-left-aligned"][data-has-buttons="no"] #top nav >.buttons,
body.ascend #header-outer[data-full-width="true"][data-format="centered-menu"][data-has-buttons="no"] #top nav >.buttons,
body.ascend #header-outer[data-full-width="true"][data-format="centered-logo-between-menu-alt"][data-has-buttons="no"] #top nav >.buttons{
   margin-right: 0;
}


@media only screen and (max-width: 999px) and (min-width: 690px) {
    body.ascend #slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu.secondary-header-items {
        display: none;
   }
}
@media only screen and (max-width: 690px) {
    body.ascend #header-secondary-outer .nectar-center-text {
        display: none;
   }
    body.ascend #header-secondary-outer {
        display: none;
   }

}

.ascend[data-header-search="false"][data-user-set-ocm="off"] #header-outer[data-format="default"][data-full-width="true"][data-cart="true"] #social-in-menu{
   margin:0 30px 0 30px
}

@media only screen and (min-width:1001px) {

  .ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"] #top nav ul #search-btn a,
  .ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"] #top nav ul #nectar-user-account a,
  .ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"] #top nav ul .slide-out-widget-area-toggle a{
     transition:border-color 0.30s ease;
      -webkit-transition:border-color 0.30s ease
   }

  .ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #search-btn a:after,
  .ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #nectar-user-account a:after,
  .ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul .slide-out-widget-area-toggle a:after,
  .ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] .cart-contents:after{
      border-left:1px solid rgba(255,255,255,0.25);
      display:inline-block;
      content:"";
      width:11px;
      height:20px;
      position:absolute;
      left:-1px;
      opacity:1;
      top:50%;
      margin-top:-10px;
      -webkit-transition:top 0.3s ease-out,margin-top 0.3s ease-out,height 0.3s ease-out,border-color 0.25s ease;
      transition:top 0.3s ease-out,margin-top 0.3s ease-out,height 0.3s ease-out,border-color 0.25s ease
   }
    .ascend[data-header-search="false"] #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"][data-cart="false"] #top nav ul .slide-out-widget-area-toggle a:after{
       display:none
   }
    .ascend[data-header-search="false"] #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"][data-cart="false"][data-has-menu="false"] #top nav ul .slide-out-widget-area-toggle a:after{
       border:none!important
   }
  .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #search-btn a:after,
  .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #nectar-user-account a:after,
  .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul .slide-out-widget-area-toggle a:after,
  .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] .cart-contents:after{
     height:100%;
      color:#000;
      top:0;
      border-left:1px solid rgba(0,0,0,0.07);
      display:inline-block;
      content:"";
      width:11px;
      position:absolute;
      left:-1px;
      -webkit-transition:top 0.3s ease,margin-top 0.3s ease,height 0.3s ease,border-color 0.25s ease;
      transition:top 0.3s ease,margin-top 0.3s ease,height 0.3s ease,border-color 0.25s ease
   }
  .ascend[data-header-search="false"] #header-outer[data-full-width="true"][data-format="centered-logo-between-menu"][data-cart="false"] #top nav ul .slide-out-widget-area-toggle a:after{
      border:none
   }

}

.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"].dark-slide >#top nav ul #search-btn a,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"].dark-slide >#top nav ul #nectar-user-account a,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"].dark-slide >#top nav ul .nectar-woo-cart .cart-contents,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"].dark-slide >#top nav ul .slide-out-widget-area-toggle a,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"].dark-slide .cart-contents:after,
body.ascend #boxed #header-outer.transparent.dark-slide .cart-menu .cart-icon-wrap i,
body.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"].dark-slide #top nav ul #search-btn a:after,
body.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"].dark-slide #top nav ul #nectar-user-account a:after,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"].dark-slide #top nav ul .slide-out-widget-area-toggle a:after {
   border-color:rgba(0,0,0,0.08) !important
}

.ascend #header-outer[data-remove-border="true"][data-transparent-header="true"][data-full-width="true"].transparent.pseudo-data-transparent #top nav ul #search-btn a,
.ascend #header-outer[data-remove-border="true"][data-transparent-header="true"][data-full-width="true"].transparent.pseudo-data-transparent .cart-menu,
.ascend #header-outer[data-remove-border="true"][data-transparent-header="true"][data-full-width="true"].transparent.pseudo-data-transparent #top nav ul .slide-out-widget-area-toggle a{
   border-color:transparent!important
}

.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"] #top nav ul #search-btn a,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"] #top nav ul #nectar-user-account a,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"] #top nav ul .slide-out-widget-area-toggle a,
.ascend #header-outer.transparent[data-transparent-header="true"][data-full-width="true"] #top .nectar-woo-cart .cart-contents {
    border-left:1px solid rgba(255,255,255,0.25)
}

.ascend #header-outer[data-full-width="true"] #top nav ul #search-btn a,
.ascend #header-outer[data-full-width="true"] #top nav ul #nectar-user-account a,
.ascend #header-outer[data-full-width="true"] #top nav ul .slide-out-widget-area-toggle a {
    border-left:1px solid rgba(0,0,0,0.07)
}

.ascend[data-header-color="dark"] #header-outer[data-full-width="true"] #top nav ul #search-btn a,
.ascend[data-header-color="dark"] #header-outer[data-full-width="true"] #top nav ul #nectar-user-account a,
body.ascend[data-header-color="dark"] #header-outer[data-full-width="true"] .cart-contents,
body:not([data-header-format="left-header"]).ascend[data-header-color="dark"] #header-outer[data-full-width="true"] .nectar-woo-cart .cart-contents,
.ascend[data-header-color="dark"] #header-outer[data-full-width="true"] #top nav ul .slide-out-widget-area-toggle a {
    border-left:1px solid rgba(255,255,255,0.13)
}

body:not([data-header-format="left-header"]).ascend #header-outer[data-full-width="true"] .nectar-woo-cart .cart-contents {
    border-left:1px solid rgba(0,0,0,0.07);
}

@media only screen and (min-width: 1000px) {

   .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #search-btn a,
   .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #nectar-user-account a,
   .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul .slide-out-widget-area-toggle a,
   .ascend #header-outer[data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] .nectar-woo-cart .cart-contents {
       border:none
  }
}

#header-outer[data-full-width="true"][data-format="centered-menu"] #top nav >.buttons #social-in-menu {
  margin-right: 15px;
}

@media only screen and (min-width: 1000px) {
  .ascend #header-outer[data-full-width="true"] #top #search-btn > div,
  .ascend #header-outer[data-full-width="true"] #top #nectar-user-account > div,
  .ascend:not([data-header-format="left-header"]) #header-outer[data-full-width="true"] #top .nectar-woo-cart > div,
  .ascend #header-outer[data-full-width="true"] #top .slide-out-widget-area-toggle > div,
  .ascend #header-outer[data-full-width="true"] #top #search-btn > div a,
  .ascend #header-outer[data-full-width="true"] #top #nectar-user-account > div a,
  .ascend:not([data-header-format="left-header"]) #header-outer[data-full-width="true"] #top .nectar-woo-cart > div .cart-menu,
  .ascend:not([data-header-format="left-header"]) #header-outer[data-full-width="true"] #top .nectar-woo-cart > div .cart-contents,
  .ascend #header-outer[data-full-width="true"] #top .slide-out-widget-area-toggle > div a {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
  }
}
.ascend:not([data-header-format="left-header"]) #header-outer[data-full-width="true"] #top .nectar-woo-cart > div .cart-menu {
  padding: 0;
}

.ascend #header-outer[data-full-width="true"] #top nav ul #nectar-user-account > div {
    border:none
}

.ascend #header-outer[data-full-width="true"] #top nav ul #nectar-user-account >div,
.ascend #header-outer[data-full-width="true"] #top nav ul .nectar-woo-cart >div,
.ascend #header-outer[data-full-width="true"] #top nav ul .slide-out-widget-area-toggle > div {
    padding-left: 0;
}

.ascend #header-outer a.cart-contents .cart-wrap span {
    border-radius:99px;
    font:bold 11px/16px Arial;
    padding:0 1px;
    visibility:hidden
}

.ascend #header-outer .first-load a.cart-contents .cart-wrap span {
    visibility:visible;
    animation:.6s ease-in-out .12s normal both 1 bounce_in_animation;
    -webkit-animation:.6s ease-in-out .12s normal both 1 bounce_in_animation
}
.ascend #header-outer .static a.cart-contents span {
    visibility:visible
}
.ascend #header-outer .has_products .cart-menu .cart-icon-wrap .icon-salient-cart {
    transition:all .2s ease;
    -webkit-transition:all .2s ease
}

.ascend #header-outer[data-transparent-header="true"][data-remove-border="false"]:not(.transparent) {
	border-bottom: 0 solid rgba(255,255,255,0);
}

body.ascend #header-outer .nectar-woo-cart .cart-contents {
    background-color:transparent
}
body.ascend #boxed #header-outer .cart-menu {
  background-color:transparent
}

body.ascend #boxed #header-outer .cart-menu-wrap {
    top:0!important;
    box-shadow:none
}

#header-outer .nectar-woo-cart .cart-menu-wrap,
.ascend #header-outer .cart-menu .cart-contents { position: static; }

body.ascend #boxed #header-outer .widget_shopping_cart,
body.ascend.woocommerce #boxed .cart-notification {
    position:absolute!important
}
body.ascend #boxed #header-outer .cart-menu-wrap .cart-menu {
    box-shadow:none
}

body.ascend #top #mobile-cart-link i {
    line-height:20px;
    height: 20px;
    top: 0;
}

body.ascend #search-outer {
    background-color:rgba(255,255,255,0.97);
    height: 100vh;
    position: fixed;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    padding:0;
    z-index:10100;
    top: 0;
}

body.ascend #search-outer #search-box {
    transition: all 0.15s ease;
}
body.ascend #search-outer.small-nav #search-box {
    transition: all 0.32s ease;
}

@media only screen and (min-width: 690px) {
  body.ascend.admin-bar #search-outer {
    top: 32px;
  }
}

#search-box {
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
body[data-header-color="dark"].ascend #search-outer {
  background-color:rgba(0,0,0,0.94);
}
body[data-header-color="dark"].ascend #search-outer #search input[type="text"],
body[data-header-color="dark"].ascend #search-outer #search #close a span {
  color: #fff;
}

body.ascend #search-outer .container {
    height:auto!important;
    float:none;
    width:100%;
    padding:0 40px;
    position:static
}
#header-outer #search {
    position:static!important
}
body.ascend #search-outer #search input[type="text"] {
    color:#000;
    height:auto;
    font-size:80px;
    text-align:center
}
body.ascend #search-outer > #search form {
    width:100%;
    float:none
}
#search-outer > #search form,#search-outer #search .span_12 span {
    opacity:0;
    position:relative
}
#search-outer #search #close {
    position:absolute;
    top: 30px;
    right: 30px
}
.ascend #search-outer #search #close a span:not(.close-line){
    font-size:22px;
}
body.ascend #search-outer #search #close a {
    right:0;
    top:0;
    transition: all .47s cubic-bezier(0.3,1,0.3,0.95);
    -webkit-transition: all .47s cubic-bezier(0.3,1,0.3,0.95)
}
#search-outer #search #close a:hover {
    transform:rotate(90deg) translateZ(0);
    -webkit-transform:rotate(90deg) translateZ(0)
}
#search-outer #search .span_12 span {
    text-align:center;
    display:block;
    color:rgba(0,0,0,0.4);
    margin-top:15px
}

body.ascend #boxed #search-outer {
    width:auto;
    min-width:1200px;
    left:auto
}

@media only screen and (max-width: 1000px) {
  body.ascend #boxed #search-outer {
      min-width:680px;
  }
}

@media only screen and (max-width: 690px) {
  body.ascend #boxed #search-outer {
      min-width:100%;
  }
}

body[data-ext-responsive="false"].ascend #boxed #header-outer[data-full-width="true"] header > .container {
  width:100%;
  max-width: 100%;
}

body.ascend #search-outer #search #close a span {
    color:#000
}
body.ascend #search-outer .ui-widget-content {
    top:90px!important
}
.ascend #search-results .result .bottom-line,.ascend .masonry-blog-item .bottom-line,.ascend .masonry-blog-item .more-link {
    display:none
}
.ascend .masonry-blog-item .inner-wrap,.ascend .masonry-blog-item .mejs-container .mejs-controls {
    box-shadow:none
}
.ascend .masonry-blog-item .post-meta {
    padding:0 18px 18px
}
.ascend .post .nectar-love-wrap {
    line-height:20px
}
.ascend .masonry-blog-item .inner-wrap {
    padding:0
}
.ascend .masonry-blog-item .content-inner .post-featured-img img,
.ascend .masonry-blog-item .more-link,
.ascend .post-area.masonry .post .quote-inner,
.ascend .post-area.masonry .post .link-inner,
.post-area.masonry .post .status-inner,
.post-area.masonry .post .aside-inner {
    margin-bottom:0
}
.ascend .masonry-blog-item .content-inner {
    padding-bottom:0;
    border:0;
    margin-bottom:0
}
.ascend .masonry-blog-item .article-content-wrap {
    padding:16px 18px 18px
}
.ascend .post-area.masonry .post.quote .post-content .post-meta,
.ascend .post-area.masonry .post.link .post-content .post-meta,
.ascend .post-area.masonry .format-status .post-content .post-meta,
.ascend .post-area.masonry .post.format-aside .post-meta {
    display:none!important
}
.ascend .post .content-inner {
    border:none
}
.ascend #author-bio {
    padding-bottom:20px;
    border:none;
    text-align:center
}
.ascend #author-bio img {
    display:block;
    margin:0 auto;
    margin-bottom:15px;
    position:relative
}
.ascend #author-bio h3 span,
.ascend .comments-section .comment-wrap.full-width-section > h3 span {
    display:block;
    margin-bottom:5px;
    line-height:12px;
    font-size:12px;
    text-transform:none
}
.ascend .container-wrap .bottom-meta #author-bio #author-info{
   float:left;
    text-align:left;
    padding-top:10px;
    padding-left:20px!important
}
.ascend .container-wrap #author-bio #author-info {
    width:600px;
    margin:0 auto;
    padding-left:0
}
.ascend .container-wrap #author-bio #author-info p {
    max-width:70%;
    margin:0 auto
}
.ascend #author-bio .nectar-button {
    margin-top:20px
}
.ascend #author-bio .avatar {
    border-radius:100%
}
.ascend .comment-list {
    margin-bottom:0
}
.ascend .comment-list .reply {
    top:7px
}
.ascend .comment-list .reply a {
    color:#000;
    background-color:transparent;
    border-radius:0
}
.ascend .comment-list .reply a:hover {
    color:#fff
}
body.ascend #respond {
    margin-top:80px
}
.ascend h3#comments {
    text-align:center
}
body.ascend .comment-list .comment > div,
body.ascend .comment-list .pingback > div {
    background-color:transparent;
    box-shadow:none;
    padding-left:85px;
    padding-bottom:0;
    padding-top:0;
    margin-top:4em
}
body.ascend .comment-list .comment > div img.avatar,
body.ascend .comment-list .pingback > div img.avatar {
    left:0;
    border-radius:100%;
    top:0
}
.comment-list .comment > div p,
.comment-list .pingback > div p {
    margin-top:30px
}
body.ascend:not(.material) .comment-list .children {
    background-position:left 30px;
    padding-left:40px
}
body:not(.material) .comment-list .children {
    margin-left:26px;
}
.comment-list .says {
    display:none
}
.ascend #reply-title {
    margin-bottom:50px;
    text-align:center
}
.ascend.single-product #reply-title,
.ascend.single-product #commentform .form-submit {
    text-align:left
}
.ascend .comment #reply-title {
    text-align:left
}
.ascend #respond #cancel-comment-reply-link {
    padding-left:15px
}
.ascend .comment-wrap {
    padding-top:0;
    margin-top:0
}
.ascend.single-portfolio .comment-wrap {
    margin-top:30px
}
.ascend .comment-wrap h3#comments {
    padding-top:80px
}
.ascend .comment-wrap {
    border-top: 1px solid transparent;
}
.ascend #author-bio.no-pagination:after,
.ascend .comment-wrap:after, .ascend .comment-list:after {
    margin-left: -50vw;
    left: 50%;
    width: 100vw;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.ascend .comments-section[data-author-bio="false"] .comment-wrap:after {
    border:none
}
.ascend .comment-list {
    padding-bottom:80px;
}
.ascend .comment-list:after {
    border-top: 0;
    top: auto;
    bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.ascend #author-bio.no-pagination.lighter-grey:after,
.ascend .comment-wrap.lighter-grey:after,
.ascend .comment-wrap.lighter-grey .comment-list:after {
    border-color:#ddd
}
.ascend #author-bio {
    padding-top:80px
}
.single-post.ascend #page-header-bg.fullscreen-header,
.single-post #single-below-header.fullscreen-header {
    background-color:#f6f6f6
}
.single-post.ascend #single-below-header.fullscreen-header {
    border-top:1px solid #DDD;
    border-bottom:none!important
}
.tagcloud a,
#header-outer .widget_shopping_cart a.button,
.post .more-link span,
.blog-recent .more-link span,
.flex-direction-nav a,
#pagination span,
#pagination a,
#pagination .next.inactive,
#pagination .prev.inactive,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce .container-wrap nav.woocommerce-pagination ul li span {
    border-radius:0!important
}

.ascend .col.boxed:not(.wpb_column) {
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow:0 1px 1px rgba(0,0,0,0.1);
    -o-box-shadow:0 1px 1px rgba(0,0,0,0.1);
    background-color:#fff;
    padding:25px 15px 15px;
    position:relative;
    -webkit-transition:transform .2s linear,-webkit-box-shadow .2s linear;
    -moz-transition:transform .2s linear,-moz-box-shadow .2s linear;
    transition:transform .2s linear,box-shadow .2s linear;
    top:0
}
.ascend .col.boxed:not(.wpb_column):hover {
    transform:translateY(-4px);
    -webkit-transform:translateY(-4px);
    box-shadow:0 17px 25px rgba(0,0,0,0.13);
    -webkit-box-shadow:0 17px 25px rgba(0,0,0,0.13);
    -moz-box-shadow:0 17px 25px rgba(0,0,0,0.13);
    -o-box-shadow:0 17px 25px rgba(0,0,0,0.13)
}
.ascend .pp_arrow_previous,.ascend .pp_arrow_next,
.ascend .mfp-arrow-right,.ascend .mfp-arrow-left,
.woocommerce .pswp__button--arrow--right, .woocommerce .pswp__button--arrow--left {
    overflow:visible;
    height:40px;
    width:40px;
    border-radius:100px;
    border:2px solid rgba(255,255,255,0.4)
}
.ascend.woocommerce .pswp__button--arrow--right:before,
.ascend.woocommerce .pswp__button--arrow--left:before {
    background-image: none;
    line-height:40px;
    height:40px;
    width: 36px;
}
.mfp-arrow-left:before,
.woocommerce .pswp__button--arrow--left:before {
  transform: translateX(-5px);
}
a.pp_arrow_previous {
    left:30px
}
a.pp_arrow_next {
    right:30px
}
.ascend .pp_arrow_next:hover,.ascend .pp_arrow_previous:hover,
.ascend .mfp-arrow-right:hover,.ascend .mfp-arrow-left:hover,
.woocommerce .pswp__button--arrow--right:hover, .woocommerce .pswp__button--arrow--left:hover {
    border:2px solid rgba(255,255,255,0)
}
body.ascend .pp_arrow_previous .icon-default-style {
    border-radius:0;
    width:20px;
    height:40px;
    line-height:39px;
    font-size:24px;
    font-family:FontAwesome;
    margin-top:0;
    left:-1px;
    transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
body.ascend .mfp-arrow-left,
.woocommerce.ascend .pswp__button--arrow--left {
    height:40px;
    line-height:40px;
    font-size:18px;
    font-family:FontAwesome;
    margin-top:0;
    opacity:1;
    left:40px;
    transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
body.ascend .pp_arrow_next .icon-default-style {
    border-radius:0;
    width:20px;
    line-height:39px;
    height:40px;
    font-size:24px;
    margin-top:0;
    font-family:FontAwesome;
    left:1px;
    transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
body.ascend .mfp-arrow-right,
.woocommerce.ascend .pswp__button--arrow--right {
    line-height:40px;
    height:40px;
    font-size:18px;
    margin-top:0;
    font-family:FontAwesome;
    opacity:1;
    right:40px;
    transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
.ascend .pp_arrow_previous .icon-default-style:after,
.ascend .pp_arrow_next .icon-default-style:after,
.ascend .mfp-arrow-left:after,.ascend .mfp-arrow-right:after,
.woocommerce .pswp__button--arrow--right:after,
.woocommerce .pswp__button--arrow--left:after {
    display:block;
    content:' ';
    position:absolute;
    width:18px;
    height:2px;
    background-color:#fff;
    top:19px;
    opacity:0;
    left:-6px;
    cursor:pointer;
    transform:translateX(-37px);
    transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    pointer-events:none
}
.ascend .mfp-arrow-left:after,
.ascend .mfp-arrow-right:after,
.woocommerce .pswp__button--arrow--right:after,
.woocommerce .pswp__button--arrow--left:after {
    top:16px;
    transform-origin: right;
    opacity: 1;
    transform:translateX(13px) scaleX(0.9);
    -webkit-transform:translateX(13px) scaleX(0.9);
}
.ascend .mfp-arrow-left:after,
.woocommerce .pswp__button--arrow--left:after {
    left:65px;
    opacity: 1;
    transform-origin: left;
    transform:translateX(-54px) scaleX(0.9);
    -webkit-transform:translateX(-54px) scaleX(0.9);
}
.ascend .pp_arrow_previous .icon-default-style:after {
    left:59px
}
.ascend .pp_arrow_previous .icon-default-style:before,.mfp-arrow-left:before,
.woocommerce .pswp__button--arrow--left:before {
    content:"\f104";
    color:#fff
}
.mfp-arrow-left:before, .woocommerce .pswp__button--arrow--left:before {
    top:-3px;
    left:-1px;
    display:block;
    position:relative;
    transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
.ascend .pp_arrow_next .icon-default-style:before, .mfp-arrow-right:before,
.woocommerce .pswp__button--arrow--right:before {
    content:"\f105";
    color:#fff
}
.mfp-arrow-right:before,
.woocommerce .pswp__button--arrow--right:before {
    top:-3px;
    right:-1px;
    display:block;
    transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    position:relative
}
.ascend .pp_arrow_next:hover .icon-default-style:after,.mfp-arrow-right:hover:after,
.woocommerce .pswp__button--arrow--right:hover:after {
    opacity:1;
    transform:translateX(-18px);
    -webkit-transform:translateX(-18px)
}
.mfp-arrow-right:hover:before, .woocommerce .pswp__button--arrow--right:hover:before {
    transform:translateX(9px);
    -webkit-transform:translateX(9px)
}
.mfp-arrow-left:hover:before, .woocommerce .pswp__button--arrow--left:hover:before {
    transform:translateX(-9px);
    -webkit-transform:translateX(-9px)
}
.mfp-arrow-right:hover:after, .woocommerce .pswp__button--arrow--right:hover:after {
  transform:translateX(16px) scaleX(1.2);
  -webkit-transform:translateX(16px) scaleX(1.2);
}
.ascend .pp_arrow_next:hover .icon-default-style {
    transform:translateX(7px);
    -webkit-transform:translateX(7px)
}
.ascend .pp_arrow_previous:hover .icon-default-style:after,
.mfp-arrow-left:hover:after,
.woocommerce .pswp__button--arrow--left:hover:after {
    opacity:1;
    transform:translateX(-51px);
    -webkit-transform:translateX(-51px)
}
.mfp-arrow-left:hover:after, .woocommerce .pswp__button--arrow--left:hover:after {
  transform:translateX(-58px) scaleX(1.2);
  -webkit-transform:translateX(-58px) scaleX(1.2);
}
.ascend .pp_arrow_previous:hover .icon-default-style {
    transform:translateX(-7px);
    -webkit-transform:translateX(-7px)
}
.container-wrap input[type="text"],
.container-wrap textarea,
.container-wrap input[type="email"],
.container-wrap input[type="password"],
.container-wrap input[type="tel"],
.container-wrap input[type="url"],
.container-wrap input[type="search"],
.container-wrap input[type="date"] {
    background-color:transparent;
    border:1px solid #ccc;
    box-shadow:none;
    -webkit-box-shadow:none;
    font-size:16px;
    -o-box-shadow:none;
    padding:16px;
}
.container-wrap input[type="text"]:focus,
.container-wrap textarea:focus,
.container-wrap input[type="email"]:focus,
.container-wrap input[type="password"]:focus,
.container-wrap input[type="tel"]:focus,
.container-wrap input[type="url"]:focus,
.container-wrap input[type="search"]:focus,
.container-wrap input[type="date"]:focus {
    border-color:#999;
}
.ascend #commentform .form-submit {
    text-align:center;
    padding-bottom:50px;
    margin-top:20px
}
.ascend .container-wrap input[type="submit"],
.ascend .container-wrap button[type="submit"],
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    padding:16px!important;
    border-radius:0
}
body[data-button-style="rounded"].ascend .container-wrap input[type="submit"],
body[data-button-style="rounded"].ascend .container-wrap button[type="submit"] {
    padding:16px 23px!important
}
body[data-button-style="rounded"][data-form-submit="see-through"].ascend .container-wrap .widget_search input[type="submit"],
body[data-button-style="rounded"][data-form-submit="see-through"].ascend .container-wrap .widget_search button[type="submit"] {
    padding:12px 23px!important
}
.ascend .woocommerce .actions .button {
    height:auto!important;
    padding:14px!important
}
.ascend .cart .quantity input.plus,
.ascend .cart .quantity input.minus {
    font-weight:400;
    font-size:16px;
}

.ascend .widget_search .search-form input[type=submit],
.ascend .newsletter-widget form input[type=submit] {
    line-height:24px
}
#slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li a .clip-wrap,
#slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a .clip-wrap,
#slide-out-widget-area.slide-out-from-right-hover .inner .widget.widget_nav_menu li a .clip-wrap,
#slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a .clip-wrap {
    display: none;
}

#slide-out-widget-area.slide-out-from-right .off-canvas-menu-container li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.ascend .container-wrap .span_12.light input[type="text"],
.ascend .container-wrap .span_12.light textarea,
.ascend .container-wrap .span_12.light select,
.ascend .container-wrap .span_12.light input[type="email"],
.ascend .container-wrap .span_12.light input[type="password"],
.ascend .container-wrap .span_12.light input[type="tel"],
.ascend .container-wrap .span_12.light input[type="url"],
.ascend .container-wrap .span_12.light input[type="search"],
.ascend .container-wrap .span_12.light input[type="date"],
.span_12.light .select2-container--default .select2-selection--single,
body[data-fancy-form-rcs="1"] .span_12.light .select2-container--default .select2-selection--single {
    border:1px solid rgba(255,255,255,0.6);
    background-color: transparent;
    color:#fff
}
.ascend .container-wrap .span_12.light input[type="text"]:focus,
.ascend .container-wrap .span_12.light textarea:focus,
.ascend .container-wrap .span_12.light select:focus,
.ascend .container-wrap .span_12.light input[type="email"]:focus,
.ascend .container-wrap .span_12.light input[type="password"]:focus,
.ascend .container-wrap .span_12.light input[type="tel"]:focus,
.ascend .container-wrap .span_12.light input[type="url"]:focus,
.ascend .container-wrap .span_12.light input[type="search"]:focus,
.ascend .container-wrap .span_12.light input[type="date"]:focus {
    border:1px solid rgba(255,255,255,0.8)
}
.container-wrap .span_12.light input[type="submit"]:hover {
    background-color:#333;
    opacity:.8
}
.ascend .nectar-button.extra-color-gradient-1,
.ascend .nectar-button.extra-color-gradient-2,
.ascend .nectar-button.see-through-extra-color-gradient-1,
.ascend .nectar-button.see-through-extra-color-gradient-2{
  background-color:transparent!important;
  opacity:1;
  box-shadow:none
}
.nectar-button.extra-color-gradient-1:after,
.nectar-button.extra-color-gradient-2:after,
.nectar-button.see-through-extra-color-gradient-1:after,
.nectar-button.see-through-extra-color-gradient-2:after{
   position:absolute;
    content:' ';
    top:-2%;
    left:-1%;
    width:101.5%;
    height:104%;
    transform-origin:right;
    -webkit-transform-origin:right;
    -ms-transform-origin:right;
    transform:scale(0,1);
    -webkit-transform:scale(0,1);
    -ms-transform:scale(0,1);
    -ms-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
    transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
    -webkit-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
    z-index:-1
}
.nectar-button.see-through-extra-color-gradient-1:after,
.nectar-button.see-through-extra-color-gradient-2:after,
.nectar-button.extra-color-gradient-1:hover:after,
.nectar-button.extra-color-gradient-2:hover:after {
   background-size:225% 100%!important;
    background-position:right!important
}

.nectar-button.see-through-extra-color-gradient-1:hover:after,
.nectar-button.see-through-extra-color-gradient-2:hover:after,
.nectar-button.extra-color-gradient-1:after,
.nectar-button.extra-color-gradient-2:after {
  background-position:left!important;
  background-size:100% 100%!important
}

.nectar-button.see-through-extra-color-gradient-1:hover:after,
.nectar-button.see-through-extra-color-gradient-2:hover:after{
   transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform-origin:left;
    -webkit-transform-origin:left;
    -ms-transform-origin:left;
}

.nectar-button.extra-color-gradient-1:after,
.nectar-button.extra-color-gradient-2:after{
   transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform-origin:left;
    -webkit-transform-origin:left;
    -ms-transform-origin:left;
}

.nectar-button.extra-color-gradient-1:hover:after,
.nectar-button.extra-color-gradient-2:hover:after{
   transform:scale(0,1);
    -webkit-transform:scale(0,1);
    -ms-transform:scale(0,1);
    transform-origin:right;
    -webkit-transform-origin:right;
    -ms-transform-origin:right;
}
.nectar-button.extra-color-gradient-1 .start,
.nectar-button.extra-color-gradient-2 .start,
.nectar-button.extra-color-gradient-1 .hover,
.nectar-button.extra-color-gradient-2 .hover,
.nectar-button.see-through-extra-color-gradient-1 .start,
.nectar-button.see-through-extra-color-gradient-2 .start,
.nectar-button.see-through-extra-color-gradient-1 .hover,
.nectar-button.see-through-extra-color-gradient-2 .hover{
   -ms-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),opacity 0.38s cubic-bezier(.2,0.95,.4,0.95);
    transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),opacity 0.38s cubic-bezier(.2,0.95,.4,0.95);
    -webkit-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),opacity 0.38s cubic-bezier(.2,0.95,.4,0.95)
}
.nectar-button.extra-color-gradient-1 .start,
.nectar-button.extra-color-gradient-2 .start,
.nectar-button.see-through-extra-color-gradient-1 .start,
.nectar-button.see-through-extra-color-gradient-2 .start{
   animation:gradientTextHoverHover 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards;
    display:inline-block
}
.nectar-button.extra-color-gradient-1 .hover,
.nectar-button.extra-color-gradient-2 .hover,
.nectar-button.see-through-extra-color-gradient-1 .hover,
.nectar-button.see-through-extra-color-gradient-2 .hover{
   position:absolute;
    display:inline;
    left:0;
    animation:gradientTextHoverOff 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards;
    text-align:center;
    width:100%;
    opacity:0;
    z-index:0
}
.nectar-button.extra-color-gradient-1:hover .hover,
.nectar-button.extra-color-gradient-2:hover .hover,
.nectar-button.see-through-extra-color-gradient-1:hover .hover,
.nectar-button.see-through-extra-color-gradient-2:hover .hover{
   animation:gradientTextHoverHover 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards
}
.nectar-button.extra-color-gradient-1:hover .start, .nectar-button.extra-color-gradient-2:hover .start,
.nectar-button.see-through-extra-color-gradient-1:hover .start, .nectar-button.see-through-extra-color-gradient-2:hover .start{
   animation:gradientTextHoverOff 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards
}
.nectar-button.see-through-extra-color-gradient-1 .hover, .nectar-button.see-through-extra-color-gradient-2 .hover{
   position:absolute;
    display:inline;
    left:0;
    text-align:center;
    width:100%;
    opacity:0;
    z-index:100
}
.nectar-button.extra-color-gradient-1 .start.loading, .nectar-button.extra-color-gradient-2 .start.loading,
.nectar-button.see-through-extra-color-gradient-1 .start.loading, .nectar-button.see-through-extra-color-gradient-2 .start.loading{
   animation:gradientTextHoverHover 0s
}
.light .nectar-button.extra-color-gradient-1:hover .hover, .light .nectar-button.extra-color-gradient-2:hover .hover,
.light .nectar-button.see-through-extra-color-gradient-1:hover .start, .light .nectar-button.see-through-extra-color-gradient-2:hover .start,
.light .nectar-button.see-through-extra-color-gradient-1 .start, .light .nectar-button.see-through-extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1:hover .hover, div[data-text-color="light"] .nectar-button.extra-color-gradient-2:hover .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .start{
   background:none!important;
    -webkit-background-clip:border-box;
    -webkit-text-fill-color:#fff;
    background-clip:border-box;
}
.light .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start,
.light .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start{
   color:#fff!important
}
.light .nectar-button.see-through-extra-color-gradient-1:hover .start, .light .nectar-button.see-through-extra-color-gradient-2:hover .start,
.light .nectar-button.see-through-extra-color-gradient-1 .start, .light .nectar-button.see-through-extra-color-gradient-2 .start,
.light .nectar-button.extra-color-gradient-1 .start, .light .nectar-button.extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-2 .start{
   opacity:1!important;
    animation:none!important
}
.light .nectar-button.see-through-extra-color-gradient-1 .hover,
.light .nectar-button.see-through-extra-color-gradient-2 .hover,
.light .nectar-button.extra-color-gradient-1 .hover,
.light .nectar-button.extra-color-gradient-2 .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .hover,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1 .hover,
div[data-text-color="light"] .nectar-button.extra-color-gradient-2 .hover{
   opacity:0!important;
    animation:none!important
}
@keyframes gradientTextHoverHover{
    0%{
        transform:translateX(0px);
        opacity:0
   }
    70%{
        opacity:1
   }
    100%{
        transform:translateX(0px)!important;
        opacity:1
   }
}
@keyframes gradientTextHoverOff{
    0%{
        transform:translateX(0px);
        opacity:1
   }
    70%{
        opacity:0
   }
    100%{
        transform:translateX(0px)!important;
        opacity:0
   }
}
.nectar-button.see-through-extra-color-gradient-1.medium.has-icon,
.nectar-button.see-through-extra-color-gradient-2.medium.has-icon,
.nectar-button.extra-color-gradient-1.medium.has-icon,
.nectar-button.extra-color-gradient-2.medium.has-icon{
   padding:7px 30px
}
.nectar-button.see-through-extra-color-gradient-1.large.has-icon,
.nectar-button.see-through-extra-color-gradient-2.large.has-icon,
.nectar-button.extra-color-gradient-1.large.has-icon,
.nectar-button.extra-color-gradient-2.large.has-icon{
   padding:12px 35px
}
.nectar-button.extra-color-gradient-1 i,
.nectar-button.extra-color-gradient-2 i,
.nectar-button.see-through-extra-color-gradient-1 i,
.nectar-button.see-through-extra-color-gradient-2 i{
   opacity:1;
    right:24px;
    background:inherit;
    background-size:500% 100%;
    background-position:right
}
.nectar-button.extra-color-gradient-1.has-icon span,
.nectar-button.extra-color-gradient-2.has-icon span,
.nectar-button.see-through-extra-color-gradient-1.has-icon span,
.nectar-button.see-through-extra-color-gradient-2.has-icon span{
   left:-18px
}
body .nectar-button.extra-color-gradient-1.has-icon:hover span,
body .nectar-button.extra-color-gradient-2.has-icon:hover span,
body .nectar-button.see-through-extra-color-gradient-1.has-icon:hover span,
body .nectar-button.see-through-extra-color-gradient-2.has-icon:hover span,
body .nectar-button.extra-color-gradient-1.has-icon:hover i,
body .nectar-button.extra-color-gradient-2.has-icon:hover i,
body .nectar-button.see-through-extra-color-gradient-1.has-icon:hover i,
body .nectar-button.see-through-extra-color-gradient-2.has-icon:hover i{
   -ms-transform:none;
    transform:none;
    -webkit-transform:none
}
.nectar-button.extra-color-gradient-1.jumbo i,
.nectar-button.extra-color-gradient-2.jumbo i,
.nectar-button.see-through-extra-color-gradient-1.jumbo i,
.nectar-button.see-through-extra-color-gradient-2.jumbo i{
   opacity:1;
    font-size:20px;
    line-height:20px;
    width:20px;
    text-align:center;
    margin-top:-10px
}
.nectar-button.extra-color-gradient-1.extra_jumbo i,
.nectar-button.extra-color-gradient-2.extra_jumbo i,
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo i,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo i{
    width:40px
}
.nectar-button.extra-color-gradient-1.has-icon.extra_jumbo span,
.nectar-button.extra-color-gradient-2.has-icon.extra_jumbo span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.extra_jumbo span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.extra_jumbo span{
   left:-35px
}
.nectar-button.extra-color-gradient-1.has-icon.jumbo span,
.nectar-button.extra-color-gradient-2.has-icon.jumbo span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.jumbo span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.jumbo span{
   left:-16px
}
.nectar-button.extra-color-gradient-1.has-icon.large span,
.nectar-button.extra-color-gradient-2.has-icon.large span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.large span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.large span{
   left:-14px
}
.nectar-button.extra-color-gradient-1.has-icon.medium span,
.nectar-button.extra-color-gradient-2.has-icon.medium span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.medium span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.medium span{
   left:-13px
}
.nectar-button.extra-color-gradient-1.has-icon.small span,
.nectar-button.extra-color-gradient-2.has-icon.small span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.small span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.small span{
   left:-11px
}
.nectar-button.extra-color-gradient-1.jumbo .hover i,
.nectar-button.extra-color-gradient-2.jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-1.jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-2.jumbo .hover i{
   right:8px
}
.nectar-button.extra-color-gradient-1.extra_jumbo .hover i,
.nectar-button.extra-color-gradient-2.extra_jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo .hover i{
   right:8px
}
.nectar-button.extra-color-gradient-1.large .hover i,
 .nectar-button.extra-color-gradient-2.large .hover i,
.nectar-button.see-through-extra-color-gradient-1.large .hover i,
.nectar-button.see-through-extra-color-gradient-2.large .hover i{
   right:5px
}
.nectar-button.extra-color-gradient-1.medium .hover i,
.nectar-button.extra-color-gradient-2.medium .hover i,
.nectar-button.see-through-extra-color-gradient-1.medium .hover i,
.nectar-button.see-through-extra-color-gradient-2.medium .hover i{
   right:0px
}
.nectar-button.extra-color-gradient-1.small .hover i,
.nectar-button.extra-color-gradient-2.small .hover i,
.nectar-button.see-through-extra-color-gradient-1.small .hover i,
.nectar-button.see-through-extra-color-gradient-2.small .hover i{
   right:0px
}
.nectar-button.extra-color-gradient-1.jumbo .start i,
.nectar-button.extra-color-gradient-2.jumbo .start i,
.nectar-button.see-through-extra-color-gradient-1.jumbo .start i,
.nectar-button.see-through-extra-color-gradient-2.jumbo .start i{
   right:-32px
}
.nectar-button.extra-color-gradient-1.extra_jumbo .start i,
.nectar-button.extra-color-gradient-2.extra_jumbo .start i,
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo .start i,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo .start i{
   right:-75px
}
.nectar-button.extra-color-gradient-1.large .start i,
.nectar-button.extra-color-gradient-2.large .start i,
.nectar-button.see-through-extra-color-gradient-1.large .start i,
.nectar-button.see-through-extra-color-gradient-2.large .start i{
   right:-32px
}
.nectar-button.extra-color-gradient-1.medium .start i,
.nectar-button.extra-color-gradient-2.medium .start i,
.nectar-button.see-through-extra-color-gradient-1.medium .start i,
.nectar-button.see-through-extra-color-gradient-2.medium .start i{
   right:-30px
}
.nectar-button.extra-color-gradient-1.small .start i,
.nectar-button.extra-color-gradient-2.small .start i,
.nectar-button.see-through-extra-color-gradient-1.small .start i,
.nectar-button.see-through-extra-color-gradient-2.small .start i{
   right:-30px
}
.nectar-button.see-through-extra-color-gradient-1.small,
.nectar-button.see-through-extra-color-gradient-2.small,
.nectar-button.extra-color-gradient-1.small,
.nectar-button.extra-color-gradient-2.small{
   padding:5px 14px
}
.nectar-button.see-through-extra-color-gradient-1.medium,
.nectar-button.see-through-extra-color-gradient-2.medium,
.nectar-button.extra-color-gradient-1.medium,
.nectar-button.extra-color-gradient-2.medium{
   border-width:3px;
    padding:7px 15px
}
.nectar-button.see-through-extra-color-gradient-1.large,
.nectar-button.see-through-extra-color-gradient-2.large,
.nectar-button.extra-color-gradient-1.large,
.nectar-button.extra-color-gradient-2.large{
   border-width:3px;
    padding:12px 22px
}
.nectar-button.see-through-extra-color-gradient-1.jumbo,
.nectar-button.see-through-extra-color-gradient-2.jumbo,
.nectar-button.extra-color-gradient-1.jumbo,
.nectar-button.extra-color-gradient-2.jumbo{
   border-width:4px;
    padding:21px 40px
}
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo,
.nectar-button.extra-color-gradient-1.extra_jumbo,
.nectar-button.extra-color-gradient-2.extra_jumbo{
   border-width:10px;
    padding:56px 90px
}
.nectar-button.extra-color-gradient-1 span,
.nectar-button.extra-color-gradient-2 span,
.nectar-button.see-through-extra-color-gradient-1 span,
.nectar-button.see-through-extra-color-gradient-2 span{
   z-index:100
}

@media only screen and (max-width: 1000px) {
  #search-box {
    -webkit-transform: none;
    transform: none;
    top: 20%;
  }
  body.ascend #search-outer #search input[type="text"] {
    font-size: 40px;
  }
}
@media only screen and (max-width: 690px) {
  body.ascend #search-outer #search input[type="text"] {
    font-size: 28px;
  }
}

/* RTL */
.rtl.ascend .comment-list .comment > div,
.rtl.ascend .comment-list .pingback > div {
    padding-right: 85px;
    padding-left: 25px;
}
.rtl.ascend .comment-list .comment > div img.avatar,
.rtl.ascend .comment-list .pingback > div img.avatar {
    right: 0;
    left: auto;
}
body.rtl .carousel-wrap[data-full-width="false"] .control-wrap {
    left: 0;
    right: auto;
}
.rtl .carousel-wrap[data-full-width="false"] .control-wrap .carousel-prev {
    margin-left: 0;
}
.rtl .carousel-wrap[data-full-width="false"] .control-wrap .carousel-prev,
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-next {
    left: 0!important;
    right: auto !important;
}
.rtl .carousel-wrap[data-full-width="false"] .control-wrap .item-count {
    left: -2px;
    right: auto;
}
.rtl.ascend [data-full-width="false"] .carousel-prev.next-hovered,
.rtl.ascend [data-full-width="false"] .item-count.next-hovered {
    transform: translateX(0px);
}
.rtl.ascend [data-full-width="false"] .carousel-next:hover {
    transform: translateX(18px);
}
.rtl.ascend [data-full-width="false"] .carousel-prev:hover ~ .carousel-next,
.rtl.ascend [data-full-width="false"] .carousel-prev:hover ~ .item-count{
    transform: translateX(18px);
}
.rtl.ascend [data-full-width="false"] .carousel-prev:hover i {
    transform: translateX(0px);
}
.rtl.ascend [data-full-width="false"] .carousel-prev:after {
    transform: translateX(30px);
}
.rtl.ascend [data-full-width="false"] .carousel-prev:hover:after {
    opacity: 1;
    transform: translateX(18px);
}

@media only screen and (min-width: 1000px) and (max-width: 1300px) {

  .ascend #ajax-content-wrap .container-wrap #author-bio #author-info {
    width: 544px;
  }

}
