
.col {
  position: relative;
  display: block;
  width: 100%;
}

html body .vc_row-fluid > .span_12,
.full-page-inner > .span_12,
.full-page-inner > .container > .span_12 {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  float: none;
}

@media (min-width: 690px) {
  .col {
    margin-right: 2%;
   }
}

.col:last-child {
    margin-right: 0;
}
.col.col_last {
	margin-right: 0;
}



/* Gutters */
html body .vc_row-fluid > .span_12 > .wpb_column,
.compose-mode .vc_row-fluid > .span_12 > .vc_element,
.compose-mode .vc_row-fluid > .span_12 > .vc_element > .wpb_column,
.full-page-inner > .span_12 > .wpb_column,
.full-page-inner > .container > .span_12 > .wpb_column {
  float: none;
  margin-right: 0;
}

html body .vc_row-fluid > .span_12 > .wpb_column:not([class*="offset-"]),
.compose-mode .vc_row-fluid > .span_12 > .vc_element:not([class*="offset-"]),
.compose-mode #nectar_fullscreen_rows .full-page-inner > .container > .span_12 > .vc_element:not([class*="offset-"]),
.compose-mode .vc_row-fluid > .span_12 > .vc_element > .wpb_column:not([class*="offset-"]),
.full-page-inner > .span_12 > .wpb_column:not([class*="offset-"]),
.full-page-inner > .container > .span_12 > .wpb_column:not([class*="offset-"]) {
  margin-left: 0;
}

.vc_row-fluid > .span_12,
.full-page-inner > .span_12,
.full-page-inner > .container > .span_12 {
  width: auto;
}


/* Default */
.vc_row-fluid > .span_12,
body[data-col-gap="default"] .vc_row-fluid[data-column-margin="default"]:not(.full-width-content) .full-page-inner > .container > .span_12 {
  margin-left: -1%;
  margin-right: -1%;
}

.vc_row-fluid > .span_12 .wpb_column,
body[data-col-gap="default"] .vc_row-fluid[data-column-margin="default"]:not(.full-width-content) .full-page-inner > .container > .span_12 .wpb_column:not(.child_column) {
  padding-left: 1%;
  padding-right: 1%;
}

body[data-col-gap*="px"] .wpb_wrapper > .wpb_row:last-child:not([data-column-margin*="px"]) {
  margin-bottom: 0;
}



/* None */
body .container-wrap .wpb_row[data-column-margin="none"]:not(.full-width-section):not(.full-width-content) {
  margin-bottom: 0;
}

body .container-wrap .vc_row-fluid[data-column-margin="none"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="none"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="none"] .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
}

body .container-wrap .vc_row-fluid[data-column-margin="none"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="none"] .child_column {
  padding-left: 0;
  padding-right: 0;
}



/* 20px */
body[data-col-gap="20px"] .wpb_row:not(.full-width-section):not(.full-width-content),
body .container-wrap .wpb_row[data-column-margin="20px"]:not(.full-width-section):not(.full-width-content) {
  margin-bottom: 20px;
}

body[data-col-gap="20px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="20px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="20px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="20px"] .full-page-inner > .span_12 {
  margin-left: -10px;
  margin-right: -10px;
}

body[data-col-gap="20px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="20px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="20px"] .child_column {
  padding-left: 10px;
  padding-right: 10px;
}
.container-wrap .vc_row-fluid[data-column-margin="20px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="20px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.single-portfolio #full_width_portfolio .vc_row-fluid[data-column-margin="20px"].full-width-content > .span_12 {
  padding-right: 10px;
}


/* 30px */
body[data-col-gap="30px"] .wpb_row:not(.full-width-section):not(.full-width-content),
body .container-wrap .wpb_row[data-column-margin="30px"]:not(.full-width-section):not(.full-width-content) {
  margin-bottom: 30px;
}

body[data-col-gap="30px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="30px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="30px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="30px"] .full-page-inner > .span_12 {
  margin-left: -15px;
  margin-right: -15px;
}

body[data-col-gap="30px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="30px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="30px"] .child_column {
  padding-left: 15px;
  padding-right: 15px;
}
.container-wrap .vc_row-fluid[data-column-margin="30px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="30px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.single-portfolio #full_width_portfolio .vc_row-fluid[data-column-margin="30px"].full-width-content > .span_12 {
  padding-right: 15px;
}


/* 40px */
body[data-col-gap="40px"] .wpb_row:not(.full-width-section):not(.full-width-content),
body .container-wrap .wpb_row[data-column-margin="40px"]:not(.full-width-section):not(.full-width-content) {
  margin-bottom: 40px;
}

body[data-col-gap="40px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="40px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="40px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="40px"] .full-page-inner > .span_12 {
  margin-left: -20px;
  margin-right: -20px;
}

body[data-col-gap="40px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="40px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="40px"] .child_column {
  padding-left: 20px;
  padding-right: 20px;
}
.container-wrap .vc_row-fluid[data-column-margin="40px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="40px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.single-portfolio #full_width_portfolio .vc_row-fluid[data-column-margin="40px"].full-width-content > .span_12 {
  padding-right: 20px;
}



/* 50px */

body[data-col-gap="50px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="50px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="50px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="50px"] .full-page-inner > .span_12 {
  margin-left: -25px;
  margin-right: -25px;
}

body[data-col-gap="50px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="50px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="50px"] .child_column {
  padding-left: 25px;
  padding-right: 25px;
}
.container-wrap .vc_row-fluid[data-column-margin="50px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="50px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 25px;
  padding-right: 25px;
}

.single-portfolio #full_width_portfolio .vc_row-fluid[data-column-margin="50px"].full-width-content > .span_12 {
  padding-right: 25px;
}



/* 60px */


body[data-col-gap="60px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="60px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="60px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="60px"] .full-page-inner > .span_12 {
  margin-left: -30px;
  margin-right: -30px;
}

body[data-col-gap="60px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="60px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="60px"] .child_column {
  padding-left: 30px;
  padding-right: 30px;
}

.container-wrap .vc_row-fluid[data-column-margin="60px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="60px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.single-portfolio #full_width_portfolio .vc_row-fluid[data-column-margin="60px"].full-width-content > .span_12 {
  padding-right: 30px;
}



/* 70px */


body[data-col-gap="70px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="70px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="70px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="70px"] .full-page-inner > .span_12 {
  margin-left: -35px;
  margin-right: -35px;
}

body[data-col-gap="70px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="70px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="70px"] .child_column {
  padding-left: 35px;
  padding-right: 35px;
}

.container-wrap .vc_row-fluid[data-column-margin="70px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="70px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 35px;
  padding-right: 35px;
}

.single-portfolio #full_width_portfolio .vc_row-fluid[data-column-margin="70px"].full-width-content > .span_12 {
  padding-right: 35px;
}


/* 80px */


body[data-col-gap="80px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="80px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="80px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="80px"] .full-page-inner > .span_12 {
  margin-left: -40px;
  margin-right: -40px;
}

body[data-col-gap="80px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="80px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="80px"] .child_column {
  padding-left: 40px;
  padding-right: 40px;
}

.container-wrap .vc_row-fluid[data-column-margin="80px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="80px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.single-portfolio #full_width_portfolio .vc_row-fluid[data-column-margin="80px"].full-width-content > .span_12 {
  padding-right: 40px;
}



/* 90px */
body[data-col-gap="90px"] .vc_row-fluid .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="90px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="90px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="90px"] .full-page-inner > .span_12 {
  margin-left: -45px;
  margin-right: -45px;
}

body[data-col-gap="90px"] .vc_row-fluid .wpb_column,
body .container-wrap .vc_row-fluid[data-column-margin="90px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="90px"] .child_column {
  padding-left: 45px;
  padding-right: 45px;
}

.container-wrap .vc_row-fluid[data-column-margin="90px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="90px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 45px;
  padding-right: 45px;
}



/* 100px */
body .container-wrap .vc_row-fluid[data-column-margin="100px"] > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="100px"] .full-page-inner > .container > .span_12,
body .container-wrap .vc_row-fluid[data-column-margin="100px"] .full-page-inner > .span_12 {
  margin-left: -50px;
  margin-right: -50px;
}

body .container-wrap .vc_row-fluid[data-column-margin="100px"] .wpb_column:not(.child_column),
body .container-wrap .inner_row[data-column-margin="100px"] .child_column {
  padding-left: 50px;
  padding-right: 50px;
}

.container-wrap .vc_row-fluid[data-column-margin="100px"].full-width-content > .span_12,
.container-wrap .vc_row-fluid[data-column-margin="100px"].full-width-content .full-page-inner > .span_12 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 50px;
  padding-right: 50px;
}



html body .full-width-content.vc_row-fluid .wpb_column {
  padding: 0;
}

.full-width-content.vc_row-fluid .wpb_column .wpb_row,
.full-width-content.vc_row-fluid .wpb_column .wpb_wrapper,
html body .full-width-content.vc_row-fluid .span_12 {
  margin: 0;
}


/* One fourths */
@media only screen and (max-width: 999px) and (min-width: 690px) {


  .vc_row-fluid[data-column-margin="20px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid .vc_row-fluid.inner_row[data-column-margin="20px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]) {
    margin-bottom: 20px!important;
  }

  body[data-col-gap="30px"] .vc_row-fluid:not(.inner_row):not(.full-width-content) > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  body[data-col-gap="30px"] .vc_row-fluid:not(.full-width-content) .vc_row-fluid.inner_row > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid[data-column-margin="30px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid .vc_row-fluid.inner_row[data-column-margin="30px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]) {
    margin-bottom: 30px;
  }

  body[data-col-gap="40px"] .vc_row-fluid:not(.inner_row):not(.full-width-content) > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  body[data-col-gap="40px"] .vc_row-fluid:not(.full-width-content) .vc_row-fluid.inner_row > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid[data-column-margin="40px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid .vc_row-fluid.inner_row[data-column-margin="40px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]) {
    margin-bottom: 40px;
  }

  body[data-col-gap="50px"] .vc_row-fluid:not(.inner_row):not(.full-width-content) > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  body[data-col-gap="50px"] .vc_row-fluid:not(.full-width-content) .vc_row-fluid.inner_row > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid[data-column-margin="50px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid.vc_row-fluid.inner_row[data-column-margin="50px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]) {
    margin-bottom: 50px;
  }

  body[data-col-gap="60px"] .vc_row-fluid:not(.inner_row):not(.full-width-content) > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  body[data-col-gap="60px"] .vc_row-fluid:not(.full-width-content) .vc_row-fluid.inner_row > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid[data-column-margin="60px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid .vc_row-fluid.inner_row[data-column-margin="60px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]) {
    margin-bottom: 60px;
  }

  body[data-col-gap="70px"] .vc_row-fluid:not(.inner_row):not(.full-width-content) > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  body[data-col-gap="70px"] .vc_row-fluid:not(.full-width-content) .vc_row-fluid.inner_row > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid[data-column-margin="70px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
  .vc_row-fluid .vc_row-fluid.inner_row[data-column-margin="70px"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]) {
    margin-bottom: 70px;
  }

}


/* FWC Gutters */
@media only screen and ( max-width: 999px ) {
  .container-wrap .full-width-content .vc_row-fluid[data-column-margin*="px"] > .span_12 > .wpb_column {
    margin-bottom: 30px;
  }
}


.vc_row-fluid[data-column-margin="default"].full-width-content > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
.vc_row-fluid[data-column-margin="none"].full-width-content > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="default"].full-width-content > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="none"].full-width-content > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
body[data-col-gap*="px"] .vc_row-fluid.full-width-content .inner_row[data-column-margin="default"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
body[data-col-gap*="px"] .vc_row-fluid.full-width-content .inner_row[data-column-margin="none"] > .span_12 > .one-fourths:not([class*="vc_col-xs-"]),
body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="default"].full-width-content,
body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="none"].full-width-content,
body[data-col-gap*="px"] .full-width-content .inner_row[data-column-margin="default"],
body[data-col-gap*="px"] .full-width-content .inner_row[data-column-margin="none"] {
  margin-bottom: 0;
}

body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="default"].full-width-content > .span_12,
body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="none"].full-width-content > .span_12,
body[data-col-gap*="px"] .full-width-content .inner_row[data-column-margin="default"] > .span_12,
body[data-col-gap*="px"] .full-width-content .inner_row[data-column-margin="none"] > .span_12 {
  margin-left: 0;
  margin-right: 0;
}

body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="default"].full-width-content > .span_12 > .wpb_column,
body[data-col-gap*="px"] .vc_row-fluid[data-column-margin="none"].full-width-content > .span_12 > .wpb_column,
body[data-col-gap*="px"] .full-width-content .inner_row[data-column-margin="default"] > .span_12 > .wpb_column,
body[data-col-gap*="px"] .full-width-content .inner_row[data-column-margin="none"] > .span_12 > .wpb_column {
  padding-left: 0;
  padding-right: 0;
}




/* Border Radius */
.wpb_column[data-border-radius*="px"] > .vc_column-inner > .column-bg-overlay-wrap {
  overflow: hidden;
}



/* Boxed Column */
.vc_row-fluid .wpb_column.boxed,
.material .vc_row-fluid .wpb_column.boxed,
.ascend .vc_row-fluid .wpb_column.boxed {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.wpb_column.boxed > .vc_column-inner {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 25px 15px 15px;
    position: relative;
    -webkit-transition: transform .2s ease,-webkit-box-shadow .2s ease;
    transition: transform .2s ease,box-shadow .2s ease;
    top: 0;
}

.wpb_column.boxed:hover > .vc_column-inner {
  transform:translateY(-4px);
  -webkit-transform:translateY(-4px);
  box-shadow:0 17px 25px rgba(0,0,0,0.13);
  -webkit-box-shadow:0 17px 25px rgba(0,0,0,0.13);
}


/* Box Shadows */
.vc_row-fluid .wpb_column {
  box-shadow: none;
}

.wpb_column[data-shadow="small_depth"] > .vc_column-inner > .column-bg-overlay-wrap {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 0px, rgba(0, 0, 0, 0.05) 0px 2px 7px, rgba(0, 0, 0, 0.06) 0px 12px 22px;
}

.wpb_column[data-shadow="medium_depth"] > .vc_column-inner > .column-bg-overlay-wrap {
  box-shadow:0 30px 80px rgba(0,0,0,0.14),0 20px 70px rgba(0,0,0,0.12)
}

.wpb_column[data-shadow="large_depth"] > .vc_column-inner > .column-bg-overlay-wrap{
  box-shadow:0 40px 100px rgba(0,0,0,0.15),0 25px 80px rgba(0,0,0,0.1)
}

.wpb_column[data-shadow="x_large_depth"] > .vc_column-inner > .column-bg-overlay-wrap {
  box-shadow:0 60px 135px rgba(0,0,0,0.14),0 15px 65px rgba(0,0,0,0.14)
}


/* Border Layer */
.wpb_column > .vc_column-inner > .border-wrap{
  position:static;
  pointer-events:none
}
.wpb_column > .vc_column-inner > .border-wrap >span{
  position:absolute;
  z-index: 100;
}
.wpb_column[data-border-style="solid"] > .vc_column-inner > .border-wrap >span{
  border-style:solid
}
.wpb_column[data-border-style="dotted"] > .vc_column-inner > .border-wrap >span{
  border-style:dotted
}
.wpb_column[data-border-style="dashed"] > .vc_column-inner > .border-wrap >span{
  border-style:dashed
}
.wpb_column > .vc_column-inner > .border-wrap >.border-top,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-top:after{
  width:100%;
  top:0;
  left:0;
  border-color:inherit;
}
.wpb_column > .vc_column-inner > .border-wrap >.border-bottom,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-bottom:after{
  width:100%;
  bottom:0;
  left:0;
  border-color:inherit;
}
.wpb_column > .vc_column-inner > .border-wrap >.border-left,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-left:after{
  height:100%;
  top:0;
  left:0;
  border-color:inherit;
}
.wpb_column > .vc_column-inner > .border-wrap >.border-right,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-right:after{
  height:100%;
  top:0;
  right:0;
  border-color:inherit;
}

.wpb_column > .vc_column-inner > .border-wrap >.border-right,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-right:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-left,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-left:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-bottom,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-bottom:after {
  border-top:none!important
}

.wpb_column > .vc_column-inner > .border-wrap >.border-left,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-left:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-bottom,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-bottom:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-top,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-top:after {
  border-right:none!important
}

.wpb_column > .vc_column-inner > .border-wrap >.border-right,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-right:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-left,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-left:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-top,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-top:after {
  border-bottom:none!important
}

.wpb_column > .vc_column-inner > .border-wrap >.border-right,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-right:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-bottom,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-bottom:after,
.wpb_column > .vc_column-inner > .border-wrap >.border-top,
.wpb_column[data-border-style*="double"] > .vc_column-inner > .border-wrap >.border-top:after {
  border-left:none!important
}


/* Reveal Columns */
@media only screen and (min-width:1000px){

  .wpb_column.has-animation[data-animation="reveal-from-bottom"] > .vc_column-inner{
    transform:translateY(101%);
    -webkit-transform:translateY(101%)
  }
  .wpb_column.has-animation[data-animation="reveal-from-top"] > .vc_column-inner{
    transform:translateY(-101%);
    -webkit-transform:translateY(-101%)
  }
  .wpb_column.has-animation[data-animation="reveal-from-left"] > .vc_column-inner{
    transform:translateX(-120%);
    -webkit-transform:translateX(-120%)
  }
  .wpb_column.has-animation[data-animation="reveal-from-right"] > .vc_column-inner {
    transform:translateX(120%);
    -webkit-transform:translateX(120%)
  }
}

body[data-m-animate="1"] .wpb_column.has-animation[data-animation="reveal-from-bottom"] > .vc_column-inner {
  transform:translateY(101%);
  -webkit-transform:translateY(101%)
}

body[data-m-animate="1"] .wpb_column.has-animation[data-animation="reveal-from-top"] > .vc_column-inner{
  transform:translateY(-101%);
  -webkit-transform:translateY(-101%)
}
body[data-m-animate="1"] .wpb_column.has-animation[data-animation="reveal-from-left"] > .vc_column-inner{
  transform:translateX(-120%);
  -webkit-transform:translateX(-120%)
}
body[data-m-animate="1"] .wpb_column.has-animation[data-animation="reveal-from-right"] > .vc_column-inner {
  transform:translateX(120%);
  -webkit-transform:translateX(120%)
}

/* El margin */
body[data-col-gap] .vc_row-fluid .span_12.testimonial_slider,
body[data-col-gap] .vc_row-fluid .span_12.col.section-title,
body[data-col-gap] .vc_row-fluid .span_12.post-area {
  margin-left: 0;
  margin-right: 0;
}

/* Column Percent Based Padding */
.col.padding-1-percent > .vc_column-inner { padding: calc(600px * 0.01); }

.col.padding-2-percent > .vc_column-inner,
.col.padding-3-percent > .vc_column-inner { padding: calc(600px * 0.03); }

.col.padding-4-percent > .vc_column-inner,
.col.padding-5-percent > .vc_column-inner,
.col.padding-6-percent > .vc_column-inner { padding: calc(600px * 0.06); }

.col.padding-7-percent > .vc_column-inner { padding: calc(600px * 0.07); }
.col.padding-8-percent > .vc_column-inner { padding: calc(600px * 0.08); }
.col.padding-9-percent > .vc_column-inner { padding: calc(600px * 0.09); }
.col.padding-10-percent > .vc_column-inner { padding: calc(600px * 0.1); }
.col.padding-11-percent > .vc_column-inner { padding: calc(600px * 0.11); }
.col.padding-12-percent > .vc_column-inner { padding: calc(600px * 0.12); }
.col.padding-13-percent > .vc_column-inner { padding: calc(600px * 0.13); }
.col.padding-14-percent > .vc_column-inner { padding: calc(600px * 0.14); }
.col.padding-15-percent > .vc_column-inner { padding: calc(600px * 0.15); }
.col.padding-16-percent > .vc_column-inner { padding: calc(600px * 0.16); }
.col.padding-17-percent > .vc_column-inner { padding: calc(600px * 0.17); }
.col.padding-18-percent > .vc_column-inner { padding: calc(600px * 0.18); }
.col.padding-19-percent > .vc_column-inner { padding: calc(600px * 0.19); }
.col.padding-20-percent > .vc_column-inner { padding: calc(600px * 0.2); }


@media only screen and (max-width: 999px) and (min-width: 691px) {
  .wpb_column.col.no-extra-padding_tablet > .vc_column-inner,
  .full-width-content .wpb_column.col.no-extra-padding_tablet > .vc_column-inner { padding: 0; }
}

/* Mobile */
@media only screen and (max-width: 690px) {

  body .wpb_column.col.no-extra-padding_phone > .vc_column-inner,
  body .wpb_column.child_column.col.no-extra-padding_phone > .vc_column-inner,
  body .full-width-content .wpb_column.col.no-extra-padding_phone > .vc_column-inner { padding: 0; }

  .col.padding-1-percent > .vc_column-inner { padding: calc(100vw * 0.01); }

  .col.padding-2-percent > .vc_column-inner,
  .col.padding-3-percent > .vc_column-inner { padding: calc(100vw * 0.03); }

  .col.padding-4-percent > .vc_column-inner,
  .col.padding-5-percent > .vc_column-inner,
  .col.padding-6-percent > .vc_column-inner { padding: calc(100vw * 0.06); }

  .col.padding-7-percent > .vc_column-inner { padding: calc(100vw * 0.07); }
  .col.padding-8-percent > .vc_column-inner { padding: calc(100vw * 0.08); }
  .col.padding-9-percent > .vc_column-inner { padding: calc(100vw * 0.09); }
  .col.padding-10-percent > .vc_column-inner { padding: calc(100vw * 0.1); }
  .col.padding-11-percent > .vc_column-inner { padding: calc(100vw * 0.11); }
  .col.padding-12-percent > .vc_column-inner { padding: calc(100vw * 0.12); }
  .col.padding-13-percent > .vc_column-inner { padding: calc(100vw * 0.13); }
  .col.padding-14-percent > .vc_column-inner { padding: calc(100vw * 0.14); }
  .col.padding-15-percent > .vc_column-inner { padding: calc(100vw * 0.15); }
  .col.padding-16-percent > .vc_column-inner { padding: calc(100vw * 0.16); }
  .col.padding-17-percent > .vc_column-inner { padding: calc(100vw * 0.17); }
  .col.padding-18-percent > .vc_column-inner { padding: calc(100vw * 0.18); }
  .col.padding-19-percent > .vc_column-inner { padding: calc(100vw * 0.19); }
  .col.padding-20-percent > .vc_column-inner { padding: calc(100vw * 0.2); }

  /* columns with border */
  .col.padding-1-percent[data-border-width*="px"] > .vc_column-inner,
  .col.padding-2-percent[data-border-width*="px"] > .vc_column-inner,
  .col.padding-3-percent[data-border-width*="px"] > .vc_column-inner,
  .col.padding-4-percent[data-border-width*="px"] > .vc_column-inner,
  .col.padding-5-percent[data-border-width*="px"] > .vc_column-inner,
  .col.padding-6-percent[data-border-width*="px"] > .vc_column-inner,
  .col.padding-7-percent[data-border-width*="px"] > .vc_column-inner {
    padding: calc(100vw * 0.09);
  }

}


/* Sm Desktop */
@media only screen and (min-width: 1000px) {
  .col.padding-1-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.01); }
  .col.padding-2-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.02); }
  .col.padding-3-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.03); }
  .col.padding-4-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.04); }
  .col.padding-5-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.05); }
  .col.padding-6-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.06); }
  .col.padding-7-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.07); }
  .col.padding-8-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.08); }
  .col.padding-9-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.09); }
  .col.padding-10-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.1); }
  .col.padding-11-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.11); }
  .col.padding-12-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.12); }
  .col.padding-13-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.13); }
  .col.padding-14-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.14); }
  .col.padding-15-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.15); }
  .col.padding-16-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.16); }
  .col.padding-17-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.17); }
  .col.padding-18-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.18); }
  .col.padding-19-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.19); }
  .col.padding-20-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.2); }

  .column_container:not(.vc_col-sm-12) .col.padding-1-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.005); }
  .column_container:not(.vc_col-sm-12) .col.padding-2-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.01); }
  .column_container:not(.vc_col-sm-12) .col.padding-3-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.015); }
  .column_container:not(.vc_col-sm-12) .col.padding-4-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.02); }
  .column_container:not(.vc_col-sm-12) .col.padding-5-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.025); }
  .column_container:not(.vc_col-sm-12) .col.padding-6-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.03); }
  .column_container:not(.vc_col-sm-12) .col.padding-7-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.035); }
  .column_container:not(.vc_col-sm-12) .col.padding-8-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.04); }
  .column_container:not(.vc_col-sm-12) .col.padding-9-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.045); }
  .column_container:not(.vc_col-sm-12) .col.padding-10-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.05); }
  .column_container:not(.vc_col-sm-12) .col.padding-11-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.055); }
  .column_container:not(.vc_col-sm-12) .col.padding-12-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.06); }
  .column_container:not(.vc_col-sm-12) .col.padding-13-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.065); }
  .column_container:not(.vc_col-sm-12) .col.padding-14-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.07); }
  .column_container:not(.vc_col-sm-12) .col.padding-15-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.075); }
  .column_container:not(.vc_col-sm-12) .col.padding-16-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.08); }
  .column_container:not(.vc_col-sm-12) .col.padding-17-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.09); }
  .column_container:not(.vc_col-sm-12) .col.padding-18-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.095); }
  .column_container:not(.vc_col-sm-12) .col.padding-19-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.1); }
  .column_container:not(.vc_col-sm-12) .col.padding-20-percent > .vc_column-inner { padding: calc((100vw - 180px) * 0.105); }

}


/* Large Desktop */
@media only screen and (min-width: 1425px) {
  .col.padding-1-percent > .vc_column-inner { padding: calc(1245px * 0.01); }
  .col.padding-2-percent > .vc_column-inner { padding: calc(1245px * 0.02); }
  .col.padding-3-percent > .vc_column-inner { padding: calc(1245px * 0.03); }
  .col.padding-4-percent > .vc_column-inner { padding: calc(1245px * 0.04); }
  .col.padding-5-percent > .vc_column-inner { padding: calc(1245px * 0.05); }
  .col.padding-6-percent > .vc_column-inner { padding: calc(1245px * 0.06); }
  .col.padding-7-percent > .vc_column-inner { padding: calc(1245px * 0.07); }
  .col.padding-8-percent > .vc_column-inner { padding: calc(1245px * 0.08); }
  .col.padding-9-percent > .vc_column-inner { padding: calc(1245px * 0.09); }
  .col.padding-10-percent > .vc_column-inner { padding: calc(1245px * 0.1); }
  .col.padding-11-percent > .vc_column-inner { padding: calc(1245px * 0.11); }
  .col.padding-12-percent > .vc_column-inner { padding: calc(1245px * 0.12); }
  .col.padding-13-percent > .vc_column-inner { padding: calc(1245px * 0.13); }
  .col.padding-14-percent > .vc_column-inner { padding: calc(1245px * 0.14); }
  .col.padding-15-percent > .vc_column-inner { padding: calc(1245px * 0.15); }
  .col.padding-16-percent > .vc_column-inner { padding: calc(1245px * 0.16); }
  .col.padding-17-percent > .vc_column-inner { padding: calc(1245px * 0.17); }
  .col.padding-18-percent > .vc_column-inner { padding: calc(1245px * 0.18); }
  .col.padding-19-percent > .vc_column-inner { padding: calc(1245px * 0.19); }
  .col.padding-20-percent > .vc_column-inner { padding: calc(1245px * 0.2); }

  .column_container:not(.vc_col-sm-12) .col.padding-1-percent > .vc_column-inner { padding: calc(1245px * 0.005); }
  .column_container:not(.vc_col-sm-12) .col.padding-2-percent > .vc_column-inner { padding: calc(1245px * 0.01); }
  .column_container:not(.vc_col-sm-12) .col.padding-3-percent > .vc_column-inner { padding: calc(1245px * 0.015); }
  .column_container:not(.vc_col-sm-12) .col.padding-4-percent > .vc_column-inner { padding: calc(1245px * 0.02); }
  .column_container:not(.vc_col-sm-12) .col.padding-5-percent > .vc_column-inner { padding: calc(1245px * 0.025); }
  .column_container:not(.vc_col-sm-12) .col.padding-6-percent > .vc_column-inner { padding: calc(1245px * 0.03); }
  .column_container:not(.vc_col-sm-12) .col.padding-7-percent > .vc_column-inner { padding: calc(1245px * 0.035); }
  .column_container:not(.vc_col-sm-12) .col.padding-8-percent > .vc_column-inner { padding: calc(1245px * 0.04); }
  .column_container:not(.vc_col-sm-12) .col.padding-9-percent > .vc_column-inner { padding: calc(1245px * 0.045); }
  .column_container:not(.vc_col-sm-12) .col.padding-10-percent > .vc_column-inner { padding: calc(1245px * 0.05); }
  .column_container:not(.vc_col-sm-12) .col.padding-11-percent > .vc_column-inner { padding: calc(1245px * 0.055); }
  .column_container:not(.vc_col-sm-12) .col.padding-12-percent > .vc_column-inner { padding: calc(1245px * 0.06); }
  .column_container:not(.vc_col-sm-12) .col.padding-13-percent > .vc_column-inner { padding: calc(1245px * 0.065); }
  .column_container:not(.vc_col-sm-12) .col.padding-14-percent > .vc_column-inner { padding: calc(1245px * 0.07); }
  .column_container:not(.vc_col-sm-12) .col.padding-15-percent > .vc_column-inner { padding: calc(1245px * 0.075); }
  .column_container:not(.vc_col-sm-12) .col.padding-16-percent > .vc_column-inner { padding: calc(1245px * 0.08); }
  .column_container:not(.vc_col-sm-12) .col.padding-17-percent > .vc_column-inner { padding: calc(1245px * 0.09); }
  .column_container:not(.vc_col-sm-12) .col.padding-18-percent > .vc_column-inner { padding: calc(1245px * 0.095); }
  .column_container:not(.vc_col-sm-12) .col.padding-19-percent > .vc_column-inner { padding: calc(1245px * 0.1); }
  .column_container:not(.vc_col-sm-12) .col.padding-20-percent > .vc_column-inner { padding: calc(1245px * 0.105); }

}


/* Full width content rows */
.full-width-content .col.padding-1-percent > .vc_column-inner { padding: calc(100vw * 0.01); }
.full-width-content .col.padding-2-percent > .vc_column-inner { padding: calc(100vw * 0.02); }
.full-width-content .col.padding-3-percent > .vc_column-inner { padding: calc(100vw * 0.03); }
.full-width-content .col.padding-4-percent > .vc_column-inner { padding: calc(100vw * 0.04); }
.full-width-content .col.padding-5-percent > .vc_column-inner { padding: calc(100vw * 0.05); }
.full-width-content .col.padding-6-percent > .vc_column-inner { padding: calc(100vw * 0.06); }
.full-width-content .col.padding-7-percent > .vc_column-inner { padding: calc(100vw * 0.07); }
.full-width-content .col.padding-8-percent > .vc_column-inner { padding: calc(100vw * 0.08); }
.full-width-content .col.padding-9-percent > .vc_column-inner { padding: calc(100vw * 0.09); }
.full-width-content .col.padding-10-percent > .vc_column-inner { padding: calc(100vw * 0.1); }
.full-width-content .col.padding-11-percent > .vc_column-inner { padding: calc(100vw * 0.11); }
.full-width-content .col.padding-12-percent > .vc_column-inner { padding: calc(100vw * 0.12); }
.full-width-content .col.padding-13-percent > .vc_column-inner { padding: calc(100vw * 0.13); }
.full-width-content .col.padding-14-percent > .vc_column-inner { padding: calc(100vw * 0.14); }
.full-width-content .col.padding-15-percent > .vc_column-inner { padding: calc(100vw * 0.15); }
.full-width-content .col.padding-16-percent > .vc_column-inner { padding: calc(100vw * 0.16); }
.full-width-content .col.padding-17-percent > .vc_column-inner { padding: calc(100vw * 0.17); }
.full-width-content .col.padding-18-percent > .vc_column-inner { padding: calc(100vw * 0.18); }
.full-width-content .col.padding-19-percent > .vc_column-inner { padding: calc(100vw * 0.19); }
.full-width-content .col.padding-20-percent > .vc_column-inner { padding: calc(100vw * 0.2); }

@media only screen and (max-width: 999px) {

  .full-width-content .col.padding-1-percent > .vc_column-inner { padding: calc(100vw * 0.01); }

  .full-width-content .col.padding-2-percent > .vc_column-inner,
  .full-width-content .col.padding-3-percent > .vc_column-inner { padding: calc(100vw * 0.03); }

  .full-width-content .col.padding-4-percent > .vc_column-inner,
  .full-width-content .col.padding-5-percent > .vc_column-inner,
  .full-width-content .col.padding-6-percent > .vc_column-inner { padding: calc(100vw * 0.06); }


}

@media only screen and (min-width: 1000px) {
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-1-percent > .vc_column-inner { padding: calc(100vw * 0.005); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-2-percent > .vc_column-inner { padding: calc(100vw * 0.01); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-3-percent > .vc_column-inner { padding: calc(100vw * 0.015); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-4-percent > .vc_column-inner { padding: calc(100vw * 0.02); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-5-percent > .vc_column-inner { padding: calc(100vw * 0.025); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-6-percent > .vc_column-inner { padding: calc(100vw * 0.03); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-7-percent > .vc_column-inner { padding: calc(100vw * 0.035); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-8-percent > .vc_column-inner { padding: calc(100vw * 0.04); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-9-percent > .vc_column-inner { padding: calc(100vw * 0.045); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-10-percent > .vc_column-inner { padding: calc(100vw * 0.05); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-11-percent > .vc_column-inner { padding: calc(100vw * 0.055); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-12-percent > .vc_column-inner { padding: calc(100vw * 0.06); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-13-percent > .vc_column-inner { padding: calc(100vw * 0.065); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-14-percent > .vc_column-inner { padding: calc(100vw * 0.07); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-15-percent > .vc_column-inner { padding: calc(100vw * 0.075); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-16-percent > .vc_column-inner { padding: calc(100vw * 0.08); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-17-percent > .vc_column-inner { padding: calc(100vw * 0.09); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-18-percent > .vc_column-inner { padding: calc(100vw * 0.095); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-19-percent > .vc_column-inner { padding: calc(100vw * 0.1); }
  .full-width-content .column_container:not(.vc_col-sm-12) .col.padding-20-percent > .vc_column-inner { padding: calc(100vw * 0.105); }
}


body #ajax-content-wrap .col[data-padding-pos="right"] > .vc_column-inner {
  padding-left:0;
  padding-top:0;
  padding-bottom:0
}
body #ajax-content-wrap .col[data-padding-pos="left"] > .vc_column-inner {
  padding-right:0;
  padding-top:0;
  padding-bottom:0
}
body #ajax-content-wrap .col[data-padding-pos="bottom"] > .vc_column-inner {
  padding-right:0;
  padding-top:0;
  padding-left:0
}
#ajax-content-wrap .col[data-padding-pos="top"] > .vc_column-inner {
  padding-right:0;
  padding-bottom:0;
  padding-left:0
}
#ajax-content-wrap .col[data-padding-pos="top-right"] > .vc_column-inner {
  padding-bottom:0;
  padding-left:0
}
#ajax-content-wrap .col[data-padding-pos="top-left"] > .vc_column-inner {
  padding-bottom:0;
  padding-right:0
}
#ajax-content-wrap .col[data-padding-pos="top-bottom"]> .vc_column-inner {
  padding-left:0;
  padding-right:0
}
#ajax-content-wrap .col[data-padding-pos="bottom-right"] > .vc_column-inner {
  padding-left:0;
  padding-top:0
}
#ajax-content-wrap .col[data-padding-pos="bottom-left"] > .vc_column-inner {
  padding-right:0;
  padding-top:0
}
#ajax-content-wrap .col[data-padding-pos="left-right"] > .vc_column-inner {
  padding-top:0;
  padding-bottom:0
}




/* Front end editor */
body.compose-mode .vc_row.vc_row-o-content-middle>.fp-tableCell .full-page-inner-wrap-outer>.full-page-inner-wrap>.full-page-inner>.span_12>.vc_element>.vc_column_container>.vc_column-inner,
body.compose-mode .vc_row.vc_row-o-content-middle>.fp-tableCell .fp-scrollable > .fp-scroller .full-page-inner-wrap-outer> .full-page-inner-wrap>.full-page-inner>.span_12>.vc_element>.vc_column_container>.vc_column-inner {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

body.compose-mode .wpb_row.vc_row-flex>.fp-tableCell .full-page-inner-wrap-outer>.full-page-inner-wrap>.full-page-inner>.span_12>.vc_element>.vc_column_container>.vc_column-inner,
body.compose-mode .wpb_row.vc_row-flex>.fp-tableCell .fp-scrollable > .fp-scroller > .full-page-inner-wrap-outer > .full-page-inner-wrap>.full-page-inner>.span_12>.vc_element>.vc_column_container>.vc_column-inner {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}


@media (max-width:999px) and (min-width: 691px) {

  .vc_col-xs-12:not([data-t-w-inherits="small_desktop"]) {
      width:100%
  }
  .vc_col-xs-11:not([data-t-w-inherits="small_desktop"]) {
      width:91.66666667%
  }
  .vc_col-xs-10:not([data-t-w-inherits="small_desktop"]) {
      width:83.33333333%
  }
  .vc_col-xs-9:not([data-t-w-inherits="small_desktop"]) {
      width:75%
  }
  .vc_col-xs-8:not([data-t-w-inherits="small_desktop"]) {
      width:66.66666667%
  }
  .vc_col-xs-7:not([data-t-w-inherits="small_desktop"]) {
      width:58.33333333%
  }
  .vc_col-xs-6:not([data-t-w-inherits="small_desktop"]) {
      width:50%
  }
  .vc_col-xs-5:not([data-t-w-inherits="small_desktop"]) {
      width:41.66666667%
  }
  .vc_col-xs-4:not([data-t-w-inherits="small_desktop"]) {
      width:33.33333333%
  }
  .vc_col-xs-3:not([data-t-w-inherits="small_desktop"]) {
      width:25%
  }
  .vc_col-xs-2:not([data-t-w-inherits="small_desktop"]) {
      width:16.66666667%
  }
  .vc_col-xs-1:not([data-t-w-inherits="small_desktop"]) {
      width:8.33333333%
  }

  .vc_col-xs-5\/5:not([data-t-w-inherits="small_desktop"]) {
      width:100%
  }
  .vc_col-xs-4\/5:not([data-t-w-inherits="small_desktop"]) {
      width:80%
  }
  .vc_col-xs-3\/5:not([data-t-w-inherits="small_desktop"]) {
      width:60%
  }
  .vc_col-xs-2\/5:not([data-t-w-inherits="small_desktop"]) {
      width:40%
  }
  .vc_col-xs-1\/5:not([data-t-w-inherits="small_desktop"]) {
      width:20%
  }

}

@media (max-width: 690px) {

  .vc_col-xs-12 {
      width:100%
  }
  .vc_col-xs-11 {
      width:91.66666667%
  }
  .vc_col-xs-10 {
      width:83.33333333%
  }
  .vc_col-xs-9 {
      width:75%
  }
  .vc_col-xs-8 {
      width:66.66666667%
  }
  .vc_col-xs-7 {
      width:58.33333333%
  }
  .vc_col-xs-6 {
      width:50%
  }
  .vc_col-xs-5 {
      width:41.66666667%
  }
  .vc_col-xs-4 {
      width:33.33333333%
  }
  .vc_col-xs-3 {
      width:25%
  }
  .vc_col-xs-2 {
      width:16.66666667%
  }
  .vc_col-xs-1 {
      width:8.33333333%
  }

  .vc_col-xs-5\/5{
      width:100%
  }
  .vc_col-xs-4\/5{
      width:80%
  }
  .vc_col-xs-3\/5{
      width:60%
  }
  .vc_col-xs-2\/5{
      width:40%
  }
  .vc_col-xs-1\/5{
      width:20%
  }

}


.vc_col-xs-pull-12{
    right:100%
}
.vc_col-xs-pull-11{
    right:91.66666667%
}
.vc_col-xs-pull-10{
    right:83.33333333%
}
.vc_col-xs-pull-9{
    right:75%
}
.vc_col-xs-pull-8{
    right:66.66666667%
}
.vc_col-xs-pull-7{
    right:58.33333333%
}
.vc_col-xs-pull-6{
    right:50%
}
.vc_col-xs-pull-5{
    right:41.66666667%
}
.vc_col-xs-pull-4{
    right:33.33333333%
}
.vc_col-xs-pull-3{
    right:25%
}
.vc_col-xs-pull-2{
    right:16.66666667%
}
.vc_col-xs-pull-1{
    right:8.33333333%
}
.vc_col-xs-pull-0{
    right:auto
}
.vc_col-xs-push-12{
    left:100%
}
.vc_col-xs-push-11{
    left:91.66666667%
}
.vc_col-xs-push-10{
    left:83.33333333%
}
.vc_col-xs-push-9{
    left:75%
}
.vc_col-xs-push-8{
    left:66.66666667%
}
.vc_col-xs-push-7{
    left:58.33333333%
}
.vc_col-xs-push-6{
    left:50%
}
.vc_col-xs-push-5{
    left:41.66666667%
}
.vc_col-xs-push-4{
    left:33.33333333%
}
.vc_col-xs-push-3{
    left:25%
}
.vc_col-xs-push-2{
    left:16.66666667%
}
.vc_col-xs-push-1{
    left:8.33333333%
}
.vc_col-xs-push-0{
    left:auto
}
.vc_col-xs-offset-12{
    margin-left:100%
}
.vc_col-xs-offset-11{
    margin-left:91.66666667%
}
.vc_col-xs-offset-10{
    margin-left:83.33333333%
}
.vc_col-xs-offset-9{
    margin-left:75%
}
.vc_col-xs-offset-8{
    margin-left:66.66666667%
}
.vc_col-xs-offset-7{
    margin-left:58.33333333%
}
.vc_col-xs-offset-6{
    margin-left:50%
}
.vc_col-xs-offset-5{
    margin-left:41.66666667%
}
.vc_col-xs-offset-4{
    margin-left:33.33333333%
}
.vc_col-xs-offset-3{
    margin-left:25%
}
.vc_col-xs-offset-2{
    margin-left:16.66666667%
}
.vc_col-xs-offset-1{
    margin-left:8.33333333%
}
.vc_col-xs-offset-0{
    margin-left:0
}

/* 1/5 columns */
.vc_col-xs-pull-5\/5{
    right:100%
}
.vc_col-xs-pull-4\/5{
    right:80%
}
.vc_col-xs-pull-3\/5{
    right:60%
}
.vc_col-xs-pull-2\/5{
    right:40%
}
.vc_col-xs-pull-1\/5{
    right:20%
}
.vc_col-xs-pull-0\/5{
    right:auto
}
.vc_col-xs-push-5\/5{
    left:100%
}
.vc_col-xs-push-4\/5{
    left:80%
}
.vc_col-xs-push-3\/5{
    left:60%
}
.vc_col-xs-push-2\/5{
    left:40%
}
.vc_col-xs-push-1\/5{
    left:20%
}
.vc_col-xs-push-0\/5{
    left:auto
}
.vc_col-xs-offset-5\/5{
    margin-left:100%
}
.vc_col-xs-offset-4\/5{
    margin-left:80%
}
.vc_col-xs-offset-3\/5{
    margin-left:60%
}
.vc_col-xs-offset-2\/5{
    margin-left:40%
}
.vc_col-xs-offset-1\/5{
    margin-left:20%
}
.vc_col-xs-offset-0\/5{
    margin-left:0
}


@media (min-width:690px){

    .vc_col-sm-5\/5{
        width:100%
    }
    .vc_col-sm-4\/5{
        width:80%
    }
    .vc_col-sm-3\/5{
        width:60%
    }
    .vc_col-sm-2\/5{
        width:40%
    }
    .vc_col-sm-1\/5{
        width:20%
    }

    .vc_col-sm-12{
        width:100%
    }
    .vc_col-sm-11{
        width:91.66666667%
    }
    .vc_col-sm-10{
        width:83.33333333%
    }
    .vc_col-sm-9{
        width:75%
    }
    .vc_col-sm-8{
        width:66.66666667%
    }
    .vc_col-sm-7{
        width:58.33333333%
    }
    .vc_col-sm-6{
        width:50%
    }
    .vc_col-sm-5{
        width:41.66666667%
    }
    .vc_col-sm-4{
        width:33.33333333%
    }
    .vc_col-sm-3{
        width:25%
    }
    .vc_col-sm-2{
        width:16.66666667%
    }
    .vc_col-sm-1{
        width:8.33333333%
    }
    .vc_col-sm-pull-12{
        right:100%
    }
    .vc_col-sm-pull-11{
        right:91.66666667%
    }
    .vc_col-sm-pull-10{
        right:83.33333333%
    }
    .vc_col-sm-pull-9{
        right:75%
    }
    .vc_col-sm-pull-8{
        right:66.66666667%
    }
    .vc_col-sm-pull-7{
        right:58.33333333%
    }
    .vc_col-sm-pull-6{
        right:50%
    }
    .vc_col-sm-pull-5{
        right:41.66666667%
    }
    .vc_col-sm-pull-4{
        right:33.33333333%
    }
    .vc_col-sm-pull-3{
        right:25%
    }
    .vc_col-sm-pull-2{
        right:16.66666667%
    }
    .vc_col-sm-pull-1{
        right:8.33333333%
    }
    .vc_col-sm-pull-0{
        right:auto
    }
    .vc_col-sm-push-12{
        left:100%
    }
    .vc_col-sm-push-11{
        left:91.66666667%
    }
    .vc_col-sm-push-10{
        left:83.33333333%
    }
    .vc_col-sm-push-9{
        left:75%
    }
    .vc_col-sm-push-8{
        left:66.66666667%
    }
    .vc_col-sm-push-7{
        left:58.33333333%
    }
    .vc_col-sm-push-6{
        left:50%
    }
    .vc_col-sm-push-5{
        left:41.66666667%
    }
    .vc_col-sm-push-4{
        left:33.33333333%
    }
    .vc_col-sm-push-3{
        left:25%
    }
    .vc_col-sm-push-2{
        left:16.66666667%
    }
    .vc_col-sm-push-1{
        left:8.33333333%
    }
    .vc_col-sm-push-0{
        left:auto
    }
    .vc_col-sm-offset-12{
        margin-left:100%
    }
    .vc_col-sm-offset-11{
        margin-left:91.66666667%
    }
    .vc_col-sm-offset-10{
        margin-left:83.33333333%
    }
    .vc_col-sm-offset-9{
        margin-left:75%
    }
    .vc_col-sm-offset-8{
        margin-left:66.66666667%
    }
    .vc_col-sm-offset-7{
        margin-left:58.33333333%
    }
    .vc_col-sm-offset-6{
        margin-left:50%
    }
    .vc_col-sm-offset-5{
        margin-left:41.66666667%
    }
    .vc_col-sm-offset-4{
        margin-left:33.33333333%
    }
    .vc_col-sm-offset-3{
        margin-left:25%
    }
    .vc_col-sm-offset-2{
        margin-left:16.66666667%
    }
    .vc_col-sm-offset-1{
        margin-left:8.33333333%
    }
    .vc_col-sm-offset-0{
        margin-left:0
    }
}
@media (min-width:1000px){

    .vc_col-md-12{
        width:100%
    }
    .vc_col-md-11{
        width:91.66666667%
    }
    .vc_col-md-10{
        width:83.33333333%
    }
    .vc_col-md-9{
        width:75%
    }
    .vc_col-md-8{
        width:66.66666667%
    }
    .vc_col-md-7{
        width:58.33333333%
    }
    .vc_col-md-6{
        width:50%
    }
    .vc_col-md-5{
        width:41.66666667%
    }
    .vc_col-md-4{
        width:33.33333333%
    }
    .vc_col-md-3{
        width:25%
    }
    .vc_col-md-2{
        width:16.66666667%
    }
    .vc_col-md-1{
        width:8.33333333%
    }
    .vc_col-md-pull-12{
        right:100%
    }
    .vc_col-md-pull-11{
        right:91.66666667%
    }
    .vc_col-md-pull-10{
        right:83.33333333%
    }
    .vc_col-md-pull-9{
        right:75%
    }
    .vc_col-md-pull-8{
        right:66.66666667%
    }
    .vc_col-md-pull-7{
        right:58.33333333%
    }
    .vc_col-md-pull-6{
        right:50%
    }
    .vc_col-md-pull-5{
        right:41.66666667%
    }
    .vc_col-md-pull-4{
        right:33.33333333%
    }
    .vc_col-md-pull-3{
        right:25%
    }
    .vc_col-md-pull-2{
        right:16.66666667%
    }
    .vc_col-md-pull-1{
        right:8.33333333%
    }
    .vc_col-md-pull-0{
        right:auto
    }
    .vc_col-md-push-12{
        left:100%
    }
    .vc_col-md-push-11{
        left:91.66666667%
    }
    .vc_col-md-push-10{
        left:83.33333333%
    }
    .vc_col-md-push-9{
        left:75%
    }
    .vc_col-md-push-8{
        left:66.66666667%
    }
    .vc_col-md-push-7{
        left:58.33333333%
    }
    .vc_col-md-push-6{
        left:50%
    }
    .vc_col-md-push-5{
        left:41.66666667%
    }
    .vc_col-md-push-4{
        left:33.33333333%
    }
    .vc_col-md-push-3{
        left:25%
    }
    .vc_col-md-push-2{
        left:16.66666667%
    }
    .vc_col-md-push-1{
        left:8.33333333%
    }
    .vc_col-md-push-0{
        left:auto
    }
    .vc_col-md-offset-12{
        margin-left:100%
    }
    .vc_col-md-offset-11{
        margin-left:91.66666667%
    }
    .vc_col-md-offset-10{
        margin-left:83.33333333%
    }
    .vc_col-md-offset-9{
        margin-left:75%
    }
    .vc_col-md-offset-8{
        margin-left:66.66666667%
    }
    .vc_col-md-offset-7{
        margin-left:58.33333333%
    }
    .vc_col-md-offset-6{
        margin-left:50%
    }
    .vc_col-md-offset-5{
        margin-left:41.66666667%
    }
    .vc_col-md-offset-4{
        margin-left:33.33333333%
    }
    .vc_col-md-offset-3{
        margin-left:25%
    }
    .vc_col-md-offset-2{
        margin-left:16.66666667%
    }
    .vc_col-md-offset-1{
        margin-left:8.33333333%
    }
    .vc_col-md-offset-0{
        margin-left:0
    }


    .vc_col-md-5\/5{
        width:100%
    }
    .vc_col-md-4\/5{
        width:80%
    }
    .vc_col-md-3\/5{
        width:60%
    }
    .vc_col-md-2\/5{
        width:40%
    }
    .vc_col-md-1\/5{
        width:20%
    }
    .vc_col-md-pull-5\/5{
        right:100%
    }
    .vc_col-md-pull-4\/5{
        right:80%
    }
    .vc_col-md-pull-3\/5{
        right:60%
    }
    .vc_col-md-pull-2\/5{
        right:40%
    }
    .vc_col-md-pull-1\/5{
        right:20%
    }
    .vc_col-md-pull-0\/5{
        right:auto
    }
    .vc_col-md-push-5\/5{
        left:100%
    }
    .vc_col-md-push-4\/5{
        left:80%
    }
    .vc_col-md-push-3\/5{
        left:60%
    }
    .vc_col-md-push-2\/5{
        left:40%
    }
    .vc_col-md-push-1\/5{
        left:20%
    }
    .vc_col-md-push-0\/5{
        left:auto
    }
    .vc_col-md-offset-5\/5{
        margin-left:100%
    }
    .vc_col-md-offset-4\/5{
        margin-left:80%
    }
    .vc_col-md-offset-3\/5{
        margin-left:60%
    }
    .vc_col-md-offset-2\/5{
        margin-left:40%
    }
    .vc_col-md-offset-1\/5{
        margin-left:20%
    }
    .vc_col-md-offset-0\/5{
        margin-left:0
    }

}
@media (min-width:1300px){

    .vc_col-lg-12{
        width:100%
    }
    .vc_col-lg-11{
        width:91.66666667%
    }
    .vc_col-lg-10{
        width:83.33333333%
    }
    .vc_col-lg-9{
        width:75%
    }
    .vc_col-lg-8{
        width:66.66666667%
    }
    .vc_col-lg-7{
        width:58.33333333%
    }
    .vc_col-lg-6{
        width:50%
    }
    .vc_col-lg-5{
        width:41.66666667%
    }
    .vc_col-lg-4{
        width:33.33333333%
    }
    .vc_col-lg-3{
        width:25%
    }
    .vc_col-lg-2{
        width:16.66666667%
    }
    .vc_col-lg-1{
        width:8.33333333%
    }
    .vc_col-lg-pull-12{
        right:100%
    }
    .vc_col-lg-pull-11{
        right:91.66666667%
    }
    .vc_col-lg-pull-10{
        right:83.33333333%
    }
    .vc_col-lg-pull-9{
        right:75%
    }
    .vc_col-lg-pull-8{
        right:66.66666667%
    }
    .vc_col-lg-pull-7{
        right:58.33333333%
    }
    .vc_col-lg-pull-6{
        right:50%
    }
    .vc_col-lg-pull-5{
        right:41.66666667%
    }
    .vc_col-lg-pull-4{
        right:33.33333333%
    }
    .vc_col-lg-pull-3{
        right:25%
    }
    .vc_col-lg-pull-2{
        right:16.66666667%
    }
    .vc_col-lg-pull-1{
        right:8.33333333%
    }
    .vc_col-lg-pull-0{
        right:auto
    }
    .vc_col-lg-push-12{
        left:100%
    }
    .vc_col-lg-push-11{
        left:91.66666667%
    }
    .vc_col-lg-push-10{
        left:83.33333333%
    }
    .vc_col-lg-push-9{
        left:75%
    }
    .vc_col-lg-push-8{
        left:66.66666667%
    }
    .vc_col-lg-push-7{
        left:58.33333333%
    }
    .vc_col-lg-push-6{
        left:50%
    }
    .vc_col-lg-push-5{
        left:41.66666667%
    }
    .vc_col-lg-push-4{
        left:33.33333333%
    }
    .vc_col-lg-push-3{
        left:25%
    }
    .vc_col-lg-push-2{
        left:16.66666667%
    }
    .vc_col-lg-push-1{
        left:8.33333333%
    }
    .vc_col-lg-push-0{
        left:auto
    }
    .vc_col-lg-offset-12{
        margin-left:100%
    }
    .vc_col-lg-offset-11{
        margin-left:91.66666667%
    }
    .vc_col-lg-offset-10{
        margin-left:83.33333333%
    }
    .vc_col-lg-offset-9{
        margin-left:75%
    }
    .vc_col-lg-offset-8{
        margin-left:66.66666667%
    }
    .vc_col-lg-offset-7{
        margin-left:58.33333333%
    }
    .vc_col-lg-offset-6{
        margin-left:50%
    }
    .vc_col-lg-offset-5{
        margin-left:41.66666667%
    }
    .vc_col-lg-offset-4{
        margin-left:33.33333333%
    }
    .vc_col-lg-offset-3{
        margin-left:25%
    }
    .vc_col-lg-offset-2{
        margin-left:16.66666667%
    }
    .vc_col-lg-offset-1{
        margin-left:8.33333333%
    }
    .vc_col-lg-offset-0{
        margin-left:0
    }
}



@media (min-width:690px){

    .vc_col-sm-1\/5,
    .vc_col-sm-2\/5,
    .vc_col-sm-3\/5,
    .vc_col-sm-4\/5,
    .vc_col-sm-5\/5{
        float:left
    }

    .vc_col-sm-pull-5\/5{
        right:100%
    }
    .vc_col-sm-pull-4\/5{
        right:80%
    }
    .vc_col-sm-pull-3\/5{
        right:60%
    }
    .vc_col-sm-pull-2\/5{
        right:40%
    }
    .vc_col-sm-pull-1\/5{
        right:20%
    }
    .vc_col-sm-pull-0\/5{
        right:auto
    }
    .vc_col-sm-push-5\/5{
        left:100%
    }
    .vc_col-sm-push-4\/5{
        left:80%
    }
    .vc_col-sm-push-3\/5{
        left:60%
    }
    .vc_col-sm-push-2\/5{
        left:40%
    }
    .vc_col-sm-push-1\/5{
        left:20%
    }
    .vc_col-sm-push-0\/5{
        left:auto
    }
    .vc_col-sm-offset-5\/5{
        margin-left:100%
    }
    .vc_col-sm-offset-4\/5{
        margin-left:80%
    }
    .vc_col-sm-offset-3\/5{
        margin-left:60%
    }
    .vc_col-sm-offset-2\/5{
        margin-left:40%
    }
    .vc_col-sm-offset-1\/5{
        margin-left:20%
    }
    .vc_col-sm-offset-0\/5{
        margin-left:0
    }
}
@media (min-width:1000px){
    .vc_col-md-1\/5,
    .vc_col-md-2\/5,
    .vc_col-md-3\/5,
    .vc_col-md-4\/5,
    .vc_col-md-5\/5{
        float:left
    }

}
@media (min-width:1300px){
    .vc_col-lg-1\/5,
    .vc_col-lg-2\/5,
    .vc_col-lg-3\/5,
    .vc_col-lg-4\/5,
    .vc_col-lg-5\/5{
        float:left
    }

    .vc_col-lg-5\/5{
        width:100%
    }
    .vc_col-lg-4\/5{
        width:80%
    }
    .vc_col-lg-3\/5{
        width:60%
    }
    .vc_col-lg-2\/5{
        width:40%
    }
    .vc_col-lg-1\/5{
        width:20%
    }
    .vc_col-lg-pull-5\/5{
        right:100%
    }
    .vc_col-lg-pull-4\/5{
        right:80%
    }
    .vc_col-lg-pull-3\/5{
        right:60%
    }
    .vc_col-lg-pull-2\/5{
        right:40%
    }
    .vc_col-lg-pull-1\/5{
        right:20%
    }
    .vc_col-lg-pull-0\/5{
        right:auto
    }
    .vc_col-lg-push-5\/5{
        left:100%
    }
    .vc_col-lg-push-4\/5{
        left:80%
    }
    .vc_col-lg-push-3\/5{
        left:60%
    }
    .vc_col-lg-push-2\/5{
        left:40%
    }
    .vc_col-lg-push-1\/5{
        left:20%
    }
    .vc_col-lg-push-0\/5{
        left:auto
    }
    .vc_col-lg-offset-5\/5{
        margin-left:100%
    }
    .vc_col-lg-offset-4\/5{
        margin-left:80%
    }
    .vc_col-lg-offset-3\/5{
        margin-left:60%
    }
    .vc_col-lg-offset-2\/5{
        margin-left:40%
    }
    .vc_col-lg-offset-1\/5{
        margin-left:20%
    }
    .vc_col-lg-offset-0\/5{
        margin-left:0
    }
}








/* Tablet width override */
@media only screen and (min-width : 690px) and (max-width : 999px) {

  .vc_col-sm-1[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-1 {
    width: 8.33333333%;
  }

  .vc_col-sm-2[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-2 {
    width: 16.66666667%;
  }

  .vc_col-sm-3[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-3 {
    width: 25%;
  }

  .vc_col-sm-4[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-4 {
    width: 33.33333333%;
  }

  .vc_col-sm-5[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-5 {
    width: 41.66666667%;
  }


  .vc_col-sm-6[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-6 {
    width: 50%;
  }


  .vc_col-sm-7[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-7 {
    width: 58.33333333%;
  }


  .vc_col-sm-8[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-8 {
    width: 66.66666667%;
  }


  .vc_col-sm-9[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-9 {
    width: 75%;
  }

  .vc_col-sm-10[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-10 {
    width: 83.33333333%;
  }

  .vc_col-sm-11[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-11 {
    width: 91.66666667%;
  }

}

/* Phone */
@media only screen and (max-width : 690px) {

  [class*="vc_col-"]:not([class*="vc_col-xs"]) {
    width: 100%;
  }

  .wpb_column:not([class*="vc_col-xs"]) {
    width: 100%;
    margin-bottom: 25px;
  }

  body .vc_row-fluid .vc_col-sm-2:not([class*="vc_col-xs"]),
  body .vc_row-fluid.full-width-content .vc_col-sm-2:not([class*="vc_col-xs"]) {
    width: 50%;
  }

}


/* Phone and Tablet */
@media only screen and (min-width : 1px) and (max-width : 999px) {
  .vc_row-fluid.full-width-content .col .wpb_row,
  .vc_row-fluid.full-width-content .col,
  .vc_row-fluid.vc_row[data-column-margin="none"] .col,
  .vc_row-fluid .wpb_column[class*="vc_col-xs"]:not(.vc_col-xs-12) {
    margin-bottom: 0;
  }
}



/* Reverse columns */
@media only screen and (min-width : 1000px) {
  .wpb_row.reverse_columns_desktop .row_col_wrap_12,
  .wpb_row.inner_row.reverse_columns_desktop .row_col_wrap_12_inner {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-width : 999px) and (min-width : 691px) {
  .wpb_row.reverse_columns_row_tablet .row_col_wrap_12,
  .wpb_row.inner_row.reverse_columns_row_tablet .row_col_wrap_12_inner {
    flex-direction: row-reverse;
  }
  .wpb_row.reverse_columns_column_tablet .row_col_wrap_12,
  .wpb_row.inner_row.reverse_columns_column_tablet .row_col_wrap_12_inner {
    flex-direction: column-reverse;
  }
  .wpb_row.reverse_columns_column_tablet:not([data-column-margin="none"]):not(.full-width-content) > .row_col_wrap_12 > .wpb_column:last-of-type,
  .wpb_row:not(.full-width-content) .wpb_row.inner_row:not([data-column-margin="none"]).reverse_columns_column_tablet .row_col_wrap_12_inner > .wpb_column:last-of-type {
      margin-bottom: 25px;
  }
  .wpb_row.reverse_columns_column_tablet:not([data-column-margin="none"]):not(.full-width-content) > .row_col_wrap_12 > .wpb_column:first-of-type,
  .wpb_row:not(.full-width-content) .wpb_row.inner_row:not([data-column-margin="none"]).reverse_columns_column_tablet .row_col_wrap_12_inner > .wpb_column:first-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width : 690px) {
  .wpb_row.reverse_columns_row_phone .row_col_wrap_12,
  .wpb_row.inner_row.reverse_columns_row_phone .row_col_wrap_12_inner {
    flex-direction: row-reverse;
  }
  .wpb_row.reverse_columns_column_phone .row_col_wrap_12,
  .wpb_row.inner_row.reverse_columns_column_phone .row_col_wrap_12_inner {
    flex-direction: column-reverse;
  }
  .wpb_row.reverse_columns_column_phone:not([data-column-margin="none"]):not(.full-width-content) > .row_col_wrap_12 > .wpb_column:last-of-type,
  .wpb_row:not(.full-width-content) .wpb_row.inner_row:not([data-column-margin="none"]).reverse_columns_column_phone .row_col_wrap_12_inner > .wpb_column:last-of-type {
      margin-bottom: 25px;
  }
  .wpb_row.reverse_columns_column_phone:not([data-column-margin="none"]):not(.full-width-content) > .row_col_wrap_12 > .wpb_column:first-of-type,
  .wpb_row:not(.full-width-content) .wpb_row.inner_row:not([data-column-margin="none"]).reverse_columns_column_phone .row_col_wrap_12_inner > .wpb_column:first-of-type {
    margin-bottom: 0;
  }
}
