@font-face {
  font-family: 'iconsmind';
  src:  url('fonts/iconsmind.eot?v=1.0');
  src:  url('fonts/iconsmind.eot?#iefix&v=1.0') format('embedded-opentype'),
    url('fonts/iconsmind.ttf?v=1.0') format('truetype'),
    url('fonts/iconsmind.woff?v=1.0') format('woff'),
    url('fonts/iconsmind.svg#iconsmind?v=1.0') format('svg');
  font-weight: normal;
  font-display: block;
  font-style: normal;
}

[class^="iconsmind-"], [class*=" iconsmind-"] {
  font-family: 'iconsmind' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body [class^="iconsmind-"], body [class*=" iconsmind-"] {
  visibility: visible;
}