@font-face {
  font-family: 'iconsmind';
  src:  url('fonts/iconsmind.eot?qnd6ae');
  src:  url('fonts/iconsmind.eot?qnd6ae#iefix') format('embedded-opentype'),
    url('fonts/iconsmind.ttf?qnd6ae') format('truetype'),
    url('fonts/iconsmind.woff?qnd6ae') format('woff'),
    url('fonts/iconsmind.svg?qnd6ae#icomoon') format('svg');
  font-weight: normal;
  font-display: block;
  font-style: normal;
}

[class^="iconsmind-"], [class*=" iconsmind-"] {
  font-family: 'iconsmind' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  visibility: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconsmind-Aquarius:before{content:"\e900"}.iconsmind-Aquarius-2:before{content:"\e901"}.iconsmind-Aries:before{content:"\e902"}.iconsmind-Aries-2:before{content:"\e903"}.iconsmind-Cancer:before{content:"\e904"}.iconsmind-Cancer-2:before{content:"\e905"}.iconsmind-Capricorn:before{content:"\e906"}.iconsmind-Capricorn-2:before{content:"\e907"}.iconsmind-Gemini:before{content:"\e908"}.iconsmind-Gemini-2:before{content:"\e909"}.iconsmind-Leo:before{content:"\e90a"}.iconsmind-Leo-2:before{content:"\e90b"}.iconsmind-Libra:before{content:"\e90c"}.iconsmind-Libra-2:before{content:"\e90d"}.iconsmind-Pisces:before{content:"\e90e"}.iconsmind-Pisces-2:before{content:"\e90f"}.iconsmind-Sagittarus:before{content:"\e910"}.iconsmind-Sagittarus-2:before{content:"\e911"}.iconsmind-Scorpio:before{content:"\e912"}.iconsmind-Scorpio-2:before{content:"\e913"}.iconsmind-Taurus:before{content:"\e914"}.iconsmind-Taurus-2:before{content:"\e915"}.iconsmind-Virgo:before{content:"\e916"}.iconsmind-Virgo-2:before{content:"\e917"}.iconsmind-Add-Window:before{content:"\e918"}.iconsmind-Approved-Window:before{content:"\e919"}.iconsmind-Block-Window:before{content:"\e91a"}.iconsmind-Close-Window:before{content:"\e91b"}.iconsmind-Code-Window:before{content:"\e91c"}.iconsmind-Delete-Window:before{content:"\e91d"}.iconsmind-Download-Window:before{content:"\e91e"}.iconsmind-Duplicate-Window:before{content:"\e91f"}.iconsmind-Error-404Window:before{content:"\e920"}.iconsmind-Favorite-Window:before{content:"\e921"}.iconsmind-Font-Window:before{content:"\e922"}.iconsmind-Full-ViewWindow:before{content:"\e923"}.iconsmind-Height-Window:before{content:"\e924"}.iconsmind-Home-Window:before{content:"\e925"}.iconsmind-Info-Window:before{content:"\e926"}.iconsmind-Loading-Window:before{content:"\e927"}.iconsmind-Lock-Window:before{content:"\e928"}.iconsmind-Love-Window:before{content:"\e929"}.iconsmind-Maximize-Window:before{content:"\e92a"}.iconsmind-Minimize-Maximize-Close-Window:before{content:"\e92b"}.iconsmind-Minimize-Window:before{content:"\e92c"}.iconsmind-Navigation-LeftWindow:before{content:"\e92d"}.iconsmind-Navigation-RightWindow:before{content:"\e92e"}.iconsmind-Network-Window:before{content:"\e92f"}.iconsmind-New-Tab:before{content:"\e930"}.iconsmind-One-Window:before{content:"\e931"}.iconsmind-Refresh-Window:before{content:"\e932"}.iconsmind-Remove-Window:before{content:"\e933"}.iconsmind-Restore-Window:before{content:"\e934"}.iconsmind-Save-Window:before{content:"\e935"}.iconsmind-Settings-Window:before{content:"\e936"}.iconsmind-Share-Window:before{content:"\e937"}.iconsmind-Sidebar-Window:before{content:"\e938"}.iconsmind-Split-FourSquareWindow:before{content:"\e939"}.iconsmind-Split-Horizontal:before{content:"\e93a"}.iconsmind-Split-Horizontal2Window:before{content:"\e93b"}.iconsmind-Split-Vertical:before{content:"\e93c"}.iconsmind-Split-Vertical2:before{content:"\e93d"}.iconsmind-Split-Window:before{content:"\e93e"}.iconsmind-Time-Window:before{content:"\e93f"}.iconsmind-Touch-Window:before{content:"\e940"}.iconsmind-Two-Windows:before{content:"\e941"}.iconsmind-Upload-Window:before{content:"\e942"}.iconsmind-URL-Window:before{content:"\e943"}.iconsmind-Warning-Window:before{content:"\e944"}.iconsmind-Width-Window:before{content:"\e945"}.iconsmind-Window-2:before{content:"\e946"}.iconsmind-Windows-2:before{content:"\e947"}.iconsmind-Autumn:before{content:"\e948"}.iconsmind-Celsius:before{content:"\e949"}.iconsmind-Cloud-Hail:before{content:"\e94a"}.iconsmind-Cloud-Moon:before{content:"\e94b"}.iconsmind-Cloud-Rain:before{content:"\e94c"}.iconsmind-Cloud-Snow:before{content:"\e94d"}.iconsmind-Cloud-Sun:before{content:"\e94e"}.iconsmind-Clouds-Weather:before{content:"\e94f"}.iconsmind-Cloud-Weather:before{content:"\e950"}.iconsmind-Drop:before{content:"\e951"}.iconsmind-Dry:before{content:"\e952"}.iconsmind-Fahrenheit:before{content:"\e953"}.iconsmind-Fog-Day:before{content:"\e954"}.iconsmind-Fog-Night:before{content:"\e955"}.iconsmind-Full-Moon:before{content:"\e956"}.iconsmind-Half-Moon:before{content:"\e957"}.iconsmind-No-Drop:before{content:"\e958"}.iconsmind-Rainbow:before{content:"\e959"}.iconsmind-Rainbow-2:before{content:"\e95a"}.iconsmind-Rain-Drop:before{content:"\e95b"}.iconsmind-Sleet:before{content:"\e95c"}.iconsmind-Snow:before{content:"\e95d"}.iconsmind-Snowflake:before{content:"\e95e"}.iconsmind-Snowflake-2:before{content:"\e95f"}.iconsmind-Snowflake-3:before{content:"\e960"}.iconsmind-Snow-Storm:before{content:"\e961"}.iconsmind-Spring:before{content:"\e962"}.iconsmind-Storm:before{content:"\e963"}.iconsmind-Summer:before{content:"\e964"}.iconsmind-Sun:before{content:"\e965"}.iconsmind-Sun-CloudyRain:before{content:"\e966"}.iconsmind-Sunrise:before{content:"\e967"}.iconsmind-Sunset:before{content:"\e968"}.iconsmind-Temperature:before{content:"\e969"}.iconsmind-Temperature-2:before{content:"\e96a"}.iconsmind-Thunder:before{content:"\e96b"}.iconsmind-Thunderstorm:before{content:"\e96c"}.iconsmind-Twister:before{content:"\e96d"}.iconsmind-Umbrella-2:before{content:"\e96e"}.iconsmind-Umbrella-3:before{content:"\e96f"}.iconsmind-Wave:before{content:"\e970"}.iconsmind-Wave-2:before{content:"\e971"}.iconsmind-Windsock:before{content:"\e972"}.iconsmind-Wind-Turbine:before{content:"\e973"}.iconsmind-Windy:before{content:"\e974"}.iconsmind-Winter:before{content:"\e975"}.iconsmind-Winter-2:before{content:"\e976"}.iconsmind-Cinema:before{content:"\e977"}.iconsmind-Clapperboard-Close:before{content:"\e978"}.iconsmind-Clapperboard-Open:before{content:"\e979"}.iconsmind-D-Eyeglasses:before{content:"\e97a"}.iconsmind-D-Eyeglasses2:before{content:"\e97b"}.iconsmind-Director:before{content:"\e97c"}.iconsmind-Film:before{content:"\e97d"}.iconsmind-Film-Strip:before{content:"\e97e"}.iconsmind-Film-Video:before{content:"\e97f"}.iconsmind-Flash-Video:before{content:"\e980"}.iconsmind-HD-Video:before{content:"\e981"}.iconsmind-Movie:before{content:"\e982"}.iconsmind-Old-TV:before{content:"\e983"}.iconsmind-Reel:before{content:"\e984"}.iconsmind-Tripod-andVideo:before{content:"\e985"}.iconsmind-TV:before{content:"\e986"}.iconsmind-Video:before{content:"\e987"}.iconsmind-Video-2:before{content:"\e988"}.iconsmind-Video-3:before{content:"\e989"}.iconsmind-Video-4:before{content:"\e98a"}.iconsmind-Video-5:before{content:"\e98b"}.iconsmind-Video-6:before{content:"\e98c"}.iconsmind-Video-Len:before{content:"\e98d"}.iconsmind-Video-Len2:before{content:"\e98e"}.iconsmind-Video-Photographer:before{content:"\e98f"}.iconsmind-Video-Tripod:before{content:"\e990"}.iconsmind-Affiliate:before{content:"\e991"}.iconsmind-Background:before{content:"\e992"}.iconsmind-Billing:before{content:"\e993"}.iconsmind-Control:before{content:"\e994"}.iconsmind-Control-2:before{content:"\e995"}.iconsmind-Crop-2:before{content:"\e996"}.iconsmind-Dashboard:before{content:"\e997"}.iconsmind-Duplicate-Layer:before{content:"\e998"}.iconsmind-Filter-2:before{content:"\e999"}.iconsmind-Gear:before{content:"\e99a"}.iconsmind-Gear-2:before{content:"\e99b"}.iconsmind-Gears:before{content:"\e99c"}.iconsmind-Gears-2:before{content:"\e99d"}.iconsmind-Information:before{content:"\e99e"}.iconsmind-Layer-Backward:before{content:"\e99f"}.iconsmind-Layer-Forward:before{content:"\e9a0"}.iconsmind-Library:before{content:"\e9a1"}.iconsmind-Loading:before{content:"\e9a2"}.iconsmind-Loading-2:before{content:"\e9a3"}.iconsmind-Loading-3:before{content:"\e9a4"}.iconsmind-Magnifi-Glass:before{content:"\e9a5"}.iconsmind-Magnifi-Glass2:before{content:"\e9a6"}.iconsmind-Magnifi-Glass22:before{content:"\e9a7"}.iconsmind-Mouse-Pointer:before{content:"\e9a8"}.iconsmind-On-off:before{content:"\e9a9"}.iconsmind-On-Off-2:before{content:"\e9aa"}.iconsmind-On-Off-3:before{content:"\e9ab"}.iconsmind-Preview:before{content:"\e9ac"}.iconsmind-Pricing:before{content:"\e9ad"}.iconsmind-Profile:before{content:"\e9ae"}.iconsmind-Project:before{content:"\e9af"}.iconsmind-Rename:before{content:"\e9b0"}.iconsmind-Repair:before{content:"\e9b1"}.iconsmind-Save:before{content:"\e9b2"}.iconsmind-Scroller:before{content:"\e9b3"}.iconsmind-Scroller-2:before{content:"\e9b4"}.iconsmind-Share:before{content:"\e9b5"}.iconsmind-Statistic:before{content:"\e9b6"}.iconsmind-Support:before{content:"\e9b7"}.iconsmind-Switch:before{content:"\e9b8"}.iconsmind-Upgrade:before{content:"\e9b9"}.iconsmind-User:before{content:"\e9ba"}.iconsmind-Wrench:before{content:"\e9bb"}.iconsmind-Air-Balloon:before{content:"\e9bc"}.iconsmind-Airship:before{content:"\e9bd"}.iconsmind-Bicycle:before{content:"\e9be"}.iconsmind-Bicycle-2:before{content:"\e9bf"}.iconsmind-Bike-Helmet:before{content:"\e9c0"}.iconsmind-Bus:before{content:"\e9c1"}.iconsmind-Bus-2:before{content:"\e9c2"}.iconsmind-Cable-Car:before{content:"\e9c3"}.iconsmind-Car:before{content:"\e9c4"}.iconsmind-Car-2:before{content:"\e9c5"}.iconsmind-Car-3:before{content:"\e9c6"}.iconsmind-Car-Wheel:before{content:"\e9c7"}.iconsmind-Gaugage:before{content:"\e9c8"}.iconsmind-Gaugage-2:before{content:"\e9c9"}.iconsmind-Helicopter:before{content:"\e9ca"}.iconsmind-Helicopter-2:before{content:"\e9cb"}.iconsmind-Helmet:before{content:"\e9cc"}.iconsmind-Jeep:before{content:"\e9cd"}.iconsmind-Jeep-2:before{content:"\e9ce"}.iconsmind-Jet:before{content:"\e9cf"}.iconsmind-Motorcycle:before{content:"\e9d0"}.iconsmind-Plane:before{content:"\e9d1"}.iconsmind-Plane-2:before{content:"\e9d2"}.iconsmind-Road:before{content:"\e9d3"}.iconsmind-Road-2:before{content:"\e9d4"}.iconsmind-Rocket:before{content:"\e9d5"}.iconsmind-Sailing-Ship:before{content:"\e9d6"}.iconsmind-Scooter:before{content:"\e9d7"}.iconsmind-Scooter-Front:before{content:"\e9d8"}.iconsmind-Ship:before{content:"\e9d9"}.iconsmind-Ship-2:before{content:"\e9da"}.iconsmind-Skateboard:before{content:"\e9db"}.iconsmind-Skateboard-2:before{content:"\e9dc"}.iconsmind-Taxi:before{content:"\e9dd"}.iconsmind-Taxi-2:before{content:"\e9de"}.iconsmind-Taxi-Sign:before{content:"\e9df"}.iconsmind-Tractor:before{content:"\e9e0"}.iconsmind-traffic-Light:before{content:"\e9e1"}.iconsmind-Traffic-Light2:before{content:"\e9e2"}.iconsmind-Train:before{content:"\e9e3"}.iconsmind-Train-2:before{content:"\e9e4"}.iconsmind-Tram:before{content:"\e9e5"}.iconsmind-Truck:before{content:"\e9e6"}.iconsmind-Yacht:before{content:"\e9e7"}.iconsmind-Double-Tap:before{content:"\e9e8"}.iconsmind-Drag:before{content:"\e9e9"}.iconsmind-Drag-Down:before{content:"\e9ea"}.iconsmind-Drag-Left:before{content:"\e9eb"}.iconsmind-Drag-Right:before{content:"\e9ec"}.iconsmind-Drag-Up:before{content:"\e9ed"}.iconsmind-Finger-DragFourSides:before{content:"\e9ee"}.iconsmind-Finger-DragTwoSides:before{content:"\e9ef"}.iconsmind-Five-Fingers:before{content:"\e9f0"}.iconsmind-Five-FingersDrag:before{content:"\e9f1"}.iconsmind-Five-FingersDrag2:before{content:"\e9f2"}.iconsmind-Five-FingersTouch:before{content:"\e9f3"}.iconsmind-Flick:before{content:"\e9f4"}.iconsmind-Four-Fingers:before{content:"\e9f5"}.iconsmind-Four-FingersDrag:before{content:"\e9f6"}.iconsmind-Four-FingersDrag2:before{content:"\e9f7"}.iconsmind-Four-FingersTouch:before{content:"\e9f8"}.iconsmind-Hand-Touch:before{content:"\e9f9"}.iconsmind-Hand-Touch2:before{content:"\e9fa"}.iconsmind-Hand-TouchSmartphone:before{content:"\e9fb"}.iconsmind-One-Finger:before{content:"\e9fc"}.iconsmind-One-FingerTouch:before{content:"\e9fd"}.iconsmind-Pinch:before{content:"\e9fe"}.iconsmind-Press:before{content:"\e9ff"}.iconsmind-Rotate-Gesture:before{content:"\ea00"}.iconsmind-Rotate-Gesture2:before{content:"\ea01"}.iconsmind-Rotate-Gesture3:before{content:"\ea02"}.iconsmind-Scroll:before{content:"\ea03"}.iconsmind-Scroll-Fast:before{content:"\ea04"}.iconsmind-Spread:before{content:"\ea05"}.iconsmind-Star-Track:before{content:"\ea06"}.iconsmind-Tap:before{content:"\ea07"}.iconsmind-Three-Fingers:before{content:"\ea08"}.iconsmind-Three-FingersDrag:before{content:"\ea09"}.iconsmind-Three-FingersDrag2:before{content:"\ea0a"}.iconsmind-Three-FingersTouch:before{content:"\ea0b"}.iconsmind-Thumb:before{content:"\ea0c"}.iconsmind-Two-Fingers:before{content:"\ea0d"}.iconsmind-Two-FingersDrag:before{content:"\ea0e"}.iconsmind-Two-FingersDrag2:before{content:"\ea0f"}.iconsmind-Two-FingersScroll:before{content:"\ea10"}.iconsmind-Two-FingersTouch:before{content:"\ea11"}.iconsmind-Zoom-Gesture:before{content:"\ea12"}.iconsmind-Alarm-Clock:before{content:"\ea13"}.iconsmind-Alarm-Clock2:before{content:"\ea14"}.iconsmind-Calendar-Clock:before{content:"\ea15"}.iconsmind-Clock:before{content:"\ea16"}.iconsmind-Clock-2:before{content:"\ea17"}.iconsmind-Clock-3:before{content:"\ea18"}.iconsmind-Clock-4:before{content:"\ea19"}.iconsmind-Clock-Back:before{content:"\ea1a"}.iconsmind-Clock-Forward:before{content:"\ea1b"}.iconsmind-Hour:before{content:"\ea1c"}.iconsmind-Old-Clock:before{content:"\ea1d"}.iconsmind-Over-Time:before{content:"\ea1e"}.iconsmind-Over-Time2:before{content:"\ea1f"}.iconsmind-Sand-watch:before{content:"\ea20"}.iconsmind-Sand-watch2:before{content:"\ea21"}.iconsmind-Stopwatch:before{content:"\ea22"}.iconsmind-Stopwatch-2:before{content:"\ea23"}.iconsmind-Time-Backup:before{content:"\ea24"}.iconsmind-Time-Fire:before{content:"\ea25"}.iconsmind-Time-Machine:before{content:"\ea26"}.iconsmind-Timer:before{content:"\ea27"}.iconsmind-Watch:before{content:"\ea28"}.iconsmind-Watch-2:before{content:"\ea29"}.iconsmind-Watch-3:before{content:"\ea2a"}.iconsmind-A-Z:before{content:"\ea2b"}.iconsmind-Bold-Text:before{content:"\ea2c"}.iconsmind-Bulleted-List:before{content:"\ea2d"}.iconsmind-Font-Color:before{content:"\ea2e"}.iconsmind-Font-Name:before{content:"\ea2f"}.iconsmind-Font-Size:before{content:"\ea30"}.iconsmind-Font-Style:before{content:"\ea31"}.iconsmind-Font-StyleSubscript:before{content:"\ea32"}.iconsmind-Font-StyleSuperscript:before{content:"\ea33"}.iconsmind-Function:before{content:"\ea34"}.iconsmind-Italic-Text:before{content:"\ea35"}.iconsmind-Line-SpacingText:before{content:"\ea36"}.iconsmind-Lowercase-Text:before{content:"\ea37"}.iconsmind-Normal-Text:before{content:"\ea38"}.iconsmind-Numbering-List:before{content:"\ea39"}.iconsmind-Strikethrough-Text:before{content:"\ea3a"}.iconsmind-Sum:before{content:"\ea3b"}.iconsmind-Text-Box:before{content:"\ea3c"}.iconsmind-Text-Effect:before{content:"\ea3d"}.iconsmind-Text-HighlightColor:before{content:"\ea3e"}.iconsmind-Text-Paragraph:before{content:"\ea3f"}.iconsmind-Under-LineText:before{content:"\ea40"}.iconsmind-Uppercase-Text:before{content:"\ea41"}.iconsmind-Wrap-Text:before{content:"\ea42"}.iconsmind-Z-A:before{content:"\ea43"}.iconsmind-Aerobics:before{content:"\ea44"}.iconsmind-Aerobics-2:before{content:"\ea45"}.iconsmind-Aerobics-3:before{content:"\ea46"}.iconsmind-Archery:before{content:"\ea47"}.iconsmind-Archery-2:before{content:"\ea48"}.iconsmind-Ballet-Shoes:before{content:"\ea49"}.iconsmind-Baseball:before{content:"\ea4a"}.iconsmind-Basket-Ball:before{content:"\ea4b"}.iconsmind-Bodybuilding:before{content:"\ea4c"}.iconsmind-Bowling:before{content:"\ea4d"}.iconsmind-Bowling-2:before{content:"\ea4e"}.iconsmind-Box:before{content:"\ea4f"}.iconsmind-Chess:before{content:"\ea50"}.iconsmind-Cricket:before{content:"\ea51"}.iconsmind-Dumbbell:before{content:"\ea52"}.iconsmind-Football:before{content:"\ea53"}.iconsmind-Football-2:before{content:"\ea54"}.iconsmind-Footprint:before{content:"\ea55"}.iconsmind-Footprint-2:before{content:"\ea56"}.iconsmind-Goggles:before{content:"\ea57"}.iconsmind-Golf:before{content:"\ea58"}.iconsmind-Golf-2:before{content:"\ea59"}.iconsmind-Gymnastics:before{content:"\ea5a"}.iconsmind-Hokey:before{content:"\ea5b"}.iconsmind-Jump-Rope:before{content:"\ea5c"}.iconsmind-Life-Jacket:before{content:"\ea5d"}.iconsmind-Medal:before{content:"\ea5e"}.iconsmind-Medal-2:before{content:"\ea5f"}.iconsmind-Medal-3:before{content:"\ea60"}.iconsmind-Parasailing:before{content:"\ea61"}.iconsmind-Pilates:before{content:"\ea62"}.iconsmind-Pilates-2:before{content:"\ea63"}.iconsmind-Pilates-3:before{content:"\ea64"}.iconsmind-Ping-Pong:before{content:"\ea65"}.iconsmind-Rafting:before{content:"\ea66"}.iconsmind-Running:before{content:"\ea67"}.iconsmind-Running-Shoes:before{content:"\ea68"}.iconsmind-Skate-Shoes:before{content:"\ea69"}.iconsmind-Ski:before{content:"\ea6a"}.iconsmind-Skydiving:before{content:"\ea6b"}.iconsmind-Snorkel:before{content:"\ea6c"}.iconsmind-Soccer-Ball:before{content:"\ea6d"}.iconsmind-Soccer-Shoes:before{content:"\ea6e"}.iconsmind-Swimming:before{content:"\ea6f"}.iconsmind-Tennis:before{content:"\ea70"}.iconsmind-Tennis-Ball:before{content:"\ea71"}.iconsmind-Trekking:before{content:"\ea72"}.iconsmind-Trophy:before{content:"\ea73"}.iconsmind-Trophy-2:before{content:"\ea74"}.iconsmind-Volleyball:before{content:"\ea75"}.iconsmind-weight-Lift:before{content:"\ea76"}.iconsmind-Speach-Bubble:before{content:"\ea77"}.iconsmind-Speach-Bubble2:before{content:"\ea78"}.iconsmind-Speach-Bubble3:before{content:"\ea79"}.iconsmind-Speach-Bubble4:before{content:"\ea7a"}.iconsmind-Speach-Bubble5:before{content:"\ea7b"}.iconsmind-Speach-Bubble6:before{content:"\ea7c"}.iconsmind-Speach-Bubble7:before{content:"\ea7d"}.iconsmind-Speach-Bubble8:before{content:"\ea7e"}.iconsmind-Speach-Bubble9:before{content:"\ea7f"}.iconsmind-Speach-Bubble10:before{content:"\ea80"}.iconsmind-Speach-Bubble11:before{content:"\ea81"}.iconsmind-Speach-Bubble12:before{content:"\ea82"}.iconsmind-Speach-Bubble13:before{content:"\ea83"}.iconsmind-Speach-BubbleAsking:before{content:"\ea84"}.iconsmind-Speach-BubbleComic:before{content:"\ea85"}.iconsmind-Speach-BubbleComic2:before{content:"\ea86"}.iconsmind-Speach-BubbleComic3:before{content:"\ea87"}.iconsmind-Speach-BubbleComic4:before{content:"\ea88"}.iconsmind-Speach-BubbleDialog:before{content:"\ea89"}.iconsmind-Speach-Bubbles:before{content:"\ea8a"}.iconsmind-Aim:before{content:"\ea8b"}.iconsmind-Ask:before{content:"\ea8c"}.iconsmind-Bebo:before{content:"\ea8d"}.iconsmind-Behance:before{content:"\ea8e"}.iconsmind-Betvibes:before{content:"\ea8f"}.iconsmind-Bing:before{content:"\ea90"}.iconsmind-Blinklist:before{content:"\ea91"}.iconsmind-Blogger:before{content:"\ea92"}.iconsmind-Brightkite:before{content:"\ea93"}.iconsmind-Delicious:before{content:"\ea94"}.iconsmind-Deviantart:before{content:"\ea95"}.iconsmind-Digg:before{content:"\ea96"}.iconsmind-Diigo:before{content:"\ea97"}.iconsmind-Doplr:before{content:"\ea98"}.iconsmind-Dribble:before{content:"\ea99"}.iconsmind-Email:before{content:"\ea9a"}.iconsmind-Evernote:before{content:"\ea9b"}.iconsmind-Facebook:before{content:"\ea9c"}.iconsmind-Facebook-2:before{content:"\ea9d"}.iconsmind-Feedburner:before{content:"\ea9e"}.iconsmind-Flickr:before{content:"\ea9f"}.iconsmind-Formspring:before{content:"\eaa0"}.iconsmind-Forsquare:before{content:"\eaa1"}.iconsmind-Friendfeed:before{content:"\eaa2"}.iconsmind-Friendster:before{content:"\eaa3"}.iconsmind-Furl:before{content:"\eaa4"}.iconsmind-Google:before{content:"\eaa5"}.iconsmind-Google-Buzz:before{content:"\eaa6"}.iconsmind-Google-Plus:before{content:"\eaa7"}.iconsmind-Gowalla:before{content:"\eaa8"}.iconsmind-ICQ:before{content:"\eaa9"}.iconsmind-ImDB:before{content:"\eaaa"}.iconsmind-Instagram:before{content:"\eaab"}.iconsmind-Last-FM:before{content:"\eaac"}.iconsmind-Like:before{content:"\eaad"}.iconsmind-Like-2:before{content:"\eaae"}.iconsmind-Linkedin:before{content:"\eaaf"}.iconsmind-Linkedin-2:before{content:"\eab0"}.iconsmind-Livejournal:before{content:"\eab1"}.iconsmind-Metacafe:before{content:"\eab2"}.iconsmind-Mixx:before{content:"\eab3"}.iconsmind-Myspace:before{content:"\eab4"}.iconsmind-Newsvine:before{content:"\eab5"}.iconsmind-Orkut:before{content:"\eab6"}.iconsmind-Picasa:before{content:"\eab7"}.iconsmind-Pinterest:before{content:"\eab8"}.iconsmind-Plaxo:before{content:"\eab9"}.iconsmind-Plurk:before{content:"\eaba"}.iconsmind-Posterous:before{content:"\eabb"}.iconsmind-QIK:before{content:"\eabc"}.iconsmind-Reddit:before{content:"\eabd"}.iconsmind-Reverbnation:before{content:"\eabe"}.iconsmind-RSS:before{content:"\eabf"}.iconsmind-Sharethis:before{content:"\eac0"}.iconsmind-Shoutwire:before{content:"\eac1"}.iconsmind-Skype:before{content:"\eac2"}.iconsmind-Soundcloud:before{content:"\eac3"}.iconsmind-Spurl:before{content:"\eac4"}.iconsmind-Stumbleupon:before{content:"\eac5"}.iconsmind-Technorati:before{content:"\eac6"}.iconsmind-Tumblr:before{content:"\eac7"}.iconsmind-Twitter:before{content:"\eac8"}.iconsmind-Twitter-2:before{content:"\eac9"}.iconsmind-Unlike:before{content:"\eaca"}.iconsmind-Unlike-2:before{content:"\eacb"}.iconsmind-Ustream:before{content:"\eacc"}.iconsmind-Viddler:before{content:"\eacd"}.iconsmind-Vimeo:before{content:"\eace"}.iconsmind-Wordpress:before{content:"\eacf"}.iconsmind-Xanga:before{content:"\ead0"}.iconsmind-Xing:before{content:"\ead1"}.iconsmind-Yahoo:before{content:"\ead2"}.iconsmind-Yahoo-Buzz:before{content:"\ead3"}.iconsmind-Yelp:before{content:"\ead4"}.iconsmind-Youtube:before{content:"\ead5"}.iconsmind-Zootool:before{content:"\ead6"}.iconsmind-Bisexual:before{content:"\ead7"}.iconsmind-Cancer2:before{content:"\ead8"}.iconsmind-Couple-Sign:before{content:"\ead9"}.iconsmind-David-Star:before{content:"\eada"}.iconsmind-Family-Sign:before{content:"\eadb"}.iconsmind-Female-2:before{content:"\eadc"}.iconsmind-Gey:before{content:"\eadd"}.iconsmind-Heart:before{content:"\eade"}.iconsmind-Homosexual:before{content:"\eadf"}.iconsmind-Inifity:before{content:"\eae0"}.iconsmind-Lesbian:before{content:"\eae1"}.iconsmind-Lesbians:before{content:"\eae2"}.iconsmind-Love:before{content:"\eae3"}.iconsmind-Male-2:before{content:"\eae4"}.iconsmind-Men:before{content:"\eae5"}.iconsmind-No-Smoking:before{content:"\eae6"}.iconsmind-Paw:before{content:"\eae7"}.iconsmind-Quotes:before{content:"\eae8"}.iconsmind-Quotes-2:before{content:"\eae9"}.iconsmind-Redirect:before{content:"\eaea"}.iconsmind-Retweet:before{content:"\eaeb"}.iconsmind-Ribbon:before{content:"\eaec"}.iconsmind-Ribbon-2:before{content:"\eaed"}.iconsmind-Ribbon-3:before{content:"\eaee"}.iconsmind-Sexual:before{content:"\eaef"}.iconsmind-Smoking-Area:before{content:"\eaf0"}.iconsmind-Trace:before{content:"\eaf1"}.iconsmind-Venn-Diagram:before{content:"\eaf2"}.iconsmind-Wheelchair:before{content:"\eaf3"}.iconsmind-Women:before{content:"\eaf4"}.iconsmind-Ying-Yang:before{content:"\eaf5"}.iconsmind-Add-Bag:before{content:"\eaf6"}.iconsmind-Add-Basket:before{content:"\eaf7"}.iconsmind-Add-Cart:before{content:"\eaf8"}.iconsmind-Bag-Coins:before{content:"\eaf9"}.iconsmind-Bag-Items:before{content:"\eafa"}.iconsmind-Bag-Quantity:before{content:"\eafb"}.iconsmind-Bar-Code:before{content:"\eafc"}.iconsmind-Basket-Coins:before{content:"\eafd"}.iconsmind-Basket-Items:before{content:"\eafe"}.iconsmind-Basket-Quantity:before{content:"\eaff"}.iconsmind-Bitcoin:before{content:"\eb00"}.iconsmind-Car-Coins:before{content:"\eb01"}.iconsmind-Car-Items:before{content:"\eb02"}.iconsmind-CartQuantity:before{content:"\eb03"}.iconsmind-Cash-Register:before{content:"\eb04"}.iconsmind-Cash-register2:before{content:"\eb05"}.iconsmind-Checkout:before{content:"\eb06"}.iconsmind-Checkout-Bag:before{content:"\eb07"}.iconsmind-Checkout-Basket:before{content:"\eb08"}.iconsmind-Full-Basket:before{content:"\eb09"}.iconsmind-Full-Cart:before{content:"\eb0a"}.iconsmind-Fyll-Bag:before{content:"\eb0b"}.iconsmind-Home:before{content:"\eb0c"}.iconsmind-Password-2shopping:before{content:"\eb0d"}.iconsmind-Password-shopping:before{content:"\eb0e"}.iconsmind-QR-Code:before{content:"\eb0f"}.iconsmind-Receipt:before{content:"\eb10"}.iconsmind-Receipt-2:before{content:"\eb11"}.iconsmind-Receipt-3:before{content:"\eb12"}.iconsmind-Receipt-4:before{content:"\eb13"}.iconsmind-Remove-Bag:before{content:"\eb14"}.iconsmind-Remove-Basket:before{content:"\eb15"}.iconsmind-Remove-Cart:before{content:"\eb16"}.iconsmind-Shop:before{content:"\eb17"}.iconsmind-Shop-2:before{content:"\eb18"}.iconsmind-Shop-3:before{content:"\eb19"}.iconsmind-Shop-4:before{content:"\eb1a"}.iconsmind-Shopping-Bag:before{content:"\eb1b"}.iconsmind-Shopping-Basket:before{content:"\eb1c"}.iconsmind-Shopping-Cart:before{content:"\eb1d"}.iconsmind-Tag-2:before{content:"\eb1e"}.iconsmind-Tag-3:before{content:"\eb1f"}.iconsmind-Tag-4:before{content:"\eb20"}.iconsmind-Tag-5:before{content:"\eb21"}.iconsmind-This-SideUp:before{content:"\eb22"}.iconsmind-Broke-Link2:before{content:"\eb23"}.iconsmind-Coding:before{content:"\eb24"}.iconsmind-Consulting:before{content:"\eb25"}.iconsmind-Copyright:before{content:"\eb26"}.iconsmind-Idea-2:before{content:"\eb27"}.iconsmind-Idea-3:before{content:"\eb28"}.iconsmind-Idea-4:before{content:"\eb29"}.iconsmind-Idea-5:before{content:"\eb2a"}.iconsmind-Internet:before{content:"\eb2b"}.iconsmind-Internet-2:before{content:"\eb2c"}.iconsmind-Link-2:before{content:"\eb2d"}.iconsmind-Management:before{content:"\eb2e"}.iconsmind-Monitor-Analytics:before{content:"\eb2f"}.iconsmind-Monitoring:before{content:"\eb30"}.iconsmind-Optimization:before{content:"\eb31"}.iconsmind-Search-People:before{content:"\eb32"}.iconsmind-Tag:before{content:"\eb33"}.iconsmind-Target:before{content:"\eb34"}.iconsmind-Target-Market:before{content:"\eb35"}.iconsmind-Testimonal:before{content:"\eb36"}.iconsmind-Computer-Secure:before{content:"\eb37"}.iconsmind-Eye-Scan:before{content:"\eb38"}.iconsmind-Finger-Print:before{content:"\eb39"}.iconsmind-Firewall:before{content:"\eb3a"}.iconsmind-Key-Lock:before{content:"\eb3b"}.iconsmind-Laptop-Secure:before{content:"\eb3c"}.iconsmind-Layer-1532:before{content:"\eb3d"}.iconsmind-Lock:before{content:"\eb3e"}.iconsmind-Lock-2:before{content:"\eb3f"}.iconsmind-Lock-3:before{content:"\eb40"}.iconsmind-Password:before{content:"\eb41"}.iconsmind-Password-Field:before{content:"\eb42"}.iconsmind-Police:before{content:"\eb43"}.iconsmind-Safe-Box:before{content:"\eb44"}.iconsmind-Security-Block:before{content:"\eb45"}.iconsmind-Security-Bug:before{content:"\eb46"}.iconsmind-Security-Camera:before{content:"\eb47"}.iconsmind-Security-Check:before{content:"\eb48"}.iconsmind-Security-Settings:before{content:"\eb49"}.iconsmind-Securiy-Remove:before{content:"\eb4a"}.iconsmind-Shield:before{content:"\eb4b"}.iconsmind-Smartphone-Secure:before{content:"\eb4c"}.iconsmind-SSL:before{content:"\eb4d"}.iconsmind-Tablet-Secure:before{content:"\eb4e"}.iconsmind-Type-Pass:before{content:"\eb4f"}.iconsmind-Unlock:before{content:"\eb50"}.iconsmind-Unlock-2:before{content:"\eb51"}.iconsmind-Unlock-3:before{content:"\eb52"}.iconsmind-Ambulance:before{content:"\eb53"}.iconsmind-Astronaut:before{content:"\eb54"}.iconsmind-Atom:before{content:"\eb55"}.iconsmind-Bacteria:before{content:"\eb56"}.iconsmind-Band-Aid:before{content:"\eb57"}.iconsmind-Bio-Hazard:before{content:"\eb58"}.iconsmind-Biotech:before{content:"\eb59"}.iconsmind-Brain:before{content:"\eb5a"}.iconsmind-Chemical:before{content:"\eb5b"}.iconsmind-Chemical-2:before{content:"\eb5c"}.iconsmind-Chemical-3:before{content:"\eb5d"}.iconsmind-Chemical-4:before{content:"\eb5e"}.iconsmind-Chemical-5:before{content:"\eb5f"}.iconsmind-Clinic:before{content:"\eb60"}.iconsmind-Cube-Molecule:before{content:"\eb61"}.iconsmind-Cube-Molecule2:before{content:"\eb62"}.iconsmind-Danger:before{content:"\eb63"}.iconsmind-Danger-2:before{content:"\eb64"}.iconsmind-DNA:before{content:"\eb65"}.iconsmind-DNA-2:before{content:"\eb66"}.iconsmind-DNA-Helix:before{content:"\eb67"}.iconsmind-First-Aid:before{content:"\eb68"}.iconsmind-Flask:before{content:"\eb69"}.iconsmind-Flask-2:before{content:"\eb6a"}.iconsmind-Helix-2:before{content:"\eb6b"}.iconsmind-Hospital:before{content:"\eb6c"}.iconsmind-Hurt:before{content:"\eb6d"}.iconsmind-Medical-Sign:before{content:"\eb6e"}.iconsmind-Medicine:before{content:"\eb6f"}.iconsmind-Medicine-2:before{content:"\eb70"}.iconsmind-Medicine-3:before{content:"\eb71"}.iconsmind-Microscope:before{content:"\eb72"}.iconsmind-Neutron:before{content:"\eb73"}.iconsmind-Nuclear:before{content:"\eb74"}.iconsmind-Physics:before{content:"\eb75"}.iconsmind-Plasmid:before{content:"\eb76"}.iconsmind-Plaster:before{content:"\eb77"}.iconsmind-Pulse:before{content:"\eb78"}.iconsmind-Radioactive:before{content:"\eb79"}.iconsmind-Safety-PinClose:before{content:"\eb7a"}.iconsmind-Safety-PinOpen:before{content:"\eb7b"}.iconsmind-Spermium:before{content:"\eb7c"}.iconsmind-Stethoscope:before{content:"\eb7d"}.iconsmind-Temperature2:before{content:"\eb7e"}.iconsmind-Test-Tube:before{content:"\eb7f"}.iconsmind-Test-Tube2:before{content:"\eb80"}.iconsmind-Virus:before{content:"\eb81"}.iconsmind-Virus-2:before{content:"\eb82"}.iconsmind-Virus-3:before{content:"\eb83"}.iconsmind-X-ray:before{content:"\eb84"}.iconsmind-Auto-Flash:before{content:"\eb85"}.iconsmind-Camera:before{content:"\eb86"}.iconsmind-Camera-2:before{content:"\eb87"}.iconsmind-Camera-3:before{content:"\eb88"}.iconsmind-Camera-4:before{content:"\eb89"}.iconsmind-Camera-5:before{content:"\eb8a"}.iconsmind-Camera-Back:before{content:"\eb8b"}.iconsmind-Crop:before{content:"\eb8c"}.iconsmind-Daylight:before{content:"\eb8d"}.iconsmind-Edit:before{content:"\eb8e"}.iconsmind-Eye:before{content:"\eb8f"}.iconsmind-Film2:before{content:"\eb90"}.iconsmind-Film-Cartridge:before{content:"\eb91"}.iconsmind-Filter:before{content:"\eb92"}.iconsmind-Flash:before{content:"\eb93"}.iconsmind-Flash-2:before{content:"\eb94"}.iconsmind-Fluorescent:before{content:"\eb95"}.iconsmind-Gopro:before{content:"\eb96"}.iconsmind-Landscape:before{content:"\eb97"}.iconsmind-Len:before{content:"\eb98"}.iconsmind-Len-2:before{content:"\eb99"}.iconsmind-Len-3:before{content:"\eb9a"}.iconsmind-Macro:before{content:"\eb9b"}.iconsmind-Memory-Card:before{content:"\eb9c"}.iconsmind-Memory-Card2:before{content:"\eb9d"}.iconsmind-Memory-Card3:before{content:"\eb9e"}.iconsmind-No-Flash:before{content:"\eb9f"}.iconsmind-Panorama:before{content:"\eba0"}.iconsmind-Photo:before{content:"\eba1"}.iconsmind-Photo-2:before{content:"\eba2"}.iconsmind-Photo-3:before{content:"\eba3"}.iconsmind-Photo-Album:before{content:"\eba4"}.iconsmind-Photo-Album2:before{content:"\eba5"}.iconsmind-Photo-Album3:before{content:"\eba6"}.iconsmind-Photos:before{content:"\eba7"}.iconsmind-Portrait:before{content:"\eba8"}.iconsmind-Retouching:before{content:"\eba9"}.iconsmind-Retro-Camera:before{content:"\ebaa"}.iconsmind-secound:before{content:"\ebab"}.iconsmind-secound2:before{content:"\ebac"}.iconsmind-Selfie:before{content:"\ebad"}.iconsmind-Shutter:before{content:"\ebae"}.iconsmind-Signal:before{content:"\ebaf"}.iconsmind-Snow2:before{content:"\ebb0"}.iconsmind-Sport-Mode:before{content:"\ebb1"}.iconsmind-Studio-Flash:before{content:"\ebb2"}.iconsmind-Studio-Lightbox:before{content:"\ebb3"}.iconsmind-Timer2:before{content:"\ebb4"}.iconsmind-Tripod-2:before{content:"\ebb5"}.iconsmind-Tripod-withCamera:before{content:"\ebb6"}.iconsmind-Tripod-withGopro:before{content:"\ebb7"}.iconsmind-Add-User:before{content:"\ebb8"}.iconsmind-Add-UserStar:before{content:"\ebb9"}.iconsmind-Administrator:before{content:"\ebba"}.iconsmind-Alien:before{content:"\ebbb"}.iconsmind-Alien-2:before{content:"\ebbc"}.iconsmind-Assistant:before{content:"\ebbd"}.iconsmind-Baby:before{content:"\ebbe"}.iconsmind-Baby-Cry:before{content:"\ebbf"}.iconsmind-Boy:before{content:"\ebc0"}.iconsmind-Business-Man:before{content:"\ebc1"}.iconsmind-Business-ManWoman:before{content:"\ebc2"}.iconsmind-Business-Mens:before{content:"\ebc3"}.iconsmind-Business-Woman:before{content:"\ebc4"}.iconsmind-Checked-User:before{content:"\ebc5"}.iconsmind-Chef:before{content:"\ebc6"}.iconsmind-Conference:before{content:"\ebc7"}.iconsmind-Cool-Guy:before{content:"\ebc8"}.iconsmind-Criminal:before{content:"\ebc9"}.iconsmind-Dj:before{content:"\ebca"}.iconsmind-Doctor:before{content:"\ebcb"}.iconsmind-Engineering:before{content:"\ebcc"}.iconsmind-Farmer:before{content:"\ebcd"}.iconsmind-Female:before{content:"\ebce"}.iconsmind-Female-22:before{content:"\ebcf"}.iconsmind-Find-User:before{content:"\ebd0"}.iconsmind-Geek:before{content:"\ebd1"}.iconsmind-Genius:before{content:"\ebd2"}.iconsmind-Girl:before{content:"\ebd3"}.iconsmind-Headphone:before{content:"\ebd4"}.iconsmind-Headset:before{content:"\ebd5"}.iconsmind-ID-2:before{content:"\ebd6"}.iconsmind-ID-3:before{content:"\ebd7"}.iconsmind-ID-Card:before{content:"\ebd8"}.iconsmind-King-2:before{content:"\ebd9"}.iconsmind-Lock-User:before{content:"\ebda"}.iconsmind-Love-User:before{content:"\ebdb"}.iconsmind-Male:before{content:"\ebdc"}.iconsmind-Male-22:before{content:"\ebdd"}.iconsmind-MaleFemale:before{content:"\ebde"}.iconsmind-Man-Sign:before{content:"\ebdf"}.iconsmind-Mens:before{content:"\ebe0"}.iconsmind-Network:before{content:"\ebe1"}.iconsmind-Nurse:before{content:"\ebe2"}.iconsmind-Pac-Man:before{content:"\ebe3"}.iconsmind-Pilot:before{content:"\ebe4"}.iconsmind-Police-Man:before{content:"\ebe5"}.iconsmind-Police-Woman:before{content:"\ebe6"}.iconsmind-Professor:before{content:"\ebe7"}.iconsmind-Punker:before{content:"\ebe8"}.iconsmind-Queen-2:before{content:"\ebe9"}.iconsmind-Remove-User:before{content:"\ebea"}.iconsmind-Robot:before{content:"\ebeb"}.iconsmind-Speak:before{content:"\ebec"}.iconsmind-Speak-2:before{content:"\ebed"}.iconsmind-Spy:before{content:"\ebee"}.iconsmind-Student-Female:before{content:"\ebef"}.iconsmind-Student-Male:before{content:"\ebf0"}.iconsmind-Student-MaleFemale:before{content:"\ebf1"}.iconsmind-Students:before{content:"\ebf2"}.iconsmind-Superman:before{content:"\ebf3"}.iconsmind-Talk-Man:before{content:"\ebf4"}.iconsmind-Teacher:before{content:"\ebf5"}.iconsmind-Waiter:before{content:"\ebf6"}.iconsmind-WomanMan:before{content:"\ebf7"}.iconsmind-Woman-Sign:before{content:"\ebf8"}.iconsmind-Wonder-Woman:before{content:"\ebf9"}.iconsmind-Worker:before{content:"\ebfa"}.iconsmind-Anchor:before{content:"\ebfb"}.iconsmind-Army-Key:before{content:"\ebfc"}.iconsmind-Balloon:before{content:"\ebfd"}.iconsmind-Barricade:before{content:"\ebfe"}.iconsmind-Batman-Mask:before{content:"\ebff"}.iconsmind-Binocular:before{content:"\ec00"}.iconsmind-Boom:before{content:"\ec01"}.iconsmind-Bucket:before{content:"\ec02"}.iconsmind-Button:before{content:"\ec03"}.iconsmind-Cannon:before{content:"\ec04"}.iconsmind-Chacked-Flag:before{content:"\ec05"}.iconsmind-Chair:before{content:"\ec06"}.iconsmind-Coffee-Machine:before{content:"\ec07"}.iconsmind-Crown:before{content:"\ec08"}.iconsmind-Crown-2:before{content:"\ec09"}.iconsmind-Dice:before{content:"\ec0a"}.iconsmind-Dice-2:before{content:"\ec0b"}.iconsmind-Domino:before{content:"\ec0c"}.iconsmind-Door-Hanger:before{content:"\ec0d"}.iconsmind-Drill:before{content:"\ec0e"}.iconsmind-Feather:before{content:"\ec0f"}.iconsmind-Fire-Hydrant:before{content:"\ec10"}.iconsmind-Flag:before{content:"\ec11"}.iconsmind-Flag-2:before{content:"\ec12"}.iconsmind-Flashlight:before{content:"\ec13"}.iconsmind-Footprint2:before{content:"\ec14"}.iconsmind-Gas-Pump:before{content:"\ec15"}.iconsmind-Gift-Box:before{content:"\ec16"}.iconsmind-Gun:before{content:"\ec17"}.iconsmind-Gun-2:before{content:"\ec18"}.iconsmind-Gun-3:before{content:"\ec19"}.iconsmind-Hammer:before{content:"\ec1a"}.iconsmind-Identification-Badge:before{content:"\ec1b"}.iconsmind-Key:before{content:"\ec1c"}.iconsmind-Key-2:before{content:"\ec1d"}.iconsmind-Key-3:before{content:"\ec1e"}.iconsmind-Lamp:before{content:"\ec1f"}.iconsmind-Lego:before{content:"\ec20"}.iconsmind-Life-Safer:before{content:"\ec21"}.iconsmind-Light-Bulb:before{content:"\ec22"}.iconsmind-Light-Bulb2:before{content:"\ec23"}.iconsmind-Luggafe-Front:before{content:"\ec24"}.iconsmind-Luggage-2:before{content:"\ec25"}.iconsmind-Magic-Wand:before{content:"\ec26"}.iconsmind-Magnet:before{content:"\ec27"}.iconsmind-Mask:before{content:"\ec28"}.iconsmind-Menorah:before{content:"\ec29"}.iconsmind-Mirror:before{content:"\ec2a"}.iconsmind-Movie-Ticket:before{content:"\ec2b"}.iconsmind-Office-Lamp:before{content:"\ec2c"}.iconsmind-Paint-Brush:before{content:"\ec2d"}.iconsmind-Paint-Bucket:before{content:"\ec2e"}.iconsmind-Paper-Plane:before{content:"\ec2f"}.iconsmind-Post-Sign:before{content:"\ec30"}.iconsmind-Post-Sign2ways:before{content:"\ec31"}.iconsmind-Puzzle:before{content:"\ec32"}.iconsmind-Razzor-Blade:before{content:"\ec33"}.iconsmind-Scale:before{content:"\ec34"}.iconsmind-Screwdriver:before{content:"\ec35"}.iconsmind-Sewing-Machine:before{content:"\ec36"}.iconsmind-Sheriff-Badge:before{content:"\ec37"}.iconsmind-Stroller:before{content:"\ec38"}.iconsmind-Suitcase:before{content:"\ec39"}.iconsmind-Teddy-Bear:before{content:"\ec3a"}.iconsmind-Telescope:before{content:"\ec3b"}.iconsmind-Tent:before{content:"\ec3c"}.iconsmind-Thread:before{content:"\ec3d"}.iconsmind-Ticket:before{content:"\ec3e"}.iconsmind-Time-Bomb:before{content:"\ec3f"}.iconsmind-Tourch:before{content:"\ec40"}.iconsmind-Vase:before{content:"\ec41"}.iconsmind-Video-GameController:before{content:"\ec42"}.iconsmind-Conservation:before{content:"\ec43"}.iconsmind-Eci-Icon:before{content:"\ec44"}.iconsmind-Environmental:before{content:"\ec45"}.iconsmind-Environmental-2:before{content:"\ec46"}.iconsmind-Environmental-3:before{content:"\ec47"}.iconsmind-Fire-Flame:before{content:"\ec48"}.iconsmind-Fire-Flame2:before{content:"\ec49"}.iconsmind-Flowerpot:before{content:"\ec4a"}.iconsmind-Forest:before{content:"\ec4b"}.iconsmind-Green-Energy:before{content:"\ec4c"}.iconsmind-Green-House:before{content:"\ec4d"}.iconsmind-Landscape2:before{content:"\ec4e"}.iconsmind-Leafs:before{content:"\ec4f"}.iconsmind-Leafs-2:before{content:"\ec50"}.iconsmind-Light-BulbLeaf:before{content:"\ec51"}.iconsmind-Palm-Tree:before{content:"\ec52"}.iconsmind-Plant:before{content:"\ec53"}.iconsmind-Recycling:before{content:"\ec54"}.iconsmind-Recycling-2:before{content:"\ec55"}.iconsmind-Seed:before{content:"\ec56"}.iconsmind-Trash-withMen:before{content:"\ec57"}.iconsmind-Tree:before{content:"\ec58"}.iconsmind-Tree-2:before{content:"\ec59"}.iconsmind-Tree-3:before{content:"\ec5a"}.iconsmind-Audio:before{content:"\ec5b"}.iconsmind-Back-Music:before{content:"\ec5c"}.iconsmind-Bell:before{content:"\ec5d"}.iconsmind-Casette-Tape:before{content:"\ec5e"}.iconsmind-CD-2:before{content:"\ec5f"}.iconsmind-CD-Cover:before{content:"\ec60"}.iconsmind-Cello:before{content:"\ec61"}.iconsmind-Clef:before{content:"\ec62"}.iconsmind-Drum:before{content:"\ec63"}.iconsmind-Earphones:before{content:"\ec64"}.iconsmind-Earphones-2:before{content:"\ec65"}.iconsmind-Electric-Guitar:before{content:"\ec66"}.iconsmind-Equalizer:before{content:"\ec67"}.iconsmind-First:before{content:"\ec68"}.iconsmind-Guitar:before{content:"\ec69"}.iconsmind-Headphones:before{content:"\ec6a"}.iconsmind-Keyboard3:before{content:"\ec6b"}.iconsmind-Last:before{content:"\ec6c"}.iconsmind-Loud:before{content:"\ec6d"}.iconsmind-Loudspeaker:before{content:"\ec6e"}.iconsmind-Mic:before{content:"\ec6f"}.iconsmind-Microphone:before{content:"\ec70"}.iconsmind-Microphone-2:before{content:"\ec71"}.iconsmind-Microphone-3:before{content:"\ec72"}.iconsmind-Microphone-4:before{content:"\ec73"}.iconsmind-Microphone-5:before{content:"\ec74"}.iconsmind-Microphone-6:before{content:"\ec75"}.iconsmind-Microphone-7:before{content:"\ec76"}.iconsmind-Mixer:before{content:"\ec77"}.iconsmind-Mp3-File:before{content:"\ec78"}.iconsmind-Music-Note:before{content:"\ec79"}.iconsmind-Music-Note2:before{content:"\ec7a"}.iconsmind-Music-Note3:before{content:"\ec7b"}.iconsmind-Music-Note4:before{content:"\ec7c"}.iconsmind-Music-Player:before{content:"\ec7d"}.iconsmind-Mute:before{content:"\ec7e"}.iconsmind-Next-Music:before{content:"\ec7f"}.iconsmind-Old-Radio:before{content:"\ec80"}.iconsmind-On-Air:before{content:"\ec81"}.iconsmind-Piano:before{content:"\ec82"}.iconsmind-Play-Music:before{content:"\ec83"}.iconsmind-Radio:before{content:"\ec84"}.iconsmind-Record:before{content:"\ec85"}.iconsmind-Record-Music:before{content:"\ec86"}.iconsmind-Rock-andRoll:before{content:"\ec87"}.iconsmind-Saxophone:before{content:"\ec88"}.iconsmind-Sound:before{content:"\ec89"}.iconsmind-Sound-Wave:before{content:"\ec8a"}.iconsmind-Speaker:before{content:"\ec8b"}.iconsmind-Stop-Music:before{content:"\ec8c"}.iconsmind-Trumpet:before{content:"\ec8d"}.iconsmind-Voice:before{content:"\ec8e"}.iconsmind-Volume-Down:before{content:"\ec8f"}.iconsmind-Volume-Up:before{content:"\ec90"}.iconsmind-Back:before{content:"\ec91"}.iconsmind-Back-2:before{content:"\ec92"}.iconsmind-Eject:before{content:"\ec93"}.iconsmind-Eject-2:before{content:"\ec94"}.iconsmind-End:before{content:"\ec95"}.iconsmind-End-2:before{content:"\ec96"}.iconsmind-Next:before{content:"\ec97"}.iconsmind-Next-2:before{content:"\ec98"}.iconsmind-Pause:before{content:"\ec99"}.iconsmind-Pause-2:before{content:"\ec9a"}.iconsmind-Power-2:before{content:"\ec9b"}.iconsmind-Power-3:before{content:"\ec9c"}.iconsmind-Record2:before{content:"\ec9d"}.iconsmind-Record-2:before{content:"\ec9e"}.iconsmind-Repeat:before{content:"\ec9f"}.iconsmind-Repeat-2:before{content:"\eca0"}.iconsmind-Shuffle:before{content:"\eca1"}.iconsmind-Shuffle-2:before{content:"\eca2"}.iconsmind-Start:before{content:"\eca3"}.iconsmind-Start-2:before{content:"\eca4"}.iconsmind-Stop:before{content:"\eca5"}.iconsmind-Stop-2:before{content:"\eca6"}.iconsmind-Compass:before{content:"\eca7"}.iconsmind-Compass-2:before{content:"\eca8"}.iconsmind-Compass-Rose:before{content:"\eca9"}.iconsmind-Direction-East:before{content:"\ecaa"}.iconsmind-Direction-North:before{content:"\ecab"}.iconsmind-Direction-South:before{content:"\ecac"}.iconsmind-Direction-West:before{content:"\ecad"}.iconsmind-Edit-Map:before{content:"\ecae"}.iconsmind-Geo:before{content:"\ecaf"}.iconsmind-Geo2:before{content:"\ecb0"}.iconsmind-Geo3:before{content:"\ecb1"}.iconsmind-Geo22:before{content:"\ecb2"}.iconsmind-Geo23:before{content:"\ecb3"}.iconsmind-Geo24:before{content:"\ecb4"}.iconsmind-Geo2-Close:before{content:"\ecb5"}.iconsmind-Geo2-Love:before{content:"\ecb6"}.iconsmind-Geo2-Number:before{content:"\ecb7"}.iconsmind-Geo2-Star:before{content:"\ecb8"}.iconsmind-Geo32:before{content:"\ecb9"}.iconsmind-Geo33:before{content:"\ecba"}.iconsmind-Geo34:before{content:"\ecbb"}.iconsmind-Geo3-Close:before{content:"\ecbc"}.iconsmind-Geo3-Love:before{content:"\ecbd"}.iconsmind-Geo3-Number:before{content:"\ecbe"}.iconsmind-Geo3-Star:before{content:"\ecbf"}.iconsmind-Geo-Close:before{content:"\ecc0"}.iconsmind-Geo-Love:before{content:"\ecc1"}.iconsmind-Geo-Number:before{content:"\ecc2"}.iconsmind-Geo-Star:before{content:"\ecc3"}.iconsmind-Global-Position:before{content:"\ecc4"}.iconsmind-Globe:before{content:"\ecc5"}.iconsmind-Globe-2:before{content:"\ecc6"}.iconsmind-Location:before{content:"\ecc7"}.iconsmind-Location-2:before{content:"\ecc8"}.iconsmind-Map:before{content:"\ecc9"}.iconsmind-Map2:before{content:"\ecca"}.iconsmind-Map-Marker:before{content:"\eccb"}.iconsmind-Map-Marker2:before{content:"\eccc"}.iconsmind-Map-Marker3:before{content:"\eccd"}.iconsmind-Road2:before{content:"\ecce"}.iconsmind-Satelite:before{content:"\eccf"}.iconsmind-Satelite-2:before{content:"\ecd0"}.iconsmind-Street-View:before{content:"\ecd1"}.iconsmind-Street-View2:before{content:"\ecd2"}.iconsmind-Android-Store:before{content:"\ecd3"}.iconsmind-Apple-Store:before{content:"\ecd4"}.iconsmind-Box2:before{content:"\ecd5"}.iconsmind-Dropbox:before{content:"\ecd6"}.iconsmind-Google-Drive:before{content:"\ecd7"}.iconsmind-Google-Play:before{content:"\ecd8"}.iconsmind-Paypal:before{content:"\ecd9"}.iconsmind-Skrill:before{content:"\ecda"}.iconsmind-X-Box:before{content:"\ecdb"}.iconsmind-Add:before{content:"\ecdc"}.iconsmind-Back2:before{content:"\ecdd"}.iconsmind-Broken-Link:before{content:"\ecde"}.iconsmind-Check:before{content:"\ecdf"}.iconsmind-Check-2:before{content:"\ece0"}.iconsmind-Circular-Point:before{content:"\ece1"}.iconsmind-Close:before{content:"\ece2"}.iconsmind-Cursor:before{content:"\ece3"}.iconsmind-Cursor-Click:before{content:"\ece4"}.iconsmind-Cursor-Click2:before{content:"\ece5"}.iconsmind-Cursor-Move:before{content:"\ece6"}.iconsmind-Cursor-Move2:before{content:"\ece7"}.iconsmind-Cursor-Select:before{content:"\ece8"}.iconsmind-Down:before{content:"\ece9"}.iconsmind-Download:before{content:"\ecea"}.iconsmind-Downward:before{content:"\eceb"}.iconsmind-Endways:before{content:"\ecec"}.iconsmind-Forward:before{content:"\eced"}.iconsmind-Left:before{content:"\ecee"}.iconsmind-Link:before{content:"\ecef"}.iconsmind-Next2:before{content:"\ecf0"}.iconsmind-Orientation:before{content:"\ecf1"}.iconsmind-Pointer:before{content:"\ecf2"}.iconsmind-Previous:before{content:"\ecf3"}.iconsmind-Redo:before{content:"\ecf4"}.iconsmind-Refresh:before{content:"\ecf5"}.iconsmind-Reload:before{content:"\ecf6"}.iconsmind-Remove:before{content:"\ecf7"}.iconsmind-Repeat2:before{content:"\ecf8"}.iconsmind-Reset:before{content:"\ecf9"}.iconsmind-Rewind:before{content:"\ecfa"}.iconsmind-Right:before{content:"\ecfb"}.iconsmind-Rotation:before{content:"\ecfc"}.iconsmind-Rotation-390:before{content:"\ecfd"}.iconsmind-Spot:before{content:"\ecfe"}.iconsmind-Start-ways:before{content:"\ecff"}.iconsmind-Synchronize:before{content:"\ed00"}.iconsmind-Synchronize-2:before{content:"\ed01"}.iconsmind-Undo:before{content:"\ed02"}.iconsmind-Up:before{content:"\ed03"}.iconsmind-Upload:before{content:"\ed04"}.iconsmind-Upward:before{content:"\ed05"}.iconsmind-Yes:before{content:"\ed06"}.iconsmind-Barricade2:before{content:"\ed07"}.iconsmind-Crane:before{content:"\ed08"}.iconsmind-Dam:before{content:"\ed09"}.iconsmind-Drill2:before{content:"\ed0a"}.iconsmind-Electricity:before{content:"\ed0b"}.iconsmind-Explode:before{content:"\ed0c"}.iconsmind-Factory:before{content:"\ed0d"}.iconsmind-Fuel:before{content:"\ed0e"}.iconsmind-Helmet2:before{content:"\ed0f"}.iconsmind-Helmet-2:before{content:"\ed10"}.iconsmind-Laser:before{content:"\ed11"}.iconsmind-Mine:before{content:"\ed12"}.iconsmind-Oil:before{content:"\ed13"}.iconsmind-Petrol:before{content:"\ed14"}.iconsmind-Pipe:before{content:"\ed15"}.iconsmind-Power-Station:before{content:"\ed16"}.iconsmind-Refinery:before{content:"\ed17"}.iconsmind-Saw:before{content:"\ed18"}.iconsmind-Shovel:before{content:"\ed19"}.iconsmind-Solar:before{content:"\ed1a"}.iconsmind-Wheelbarrow:before{content:"\ed1b"}.iconsmind-Windmill:before{content:"\ed1c"}.iconsmind-Aa:before{content:"\ed1d"}.iconsmind-Add-File:before{content:"\ed1e"}.iconsmind-Address-Book:before{content:"\ed1f"}.iconsmind-Address-Book2:before{content:"\ed20"}.iconsmind-Add-SpaceAfterParagraph:before{content:"\ed21"}.iconsmind-Add-SpaceBeforeParagraph:before{content:"\ed22"}.iconsmind-Airbrush:before{content:"\ed23"}.iconsmind-Aligator:before{content:"\ed24"}.iconsmind-Align-Center:before{content:"\ed25"}.iconsmind-Align-JustifyAll:before{content:"\ed26"}.iconsmind-Align-JustifyCenter:before{content:"\ed27"}.iconsmind-Align-JustifyLeft:before{content:"\ed28"}.iconsmind-Align-JustifyRight:before{content:"\ed29"}.iconsmind-Align-Left:before{content:"\ed2a"}.iconsmind-Align-Right:before{content:"\ed2b"}.iconsmind-Alpha:before{content:"\ed2c"}.iconsmind-AMX:before{content:"\ed2d"}.iconsmind-Anchor2:before{content:"\ed2e"}.iconsmind-Android:before{content:"\ed2f"}.iconsmind-Angel:before{content:"\ed30"}.iconsmind-Angel-Smiley:before{content:"\ed31"}.iconsmind-Angry:before{content:"\ed32"}.iconsmind-Apple:before{content:"\ed33"}.iconsmind-Apple-Bite:before{content:"\ed34"}.iconsmind-Argentina:before{content:"\ed35"}.iconsmind-Arrow-Around:before{content:"\ed36"}.iconsmind-Arrow-Back:before{content:"\ed37"}.iconsmind-Arrow-Back2:before{content:"\ed38"}.iconsmind-Arrow-Back3:before{content:"\ed39"}.iconsmind-Arrow-Barrier:before{content:"\ed3a"}.iconsmind-Arrow-Circle:before{content:"\ed3b"}.iconsmind-Arrow-Cross:before{content:"\ed3c"}.iconsmind-Arrow-Down:before{content:"\ed3d"}.iconsmind-Arrow-Down2:before{content:"\ed3e"}.iconsmind-Arrow-Down3:before{content:"\ed3f"}.iconsmind-Arrow-DowninCircle:before{content:"\ed40"}.iconsmind-Arrow-Fork:before{content:"\ed41"}.iconsmind-Arrow-Forward:before{content:"\ed42"}.iconsmind-Arrow-Forward2:before{content:"\ed43"}.iconsmind-Arrow-From:before{content:"\ed44"}.iconsmind-Arrow-Inside:before{content:"\ed45"}.iconsmind-Arrow-Inside45:before{content:"\ed46"}.iconsmind-Arrow-InsideGap:before{content:"\ed47"}.iconsmind-Arrow-InsideGap45:before{content:"\ed48"}.iconsmind-Arrow-Into:before{content:"\ed49"}.iconsmind-Arrow-Join:before{content:"\ed4a"}.iconsmind-Arrow-Junction:before{content:"\ed4b"}.iconsmind-Arrow-Left:before{content:"\ed4c"}.iconsmind-Arrow-Left2:before{content:"\ed4d"}.iconsmind-Arrow-LeftinCircle:before{content:"\ed4e"}.iconsmind-Arrow-Loop:before{content:"\ed4f"}.iconsmind-Arrow-Merge:before{content:"\ed50"}.iconsmind-Arrow-Mix:before{content:"\ed51"}.iconsmind-Arrow-Next:before{content:"\ed52"}.iconsmind-Arrow-OutLeft:before{content:"\ed53"}.iconsmind-Arrow-OutRight:before{content:"\ed54"}.iconsmind-Arrow-Outside:before{content:"\ed55"}.iconsmind-Arrow-Outside45:before{content:"\ed56"}.iconsmind-Arrow-OutsideGap:before{content:"\ed57"}.iconsmind-Arrow-OutsideGap45:before{content:"\ed58"}.iconsmind-Arrow-Over:before{content:"\ed59"}.iconsmind-Arrow-Refresh:before{content:"\ed5a"}.iconsmind-Arrow-Refresh2:before{content:"\ed5b"}.iconsmind-Arrow-Right:before{content:"\ed5c"}.iconsmind-Arrow-Right2:before{content:"\ed5d"}.iconsmind-Arrow-RightinCircle:before{content:"\ed5e"}.iconsmind-Arrow-Shuffle:before{content:"\ed5f"}.iconsmind-Arrow-Squiggly:before{content:"\ed60"}.iconsmind-Arrow-Through:before{content:"\ed61"}.iconsmind-Arrow-To:before{content:"\ed62"}.iconsmind-Arrow-TurnLeft:before{content:"\ed63"}.iconsmind-Arrow-TurnRight:before{content:"\ed64"}.iconsmind-Arrow-Up:before{content:"\ed65"}.iconsmind-Arrow-Up2:before{content:"\ed66"}.iconsmind-Arrow-Up3:before{content:"\ed67"}.iconsmind-Arrow-UpinCircle:before{content:"\ed68"}.iconsmind-Arrow-XLeft:before{content:"\ed69"}.iconsmind-Arrow-XRight:before{content:"\ed6a"}.iconsmind-ATM:before{content:"\ed6b"}.iconsmind-At-Sign:before{content:"\ed6c"}.iconsmind-Baby-Clothes:before{content:"\ed6d"}.iconsmind-Baby-Clothes2:before{content:"\ed6e"}.iconsmind-Bag:before{content:"\ed6f"}.iconsmind-Bakelite:before{content:"\ed70"}.iconsmind-Banana:before{content:"\ed71"}.iconsmind-Bank:before{content:"\ed72"}.iconsmind-Bar-Chart:before{content:"\ed73"}.iconsmind-Bar-Chart2:before{content:"\ed74"}.iconsmind-Bar-Chart3:before{content:"\ed75"}.iconsmind-Bar-Chart4:before{content:"\ed76"}.iconsmind-Bar-Chart5:before{content:"\ed77"}.iconsmind-Bat:before{content:"\ed78"}.iconsmind-Bathrobe:before{content:"\ed79"}.iconsmind-Battery-0:before{content:"\ed7a"}.iconsmind-Battery-25:before{content:"\ed7b"}.iconsmind-Battery-50:before{content:"\ed7c"}.iconsmind-Battery-75:before{content:"\ed7d"}.iconsmind-Battery-100:before{content:"\ed7e"}.iconsmind-Battery-Charge:before{content:"\ed7f"}.iconsmind-Bear:before{content:"\ed80"}.iconsmind-Beard:before{content:"\ed81"}.iconsmind-Beard-2:before{content:"\ed82"}.iconsmind-Beard-3:before{content:"\ed83"}.iconsmind-Bee:before{content:"\ed84"}.iconsmind-Beer:before{content:"\ed85"}.iconsmind-Beer-Glass:before{content:"\ed86"}.iconsmind-Bell2:before{content:"\ed87"}.iconsmind-Belt:before{content:"\ed88"}.iconsmind-Belt-2:before{content:"\ed89"}.iconsmind-Belt-3:before{content:"\ed8a"}.iconsmind-Berlin-Tower:before{content:"\ed8b"}.iconsmind-Beta:before{content:"\ed8c"}.iconsmind-Big-Bang:before{content:"\ed8d"}.iconsmind-Big-Data:before{content:"\ed8e"}.iconsmind-Bikini:before{content:"\ed8f"}.iconsmind-Bilk-Bottle2:before{content:"\ed90"}.iconsmind-Bird:before{content:"\ed91"}.iconsmind-Bird-DeliveringLetter:before{content:"\ed92"}.iconsmind-Birthday-Cake:before{content:"\ed93"}.iconsmind-Bishop:before{content:"\ed94"}.iconsmind-Blackboard:before{content:"\ed95"}.iconsmind-Black-Cat:before{content:"\ed96"}.iconsmind-Block-Cloud:before{content:"\ed97"}.iconsmind-Blood:before{content:"\ed98"}.iconsmind-Blouse:before{content:"\ed99"}.iconsmind-Blueprint:before{content:"\ed9a"}.iconsmind-Board:before{content:"\ed9b"}.iconsmind-Bone:before{content:"\ed9c"}.iconsmind-Bones:before{content:"\ed9d"}.iconsmind-Book:before{content:"\ed9e"}.iconsmind-Bookmark:before{content:"\ed9f"}.iconsmind-Books:before{content:"\eda0"}.iconsmind-Books-2:before{content:"\eda1"}.iconsmind-Boot:before{content:"\eda2"}.iconsmind-Boot-2:before{content:"\eda3"}.iconsmind-Bottom-ToTop:before{content:"\eda4"}.iconsmind-Bow:before{content:"\eda5"}.iconsmind-Bow-2:before{content:"\eda6"}.iconsmind-Bow-3:before{content:"\eda7"}.iconsmind-Box-Close:before{content:"\eda8"}.iconsmind-Box-Full:before{content:"\eda9"}.iconsmind-Box-Open:before{content:"\edaa"}.iconsmind-Box-withFolders:before{content:"\edab"}.iconsmind-Bra:before{content:"\edac"}.iconsmind-Brain2:before{content:"\edad"}.iconsmind-Brain-2:before{content:"\edae"}.iconsmind-Brazil:before{content:"\edaf"}.iconsmind-Bread:before{content:"\edb0"}.iconsmind-Bread-2:before{content:"\edb1"}.iconsmind-Bridge:before{content:"\edb2"}.iconsmind-Broom:before{content:"\edb3"}.iconsmind-Brush:before{content:"\edb4"}.iconsmind-Bug:before{content:"\edb5"}.iconsmind-Building:before{content:"\edb6"}.iconsmind-Butterfly:before{content:"\edb7"}.iconsmind-Cake:before{content:"\edb8"}.iconsmind-Calculator:before{content:"\edb9"}.iconsmind-Calculator-2:before{content:"\edba"}.iconsmind-Calculator-3:before{content:"\edbb"}.iconsmind-Calendar:before{content:"\edbc"}.iconsmind-Calendar-2:before{content:"\edbd"}.iconsmind-Calendar-3:before{content:"\edbe"}.iconsmind-Calendar-4:before{content:"\edbf"}.iconsmind-Camel:before{content:"\edc0"}.iconsmind-Can:before{content:"\edc1"}.iconsmind-Can-2:before{content:"\edc2"}.iconsmind-Canada:before{content:"\edc3"}.iconsmind-Candle:before{content:"\edc4"}.iconsmind-Candy:before{content:"\edc5"}.iconsmind-Candy-Cane:before{content:"\edc6"}.iconsmind-Cap:before{content:"\edc7"}.iconsmind-Cap-2:before{content:"\edc8"}.iconsmind-Cap-3:before{content:"\edc9"}.iconsmind-Cardigan:before{content:"\edca"}.iconsmind-Cardiovascular:before{content:"\edcb"}.iconsmind-Castle:before{content:"\edcc"}.iconsmind-Cat:before{content:"\edcd"}.iconsmind-Cathedral:before{content:"\edce"}.iconsmind-Cauldron:before{content:"\edcf"}.iconsmind-CD:before{content:"\edd0"}.iconsmind-Charger:before{content:"\edd1"}.iconsmind-Checkmate:before{content:"\edd2"}.iconsmind-Cheese:before{content:"\edd3"}.iconsmind-Cheetah:before{content:"\edd4"}.iconsmind-Chef-Hat:before{content:"\edd5"}.iconsmind-Chef-Hat2:before{content:"\edd6"}.iconsmind-Chess-Board:before{content:"\edd7"}.iconsmind-Chicken:before{content:"\edd8"}.iconsmind-Chile:before{content:"\edd9"}.iconsmind-Chimney:before{content:"\edda"}.iconsmind-China:before{content:"\eddb"}.iconsmind-Chinese-Temple:before{content:"\eddc"}.iconsmind-Chip:before{content:"\eddd"}.iconsmind-Chopsticks:before{content:"\edde"}.iconsmind-Chopsticks-2:before{content:"\eddf"}.iconsmind-Christmas:before{content:"\ede0"}.iconsmind-Christmas-Ball:before{content:"\ede1"}.iconsmind-Christmas-Bell:before{content:"\ede2"}.iconsmind-Christmas-Candle:before{content:"\ede3"}.iconsmind-Christmas-Hat:before{content:"\ede4"}.iconsmind-Christmas-Sleigh:before{content:"\ede5"}.iconsmind-Christmas-Snowman:before{content:"\ede6"}.iconsmind-Christmas-Sock:before{content:"\ede7"}.iconsmind-Christmas-Tree:before{content:"\ede8"}.iconsmind-Chrome:before{content:"\ede9"}.iconsmind-Chrysler-Building:before{content:"\edea"}.iconsmind-City-Hall:before{content:"\edeb"}.iconsmind-Clamp:before{content:"\edec"}.iconsmind-Claps:before{content:"\eded"}.iconsmind-Clothing-Store:before{content:"\edee"}.iconsmind-Cloud:before{content:"\edef"}.iconsmind-Cloud2:before{content:"\edf0"}.iconsmind-Cloud3:before{content:"\edf1"}.iconsmind-Cloud-Camera:before{content:"\edf2"}.iconsmind-Cloud-Computer:before{content:"\edf3"}.iconsmind-Cloud-Email:before{content:"\edf4"}.iconsmind-Cloud-Laptop:before{content:"\edf5"}.iconsmind-Cloud-Lock:before{content:"\edf6"}.iconsmind-Cloud-Music:before{content:"\edf7"}.iconsmind-Cloud-Picture:before{content:"\edf8"}.iconsmind-Cloud-Remove:before{content:"\edf9"}.iconsmind-Clouds:before{content:"\edfa"}.iconsmind-Cloud-Secure:before{content:"\edfb"}.iconsmind-Cloud-Settings:before{content:"\edfc"}.iconsmind-Cloud-Smartphone:before{content:"\edfd"}.iconsmind-Cloud-Tablet:before{content:"\edfe"}.iconsmind-Cloud-Video:before{content:"\edff"}.iconsmind-Clown:before{content:"\ee00"}.iconsmind-CMYK:before{content:"\ee01"}.iconsmind-Coat:before{content:"\ee02"}.iconsmind-Cocktail:before{content:"\ee03"}.iconsmind-Coconut:before{content:"\ee04"}.iconsmind-Coffee:before{content:"\ee05"}.iconsmind-Coffee-2:before{content:"\ee06"}.iconsmind-Coffee-Bean:before{content:"\ee07"}.iconsmind-Coffee-toGo:before{content:"\ee08"}.iconsmind-Coffin:before{content:"\ee09"}.iconsmind-Coin:before{content:"\ee0a"}.iconsmind-Coins:before{content:"\ee0b"}.iconsmind-Coins-2:before{content:"\ee0c"}.iconsmind-Coins-3:before{content:"\ee0d"}.iconsmind-Colombia:before{content:"\ee0e"}.iconsmind-Colosseum:before{content:"\ee0f"}.iconsmind-Column:before{content:"\ee10"}.iconsmind-Column-2:before{content:"\ee11"}.iconsmind-Column-3:before{content:"\ee12"}.iconsmind-Comb:before{content:"\ee13"}.iconsmind-Comb-2:before{content:"\ee14"}.iconsmind-Communication-Tower:before{content:"\ee15"}.iconsmind-Communication-Tower2:before{content:"\ee16"}.iconsmind-Compass2:before{content:"\ee17"}.iconsmind-Compass-22:before{content:"\ee18"}.iconsmind-Computer:before{content:"\ee19"}.iconsmind-Computer-2:before{content:"\ee1a"}.iconsmind-Computer-3:before{content:"\ee1b"}.iconsmind-Confused:before{content:"\ee1c"}.iconsmind-Contrast:before{content:"\ee1d"}.iconsmind-Cookie-Man:before{content:"\ee1e"}.iconsmind-Cookies:before{content:"\ee1f"}.iconsmind-Cool:before{content:"\ee20"}.iconsmind-Costume:before{content:"\ee21"}.iconsmind-Cow:before{content:"\ee22"}.iconsmind-CPU:before{content:"\ee23"}.iconsmind-Cranium:before{content:"\ee24"}.iconsmind-Credit-Card:before{content:"\ee25"}.iconsmind-Credit-Card2:before{content:"\ee26"}.iconsmind-Credit-Card3:before{content:"\ee27"}.iconsmind-Croissant:before{content:"\ee28"}.iconsmind-Crying:before{content:"\ee29"}.iconsmind-Cupcake:before{content:"\ee2a"}.iconsmind-Danemark:before{content:"\ee2b"}.iconsmind-Data:before{content:"\ee2c"}.iconsmind-Data-Backup:before{content:"\ee2d"}.iconsmind-Data-Block:before{content:"\ee2e"}.iconsmind-Data-Center:before{content:"\ee2f"}.iconsmind-Data-Clock:before{content:"\ee30"}.iconsmind-Data-Cloud:before{content:"\ee31"}.iconsmind-Data-Compress:before{content:"\ee32"}.iconsmind-Data-Copy:before{content:"\ee33"}.iconsmind-Data-Download:before{content:"\ee34"}.iconsmind-Data-Financial:before{content:"\ee35"}.iconsmind-Data-Key:before{content:"\ee36"}.iconsmind-Data-Lock:before{content:"\ee37"}.iconsmind-Data-Network:before{content:"\ee38"}.iconsmind-Data-Password:before{content:"\ee39"}.iconsmind-Data-Power:before{content:"\ee3a"}.iconsmind-Data-Refresh:before{content:"\ee3b"}.iconsmind-Data-Save:before{content:"\ee3c"}.iconsmind-Data-Search:before{content:"\ee3d"}.iconsmind-Data-Security:before{content:"\ee3e"}.iconsmind-Data-Settings:before{content:"\ee3f"}.iconsmind-Data-Sharing:before{content:"\ee40"}.iconsmind-Data-Shield:before{content:"\ee41"}.iconsmind-Data-Signal:before{content:"\ee42"}.iconsmind-Data-Storage:before{content:"\ee43"}.iconsmind-Data-Stream:before{content:"\ee44"}.iconsmind-Data-Transfer:before{content:"\ee45"}.iconsmind-Data-Unlock:before{content:"\ee46"}.iconsmind-Data-Upload:before{content:"\ee47"}.iconsmind-Data-Yes:before{content:"\ee48"}.iconsmind-Death:before{content:"\ee49"}.iconsmind-Debian:before{content:"\ee4a"}.iconsmind-Dec:before{content:"\ee4b"}.iconsmind-Decrase-Inedit:before{content:"\ee4c"}.iconsmind-Deer:before{content:"\ee4d"}.iconsmind-Deer-2:before{content:"\ee4e"}.iconsmind-Delete-File:before{content:"\ee4f"}.iconsmind-Depression:before{content:"\ee50"}.iconsmind-Device-SyncwithCloud:before{content:"\ee51"}.iconsmind-Diamond:before{content:"\ee52"}.iconsmind-Digital-Drawing:before{content:"\ee53"}.iconsmind-Dinosaur:before{content:"\ee54"}.iconsmind-Diploma:before{content:"\ee55"}.iconsmind-Diploma-2:before{content:"\ee56"}.iconsmind-Disk:before{content:"\ee57"}.iconsmind-Dog:before{content:"\ee58"}.iconsmind-Dollar:before{content:"\ee59"}.iconsmind-Dollar-Sign:before{content:"\ee5a"}.iconsmind-Dollar-Sign2:before{content:"\ee5b"}.iconsmind-Dolphin:before{content:"\ee5c"}.iconsmind-Door:before{content:"\ee5d"}.iconsmind-Double-Circle:before{content:"\ee5e"}.iconsmind-Doughnut:before{content:"\ee5f"}.iconsmind-Dove:before{content:"\ee60"}.iconsmind-Down2:before{content:"\ee61"}.iconsmind-Down-2:before{content:"\ee62"}.iconsmind-Down-3:before{content:"\ee63"}.iconsmind-Download2:before{content:"\ee64"}.iconsmind-Download-fromCloud:before{content:"\ee65"}.iconsmind-Dress:before{content:"\ee66"}.iconsmind-Duck:before{content:"\ee67"}.iconsmind-DVD:before{content:"\ee68"}.iconsmind-Eagle:before{content:"\ee69"}.iconsmind-Ear:before{content:"\ee6a"}.iconsmind-Eggs:before{content:"\ee6b"}.iconsmind-Egypt:before{content:"\ee6c"}.iconsmind-Eifel-Tower:before{content:"\ee6d"}.iconsmind-Elbow:before{content:"\ee6e"}.iconsmind-El-Castillo:before{content:"\ee6f"}.iconsmind-Elephant:before{content:"\ee70"}.iconsmind-Embassy:before{content:"\ee71"}.iconsmind-Empire-StateBuilding:before{content:"\ee72"}.iconsmind-Empty-Box:before{content:"\ee73"}.iconsmind-End2:before{content:"\ee74"}.iconsmind-Envelope:before{content:"\ee75"}.iconsmind-Envelope-2:before{content:"\ee76"}.iconsmind-Eraser:before{content:"\ee77"}.iconsmind-Eraser-2:before{content:"\ee78"}.iconsmind-Eraser-3:before{content:"\ee79"}.iconsmind-Euro:before{content:"\ee7a"}.iconsmind-Euro-Sign:before{content:"\ee7b"}.iconsmind-Euro-Sign2:before{content:"\ee7c"}.iconsmind-Evil:before{content:"\ee7d"}.iconsmind-Eye2:before{content:"\ee7e"}.iconsmind-Eye-Blind:before{content:"\ee7f"}.iconsmind-Eyebrow:before{content:"\ee80"}.iconsmind-Eyebrow-2:before{content:"\ee81"}.iconsmind-Eyebrow-3:before{content:"\ee82"}.iconsmind-Eyeglasses-Smiley:before{content:"\ee83"}.iconsmind-Eyeglasses-Smiley2:before{content:"\ee84"}.iconsmind-Eye-Invisible:before{content:"\ee85"}.iconsmind-Eye-Visible:before{content:"\ee86"}.iconsmind-Face-Style:before{content:"\ee87"}.iconsmind-Face-Style2:before{content:"\ee88"}.iconsmind-Face-Style3:before{content:"\ee89"}.iconsmind-Face-Style4:before{content:"\ee8a"}.iconsmind-Face-Style5:before{content:"\ee8b"}.iconsmind-Face-Style6:before{content:"\ee8c"}.iconsmind-Factory2:before{content:"\ee8d"}.iconsmind-Fan:before{content:"\ee8e"}.iconsmind-Fashion:before{content:"\ee8f"}.iconsmind-Fax:before{content:"\ee90"}.iconsmind-File:before{content:"\ee91"}.iconsmind-File-Block:before{content:"\ee92"}.iconsmind-File-Bookmark:before{content:"\ee93"}.iconsmind-File-Chart:before{content:"\ee94"}.iconsmind-File-Clipboard:before{content:"\ee95"}.iconsmind-File-ClipboardFileText:before{content:"\ee96"}.iconsmind-File-ClipboardTextImage:before{content:"\ee97"}.iconsmind-File-Cloud:before{content:"\ee98"}.iconsmind-File-Copy:before{content:"\ee99"}.iconsmind-File-Copy2:before{content:"\ee9a"}.iconsmind-File-CSV:before{content:"\ee9b"}.iconsmind-File-Download:before{content:"\ee9c"}.iconsmind-File-Edit:before{content:"\ee9d"}.iconsmind-File-Excel:before{content:"\ee9e"}.iconsmind-File-Favorite:before{content:"\ee9f"}.iconsmind-File-Fire:before{content:"\eea0"}.iconsmind-File-Graph:before{content:"\eea1"}.iconsmind-File-Hide:before{content:"\eea2"}.iconsmind-File-Horizontal:before{content:"\eea3"}.iconsmind-File-HorizontalText:before{content:"\eea4"}.iconsmind-File-HTML:before{content:"\eea5"}.iconsmind-File-JPG:before{content:"\eea6"}.iconsmind-File-Link:before{content:"\eea7"}.iconsmind-File-Loading:before{content:"\eea8"}.iconsmind-File-Lock:before{content:"\eea9"}.iconsmind-File-Love:before{content:"\eeaa"}.iconsmind-File-Music:before{content:"\eeab"}.iconsmind-File-Network:before{content:"\eeac"}.iconsmind-File-Pictures:before{content:"\eead"}.iconsmind-File-Pie:before{content:"\eeae"}.iconsmind-File-Presentation:before{content:"\eeaf"}.iconsmind-File-Refresh:before{content:"\eeb0"}.iconsmind-Files:before{content:"\eeb1"}.iconsmind-File-Search:before{content:"\eeb2"}.iconsmind-File-Settings:before{content:"\eeb3"}.iconsmind-File-Share:before{content:"\eeb4"}.iconsmind-File-TextImage:before{content:"\eeb5"}.iconsmind-File-Trash:before{content:"\eeb6"}.iconsmind-File-TXT:before{content:"\eeb7"}.iconsmind-File-Upload:before{content:"\eeb8"}.iconsmind-File-Video:before{content:"\eeb9"}.iconsmind-File-Word:before{content:"\eeba"}.iconsmind-File-Zip:before{content:"\eebb"}.iconsmind-Financial:before{content:"\eebc"}.iconsmind-Finger:before{content:"\eebd"}.iconsmind-Fingerprint:before{content:"\eebe"}.iconsmind-Fingerprint-2:before{content:"\eebf"}.iconsmind-Firefox:before{content:"\eec0"}.iconsmind-Fire-Staion:before{content:"\eec1"}.iconsmind-Fish:before{content:"\eec2"}.iconsmind-Fit-To:before{content:"\eec3"}.iconsmind-Fit-To2:before{content:"\eec4"}.iconsmind-Flag2:before{content:"\eec5"}.iconsmind-Flag-22:before{content:"\eec6"}.iconsmind-Flag-3:before{content:"\eec7"}.iconsmind-Flag-4:before{content:"\eec8"}.iconsmind-Flamingo:before{content:"\eec9"}.iconsmind-Folder:before{content:"\eeca"}.iconsmind-Folder-Add:before{content:"\eecb"}.iconsmind-Folder-Archive:before{content:"\eecc"}.iconsmind-Folder-Binder:before{content:"\eecd"}.iconsmind-Folder-Binder2:before{content:"\eece"}.iconsmind-Folder-Block:before{content:"\eecf"}.iconsmind-Folder-Bookmark:before{content:"\eed0"}.iconsmind-Folder-Close:before{content:"\eed1"}.iconsmind-Folder-Cloud:before{content:"\eed2"}.iconsmind-Folder-Delete:before{content:"\eed3"}.iconsmind-Folder-Download:before{content:"\eed4"}.iconsmind-Folder-Edit:before{content:"\eed5"}.iconsmind-Folder-Favorite:before{content:"\eed6"}.iconsmind-Folder-Fire:before{content:"\eed7"}.iconsmind-Folder-Hide:before{content:"\eed8"}.iconsmind-Folder-Link:before{content:"\eed9"}.iconsmind-Folder-Loading:before{content:"\eeda"}.iconsmind-Folder-Lock:before{content:"\eedb"}.iconsmind-Folder-Love:before{content:"\eedc"}.iconsmind-Folder-Music:before{content:"\eedd"}.iconsmind-Folder-Network:before{content:"\eede"}.iconsmind-Folder-Open:before{content:"\eedf"}.iconsmind-Folder-Open2:before{content:"\eee0"}.iconsmind-Folder-Organizing:before{content:"\eee1"}.iconsmind-Folder-Pictures:before{content:"\eee2"}.iconsmind-Folder-Refresh:before{content:"\eee3"}.iconsmind-Folder-Remove:before{content:"\eee4"}.iconsmind-Folders:before{content:"\eee5"}.iconsmind-Folder-Search:before{content:"\eee6"}.iconsmind-Folder-Settings:before{content:"\eee7"}.iconsmind-Folder-Share:before{content:"\eee8"}.iconsmind-Folder-Trash:before{content:"\eee9"}.iconsmind-Folder-Upload:before{content:"\eeea"}.iconsmind-Folder-Video:before{content:"\eeeb"}.iconsmind-Folder-WithDocument:before{content:"\eeec"}.iconsmind-Folder-Zip:before{content:"\eeed"}.iconsmind-Foot:before{content:"\eeee"}.iconsmind-Foot-2:before{content:"\eeef"}.iconsmind-Fork:before{content:"\eef0"}.iconsmind-Formula:before{content:"\eef1"}.iconsmind-Fountain-Pen:before{content:"\eef2"}.iconsmind-Fox:before{content:"\eef3"}.iconsmind-Frankenstein:before{content:"\eef4"}.iconsmind-French-Fries:before{content:"\eef5"}.iconsmind-Frog:before{content:"\eef6"}.iconsmind-Fruits:before{content:"\eef7"}.iconsmind-Full-Screen:before{content:"\eef8"}.iconsmind-Full-Screen2:before{content:"\eef9"}.iconsmind-Full-View:before{content:"\eefa"}.iconsmind-Full-View2:before{content:"\eefb"}.iconsmind-Funky:before{content:"\eefc"}.iconsmind-Funny-Bicycle:before{content:"\eefd"}.iconsmind-Gamepad:before{content:"\eefe"}.iconsmind-Gamepad-2:before{content:"\eeff"}.iconsmind-Gay:before{content:"\ef00"}.iconsmind-Geek2:before{content:"\ef01"}.iconsmind-Gentleman:before{content:"\ef02"}.iconsmind-Giraffe:before{content:"\ef03"}.iconsmind-Glasses:before{content:"\ef04"}.iconsmind-Glasses-2:before{content:"\ef05"}.iconsmind-Glasses-3:before{content:"\ef06"}.iconsmind-Glass-Water:before{content:"\ef07"}.iconsmind-Gloves:before{content:"\ef08"}.iconsmind-Go-Bottom:before{content:"\ef09"}.iconsmind-Gorilla:before{content:"\ef0a"}.iconsmind-Go-Top:before{content:"\ef0b"}.iconsmind-Grave:before{content:"\ef0c"}.iconsmind-Graveyard:before{content:"\ef0d"}.iconsmind-Greece:before{content:"\ef0e"}.iconsmind-Hair:before{content:"\ef0f"}.iconsmind-Hair-2:before{content:"\ef10"}.iconsmind-Hair-3:before{content:"\ef11"}.iconsmind-Halloween-HalfMoon:before{content:"\ef12"}.iconsmind-Halloween-Moon:before{content:"\ef13"}.iconsmind-Hamburger:before{content:"\ef14"}.iconsmind-Hand:before{content:"\ef15"}.iconsmind-Hands:before{content:"\ef16"}.iconsmind-Handshake:before{content:"\ef17"}.iconsmind-Hanger:before{content:"\ef18"}.iconsmind-Happy:before{content:"\ef19"}.iconsmind-Hat:before{content:"\ef1a"}.iconsmind-Hat-2:before{content:"\ef1b"}.iconsmind-Haunted-House:before{content:"\ef1c"}.iconsmind-HD:before{content:"\ef1d"}.iconsmind-HDD:before{content:"\ef1e"}.iconsmind-Heart2:before{content:"\ef1f"}.iconsmind-Heels:before{content:"\ef20"}.iconsmind-Heels-2:before{content:"\ef21"}.iconsmind-Hello:before{content:"\ef22"}.iconsmind-Hipo:before{content:"\ef23"}.iconsmind-Hipster-Glasses:before{content:"\ef24"}.iconsmind-Hipster-Glasses2:before{content:"\ef25"}.iconsmind-Hipster-Glasses3:before{content:"\ef26"}.iconsmind-Hipster-Headphones:before{content:"\ef27"}.iconsmind-Hipster-Men:before{content:"\ef28"}.iconsmind-Hipster-Men2:before{content:"\ef29"}.iconsmind-Hipster-Men3:before{content:"\ef2a"}.iconsmind-Hipster-Sunglasses:before{content:"\ef2b"}.iconsmind-Hipster-Sunglasses2:before{content:"\ef2c"}.iconsmind-Hipster-Sunglasses3:before{content:"\ef2d"}.iconsmind-Holly:before{content:"\ef2e"}.iconsmind-Home2:before{content:"\ef2f"}.iconsmind-Home-2:before{content:"\ef30"}.iconsmind-Home-3:before{content:"\ef31"}.iconsmind-Home-4:before{content:"\ef32"}.iconsmind-Honey:before{content:"\ef33"}.iconsmind-Hong-Kong:before{content:"\ef34"}.iconsmind-Hoodie:before{content:"\ef35"}.iconsmind-Horror:before{content:"\ef36"}.iconsmind-Horse:before{content:"\ef37"}.iconsmind-Hospital2:before{content:"\ef38"}.iconsmind-Host:before{content:"\ef39"}.iconsmind-Hot-Dog:before{content:"\ef3a"}.iconsmind-Hotel:before{content:"\ef3b"}.iconsmind-Hub:before{content:"\ef3c"}.iconsmind-Humor:before{content:"\ef3d"}.iconsmind-Ice-Cream:before{content:"\ef3e"}.iconsmind-Idea:before{content:"\ef3f"}.iconsmind-Inbox:before{content:"\ef40"}.iconsmind-Inbox-Empty:before{content:"\ef41"}.iconsmind-Inbox-Forward:before{content:"\ef42"}.iconsmind-Inbox-Full:before{content:"\ef43"}.iconsmind-Inbox-Into:before{content:"\ef44"}.iconsmind-Inbox-Out:before{content:"\ef45"}.iconsmind-Inbox-Reply:before{content:"\ef46"}.iconsmind-Increase-Inedit:before{content:"\ef47"}.iconsmind-Indent-FirstLine:before{content:"\ef48"}.iconsmind-Indent-LeftMargin:before{content:"\ef49"}.iconsmind-Indent-RightMargin:before{content:"\ef4a"}.iconsmind-India:before{content:"\ef4b"}.iconsmind-Internet-Explorer:before{content:"\ef4c"}.iconsmind-Internet-Smiley:before{content:"\ef4d"}.iconsmind-iOS-Apple:before{content:"\ef4e"}.iconsmind-Israel:before{content:"\ef4f"}.iconsmind-Jacket:before{content:"\ef50"}.iconsmind-Jamaica:before{content:"\ef51"}.iconsmind-Japan:before{content:"\ef52"}.iconsmind-Japanese-Gate:before{content:"\ef53"}.iconsmind-Jeans:before{content:"\ef54"}.iconsmind-Joystick:before{content:"\ef55"}.iconsmind-Juice:before{content:"\ef56"}.iconsmind-Kangoroo:before{content:"\ef57"}.iconsmind-Kenya:before{content:"\ef58"}.iconsmind-Keyboard:before{content:"\ef59"}.iconsmind-Keypad:before{content:"\ef5a"}.iconsmind-King:before{content:"\ef5b"}.iconsmind-Kiss:before{content:"\ef5c"}.iconsmind-Knee:before{content:"\ef5d"}.iconsmind-Knife:before{content:"\ef5e"}.iconsmind-Knight:before{content:"\ef5f"}.iconsmind-Koala:before{content:"\ef60"}.iconsmind-Korea:before{content:"\ef61"}.iconsmind-Lantern:before{content:"\ef62"}.iconsmind-Laptop:before{content:"\ef63"}.iconsmind-Laptop-2:before{content:"\ef64"}.iconsmind-Laptop-3:before{content:"\ef65"}.iconsmind-Laptop-Phone:before{content:"\ef66"}.iconsmind-Laptop-Tablet:before{content:"\ef67"}.iconsmind-Laughing:before{content:"\ef68"}.iconsmind-Leaning-Tower:before{content:"\ef69"}.iconsmind-Left2:before{content:"\ef6a"}.iconsmind-Left-2:before{content:"\ef6b"}.iconsmind-Left-3:before{content:"\ef6c"}.iconsmind-Left--Right:before{content:"\ef6d"}.iconsmind-Left--Right3:before{content:"\ef6e"}.iconsmind-Left-ToRight:before{content:"\ef6f"}.iconsmind-Leg:before{content:"\ef70"}.iconsmind-Leg-2:before{content:"\ef71"}.iconsmind-Lemon:before{content:"\ef72"}.iconsmind-Leopard:before{content:"\ef73"}.iconsmind-Letter-Close:before{content:"\ef74"}.iconsmind-Letter-Open:before{content:"\ef75"}.iconsmind-Letter-Sent:before{content:"\ef76"}.iconsmind-Library2:before{content:"\ef77"}.iconsmind-Lighthouse:before{content:"\ef78"}.iconsmind-Line-Chart:before{content:"\ef79"}.iconsmind-Line-Chart2:before{content:"\ef7a"}.iconsmind-Line-Chart3:before{content:"\ef7b"}.iconsmind-Line-Chart4:before{content:"\ef7c"}.iconsmind-Line-Spacing:before{content:"\ef7d"}.iconsmind-Linux:before{content:"\ef7e"}.iconsmind-Lion:before{content:"\ef7f"}.iconsmind-Lollipop:before{content:"\ef80"}.iconsmind-Lollipop-2:before{content:"\ef81"}.iconsmind-Loop:before{content:"\ef82"}.iconsmind-Love2:before{content:"\ef83"}.iconsmind-Mail:before{content:"\ef84"}.iconsmind-Mail-2:before{content:"\ef85"}.iconsmind-Mail-3:before{content:"\ef86"}.iconsmind-Mail-Add:before{content:"\ef87"}.iconsmind-Mail-Attachement:before{content:"\ef88"}.iconsmind-Mail-Block:before{content:"\ef89"}.iconsmind-Mailbox-Empty:before{content:"\ef8a"}.iconsmind-Mailbox-Full:before{content:"\ef8b"}.iconsmind-Mail-Delete:before{content:"\ef8c"}.iconsmind-Mail-Favorite:before{content:"\ef8d"}.iconsmind-Mail-Forward:before{content:"\ef8e"}.iconsmind-Mail-Gallery:before{content:"\ef8f"}.iconsmind-Mail-Inbox:before{content:"\ef90"}.iconsmind-Mail-Link:before{content:"\ef91"}.iconsmind-Mail-Lock:before{content:"\ef92"}.iconsmind-Mail-Love:before{content:"\ef93"}.iconsmind-Mail-Money:before{content:"\ef94"}.iconsmind-Mail-Open:before{content:"\ef95"}.iconsmind-Mail-Outbox:before{content:"\ef96"}.iconsmind-Mail-Password:before{content:"\ef97"}.iconsmind-Mail-Photo:before{content:"\ef98"}.iconsmind-Mail-Read:before{content:"\ef99"}.iconsmind-Mail-Removex:before{content:"\ef9a"}.iconsmind-Mail-Reply:before{content:"\ef9b"}.iconsmind-Mail-ReplyAll:before{content:"\ef9c"}.iconsmind-Mail-Search:before{content:"\ef9d"}.iconsmind-Mail-Send:before{content:"\ef9e"}.iconsmind-Mail-Settings:before{content:"\ef9f"}.iconsmind-Mail-Unread:before{content:"\efa0"}.iconsmind-Mail-Video:before{content:"\efa1"}.iconsmind-Mail-withAtSign:before{content:"\efa2"}.iconsmind-Mail-WithCursors:before{content:"\efa3"}.iconsmind-Mans-Underwear:before{content:"\efa4"}.iconsmind-Mans-Underwear2:before{content:"\efa5"}.iconsmind-Marker:before{content:"\efa6"}.iconsmind-Marker-2:before{content:"\efa7"}.iconsmind-Marker-3:before{content:"\efa8"}.iconsmind-Martini-Glass:before{content:"\efa9"}.iconsmind-Master-Card:before{content:"\efaa"}.iconsmind-Maximize:before{content:"\efab"}.iconsmind-Megaphone:before{content:"\efac"}.iconsmind-Mexico:before{content:"\efad"}.iconsmind-Milk-Bottle:before{content:"\efae"}.iconsmind-Minimize:before{content:"\efaf"}.iconsmind-Money:before{content:"\efb0"}.iconsmind-Money-2:before{content:"\efb1"}.iconsmind-Money-Bag:before{content:"\efb2"}.iconsmind-Monitor:before{content:"\efb3"}.iconsmind-Monitor-2:before{content:"\efb4"}.iconsmind-Monitor-3:before{content:"\efb5"}.iconsmind-Monitor-4:before{content:"\efb6"}.iconsmind-Monitor-5:before{content:"\efb7"}.iconsmind-Monitor-Laptop:before{content:"\efb8"}.iconsmind-Monitor-phone:before{content:"\efb9"}.iconsmind-Monitor-Tablet:before{content:"\efba"}.iconsmind-Monitor-Vertical:before{content:"\efbb"}.iconsmind-Monkey:before{content:"\efbc"}.iconsmind-Monster:before{content:"\efbd"}.iconsmind-Morocco:before{content:"\efbe"}.iconsmind-Mouse:before{content:"\efbf"}.iconsmind-Mouse-2:before{content:"\efc0"}.iconsmind-Mouse-3:before{content:"\efc1"}.iconsmind-Moustache-Smiley:before{content:"\efc2"}.iconsmind-Museum:before{content:"\efc3"}.iconsmind-Mushroom:before{content:"\efc4"}.iconsmind-Mustache:before{content:"\efc5"}.iconsmind-Mustache-2:before{content:"\efc6"}.iconsmind-Mustache-3:before{content:"\efc7"}.iconsmind-Mustache-4:before{content:"\efc8"}.iconsmind-Mustache-5:before{content:"\efc9"}.iconsmind-Navigate-End:before{content:"\efca"}.iconsmind-Navigat-Start:before{content:"\efcb"}.iconsmind-Nepal:before{content:"\efcc"}.iconsmind-Netscape:before{content:"\efcd"}.iconsmind-New-Mail:before{content:"\efce"}.iconsmind-Newspaper:before{content:"\efcf"}.iconsmind-Newspaper-2:before{content:"\efd0"}.iconsmind-No-Battery:before{content:"\efd1"}.iconsmind-Noose:before{content:"\efd2"}.iconsmind-Note:before{content:"\efd3"}.iconsmind-Notepad:before{content:"\efd4"}.iconsmind-Notepad-2:before{content:"\efd5"}.iconsmind-Office:before{content:"\efd6"}.iconsmind-Old-Camera:before{content:"\efd7"}.iconsmind-Old-Cassette:before{content:"\efd8"}.iconsmind-Old-Sticky:before{content:"\efd9"}.iconsmind-Old-Sticky2:before{content:"\efda"}.iconsmind-Old-Telephone:before{content:"\efdb"}.iconsmind-Open-Banana:before{content:"\efdc"}.iconsmind-Open-Book:before{content:"\efdd"}.iconsmind-Opera:before{content:"\efde"}.iconsmind-Opera-House:before{content:"\efdf"}.iconsmind-Orientation2:before{content:"\efe0"}.iconsmind-Orientation-2:before{content:"\efe1"}.iconsmind-Ornament:before{content:"\efe2"}.iconsmind-Owl:before{content:"\efe3"}.iconsmind-Paintbrush:before{content:"\efe4"}.iconsmind-Palette:before{content:"\efe5"}.iconsmind-Panda:before{content:"\efe6"}.iconsmind-Pantheon:before{content:"\efe7"}.iconsmind-Pantone:before{content:"\efe8"}.iconsmind-Pants:before{content:"\efe9"}.iconsmind-Paper:before{content:"\efea"}.iconsmind-Parrot:before{content:"\efeb"}.iconsmind-Pawn:before{content:"\efec"}.iconsmind-Pen:before{content:"\efed"}.iconsmind-Pen-2:before{content:"\efee"}.iconsmind-Pen-3:before{content:"\efef"}.iconsmind-Pen-4:before{content:"\eff0"}.iconsmind-Pen-5:before{content:"\eff1"}.iconsmind-Pen-6:before{content:"\eff2"}.iconsmind-Pencil:before{content:"\eff3"}.iconsmind-Pencil-Ruler:before{content:"\eff4"}.iconsmind-Penguin:before{content:"\eff5"}.iconsmind-Pentagon:before{content:"\eff6"}.iconsmind-People-onCloud:before{content:"\eff7"}.iconsmind-Pepper:before{content:"\eff8"}.iconsmind-Pepper-withFire:before{content:"\eff9"}.iconsmind-Petronas-Tower:before{content:"\effa"}.iconsmind-Philipines:before{content:"\effb"}.iconsmind-Phone:before{content:"\effc"}.iconsmind-Phone-2:before{content:"\effd"}.iconsmind-Phone-3:before{content:"\effe"}.iconsmind-Phone-3G:before{content:"\efff"}.iconsmind-Phone-4G:before{content:"\f000"}.iconsmind-Phone-Simcard:before{content:"\f001"}.iconsmind-Phone-SMS:before{content:"\f002"}.iconsmind-Phone-Wifi:before{content:"\f003"}.iconsmind-Pi:before{content:"\f004"}.iconsmind-Pie-Chart:before{content:"\f005"}.iconsmind-Pie-Chart2:before{content:"\f006"}.iconsmind-Pie-Chart3:before{content:"\f007"}.iconsmind-Pipette:before{content:"\f008"}.iconsmind-Piramids:before{content:"\f009"}.iconsmind-Pizza:before{content:"\f00a"}.iconsmind-Pizza-Slice:before{content:"\f00b"}.iconsmind-Plastic-CupPhone:before{content:"\f00c"}.iconsmind-Plastic-CupPhone2:before{content:"\f00d"}.iconsmind-Plate:before{content:"\f00e"}.iconsmind-Plates:before{content:"\f00f"}.iconsmind-Plug-In:before{content:"\f010"}.iconsmind-Plug-In2:before{content:"\f011"}.iconsmind-Poland:before{content:"\f012"}.iconsmind-Police-Station:before{content:"\f013"}.iconsmind-Polo-Shirt:before{content:"\f014"}.iconsmind-Portugal:before{content:"\f015"}.iconsmind-Post-Mail:before{content:"\f016"}.iconsmind-Post-Mail2:before{content:"\f017"}.iconsmind-Post-Office:before{content:"\f018"}.iconsmind-Pound:before{content:"\f019"}.iconsmind-Pound-Sign:before{content:"\f01a"}.iconsmind-Pound-Sign2:before{content:"\f01b"}.iconsmind-Power:before{content:"\f01c"}.iconsmind-Power-Cable:before{content:"\f01d"}.iconsmind-Prater:before{content:"\f01e"}.iconsmind-Present:before{content:"\f01f"}.iconsmind-Presents:before{content:"\f020"}.iconsmind-Printer:before{content:"\f021"}.iconsmind-Projector:before{content:"\f022"}.iconsmind-Projector-2:before{content:"\f023"}.iconsmind-Pumpkin:before{content:"\f024"}.iconsmind-Punk:before{content:"\f025"}.iconsmind-Queen:before{content:"\f026"}.iconsmind-Quill:before{content:"\f027"}.iconsmind-Quill-2:before{content:"\f028"}.iconsmind-Quill-3:before{content:"\f029"}.iconsmind-Ram:before{content:"\f02a"}.iconsmind-Redhat:before{content:"\f02b"}.iconsmind-Reload2:before{content:"\f02c"}.iconsmind-Reload-2:before{content:"\f02d"}.iconsmind-Remote-Controll:before{content:"\f02e"}.iconsmind-Remote-Controll2:before{content:"\f02f"}.iconsmind-Remove-File:before{content:"\f030"}.iconsmind-Repeat3:before{content:"\f031"}.iconsmind-Repeat-22:before{content:"\f032"}.iconsmind-Repeat-3:before{content:"\f033"}.iconsmind-Repeat-4:before{content:"\f034"}.iconsmind-Resize:before{content:"\f035"}.iconsmind-Retro:before{content:"\f036"}.iconsmind-RGB:before{content:"\f037"}.iconsmind-Right2:before{content:"\f038"}.iconsmind-Right-2:before{content:"\f039"}.iconsmind-Right-3:before{content:"\f03a"}.iconsmind-Right-ToLeft:before{content:"\f03b"}.iconsmind-Robot2:before{content:"\f03c"}.iconsmind-Roller:before{content:"\f03d"}.iconsmind-Roof:before{content:"\f03e"}.iconsmind-Rook:before{content:"\f03f"}.iconsmind-Router:before{content:"\f040"}.iconsmind-Router-2:before{content:"\f041"}.iconsmind-Ruler:before{content:"\f042"}.iconsmind-Ruler-2:before{content:"\f043"}.iconsmind-Safari:before{content:"\f044"}.iconsmind-Safe-Box2:before{content:"\f045"}.iconsmind-Santa-Claus:before{content:"\f046"}.iconsmind-Santa-Claus2:before{content:"\f047"}.iconsmind-Santa-onSled:before{content:"\f048"}.iconsmind-Scarf:before{content:"\f049"}.iconsmind-Scissor:before{content:"\f04a"}.iconsmind-Scotland:before{content:"\f04b"}.iconsmind-Sea-Dog:before{content:"\f04c"}.iconsmind-Search-onCloud:before{content:"\f04d"}.iconsmind-Security-Smiley:before{content:"\f04e"}.iconsmind-Serbia:before{content:"\f04f"}.iconsmind-Server:before{content:"\f050"}.iconsmind-Server-2:before{content:"\f051"}.iconsmind-Servers:before{content:"\f052"}.iconsmind-Share-onCloud:before{content:"\f053"}.iconsmind-Shark:before{content:"\f054"}.iconsmind-Sheep:before{content:"\f055"}.iconsmind-Shirt:before{content:"\f056"}.iconsmind-Shoes:before{content:"\f057"}.iconsmind-Shoes-2:before{content:"\f058"}.iconsmind-Short-Pants:before{content:"\f059"}.iconsmind-Shuffle2:before{content:"\f05a"}.iconsmind-Shuffle-22:before{content:"\f05b"}.iconsmind-Singapore:before{content:"\f05c"}.iconsmind-Skeleton:before{content:"\f05d"}.iconsmind-Skirt:before{content:"\f05e"}.iconsmind-Skull:before{content:"\f05f"}.iconsmind-Sled:before{content:"\f060"}.iconsmind-Sled-withGifts:before{content:"\f061"}.iconsmind-Sleeping:before{content:"\f062"}.iconsmind-Slippers:before{content:"\f063"}.iconsmind-Smart:before{content:"\f064"}.iconsmind-Smartphone:before{content:"\f065"}.iconsmind-Smartphone-2:before{content:"\f066"}.iconsmind-Smartphone-3:before{content:"\f067"}.iconsmind-Smartphone-4:before{content:"\f068"}.iconsmind-Smile:before{content:"\f069"}.iconsmind-Smoking-Pipe:before{content:"\f06a"}.iconsmind-Snake:before{content:"\f06b"}.iconsmind-Snow-Dome:before{content:"\f06c"}.iconsmind-Snowflake2:before{content:"\f06d"}.iconsmind-Snowman:before{content:"\f06e"}.iconsmind-Socks:before{content:"\f06f"}.iconsmind-Soup:before{content:"\f070"}.iconsmind-South-Africa:before{content:"\f071"}.iconsmind-Space-Needle:before{content:"\f072"}.iconsmind-Spain:before{content:"\f073"}.iconsmind-Spam-Mail:before{content:"\f074"}.iconsmind-Speaker2:before{content:"\f075"}.iconsmind-Spell-Check:before{content:"\f076"}.iconsmind-Spell-CheckABC:before{content:"\f077"}.iconsmind-Spider:before{content:"\f078"}.iconsmind-Spiderweb:before{content:"\f079"}.iconsmind-Spoder:before{content:"\f07a"}.iconsmind-Spoon:before{content:"\f07b"}.iconsmind-Sports-Clothings1:before{content:"\f07c"}.iconsmind-Sports-Clothings2:before{content:"\f07d"}.iconsmind-Sports-Shirt:before{content:"\f07e"}.iconsmind-Spray:before{content:"\f07f"}.iconsmind-Squirrel:before{content:"\f080"}.iconsmind-Stamp:before{content:"\f081"}.iconsmind-Stamp-2:before{content:"\f082"}.iconsmind-Stapler:before{content:"\f083"}.iconsmind-Star:before{content:"\f084"}.iconsmind-Starfish:before{content:"\f085"}.iconsmind-Start2:before{content:"\f086"}.iconsmind-St-BasilsCathedral:before{content:"\f087"}.iconsmind-St-PaulsCathedral:before{content:"\f088"}.iconsmind-Structure:before{content:"\f089"}.iconsmind-Student-Hat:before{content:"\f08a"}.iconsmind-Student-Hat2:before{content:"\f08b"}.iconsmind-Suit:before{content:"\f08c"}.iconsmind-Sum2:before{content:"\f08d"}.iconsmind-Sunglasses:before{content:"\f08e"}.iconsmind-Sunglasses-2:before{content:"\f08f"}.iconsmind-Sunglasses-3:before{content:"\f090"}.iconsmind-Sunglasses-Smiley:before{content:"\f091"}.iconsmind-Sunglasses-Smiley2:before{content:"\f092"}.iconsmind-Sunglasses-W:before{content:"\f093"}.iconsmind-Sunglasses-W2:before{content:"\f094"}.iconsmind-Sunglasses-W3:before{content:"\f095"}.iconsmind-Surprise:before{content:"\f096"}.iconsmind-Sushi:before{content:"\f097"}.iconsmind-Sweden:before{content:"\f098"}.iconsmind-Swimming-Short:before{content:"\f099"}.iconsmind-Swimmwear:before{content:"\f09a"}.iconsmind-Switzerland:before{content:"\f09b"}.iconsmind-Sync:before{content:"\f09c"}.iconsmind-Sync-Cloud:before{content:"\f09d"}.iconsmind-Tablet:before{content:"\f09e"}.iconsmind-Tablet-2:before{content:"\f09f"}.iconsmind-Tablet-3:before{content:"\f0a0"}.iconsmind-Tablet-Orientation:before{content:"\f0a1"}.iconsmind-Tablet-Phone:before{content:"\f0a2"}.iconsmind-Tablet-Vertical:before{content:"\f0a3"}.iconsmind-Tactic:before{content:"\f0a4"}.iconsmind-Taj-Mahal:before{content:"\f0a5"}.iconsmind-Teapot:before{content:"\f0a6"}.iconsmind-Tee-Mug:before{content:"\f0a7"}.iconsmind-Telephone:before{content:"\f0a8"}.iconsmind-Telephone-2:before{content:"\f0a9"}.iconsmind-Temple:before{content:"\f0aa"}.iconsmind-Thailand:before{content:"\f0ab"}.iconsmind-The-WhiteHouse:before{content:"\f0ac"}.iconsmind-Three-ArrowFork:before{content:"\f0ad"}.iconsmind-Thumbs-DownSmiley:before{content:"\f0ae"}.iconsmind-Thumbs-UpSmiley:before{content:"\f0af"}.iconsmind-Tie:before{content:"\f0b0"}.iconsmind-Tie-2:before{content:"\f0b1"}.iconsmind-Tie-3:before{content:"\f0b2"}.iconsmind-Tiger:before{content:"\f0b3"}.iconsmind-Time-Clock:before{content:"\f0b4"}.iconsmind-To-Bottom:before{content:"\f0b5"}.iconsmind-To-Bottom2:before{content:"\f0b6"}.iconsmind-Token:before{content:"\f0b7"}.iconsmind-To-Left:before{content:"\f0b8"}.iconsmind-Tomato:before{content:"\f0b9"}.iconsmind-Tongue:before{content:"\f0ba"}.iconsmind-Tooth:before{content:"\f0bb"}.iconsmind-Tooth-2:before{content:"\f0bc"}.iconsmind-Top-ToBottom:before{content:"\f0bd"}.iconsmind-To-Right:before{content:"\f0be"}.iconsmind-To-Top:before{content:"\f0bf"}.iconsmind-To-Top2:before{content:"\f0c0"}.iconsmind-Tower:before{content:"\f0c1"}.iconsmind-Tower-2:before{content:"\f0c2"}.iconsmind-Tower-Bridge:before{content:"\f0c3"}.iconsmind-Transform:before{content:"\f0c4"}.iconsmind-Transform-2:before{content:"\f0c5"}.iconsmind-Transform-3:before{content:"\f0c6"}.iconsmind-Transform-4:before{content:"\f0c7"}.iconsmind-Tree2:before{content:"\f0c8"}.iconsmind-Tree-22:before{content:"\f0c9"}.iconsmind-Triangle-ArrowDown:before{content:"\f0ca"}.iconsmind-Triangle-ArrowLeft:before{content:"\f0cb"}.iconsmind-Triangle-ArrowRight:before{content:"\f0cc"}.iconsmind-Triangle-ArrowUp:before{content:"\f0cd"}.iconsmind-T-Shirt:before{content:"\f0ce"}.iconsmind-Turkey:before{content:"\f0cf"}.iconsmind-Turn-Down:before{content:"\f0d0"}.iconsmind-Turn-Down2:before{content:"\f0d1"}.iconsmind-Turn-DownFromLeft:before{content:"\f0d2"}.iconsmind-Turn-DownFromRight:before{content:"\f0d3"}.iconsmind-Turn-Left:before{content:"\f0d4"}.iconsmind-Turn-Left3:before{content:"\f0d5"}.iconsmind-Turn-Right:before{content:"\f0d6"}.iconsmind-Turn-Right3:before{content:"\f0d7"}.iconsmind-Turn-Up:before{content:"\f0d8"}.iconsmind-Turn-Up2:before{content:"\f0d9"}.iconsmind-Turtle:before{content:"\f0da"}.iconsmind-Tuxedo:before{content:"\f0db"}.iconsmind-Ukraine:before{content:"\f0dc"}.iconsmind-Umbrela:before{content:"\f0dd"}.iconsmind-United-Kingdom:before{content:"\f0de"}.iconsmind-United-States:before{content:"\f0df"}.iconsmind-University:before{content:"\f0e0"}.iconsmind-Up2:before{content:"\f0e1"}.iconsmind-Up-2:before{content:"\f0e2"}.iconsmind-Up-3:before{content:"\f0e3"}.iconsmind-Up--Down:before{content:"\f0e4"}.iconsmind-Up--Down3:before{content:"\f0e5"}.iconsmind-Upload2:before{content:"\f0e6"}.iconsmind-Upload-toCloud:before{content:"\f0e7"}.iconsmind-Usb:before{content:"\f0e8"}.iconsmind-Usb-2:before{content:"\f0e9"}.iconsmind-Usb-Cable:before{content:"\f0ea"}.iconsmind-Vector:before{content:"\f0eb"}.iconsmind-Vector-2:before{content:"\f0ec"}.iconsmind-Vector-3:before{content:"\f0ed"}.iconsmind-Vector-4:before{content:"\f0ee"}.iconsmind-Vector-5:before{content:"\f0ef"}.iconsmind-Vest:before{content:"\f0f0"}.iconsmind-Vietnam:before{content:"\f0f1"}.iconsmind-View-Height:before{content:"\f0f2"}.iconsmind-View-Width:before{content:"\f0f3"}.iconsmind-Visa:before{content:"\f0f4"}.iconsmind-Voicemail:before{content:"\f0f5"}.iconsmind-VPN:before{content:"\f0f6"}.iconsmind-Wacom-Tablet:before{content:"\f0f7"}.iconsmind-Walkie-Talkie:before{content:"\f0f8"}.iconsmind-Wallet:before{content:"\f0f9"}.iconsmind-Wallet-2:before{content:"\f0fa"}.iconsmind-Warehouse:before{content:"\f0fb"}.iconsmind-Webcam:before{content:"\f0fc"}.iconsmind-Wifi:before{content:"\f0fd"}.iconsmind-Wifi-2:before{content:"\f0fe"}.iconsmind-Wifi-Keyboard:before{content:"\f0ff"}.iconsmind-Window:before{content:"\f100"}.iconsmind-Windows:before{content:"\f101"}.iconsmind-Windows-Microsoft:before{content:"\f102"}.iconsmind-Wine-Bottle:before{content:"\f103"}.iconsmind-Wine-Glass:before{content:"\f104"}.iconsmind-Wink:before{content:"\f105"}.iconsmind-Wireless:before{content:"\f106"}.iconsmind-Witch:before{content:"\f107"}.iconsmind-Witch-Hat:before{content:"\f108"}.iconsmind-Wizard:before{content:"\f109"}.iconsmind-Wolf:before{content:"\f10a"}.iconsmind-Womans-Underwear:before{content:"\f10b"}.iconsmind-Womans-Underwear2:before{content:"\f10c"}.iconsmind-Worker-Clothes:before{content:"\f10d"}.iconsmind-Wreath:before{content:"\f10e"}.iconsmind-Zebra:before{content:"\f10f"}.iconsmind-Zombie:before{content:"\f110"}
