/*
Theme Name:  Salient
Description: Global responsive styles
*/

@media only screen and (min-width: 1300px) {

  .container,
  .post-area.standard-minimal.full-width-content .post .inner-wrap {
    max-width: 1100px;
  }
}


/* Small Desktop */
@media only screen and (min-width: 1000px) and (max-width: 1300px) {


  #author-bio #author-info {
    width: 544px;
  }

  #project-meta ul li .nectar-love-wrap.fadein {
    margin-right: 11px;
    padding-right: 11px;
  }

  .post-area.masonry {
    width: 895px;
  }

  .post-area.masonry.span_9 {
    width: 660px;
    margin-right: 10px;
  }

  .post-area.masonry.span_9 .masonry-blog-item {
    width: 46.5%;
  }

  #page-header-bg .span_6 .subheader {
    font-size: 24px;
  }


  .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content h2,
  #boxed .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content h2 {
    font-size: 32px;
    line-height: 50px;
  }

  body .swiper-slide .content p {
    font-size: 20px;
    line-height: 34px;
  }

  .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content p {
    font-size: 14px;
    line-height: 24px;
  }

  .main-content .col.span_4 .col.span_2 img,
  .main-content .col.span_3 .col.span_2 img,
  .main-content .col.span_2 .col.span_2 img,
  .main-content .col.span_6 .col.span_2 img {
    padding-right: 5px;
    top: -3px;
  }

  .portfolio-items:not(.carousel) .col .work-item.style-2 i {
    line-height: 32px;
    height: 32px;
    width: 32px;
    font-size: 14px;
  }

  #top nav > ul > li > a {
    padding-left: 8px;
  }

  .sf-sub-indicator {
    left: 6px;
  }

  body .swiper-slide .content p.transparent-bg span,
  .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content p.transparent-bg span {
    line-height: 38px;
  }


  body .vc_pie_chart .vc_pie_chart_value {
    font-size: 32px;
  }
}




/* Tablet Portrait */
@media only screen and (min-width : 690px) and (max-width : 999px) {

  .span_1, .span_2, .span_3, .span_4, .span_5, .span_6,
  .span_7, .span_8, .span_9, .span_10, .span_11, .span_12 {
    width: 100%;
    margin-left: 0;
  }

  .col, body .vc_row-fluid .wpb_column {
    margin-bottom: 25px;
  }

  #header-outer .col {
    margin-bottom: 0;
    margin-right: 0;
  }

  .wpb_column {
    width: 100%;
  }

  body[data-ccsa="larger"] .vc_row-fluid:not(.full-width-content) .wpb_column {
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
  }

  body[data-ccsa="larger"] .vc_row-fluid.full-width-content .wpb_column {
    margin-right: 0;
    width: 100%;
  }


  /* Tablet width override */
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"] {
    margin-bottom: 0;
  }

  .vc_col-sm-12[data-t-w-inherits="small_desktop"]:not([class*="vc_col-md-"]),
  body .vc_row-fluid .wpb_column[data-t-w-inherits="small_desktop"].vc_col-md-12 {
    width: 100%;
  }

  body .vc_row-fluid [class*="vc_col-"][data-t-w-inherits="small_desktop"]:first-child:not([class*="offset"]) {
    margin-left: 0;
  }

  /* Tablet width override end */

  body .vc_row-fluid .vc_col-sm-2 {
    width: 31.2%;
    margin-left: 3.1%;
  }

  body .vc_row-fluid.full-width-content .vc_col-sm-2 {
    width: 33.3%;
    margin-left: 0%;
  }


  body .vc_row-fluid.full-width-content .vc_col-xs-6 {
    width: 50%;
  }

  body .vc_row-fluid .vc_col-xs-12[class*="vc_col-xs-"] {
    width: 100%;
  }


  .vc_row-fluid .vc_col-sm-2[class*="vc_col-sm-"]:first-child:not([class*="offset"]),
	.vc_row-fluid .vc_col-sm-2[class*="vc_col-sm-"]:nth-child(3n+4):not([class*="offset"]) {
    margin-left: 0;
  }

  .container {
    max-width: 600px;
  }

  .wpb_column.force-tablet-text-align-left,
  .wpb_column.force-tablet-text-align-left .col {
    text-align: left!important;
  }

  .wpb_column.force-tablet-text-align-right,
  .wpb_column.force-tablet-text-align-right .col {
    text-align: right!important;
  }

  .wpb_column.force-tablet-text-align-center,
  .wpb_column.force-tablet-text-align-center .col,
  .wpb_column.force-tablet-text-align-center .vc_custom_heading,
  .wpb_column.force-tablet-text-align-center .nectar-cta {
    text-align: center!important;
  }

  .wpb_column.force-tablet-text-align-center .img-with-aniamtion-wrap img {
    display: inline-block;
  }


  .one-fourths.span_3,
  .one-fourths.vc_span3,
  .one-fourths.vc_col-sm-3:not([class*="vc_col-xs-"]) {
    width: 50%;
    margin-bottom: 2%;
  }

  #footer-outer .one-fourths.span_3,
  #footer-outer .one-fourths.vc_span3,
  #footer-outer .one-fourths.vc_col-sm-3:not([class*="vc_col-xs-"]) {
    width: 48%!important;
    margin-bottom: 2%;
    margin-right: 15px;
    margin-left: 0!important;
    padding: 15px;
    float: left;
  }

  .one-fourths.span_3.clear-both,
  .one-fourths.vc_span3.clear-both,
  .one-fourths.vc_col-sm-3.clear-both:not([class*="vc_col-xs-"]) {
    clear: both;
  }

  #footer-outer .one-fourths.span_3.right-edge,
  .one-fourths.span_3.right-edge,
  .one-fourths.vc_span3.right-edge,
  .one-fourths.vc_col-sm-3.right-edge:not([class*="vc_col-xs-"]) {
    margin-right: 0;
  }

  .portfolio-items .col {
    width: 100%;
    margin-left: 0;
    margin-bottom: 8px;
  }

  .portfolio-items:not(.carousel) div:nth-child(2n+2),
  .portfolio-items:not(.carousel) div:nth-child(2n+2) {
    clear: both;
  }


  .portfolio-items[data-ps="6"] .col {
    padding: 2%;
  }

  body .portfolio-items[data-ps="6"] .work-item .parallaxImg-layers > div .bg-img:after {
    opacity: 1;
  }

  body .portfolio-items[data-ps="6"] .work-item .work-meta .inner,
  body .portfolio-items[data-ps="6"] .wide_tall .work-item .work-meta .inner {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  .col.boxed:hover,
  .ascend .main-content .col.boxed:hover,
  .material .main-content .col.boxed:hover {
    margin-top: 0;
    top: 0;
    transform: none;
    -webkit-transform: none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  #call-to-action .container a {
    margin-top: 20px;
    margin-left: 0;
  }

  #ajax-content-wrap .post-area {
    padding-right: 0;
  }

  body.single-portfolio .row .col.section-title h1 {
    width: 450px;
    margin: 0 auto;
    display: block;
  }

  #ajax-content-wrap .contact-info {
    padding-left: 0;
  }

  .nectar-google-map {
    max-height: 425px;
  }

  #sidebar #flickr > div {
    width: 16%;
  }

  #footer-outer #copyright .col {
    width: 49%;
    margin-bottom: 0;
  }

  #footer-widgets .container .col {
    margin-left: 15px;
    width: 48%;
  }

  #footer-widgets .one-fourths .span_3:nth-child(2n+1) {
    margin-left: 0;
  }

  body #sidebar #flickr div {
    float: left;
  }

  #sidebar .recent_projects_widget div a,
  body #sidebar #flickr div a {
    width: 90px;
  }

  #sidebar .recent_projects_widget div a:nth-child(3n+3),
  body #sidebar #flickr div:nth-child(3n+3) a {
    margin: 2% 2% 0 0;
  }

  body #sidebar .recent_projects_widget div a:last-child,
  body #sidebar #flickr div {
    margin-right: 0;
  }


  #author-bio #author-info {
    width: 494px;
  }

  #page-header-bg .span_6 h1 {
    font-size: 32px;
    line-height: 38px;
  }

  #page-header-bg .span_6 {
    top: auto!important;
    float: none;
  }

  body.single-post #page-header-bg[data-post-hs="default_minimal"] {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  .page-header-no-bg #ajax-content-wrap .portfolio-filters {
    margin-top: 15px;
    float: none;
    clear: both;
    height: auto;
  }

  #page-header-bg[data-parallax="1"] .project-title .span_6 {
    padding-right: 70px;
  }

  .page-header-no-bg  .portfolio-filters ul {
    position: absolute;
    width: 100%;
  }

  html.js #page-header-bg[data-parallax="0"].not-loaded {
    background-color: #F5F5F5;
  }



  #call-to-action .container span {
    display: block;
  }

  .masonry-blog-item {
    width: 47.7%;
  }

  .post-area.masonry,
  .post-area.masonry.span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9.meta_overlaid {
    width: 610px;
  }

  #ajax-content-wrap .post-area.masonry.span_9,
  .post-area.masonry.span_9 {
    margin-bottom: 90px;
  }

  .post-area.masonry.span_9 .masonry-blog-item {
    width: 47.3%;
  }

  .post-area.masonry.span_9.material .masonry-blog-item {
    width: 47.1%;
  }


  body.woocommerce .container div.product div.images div.thumbnails a,
  body.woocommerce .container #content div.product div.images div.thumbnails a,
  body.woocommerce-page .container div.product div.images div.thumbnails a,
  body.woocommerce-page .container #content div.product div.images div.thumbnails a {
    width: 16.9%;
    margin-right: 3.8%;
  }

  .woocommerce .container div.product div.images div.thumbnails a:nth-child(5n+5) {
    margin-right: 0;
  }

  .main-content .col.span_4 .col.span_2,
  .main-content .col.span_3 .col.span_2,
  .main-content .col.span_2 .col.span_2,
  .main-content .col.span_6 .col.span_2 {
    width: 7%;
  }

  .main-content .col.span_4 .span_10,
  .main-content .col.span_3 .col.span_10,
  .main-content .col.span_2 .col.span_10,
  .main-content .col.span_6 .col.span_10 {
    width: 91%;
  }

  .testimonial_slider .flickity-page-dots {
    bottom: -35px;
  }

  #ajax-content-wrap .span_12 .col.span_6.empty-second {
    width: 49%;
  }


  body .swiper-slide .content p i {
    width: 18px;
    font-size: 16px;
  }


  body .swiper-slide .content p.transparent-bg span,
  .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content p.transparent-bg span {
    line-height: 29px;
  }

  #footer-widgets .container .col.span_6,
  #footer-widgets .container .col.span_4 {
    margin-left: 0;
    margin-right: 15px;
    padding: 15px;
    margin-bottom: 0;
  }

  #footer-widgets .container .col.span_4 {
    margin-bottom: 40px;
  }

  #footer-widgets .container .row > div:last-child,
  #footer-widgets .container .row > div.col_last {
    margin-right: 0;
  }


  .iosSlider.product-thumbnails .thumb {
    width: 112px;
  }

  #footer-widgets .container .row > div:nth-child(2).span_4,
  body .woocommerce .full-width-content > ul.products[data-product-style="material"] li:nth-child(3n+3),
	body.woocommerce-page .full-width-content > ul.products[data-product-style="material"] li:nth-child(3n+3) {
    margin-right: 0!important;
  }

  body .woocommerce .full-width-content > ul.products[data-product-style="material"] li:nth-child(2n+2),
	body.woocommerce-page .full-width-content > ul.products[data-product-style="material"] li:nth-child(2n+2) {
    margin-right: 2%!important;
  }
}



/* Phone */
@media only screen and (max-width : 690px) {


  .material:not(.admin-bar) #header-outer[data-using-secondary="1"] {
    top: 0;
  }

  #header-outer[data-using-secondary="1"]:not(.hidden-secondary) {
    transform: none!important;
  }

  .vc_row-fluid [class*="vc_span"] {
    width: 100%!important;
  }

  body[data-ccsa="larger"] .vc_row-fluid:not(.full-width-content) .wpb_column {
    margin-right: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
  }

  body[data-ccsa="larger"] .vc_row-fluid.full-width-content .wpb_column {
    margin-right: 0;
    width: 100%;
  }


  .vc_row-fluid .vc_col-sm-2[class*="vc_col-sm-"]:first-child:not([class*="offset"]),
	.vc_row-fluid .vc_col-sm-2[class*="vc_col-sm-"]:nth-child(2n+3):not([class*="offset"]) {
    margin-left: 0;
  }

  .container,
  .orbit-wrapper .slider-nav,
  .post-area.standard-minimal.full-width-content .post .inner-wrap {
    max-width: 320px;
  }

  body[data-slide-out-widget-area-style="simple"] #header-outer[data-full-width="true"] #mobile-menu,
  body #header-outer[data-full-width="true"] header > .container,
  body #header-secondary-outer[data-full-width="true"] > .container {
    max-width: 100%;
    padding: 0 18px;
  }

  .col {
    margin-bottom: 25px;
  }

  .wpb_column.force-phone-text-align-left,
  .wpb_column.force-phone-text-align-left .col {
    text-align: left!important;
  }

  .wpb_column.force-phone-text-align-right,
  .wpb_column.force-phone-text-align-right .col {
    text-align: right!important;
  }

  .wpb_column.force-phone-text-align-center,
  .wpb_column.force-phone-text-align-center .col,
  .wpb_column.force-phone-text-align-center .vc_custom_heading,
  .wpb_column.force-phone-text-align-center .nectar-cta {
    text-align: center!important;
  }
  .wpb_column.force-tablet-text-align-center .img-with-aniamtion-wrap img {
    display: inline-block;
  }

  .post-area {
    margin-bottom: 0;
  }

  .col.boxed:hover,
  .ascend .main-content .col.boxed:hover,
  .material .main-content .col.boxed:hover {
    margin-top: 0;
    top: 0;
    transform: none;
    -webkit-transform: none;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  }

  #header-outer .col {
    margin-bottom: 0;
  }

  .nectar_fullscreen_zoom_recent_projects .project-slide .project-info h2,
  .nectar_fullscreen_zoom_recent_projects .project-slide .project-info p {
    max-width: 100%;
  }

  #fp-nav ul li a,
  .fp-slidesNav ul li a {
    padding: 11px 11px;
  }

  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    height: 6px;
    width: 6px;
  }

  #fp-nav.right {
    right: 10px;
  }

  .nectar_fullscreen_zoom_recent_projects .dot-nav {
    display: none;
  }

  .container .post .post-meta {
    display: none;
  }

  #ajax-content-wrap .container .post .post-content {
    padding-left: 0;
  }


  .container .post-header {
    font-size: 12px;
  }
  .post-content.classic .post-header > span:after {
    height: 9px;
  }

  .container .comment-list .comment > div {
    padding: 25px 25px 40px 25px;
  }

  #ajax-content-wrap .comment-list .children {
    padding-left: 20px;
  }

  .container .comment-list .comment > div img.avatar {
    display: block;
    position: relative;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    margin-bottom: 5px;
  }
  body:not(.original) .bypostauthor > .comment-body > .comment-author > img.avatar {
    border-width: 2px;
  }

  body:not(.material) .comment-list .children {
    background-image: none;
  }
  body.ascend #ajax-content-wrap .comment-list .children {
    margin-left: 0;
    padding-left: 30px;
  }

  body.material #ajax-content-wrap .comment-list .comment > div,
  body.material #ajax-content-wrap .comment-list .pingback > div {
    margin-top: 2.5em;
  }

  body.material .comment-list .children {
    border-left: 1px solid rgba(0,0,0,0.1);
  }
  body.material .container .comment-list .comment > div {
    padding: 0px 0 40px 0;
  }
  body.material #ajax-content-wrap .comment-list .children {
    margin-left: 0;
    padding-left: 30px;
  }
  body.material #ajax-content-wrap .comment-list .comment .comment > div {
    padding-left: 0;
  }


  .container #respond h3 {
    font-size: 18px;
  }

  .container .comment-list .reply {
    right: 29px;
    top: auto;
    bottom: 29px;
  }
  .original .container .comment-list .reply {
    right: 0;
    top: auto;
    bottom: 0;
    margin-top: 20px;
    position: relative;
  }

  .auto_meta_overlaid_spaced .masonry-blog-item {
    margin-bottom: 0;
  }


  .container .contact-info {
    padding-left: 0;
  }

  #single-meta .meta-comment-count,
  .row .col.section-title [data-hide-on-mobile="true"] span:not(.total_loves):not(.nectar-love-count):not(.share-btn),
  .single #page-header-bg #single-below-header[data-hide-on-mobile="true"] span:not(.total_loves):not(.nectar-love-count) {
    display: none;
  }

  .single #page-header-bg[data-post-hs="default"] #single-below-header[data-hide-on-mobile="false"],
  .single [data-header-style="default"] #single-below-header[data-hide-on-mobile="false"] {
      margin-top: 15px;
  }
  .single #page-header-bg[data-post-hs="default"] #single-below-header[data-hide-on-mobile="false"] > span:first-child > span,
  .single [data-header-style="default"] #single-below-header[data-hide-on-mobile="false"] > span:first-child > span {
      padding-left: 0;
  }

  #ajax-content-wrap #page-header-bg[data-post-hs="default_minimal"] #single-below-header span:not(.rich-snippet-hidden),
  #ajax-content-wrap .row.heading-title[data-header-style="default_minimal"] .col.section-title span.meta-category  {
    display: inline-block;
  }

  .container-wrap[data-remove-post-comment-number="0"][data-remove-post-author="0"][data-remove-post-date="0"] .heading-title[data-header-style="default_minimal"] #single-below-header > span,
  #page-header-bg[data-post-hs="default_minimal"] .span_6[data-remove-post-comment-number="0"][data-remove-post-author="0"][data-remove-post-date="0"] #single-below-header > span {
    padding: 0 8px;
  }
  .container-wrap[data-remove-post-comment-number="0"][data-remove-post-author="0"][data-remove-post-date="0"] .heading-title[data-header-style="default_minimal"] #single-below-header span,
  #page-header-bg[data-post-hs="default_minimal"] .span_6[data-remove-post-comment-number="0"][data-remove-post-author="0"][data-remove-post-date="0"] #single-below-header span {
    font-size: 13px;
    line-height: 10px;
  }

  .single-post #single-meta .nectar-social[data-position="right"] {
    margin-left: 0;
  }

  #single-meta .nectar-social.hover[data-position="right"] .nectar-social-inner {
    left: 0;
    text-align: left;
    right: auto;
  }

  #single-meta .nectar-social {
    margin-left: 0;
  }

  .material #page-header-bg.fullscreen-header .author-section {
    margin-top: 5px;
  }

  html.js #page-header-bg[data-parallax="0"].not-loaded {
    background-color: #F5F5F5;
  }

  #page-header-bg .portfolio-filters ul {
    position: absolute;
    width: 100%;
  }

  #page-header-bg .span_6 {
    margin-bottom: 15px;
  }

  body #footer-outer #copyright .col ul {
    float: left;
  }

  body #footer-outer #copyright .col ul li:first-child {
    margin-left: 0;
  }

  #call-to-action .container a {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }

  #call-to-action {
    font-size: 18px;
  }

  #ajax-content-wrap h2 .nectar-button,
  #ajax-content-wrap h3 .nectar-button,
  #ajax-content-wrap h4 .nectar-button {
    display: block;
  }

  #ajax-content-wrap #footer-widgets .container .col:nth-child(3) {
    margin-bottom: 40px;
  }

  #footer-outer #flickr img, #sidebar #flickr img {
    width: 95px;
  }

  .post-area #pagination,
  .post-area.masonry #pagination {
    padding-left: 0;
  }

  body .portfolio-items[data-ps="6"] .work-item .parallaxImg-layers > div .bg-img:after {
    opacity: 1;
  }

  body .portfolio-items[data-ps="6"] .work-item .work-meta .inner,
  body .portfolio-items[data-ps="6"] .wide_tall .work-item .work-meta .inner {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }


  .bottom_controls #portfolio-nav .controls li#next-link a i:after,
	.bottom_controls #portfolio-nav .controls li#prev-link a i:after {
    display: none;
  }

  #search-results .result,
  .masonry-blog-item {
    width: 100%!important;
    margin-right: 0!important;
    margin-bottom: 25px;
    margin-left: 0!important;
  }

  .posts-container[data-load-animation="none"] article .inner-wrap.animated {
    opacity: 1;
  }

  .masonry-blog-item {
    position: relative!important;
    top: auto!important;
    display: block;
  }

  .gallery .gallery-item {
    width: 100%!important;
  }

  #author-bio img {
    margin-right: 0;
    width: 60px;
    height: 60px;
  }

  .row .blog-recent[data-style="list_featured_first_row"].columns-3 .featured .post-featured-img {
    padding-bottom: 75%;
  }

  .section-down-arrow i.icon-default-style[class^="icon-"] {
    font-size: 16px;
  }

  .section-down-arrow {
    bottom: 10px;
    right: 20px;
  }

  #page-header-bg.fullscreen-header .author-section {
    bottom: 20px;
  }

  #page-header-bg.fullscreen-header .author-section .meta-date:not(.updated) {
    margin-top: -4px;
    display: block;
  }

  #contact-map {
    height: 270px;
  }

  .nectar-google-map {
    max-height: 270px;
  }

  .pp_pic_holder {
    left: 9px;
    width: 96%;
  }

  .pp_content {
    width: 100%;
    height: 290px;
  }

  .pp_content iframe {
    width: 100%;
  }

  .pp_content .pp_inline iframe {
    height: 250px;
  }

  .pp_content #pp_full_res img {
    width: 100%;
    height: auto;
  }

  #page-header-bg .span_6 h1,
  body.search #page-header-bg h1,
  .single.single-post .section-title h1,
   body.single.single-post .row .col.section-title.span_12 h1 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 4px;
  }

  #page-header-bg .span_6 {
    top: auto!important;
    float: none;
  }

  #page-header-bg .author-section .meta-author .avatar {
    display: none;
  }

  #page-header-bg.fullscreen-header .author-section .avatar-post-info {
    margin: 10px 0 0 0;
  }


  #ajax-content-wrap .pricing-table > div {
    width: 100%;
    margin: 0 0 25px 0;
  }


  body.woocommerce .post-area .woocommerce-result-count,
  body.woocommerce .post-area .woocommerce-ordering {
    float: none;
  }

  body.woocommerce .post-area .woocommerce-ordering {
    right: 0;
  }

  body[data-fancy-form-rcs="1"] .woocommerce-ordering .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li {
    float: none;
    border-right: 0;
    width: 100%;
  }

  #page-header-bg #portfolio-nav ul,
  .section-title #portfolio-nav ul {
    margin-bottom: 0;
  }

  #portfolio-nav ul:first-child {
    z-index: 103;
  }

  #portfolio-nav .controls:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  body .container .portfolio-filters-inline.full-width-content .container {
    padding-left: 0;
    padding-right: 0;
  }


  body #full_width_portfolio .project-title.parallax-effect .container,
  body #page-header-bg .project-title .container {
    padding-bottom: 30px;
  }

  body #page-header-bg .section-title,
  .project-title .section-title,
  body.single .project-title .section-title {
    padding: 0;
  }

  .row .col.section-title.project-title {
    padding-bottom: 30px;
    margin-bottom: 30px!important;
  }

  #footer-outer #social li {
    margin-right: 10px;
    margin-left: 0;
  }

  .post-area.masonry,
  .post-area.masonry.span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9.meta_overlaid {
    width: 320px;
  }

  #ajax-content-wrap .post-area.masonry.span_9,
  .post-area.masonry.span_9 {
    margin-bottom: 90px;
  }

  .ascend #ajax-content-wrap .comment-list .reply {
    top: 0;
  }

  #customer_details > div {
    width: 100%;
    float: none;
  }


  .woocommerce .shop_table .coupon {
    margin-bottom: 10px;
    margin-top: 5px;
  }

  .woocommerce #customer_login.col2-set .col-1,
  .woocommerce-page #customer_login.col2-set .col-1,
  .woocommerce #customer_login.col2-set .col-2,
  .woocommerce-page #customer_login.col2-set .col-2,
  .woocommerce form.login .form-row-first,
  .woocommerce-page form.login .form-row-first,
  .woocommerce form.login .form-row-last,
  .woocommerce-page form.login .form-row-last {
    width: 100%!important;
  }

  .woocommerce .shop_table .actions > input {
    float: left!important;
  }

  .iosSlider.product-thumbnails .thumb {
    width: 93px;
  }

  .main-content .col.span_4 .col.span_2,
  .main-content .col.span_3 .col.span_2,
  .main-content .col.span_2 .col.span_2,
  .main-content .col.span_6 .col.span_2 {
    width: 15%;
  }

  .main-content .col.span_4 .span_10,
  .main-content .col.span_3 .col.span_10,
  .main-content .col.span_2 .col.span_10,
  .main-content .col.span_6 .col.span_10 {
    width: 83%;
  }

  .auto_meta_overlaid_spaced .masonry-blog-item .post-content {
    height: 55vh;
  }

  .slider-pagination {
    bottom: 10px;
  }

  body .swiper-slide .content p i {
    width: 14px;
    font-size: 12px;
  }

  .main-content .col.span_4 .col.span_2 img,
  .main-content .col.span_3 .col.span_2 img,
  .main-content .col.span_2 .col.span_2 img,
  .main-content .col.span_6 .col.span_2 img {
    padding-right: 13px;
    top: -3px;
  }

  .woocommerce .woocommerce-result-count {
    padding-bottom: 0;
  }

  .woocommerce #ajax-content-wrap .woocommerce-ordering,
  body[data-fancy-form-rcs="1"].woocommerce.woocommerce #ajax-content-wrap .woocommerce-ordering {
    position: relative;
    right: 0;
    top: 0;
    margin-left: 0;
    float: none;
  }

  .woocommerce .product-subtotal {
    display: none;
  }



  .nectar-slider-wrap[data-full-width="false"] .swiper-slide .content p.transparent-bg span,
  body .swiper-slide .content p.transparent-bg span {
    line-height: 20px;
    top: -5px;
    left: 4px;
    box-shadow: 4px 0 0 rgba(0, 0, 0, 0.5), -4px 0 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 0 0 rgba(0, 0, 0, 0.5), -4px 0 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 4px 0 0 rgba(0, 0, 0, 0.5), -4px 0 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 4px 0 0 rgba(0, 0, 0, 0.5), -4px 0 0 rgba(0, 0, 0, 0.5);
  }

  #buddypress .register-section {
    width: 100%;
    margin-bottom: 15px;
  }

  .full-width-content.blog-fullwidth-wrap:not(.meta-overlaid) {
    padding: 0 10%!important;
  }

  #header-outer[data-full-width="true"] header > .container {
    padding: 0;
  }


  .blog-title ul .meta-share-count > a,
  .single .blog-title #single-meta ul .meta-share-count > a{
    display: none;
  }

  .blog-title ul .meta-share-count .nectar-social {
    display: block!important;
    position: relative!important;
  }

  .blog-title ul .meta-share-count .nectar-social,
  .blog-title ul .meta-share-count .nectar-social a {
    opacity: 1!important;
    left: 0!important;
  }

  .nectar-flickity[data-control-style="material_pagination"] .flickity-page-dots .dot
  .nectar-flickity[data-controls="material_pagination"] .flickity-page-dots .dot {
    width: 25px;
  }

}


/* Phone and Tablet */
@media only screen and (min-width : 1px) and (max-width : 999px) {

  #to-top:not(.mobile-enabled) {
    display: none;
  }

  body[data-ajax-transitions="true"] #ajax-loading-screen[data-method="standard"][data-disable-mobile="1"] {
    display: none;
  }


  body #header-outer:not(.transparent) #top .span_3 #logo[data-supplied-ml="true"] img:not(.mobile-only-logo),
  body #header-outer.transparent #top .span_3 #logo[data-supplied-ml-starting="true"] img.starting-logo:not(.dark-version):not(.mobile-only-logo),
  body #header-outer.transparent #top .span_3 #logo[data-supplied-ml-starting-dark="true"] img.starting-logo.dark-version {
    display: none!important;
  }

  body #header-outer:not(.transparent)  #top .span_3 #logo .mobile-only-logo,
  body #header-outer.transparent #top .span_3 #logo[data-supplied-ml-starting="true"] img.mobile-only-logo.starting-logo:not(.dark-version),
  body #header-outer.transparent #top .span_3 #logo[data-supplied-ml-starting-dark="true"] img.mobile-only-logo.starting-logo.dark-version,
  #page-header-bg[data-parallax="1"] .span_6 .inner-wrap,
  #page-header-bg .span_6 {
    display: block!important;
  }

  body #header-outer[data-permanent-transparent="1"][data-transparent-header="true"].transparent #top .span_3 #logo .mobile-only-logo {
    opacity: 1!important;
  }

  body[data-hhun="1"] #header-outer[data-mobile-fixed="false"].invisible:not(.side-widget-open) {
    transform: none!important;
    pointer-events: auto!important;
  }

  #header-outer[data-format="centered-menu-bottom-bar"] #top .span_9 #logo {
    display: none;
  }

	#page-header-bg[data-parallax="1"] .span_6,
  #page-header-bg[data-parallax="1"] {
    padding-right: 0;
    transform: translate(0px)!important;
    visibility: visible!important;
  }

  #page-header-bg[data-parallax="1"][data-alignment-v="middle"].fullscreen-header .span_6 {
    -webkit-transform: translateY(-50%)!important;
    transform: translateY(-50%)!important;
  }

  #page-header-bg[data-parallax="1"][data-alignment-v="middle"].fullscreen-header .nectar-particles .span_6 {
    -webkit-transform: none!important;
    transform: none!important;
  }

  #page-header-bg.fullscreen-header .row {
    top: 0!important;
  }

  #ajax-content-wrap .video-texture {
    display: none;
  }

  .full-width-section.parallax_section,
  .full-width-content.parallax_section {
    background-attachment: scroll!important;
    background-position: center!important;
  }

  .wpb_row.parallax_section .row-bg.using-image,
  #page-header-wrap[data-parallax="1"] .page-header-bg-image-wrap .page-header-bg-image {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  #page-header-wrap #page-header-bg[data-animate-in-effect="zoom-out"] .page-header-bg-image {
    transition: none;
    -webkit-transition: none;
  }

  .original #search-outer #search input[type="text"],
  body[data-header-format="left-header"]:not(.material) #search-outer #search input[type="text"] {
    font-size: 24px;
    border-bottom-width: 2px;
  }

 .original #search-outer .container {
   width: 100%;
 }

  body.material #search-outer #search form input[type="text"][name] {
    font-size: 16px;
    line-height: 40px;
    border-bottom-width: 2px;
    padding-right: 50px;
  }

  body.material #search-outer,
	.material #header-outer.transparent .bg-color-stripe,
  .material #search-outer .bg-color-stripe {
    height: 30vh;
  }

  body.material #search-outer {
    min-height: 200px;
  }

  body.material #search-outer .col {
    margin-bottom: 0;
  }


  img.img-with-animation[data-animation="fade-in-from-right"] {
    padding-left: 0;
  }

  img.img-with-animation[data-animation="fade-in-from-left"] {
    padding-right: 0;
  }

  img.img-with-animation[data-animation="fade-in-from-bottom"] {
    bottom: 0;
  }


  .img-with-aniamtion-wrap .inner {
    margin: 0!important;
  }

  body .img-with-aniamtion-wrap img {
    max-width: 100%;
  }

  body .img-with-aniamtion-wrap:not([data-max-width-mobile="default"]) .inner {
    max-width: none!important;
  }

  .img-with-aniamtion-wrap.right[data-max-width-mobile="125%"]:not([data-max-width="75%"]):not([data-max-width="50%"]) .inner,
  .img-with-aniamtion-wrap.center[data-max-width-mobile="150%"]:not([data-max-width="75%"]):not([data-max-width="50%"]) .inner {
      margin-left: -25%!important;
  }
  .img-with-aniamtion-wrap.right[data-max-width-mobile="150%"]:not([data-max-width="75%"]):not([data-max-width="50%"]) .inner,
  .img-with-aniamtion-wrap.center[data-max-width-mobile="200%"]:not([data-max-width="75%"]):not([data-max-width="50%"]) .inner {
      margin-left: -50%!important;
  }
  .img-with-aniamtion-wrap.right[data-max-width-mobile="165%"]:not([data-max-width="75%"]):not([data-max-width="50%"]) .inner {
      margin-left: -65%!important;
  }
  .img-with-aniamtion-wrap.right[data-max-width-mobile="175%"]:not([data-max-width="75%"]):not([data-max-width="50%"]) .inner {
      margin-left: -75%!important;
  }
  .img-with-aniamtion-wrap.right[data-max-width-mobile="200%"] .inner {
      margin-left: -100%!important;
  }

  .img-with-aniamtion-wrap[data-max-width-mobile*="%"]:not([data-max-width="75%"]):not([data-max-width="50%"]) img {
    width: 100%;
  }
  .img-with-aniamtion-wrap[data-max-width="75%"] .inner {
    max-width: 75%;
  }

  .img-with-aniamtion-wrap[data-max-width="50%"] .inner {
    max-width: 50%;
  }


  .full-width-section > .col.span_12 {
    margin-bottom: 0;
  }


  div[data-bg-mobile-hidden="true"] .row-bg.using-image {
    background-image: none!important;
  }

  .full-width-section,
  body[data-bg-header="true"] .full-width-section.first-section,
  body[data-bg-header="true"] .full-width-content.first-section,
	body[data-header-resize="0"] .container-wrap .portfolio-filters-inline.first-section,
  #header-outer[data-transparent-header="true"][data-permanent-transparent="false"] #logo .dark-version,
  #header-outer #top #logo img {
    margin-top: 0!important;
  }

  .single-portfolio .row .post-area {
    margin-top: 0;
  }


  .nectar_fullscreen_zoom_recent_projects .project-slide .project-info h2,
  .nectar_fullscreen_zoom_recent_projects .project-slide .project-info p {
    max-width: 75%;
  }


  body #header-outer[data-format="centered-menu-under-logo"] #top #logo img,
  body #header-outer[data-format="centered-menu-bottom-bar"] #top #logo img {
    margin: 0;
  }

  #header-outer[data-has-menu="false"][data-format="default"] #top .span_3,
	#header-outer[data-has-menu="true"][data-mobile-fixed="1"] #top .span_3,
	#header-outer[data-has-menu="true"][data-ptnm="1"] #top .span_3,
  #header-outer[data-has-menu="true"] #top .span_3,
  body.material #header-outer[data-format="centered-menu-bottom-bar"] #top .span_3 {
    text-align: left;
  }


  #header-outer[data-transparent-header="true"].no-pointer-events.side-widget-open {
    pointer-events: auto;
  }

  .material #header-outer[data-transparent-header="true"][data-mobile-fixed="1"].transparent {
    overflow: visible;
  }

  #header-outer[data-mobile-fixed="1"],
	#header-outer[data-permanent-transparent="1"][data-mobile-fixed="1"] {
    position: fixed!important;
  }

  .material #header-outer[data-mobile-fixed="false"][data-using-secondary="1"],
  .material.admin-bar #header-outer[data-mobile-fixed="false"][data-using-secondary="1"] {
    top: 0;
  }

  body #header-outer[data-transparent-header="true"][data-remove-border="true"],
  body #header-outer[data-transparent-header="true"][data-remove-border="true"].transparent {
    border: none;
  }

  body[data-slide-out-widget-area-style="slide-out-from-right-hover"][data-slide-out-widget-area="true"][data-user-set-ocm="off"] #header-outer header > .container {
    max-width: 100%;
    padding: 0 18px;
  }


  .using-mobile-browser .slide-out-hover-icon-effect a {
    pointer-events: auto;
  }

  .container-wrap {
    z-index: 11;
  }


  .work-item:not([data-custom-content="on"]) .work-info-bg {
    display: none;
  }

  .style-3 .work-info-bg {
    display: block;
  }


  body #top #logo img,
  #header-outer[data-permanent-transparent="false"] #logo .dark-version {
    height: 24px;
    margin-top: -3px;
    top: 3px;
    position: relative;
  }

  #header-outer[data-transparent-header="true"][data-permanent-transparent="false"] #logo .dark-version,
  #header-outer #top #logo img {
    top: 0;
  }


  body.material #header-outer[data-permanent-transparent="false"] #logo .dark-version,
  #header-outer[data-permanent-transparent="false"] #logo .dark-version {
    position: absolute;
  }

  .original #header-outer:not([data-transparent-header="true"]) #top #logo img.stnd,
  .ascend #header-outer:not([data-transparent-header="true"]) #top #logo img.stnd,
  .material #header-outer:not([data-transparent-header="true"]) #top #logo img.stnd,
  .original #header-outer:not([data-transparent-header="true"]) #top #logo picture.stnd,
  .ascend #header-outer:not([data-transparent-header="true"]) #top #logo picture.stnd,
  .material #header-outer:not([data-transparent-header="true"]) #top #logo picture.stnd {
    position: relative;
  }


  body:not(.material) #header-outer[data-mobile-fixed="1"] #logo .starting-logo,
	body:not(.material) #header-outer[data-mobile-fixed="1"] #logo .dark-version {
    top: 6px;
  }

  .admin-bar #header-outer, .logged-in.buddypress #header-outer {
    top: 0;
  }

  .admin-bar.material-ocm-open #header-outer.transparent {
    top: 46px;
  }

  body #header-outer {
    margin-bottom: 0;
    padding: 12px 0;
  }

  body.page-template-template-no-header.nectar_using_pfsr #header-outer,
  body.page-template-template-no-header-footer.nectar_using_pfsr #header-outer {
    padding: 0;
  }

  body #header-outer,
  body[data-hhun="1"]:not(.no-scroll) #header-outer:not([data-transparent-header="true"]):not(.detached),
  body[data-hhun="1"]:not(.no-scroll) #header-outer[data-permanent-transparent="false"][data-using-secondary="1"]:not([data-transparent-header="true"]) {
    position: relative;
  }

  .original #header-outer[data-transparent-header="true"][data-remove-border="false"].transparent,
  .ascend #header-outer[data-transparent-header="true"][data-remove-border="false"].transparent {
    transition: background-color 0.30s ease,box-shadow 0.30s ease,margin 0.25s ease;
  }


  #header-outer[data-permanent-transparent="1"].transparent #top .span_9 > .slide-out-widget-area-toggle i {
    color: #fff;
  }

  body #slide-out-widget-area.slide-out-from-right-hover {
    z-index: 9999;
  }

  #header-outer.transparent.side-widget-open.no-bg-color #top #logo .starting-logo:not(.dark-version) {
    opacity: 1;
  }

  #header-outer.transparent.side-widget-open.no-bg-color #top #logo img:not(.starting-logo) {
    opacity: 0;
  }

  #slide-out-widget-area {
    top: 0!important;
  }

  #header-outer #logo {
    top: 0;
    left: 0;
  }

  #header-space {
    display: none;
  }

  #header-space[data-header-mobile-fixed="1"] {
    display: block;
  }

  #top #mobile-cart-link,
  #top .span_9 > .slide-out-widget-area-toggle,
  #top .mobile-search {
    display: inline-block;
  }

  #top .col.span_3 {
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  #top .col.span_3,
  #header-outer[data-format="centered-menu"] #top .span_3,
  #header-outer[data-format="centered-logo-between-menu"] #top .span_3 {
    position: relative;
  }

  #header-outer #top .col.span_3 {
    line-height: 0;
  }

  #header-outer #top .col.span_3 #logo {
    vertical-align: middle;
  }

  #top .col.span_9 {
    margin-left: 0;
    margin-bottom: 0;
    width: 100%!important;
    float: none;
    z-index: 100;
    position: static;
  }

  #header-outer[data-format="centered-menu"] #top .span_9,
  #header-outer[data-format="centered-logo-between-menu"] .row .col.span_9 {
    position: static;
  }


  #top .col.span_9,
  #header-outer[data-format="centered-menu-bottom-bar"] #top .span_9 {
    min-height: 0;
    width: auto!important;
    position: absolute!important;
    right: 0;
    top: 0;
    z-index: 2000;
    height: 100%;
  }



  .owl-carousel[data-enable-animation="true"] .owl-stage > .owl-item,
  #slide-out-widget-area.slide-out-from-right-hover .inner[data-prepend-menu-mobile="true"] .off-canvas-menu-container,
  body[data-slide-out-widget-area="true"] #top #logo,
  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .span_6,
  body:not(.single-post) #page-header-bg[data-alignment-v="bottom"]:not(.fullscreen-header) .span_6 >.inner-wrap,
  body:not(.single-post) #page-header-bg[data-alignment-v="top"]:not(.fullscreen-header) .span_6 >.inner-wrap,
  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .nectar-particles .span_6 .inner-wrap,
  body:not([data-m-animate="1"]) img.img-with-animation[data-animation="fade-in-from-bottom"] {
    -webkit-transform: none!important;
    transform: none!important;
  }


  body[data-slide-out-widget-area="true"] #top .span_9 > .slide-out-widget-area-toggle.std-menu {
    left: 0!important;
    right: auto!important;
    text-align: left;
    z-index: 10000;
  }

  body[data-slide-out-widget-area="true"] #top .span_3 {
    text-align: center;
  }

  body[data-slide-out-widget-area="true"] #header-outer[data-has-menu="false"] #top .span_3 {
    text-align: left;
  }

  #header-outer .slide-out-widget-area-toggle .lines-button,
	#header-outer .slide-out-widget-area-toggle .lines,
	#header-outer .slide-out-widget-area-toggle .lines:before,
	#header-outer .slide-out-widget-area-toggle .lines:after {
    width: 22px;
  }

  #header-outer .slide-out-widget-area-toggle.mobile-icon .lines:after {
    top: -6px;
  }

  body #header-outer .slide-out-widget-area-toggle.mobile-icon .lines:before {
    top: 6px;
  }

  body[data-slide-out-widget-area="true"] #top #logo, #header-outer[data-mobile-fixed="1"] #top #logo {
    display: inline-block;
  }

  body[data-slide-out-widget-area="true"]:not(.material) [data-transparent-header="true"][data-mobile-fixed="false"] #top #logo {
    position: relative;
  }

  body[data-slide-out-widget-area="true"] #top .col.span_3 {
    width: 100%;
  }

  body #slide-out-widget-area:not(.slide-out-from-right-hover) .slide_out_area_close {
    display: block;
  }

  #slide-out-widget-area .widget_nav_menu {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  #header-outer #top nav > ul {
    width: auto;
    padding: 15px 0 25px 0;
    margin: 0 auto 0 auto;
    z-index: 100000;
    position: relative;
  }


  #header-outer #top nav >ul >li >ul >li {
    opacity: 1;
    transform: none;
  }

  #top nav > ul li,
  #header-outer #top nav >ul >.megamenu >ul >li {
    display: block;
    width: auto;
    margin-left: 0;
  }
  #top nav >ul >.megamenu >.sub-menu {
    width: auto!important;
    opacity: 1;
    display: block;
  }

  #top nav > ul ul {
    position: relative;
    width: auto;
    top: 0;
    left: 0;
    padding: 0;
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 0px 0px #fff;
    -webkit-box-shadow: 0px 0px 0px #fff;
    background-color: transparent;
    float: none;
  }

  #top nav > ul ul li {
    padding-left: 20px;
  }

  #top nav .sf-menu .sfHover > a {
    color: #FFBAAF;
  }


  a > .sf-sub-indicator {
    right: 0;
    position: absolute;
    padding: 16px;
    left: auto;
    top: 0;
    height: auto;
    width: auto;
  }

  .swiper-slide .mejs-controls {
    display: none;
    visibility: hidden;
  }

  #ajax-content-wrap .mejs-controls {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
  }

  #ajax-content-wrap .post-area {
    padding-right: 0;
    margin-bottom: 0;
  }

  .slider-nav {
    position: relative;
    max-width: 600px;
    margin: -40px auto 0px auto;
  }

  body .slider-nav > span {
    height: 25px;
    width: 25px;
  }


  body .slider-nav > .left {
    left: 0;
  }

  body .slider-nav > .right {
    left: 30px;
  }

  .slider-nav span span,
  #header-outer #top nav {
    display: none!important;
  }


  #footer-widgets .container .col {
    margin-bottom: 40px;
  }

  #footer-widgets .container .col:nth-child(3),
  #footer-widgets .container .col:nth-child(4) {
    margin-bottom: 0;
  }

  #pagination {
    margin-bottom: 40px;
  }

  .portfolio-items .col .work-item .work-info .custom-content .nectar-button {
    width: auto;
  }

  body .nectar-button.see-through-2,
  body .nectar-button.see-through-3,
  #page-header-wrap,
  #page-header-bg {
    transition: none!important;
    -webkit-transition: none!important;
  }

  #ajax-content-wrap .wp-caption {
    width: 100%;
  }

  body.single-portfolio #sidebar {
    margin-top: 30px;
  }

  body.search .row .col.section-title h1 {
    font-size: 18px;
  }

  body.search .row .col.section-title span {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
  }

  body.search .divider {
    display: none;
  }

  .main-content > div {
    padding-bottom: 0;
  }

  #single-meta {
    display: block;
    clear: both;
    margin-bottom: 10px;
  }

  body.single-post #page-header-bg:not(.fullscreen-header):not([data-post-hs="default"]) {
    min-height: 250px;
  }

  body.single-post #page-header-bg:not(.fullscreen-header) .row,
  body #page-header-bg:not(.fullscreen-header) .row,
  body:not(.single-post) #page-header-bg .nectar-particles .span_6 .row,
  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .span_6,
  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .nectar-particles .span_6 > .inner-wrap,
  #page-header-bg[data-parallax="1"] {
    top: 0!important;
  }

  body:not(.single-post) #page-header-bg:not(.fullscreen-header) {
    padding-top: 10%;
    padding-bottom: 10%;
  }

  body:not(.single-post) #page-header-bg[data-padding-amt="low"]:not(.fullscreen-header) {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  body:not(.single-post) #page-header-bg[data-padding-amt="high"]:not(.fullscreen-header) {
    padding-top: 13%;
    padding-bottom: 13%;
  }

  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .span_6 {
    min-height: 40px;
  }

  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .span_6.empty-title {
    min-height: 80px;
  }

  #single-meta,
  body[data-header-format] #header-secondary-outer,
  #page-header-bg[data-parallax="1"],
  body:not(.single-post) #page-header-bg[data-alignment-v="top"]:not(.fullscreen-header) .span_6 .inner-wrap,
  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .nectar-particles .span_6 > .inner-wrap:first-child,
  body:not(.single-post) #page-header-bg:not(.fullscreen-header) .span_6 {
    position: relative!important;
  }


  body:not(.single-post) .nectar-particles svg {
    display: none;
  }

  #top,
  #page-header-wrap,
  #header-outer:not([data-permanent-transparent="1"]),
  body:not(.single-post) #page-header-bg:not(.fullscreen-header),
  body:not(.single-post) #page-header-bg[data-alignment-v="bottom"]:not(.fullscreen-header),
  body:not(.single-post) #page-header-bg[data-alignment-v="top"]:not(.fullscreen-header),
  .full-page-inner-wrap[data-content-pos="full_height"] .full-page-inner > .span_12,
  .vc_text_separator {
    height: auto!important;
  }

  body:not(.single-post) #page-header-bg[data-alignment-v="bottom"]:not(.fullscreen-header) {
    padding-top: 16%;
    padding-bottom: 4%;
  }

  body:not(.single-post) #page-header-bg[data-alignment-v="bottom"][data-padding-amt="low"]:not(.fullscreen-header) {
    padding-top: 10%;
    padding-bottom: 2%;
  }

  body:not(.single-post) #page-header-bg[data-alignment-v="bottom"][data-padding-amt="high"]:not(.fullscreen-header) {
    padding-top: 20%;
    padding-bottom: 6%;
  }

  body:not(.single-post) #page-header-bg[data-alignment-v="top"]:not(.fullscreen-header) {
    padding-top: 4%;
    padding-bottom: 16%;
  }

  body:not(.single-post) #page-header-bg[data-alignment-v="top"][data-padding-amt="low"]:not(.fullscreen-header) {
    padding-top: 2%;
    padding-bottom: 10%;
  }

  body:not(.single-post) #page-header-bg[data-alignment-v="top"][data-padding-amt="high"]:not(.fullscreen-header) {
    padding-top: 6%;
    padding-bottom: 20%;
  }

  .related-posts.columns-3 .span_4 {
    margin-right: 0;
  }

  #single-meta ul {
    margin-left: 0;
  }

  .page-template-template-portfolio-php .portfolio-filters {
    margin-bottom: 0;
  }


  #footer-outer #social li {
    width: 33px;
    margin-top: 9px;
    margin-bottom: 9px;
  }

  .nectar-recent-posts-slider .recent-post-container {
    max-width: none;
  }

  .nectar-recent-posts-slider .recent-post-container,
	.nectar-recent-posts-slider .flickity-page-dots {
    padding: 0 40px;
  }

  .nectar-flickity[data-controls="next_prev_arrows"] .flickity-prev-next-button {
    display: none;
  }

  .nectar-flickity[data-controls="next_prev_arrows"]:not(.masonry) .flickity-slider .cell {
    width: 60%;
    margin-right: 7%;
  }

  .full-width-content .nectar-recent-posts-slider .recent-post-container .inner-wrap {
    max-width: 100%;
  }


  body.woocommerce ul.products li.product,
  body.woocommerce-page ul.products li.product,
  .woocommerce ul.products[class*=columns-] li.product,
  .woocommerce .related ul.products li.product,
  .woocommerce .related ul li.product,
  .woocommerce .upsells.products ul.products li.product,
  .woocommerce .upsells.products ul li.product,
  .woocommerce-page .related ul.products li.product,
  .woocommerce-page .related ul li.product,
  .woocommerce-page .upsells.products ul.products li.product,
  .woocommerce-page .upsells.products ul li.product,
	body.woocommerce .span_9 ul.products li.product,
  body.woocommerce-page .span_9 ul.products li.product,
  body .woocommerce ul.products li.product,
  body .woocommerce-page ul.products li.product,
	.woocommerce .products.related .product,
  .woocommerce .products.upsells .product,
  .woocommerce-page.columns-3 ul.products li.product,
	.woocommerce.columns-3 ul.products li.product {
    width: 47.8%;
    margin: 0px 4% 25px 0px;
  }

  body .woocommerce ul.products li.product.material,
  body.woocommerce-page ul.products li.product.material,
	.woocommerce .span_9 ul.products li.product.material,
  .woocommerce-page .span_9 ul.products li.product.material,
	body .woocommerce.columns-1 ul.products li.product.material {
    width: 48.8%;
    margin: 0px 2% 2% 0px;
  }

  body .woocommerce ul.products[data-product-style="minimal"] li.product.minimal {
    width: calc(49.7% - 15px);
  }


  body .woocommerce ul.products[data-product-style="material"] li:nth-child(2n+1),
	 body.woocommerce-page ul.products[data-product-style="material"] li:nth-child(2n+1) {
    margin-right: 2%!important;
  }

  .woocommerce .products.related .product,
  .woocommerce .products.upsells .product {
    width: 48%!important;
  }

  .woocommerce .span_9 ul.products li.product:nth-child(2n+2),
  .woocommerce-page .span_9 ul.products li.product:nth-child(2n+2),
	body .woocommerce ul.products li.product:nth-child(2n+2),
  body .woocommerce-page ul.products li.product:nth-child(2n+2),
	body.woocommerce ul.products li:nth-child(2n+2),
  body.woocommerce .main-content > .row > ul.products[data-n-tablet-columns="default"][data-n-phone-columns="default"][data-product-style="text_on_hover"] li:nth-child(2n+2),
  body.woocommerce .main-content > .row > ul.products[data-n-tablet-columns="default"][data-n-phone-columns="default"][data-product-style="classic"] li:nth-child(2n+2) {
    margin-right: 0;
  }

  body .woocommerce ul.products[data-product-style="material"] li:nth-child(2n+2),
	body.woocommerce-page ul.products[data-product-style="material"] li:nth-child(2n+2),
  body .woocommerce .carousel-wrap.products-carousel ul.products[data-product-style="material"] li:nth-child(2n+1),
  .woocommerce .related ul.products li:nth-child(2n+2),
  .woocommerce .upsells.products ul li.product:nth-child(2n+2) {
    margin-right: 0!important;
  }

  body.woocommerce .span_9 ul.products li.product,
  body.woocommerce-page .span_9 ul.products li.product {
    clear: none;
  }

  .single-product .product_title,
  .span_9 .carousel-heading {
    padding-right: 0!important;
  }

  .woocommerce .span_9 .woocommerce-ordering {
    right: 0;
  }

  .cart-outer {
    display: none;
  }


  #page-header-wrap {
    margin-top: 0;
    overflow: visible;
  }


  #page-header-bg[data-parallax="1"] .span_6 .inner-wrap,
  #page-header-bg .span_6 {
    opacity: 1!important;
  }


  body #header-outer[data-using-secondary="1"],
  body.admin-bar #header-outer[data-using-secondary="1"] {
    top: 0;
  }

  h1 .nectar-button, h2 .nectar-button, h3 .nectar-button, h4 .nectar-button {
    display: inline-block;
    margin-top: 20px;
  }

  body .clients.no-carousel:not(.fade-in-animation) > div {
    opacity: 1;
  }

  #page-header-bg[data-parallax="1"] .span_6 .inner-wrap,
  .swiper-slide .content p,
  .swiper-slide .content h2,
  .swiper-slide .content h1,
  .swiper-slide .content h3,
  .swiper-slide .content .buttons,
  .nectar-slider-wrap[data-caption-trans="reveal_title"] .swiper-slide .content h2 > span span,
  .nectar-slider-wrap[data-caption-trans="reveal_title"] .swiper-slide .content h1 > span span {
    transform: none!important;
    -webkit-transform: none!important;
  }

  .divider-border[data-animate="yes"],
  .divider-small-border[data-animate="yes"] {
    visibility: visible!important;
  }

  .post-area.masonry:not(.meta_overlaid),
  .swiper-slide .content p,
  .swiper-slide .content h2,
  .swiper-slide .content h1,
  .swiper-slide .content h3,
  .swiper-slide .content .buttons,
  .nectar-slider-wrap[data-caption-trans="reveal_title"] .swiper-slide .content h2 > span span,
  .nectar-slider-wrap[data-caption-trans="reveal_title"] .swiper-slide .content h2 .word,
  .nectar-slider-wrap[data-caption-trans="reveal_title"] .swiper-slide .content h1 > span span,
  .nectar-slider-wrap[data-caption-trans="reveal_title"] .swiper-slide .content h1 .word,
  .owl-carousel[data-enable-animation="true"] .owl-stage > .owl-item,
  .owl-carousel[data-enable-animation="true"] .owl-controls {
    opacity: 1!important;
  }

  .col.has-animation[data-animation="fade-in-from-bottom"],
  .wpb_column.has-animation[data-animation="fade-in-from-bottom"],
  .nectar-fancy-box.has-animation[data-animation="fade-in-from-bottom"] {
    bottom: 0!important;
  }



  .parallax_slider_outer.first-section .swiper-container .slider-prev,
  .parallax_slider_outer.first-section .swiper-container .slider-next {
    margin-top: -30px;
  }

  .post-area.col_last {
    padding-left: 0!important;
  }

  .woocommerce .post-area .woocommerce-ordering {
    float: none!important;
    display: block;
  }

  .col.centered-text ul,
  .wpb_column.centered-text ul,
  .col.centered-text ul li,
  .wpb_column.centered-text ul li {
    text-align: left;
    margin-left: 0!important;
  }

  .col.centered-text ul,
  .wpb_column.centered-text ul {
    margin: 0!important;
    display: block!important;
  }


  #ajax-content-wrap .nectar-fancy-ul[data-animation="true"] ul li,
  .nectar-fancy-ul[data-animation="true"] ul li {
    left: 0;
  }

  .testimonial_slider .controls ul {
    text-align: center!important;
  }

  #page-header-bg[data-parallax="0"] {
    margin-top: -1px;
  }



  .wpb_tabs_nav .cta-button {
    top: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    left: 0;
    right: auto;
  }

  body.single-portfolio #full_width_portfolio .container-wrap {
    padding-top: 2.1em;
  }


  #footer-widgets .container .row > div:last-child {
    margin-bottom: 0!important;
  }



  .blog-fullwidth-wrap .post-area.masonry {
    margin-bottom: 0;
  }

  body .pp_gallery,
  .woocommerce .pp_gallery {
    display: none;
  }


  .material .span_9 #author-bio {
    margin-bottom: 60px;
  }

}


/* Legacy Phone with Narrow Width */
@media only screen and (max-width: 321px) {

  .container,
  .slider-nav,
  .post-area.standard-minimal.full-width-content .post .inner-wrap {
    max-width: 300px;
  }
}



@media only screen and (max-width: 479px) {

  .full-width-content .wpb_column.max_width_phone_420px.left_margin_phone_auto.right_margin_phone_auto {
    width: 320px;
  }

}

/* Phone Landscape */
@media only screen and (min-width: 480px) and (max-width: 690px) {

  body .container,
  body .slider-nav,
  .post-area.standard-minimal.full-width-content .post .inner-wrap {
    max-width: 420px;
  }


  #ajax-content-wrap .project-title #all-items {
    left: 194px;
  }

  .post-area.masonry,
  .post-area.masonry.span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9.meta_overlaid {
    width: 420px;
  }

  .iosSlider.product-thumbnails .thumb {
    width: 98px;
  }



}


/* WP Admin Bar Changes Height */
@media screen and (max-width: 782px) {
  .admin-bar #header-outer[data-permanent-transparent="1"][data-mobile-fixed="1"],
  .logged-in.buddypress #header-outer[data-permanent-transparent="1"][data-mobile-fixed="1"],
	.admin-bar #header-outer[data-permanent-transparent="false"][data-mobile-fixed="1"],
  .logged-in.buddypress #header-outer[data-permanent-transparent="false"][data-mobile-fixed="1"],
  body.admin-bar #header-outer[data-transparent-header="true"][data-mobile-fixed="false"] {
    top: 47px;
  }

  #header-secondary-outer[data-permanent-transparent="1"] {
    margin-top: 0;
  }

  body {
    position: static;
  }

  #fp-nav.tooltip_alt {
    display: none;
  }
}






/* Tablet Landscape */
@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) and (orientation:landscape) {

  #header-outer[data-lhe="animated_underline"] #top nav > ul > li:not([class*="button_"]) > a:hover .menu-title-text:after {
    display: none;
  }

  #to-top {
    display: none;
  }

  body .slide-out-hover-icon-effect a {
    pointer-events: auto;
  }

  #page-header-wrap #page-header-bg[data-animate-in-effect="zoom-out"] .page-header-bg-image {
    transition: none;
    -webkit-transition: none;
  }

  #page-header-bg[data-parallax="1"] .span_6,
  #page-header-bg[data-parallax="1"] {
    position: relative!important;
  }

  #page-header-bg[data-parallax="1"] {
    top: 0!important;
  }

  #page-header-bg .span_6 {
    display: block!important;
    opacity: 1!important;
  }

  .swiper-container .slider-right {
    right: 0!important;
  }

  .video-texture {
    display: none;
  }

  img.img-with-animation[data-animation="fade-in-from-right"] {
    padding-left: 0;
  }

  img.img-with-animation[data-animation="fade-in-from-left"] {
    padding-right: 0;
  }

  img.img-with-animation[data-animation="fade-in-from-bottom"],
  .col.has-animation[data-animation="fade-in-from-bottom"],
  .wpb_column.has-animation[data-animation="fade-in-from-bottom"] {
    bottom: 0;
  }


  .parallax_slider_outer.first-section .nectar-slider-wrap,
  #full_width_portfolio .project-title.parallax-effect,
  .parallax_slider_outer.first-section .swiper-slide .content,
  .parallax_slider_outer.first-section .nectar-slider-wrap,
  .owl-carousel[data-enable-animation="true"] .owl-stage > .owl-item {
    transform: none!important;
    -webkit-transform: none!important;
  }


  .parallax_slider_outer.first-section .swiper-slide .content,
  .owl-carousel[data-enable-animation="true"] .owl-controls,
  .owl-carousel[data-enable-animation="true"] .owl-stage > .owl-item {
    opacity: 1!important;
  }


  .divider-border[data-animate="yes"],
  .divider-small-border[data-animate="yes"],
  .img-with-animation[data-animation="grow-in"],
  .col.has-animation[data-animation="grow-in"],
  .wpb_column.has-animation[data-animation="grow-in"] {
    visibility: visible;
  }

  .portfolio-items .col .work-item .work-info a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }

  .portfolio-items .col .work-item .work-info .custom-content .nectar-button {
    width: auto;
  }

  body .portfolio-items[data-ps="6"] .work-item .parallaxImg-layers > div .bg-img:after {
    opacity: 1;
  }

  body .portfolio-items[data-ps="6"] .work-item .work-meta .inner,
  body .portfolio-items[data-ps="6"] .wide_tall .work-item .work-meta .inner {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  .portfolio-items .col .work-item:not(.style-2):not(.style-3):not(.style-3-alt):not(.style-4) .work-info .vert-center {
    height: 100%;
    top: 0 ;
    transform: none;
    -webkit-transform: none;
  }

}



/* Higher Res Tablets */

@media only screen and (max-device-width: 2600px) {

  body[data-ajax-transitions="true"].using-mobile-browser #ajax-loading-screen[data-method="standard"][data-disable-mobile="1"] {
    display: none;
  }

  body.using-mobile-browser.material #slide-out-widget-area.slide-out-from-right {
    overflow-y: scroll;
  }

  body.using-mobile-browser .parallax_section .row-bg[data-parallax-speed="fixed"] {
    background-attachment: scroll!important;
  }

  body.using-mobile-browser .cp-modal-popup-container {
    position: relative;
    z-index: 100000;
  }

  body[data-remove-m-video-bgs="1"].using-mobile-browser .swiper-slide .video-wrap video,
  body[data-remove-m-video-bgs="1"].using-mobile-browser .nectar-video-wrap video {
    display: none;
  }

  body[data-remove-m-video-bgs="1"].using-mobile-browser .mobile-video-image {
    display: block;
  }


  .using-mobile-browser img.img-with-animation[data-animation="fade-in-from-right"] {
    padding-left: 0;
  }


  .using-mobile-browser img.img-with-animation[data-animation="fade-in-from-left"] {
    padding-right: 0;
  }

  .using-mobile-browser img.img-with-animation[data-animation="fade-in-from-bottom"],
  .using-mobile-browser .col.has-animation[data-animation="fade-in-from-bottom"],
  .using-mobile-browser .wpb_column.has-animation[data-animation="fade-in-from-bottom"] {
    bottom: 0;
  }

  .using-mobile-browser .parallax_slider_outer .nectar-slider-wrap[data-animate-in-effect="zoom-out"].loaded .slide-bg-wrap,
  .using-mobile-browser .owl-carousel[data-enable-animation="true"] .owl-stage > .owl-item,
  .using-mobile-browser .portfolio-items .style-5 .parallaxImg-rendered-layer {
    transform: none!important;
    -webkit-transform: none!important;
  }


  body[data-remove-m-video-bgs="1"].using-mobile-browser .mobile-video-image,
  .using-mobile-browser #page-header-bg[data-parallax="1"] .span_6,
  .using-mobile-browser .owl-carousel[data-enable-animation="true"] .owl-stage > .owl-item,
  .using-mobile-browser .owl-carousel[data-enable-animation="true"] .owl-controls {
    opacity: 1!important;
  }


  .using-mobile-browser .nectar-video-box .play_button_mouse_follow.nectar_video_lightbox {
    top: 50%;
    left: 50%;
  }

  .ascend.using-mobile-browser #search {
    height: 100%;
  }

  .ascend.using-mobile-browser #search #search-box {
    top: 20px;
  }

  .using-mobile-browser #page-header-bg[data-parallax="1"] .span_6 {
    display: block!important;
  }


  .using-mobile-browser .slide-out-hover-icon-effect a {
    pointer-events: auto;
  }

  .using-mobile-browser .wpb_row.parallax_section .row-bg.using-image.translate {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }


  body.using-mobile-browser .nectar-video-wrap {
    height: 100%;
  }

  body.using-mobile-browser .blurred-wrap.blurred {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }

}




/* Responsive styles specific to full width masonry setups */
@media only screen and (min-width: 1600px) {


  .post-area.full-width-content .masonry-blog-item,
  .full-width-content .post-area .masonry-blog-item {
    width: 18%;
  }


	/* Constrained Masonry */
  body .portfolio-items.constrain-max-cols .col.elastic-portfolio-item.wide{
    width: 50%;
  }

  body .portfolio-items.constrain-max-cols .col.elastic-portfolio-item.wide_tall {
    width: 50%;
  }

  body .portfolio-items.constrain-max-cols .col.elastic-portfolio-item.tall,
  body .portfolio-items.constrain-max-cols.masonry-items .col.elastic-portfolio-item.regular {
    width: 25%;
  }

}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {


  body .default-style .portfolio-items .col.elastic-portfolio-item {
    width: 22.43%!important;
  }

  .post-area.full-width-content .masonry-blog-item,
  .full-width-content .post-area .masonry-blog-item {
    width: 23%;
  }

  .full-width-content.blog-fullwidth-wrap:not(.meta-overlaid) {
    padding-left: 2.8%!important;
  }

}


@media only screen and (min-width: 990px) and (max-width: 1300px) {

	/* Constrained Cols */
  body .portfolio-items.constrain-max-cols.no-masonry .col.elastic-portfolio-item {
    width: 25%;
  }

}


@media only screen and (min-width: 470px) and (max-width: 990px) {

  .portfolio-items .elastic-portfolio-item {
    width: 50%;
  }

}


@media only screen and (max-width: 690px) and (min-width: 470px) {

  .post.quote .post-content .quote-inner,
  .post.link .post-content .link-inner,
  .format-status .post-content .status-inner,
  .post.format-aside .aside-inner {
    padding: 50px 10%;
  }
}



@media only screen and (max-width: 690px) {

  body[data-remove-m-video-bgs="1"] .swiper-slide .video-wrap video,
  body[data-remove-m-video-bgs="1"] .nectar-video-wrap video {
    display: none;
  }

  body[data-remove-m-video-bgs="1"] .mobile-video-image {
    display: block;
  }

  .posts-container[data-load-animation="fade_in_from_bottom"] .inner-wrap.animated,
	.posts-container[data-load-animation="fade_in"] article .inner-wrap.animated,
  .posts-container[data-load-animation="perspective"] article .inner-wrap.animated,
  .posts-container[data-load-animation="fade_in_from_bottom"] .inner-wrap,
	.posts-container[data-load-animation="fade_in"] article .inner-wrap,
  .posts-container[data-load-animation="perspective"] article .inner-wrap {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  .post-area.masonry.classic .posts-container:not(.meta-moved) .post-content > .post-meta {
    opacity: 0;
    position: absolute!important;
  }


  .material .related-post-wrap h3.related-title {
    padding-top: 60px;
  }

  .nectar-recent-posts-slider .inner-wrap {
    max-width: 80%;
  }

  .arhchive #page-header-wrap #page-header-bg .subheader {
    display: none;
  }
}


@media only screen and (max-width: 470px) {


  .post.quote .post-content .quote-inner,
  .post.link .post-content .link-inner,
  .format-status .post-content .status-inner,
  .post.format-aside .aside-inner {
    padding: 50px 10%;
  }

  .full-width-content.blog-fullwidth-wrap:not(.meta-overlaid) {
    padding: 0 10%!important;
  }

  body .post-area.auto_meta_overlaid_spaced[data-ams].span_9 {
    margin: 0;
  }

  body .auto_meta_overlaid_spaced[data-ams].span_9 .masonry-blog-item {
    padding-left: 0;
    padding-right: 0;
  }

  body .woocommerce ul.products[data-product-style="material"] li.product.material,
	body.woocommerce-page ul.products[data-product-style="material"] li.product.material,
	.woocommerce .span_9 ul.products li.product.material,
	.woocommerce-page .span_9 ul.products li.product.material,
	body .woocommerce.columns-1 ul.products li.product.material {
    margin-right: 0%!important;
    width: 100%;
  }

  .woocommerce .products.related .product.material,
  .woocommerce .products.upsells .product.material {
    width: 100%!important;
  }


}
