/*
Theme Name:  Salient
Description: Search results template
*/

body.search-results .container-wrap,
body[data-header-resize="1"].search-results .container-wrap,
body[data-header-resize="0"].search-results .container-wrap {
  padding-top: 0;
}

body.search-results .container-wrap .main-content {
  padding-top: 60px;
}

.search .row .col.section-title h1{
  font-size:28px;
  line-height:42px;
  margin-bottom:0;
  text-transform:none;
  font-family:'Open Sans';
  font-weight:600;
  letter-spacing:-1px
}

body.search #page-header-bg {
  height: 250px;
}
body.search #page-header-bg h1 {
  font-size: 40px;
  line-height: 50px;
  padding: 0;
}
body.search #page-header-bg h1 span {
  color: inherit;
}
body.search-no-results[data-header-resize] .container-wrap {
  padding: 8% 0;
}
@media only screen and (max-width: 690px) {
  body.search-no-results[data-header-resize] .container-wrap {
    padding: 14% 0;
  }
}

body.search-no-results[data-form-style="minimal"] #search-results .search-form button[type=submit] {
  top: auto;
  bottom: 0;
  -webkit-transform: none;
  transform: none;
}

body.search-no-results .search-form button[type=submit],
body.search-no-results .search-form button[type=submit] .icon-salient-search,
body.search-no-results .search-form button[type=submit]:hover,
body.search-no-results #search-results .search-form button[type=submit]:hover {
  background-color: transparent!important;
}

body.search-no-results .search-form button[type=submit] .text {
  display: none;
}

body.search-no-results #search-results .search-form {
  position: relative;
}
body.search-no-results #search-results .search-form button[type=submit] {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  line-height: 0;
}
@media only screen and (min-width: 1000px) {
  body.search-no-results:not(.post-type-archive) .container-wrap:not([data-layout="default"]) .container.main-content {
    max-width: 1000px;
  }
  body.search-results[data-ext-responsive="true"] #search-results[data-layout*="list"] {
    max-width: 1000px;
    margin: 0 auto;
  }
}
body.search-no-results #search-results input[type=text] {
  padding-right: 60px;
}

#search-results{
  margin-bottom:30px;
  overflow:visible;
}
#search-results article {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
#search-results .result img{
  margin-bottom:10px
}

#search-results .result, .masonry-blog-item{
  width:31%;
  display:inline-block;
  margin-bottom:2.5%;
  position:relative;
  color:#676767
}
body #search-results .result {
  width:33.3%;
  padding: 15px;
  margin-bottom: 0;
}
#search-results[data-layout="masonry-no-sidebar"] .result {
  width: 25%;
}
@media only screen and (max-width: 999px) {
  #search-results[data-layout="masonry-no-sidebar"] .result {
    width: 50%;
  }
}
body.search-results .search-result-pagination[data-layout*="list"] {
  padding-top: 25px;
}
body.search-results .search-result-pagination[data-layout="masonry-no-sidebar"],
body.search-results .search-result-pagination[data-layout="list-no-sidebar"] {
  text-align: center;
}
body.search-results .search-result-pagination[data-layout="masonry-no-sidebar"] >div,
body.search-results .search-result-pagination[data-layout="list-no-sidebar"] >div {
  float: none;
  display: inline-block;
}
body.search-results #search-results[data-layout*="list"] article {
  opacity: 1;
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0 15px 0;
}
body.search-results #search-results[data-layout*="list"] .bottom-line {
  display: none;
}
body.search-results #search-results[data-layout*="list"] article .inner-wrap {
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
body.search-results #search-results[data-layout*="list"] article:hover .inner-wrap {
  -webkit-transform: none;
  transform: none;
  box-shadow: none;
}
body.search-results #search-results[data-layout*="list"] .result .inner-wrap h2 {
  padding-top: 25px;
  padding-left: 0;
  padding-bottom: 0;
  position: relative;
}
body.search-results #search-results[data-layout*="list"] .result .inner-wrap h2 span {
  opacity: 0.6;
  font-size: 13px;
  line-height: 13px;
  position: absolute;
  top: 0;
  left: 0;
}
body.search-results #search-results[data-layout*="list"] article {
  font-size: 14px;
}
body.search-results #search-results[data-layout*="list"] article .inner-wrap > a {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  border-radius: 100px;
  display: block;
  background-color: #000;
  transition: margin-top 0.25s ease, box-shadow 0.25s ease;
}
body.search-results #search-results[data-layout*="list"] article .inner-wrap > a:hover {
  box-shadow: 0px 20px 40px rgba(0,0,0,0.14);
}
body.search-results #search-results[data-layout*="list"] article .inner-wrap > a img {
  height: 80px;
  width: auto;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  opacity: 0.7;
}
body.search-results #search-results[data-layout*="list"] article[data-post-thumb="1"]:before {
  color: #fff;
  border: 1px transparent;
}
body.search-results #search-results[data-layout*="list"] article {
  padding-left: 80px;
}
#search-results .result .title span{
  display:block;
  font-size:12px;
  letter-spacing:0;
  font-family:'Open Sans';
  font-weight:400;
  color:#999;
  margin-top:3px
}
#search-results .result h2 {
  margin-bottom:1px;
  font-size:17px;
  line-height:22px;
	letter-spacing: 0px;
}
#search-results .result p{
  padding-bottom:0
}
article.result .title a{
  color:#000
}

body.search-results #search-results[data-layout*="list"] article:before {
  content: counter(step-counter);
  margin-right: 20px;
  border: 1px solid rgba(0,0,0,0.1);
  font-weight: bold;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  line-height: 34px;
  font-size: 12px;
  pointer-events: none;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1), border-color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  transition: color 0.4s cubic-bezier(0.25, 1, 0.2, 1), border-color 0.4s cubic-bezier(0.25, 1, 0.2, 1);
}
body.search-results #search-results[data-layout*="list"] article:before {
  height: 50px;
  width: 50px;
  font-size: 16px;
  line-height: 50px;
}
body.search-results #search-results[data-layout*="list"] article {
  counter-increment: step-counter;
}

body.material .row .col.section-title {
  border-bottom: 0;
  padding-bottom: 0;
}
body.material .row .col.section-title span:not(.result-num) {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}
body.material .row .col.section-title .result-num {
  margin-top: 10px;
  padding-left: 0;
  display: block;
}
body.material #search-results .result .inner-wrap {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: none;
  padding: 0;
  border: 1px solid #e7e7e7;
  transition: all .7s cubic-bezier(.2,1,.22,1);
}
body.material #search-results .result .inner-wrap img {
  margin-bottom: 0;
  display: block;
}
body.material #search-results .result .inner-wrap h2 {
  padding: 25px;
}
body.material #search-results .result:hover .inner-wrap {
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

@media only screen and (max-width: 470px) {

  body #search-results[data-layout="default"] .result,
  body #search-results[data-layout="masonry-no-sidebar"] .result {
    opacity: 1;
    transform: none!important;
    position: relative!important;
    top: auto!important;
    left: auto!important;
  }
}
