/*
Theme Name:  Salient
Description: Styles loaded only on single posts
*/

.single.single-post .heading-title[data-header-style="default"] h1 {
  margin-bottom: 8px;
}

body.single-post[data-bg-header="true"] .container-wrap {
  padding-top: 40px!important;
}

body.single-post.material[data-bg-header="true"] .container-wrap {
  padding-top: 80px!important;
}

body.single .post .wpb_text_column h2,
body.single .post .content-inner > h2,
body.single .post .wpb_text_column h3,
body.single .post .content-inner > h3,
body.single .post .wpb_text_column h4,
body.single .post .content-inner > h4,
body.single .post .wpb_text_column h5,
body.single .post .content-inner > h5,
body.single .post .wpb_text_column h6,
body.single .post .content-inner > h6 {
  margin-top: 10px;
}

.single #single-below-header .updated.rich-snippet-hidden,
.single .heading-title[data-header-style="default_minimal"] #single-below-header .updated.rich-snippet-hidden {
  display: none;
}


/* template style changes based on included meta */
.single-post #single-below-header.fullscreen-header[data-remove-post-comment-number="1"] >span {
  width: 50%;
}

body.single-post .container-wrap[data-remove-post-author="1"][data-remove-post-date="1"] .related-posts[data-style="material"] .article-content-wrap {
  padding-bottom: 20px!important;
}

body.single-post [data-post-hs="default"] [data-remove-post-author="1"][data-remove-post-date="1"] #single-below-header span,
body.single-post .container-wrap[data-remove-post-author="1"][data-remove-post-date="1"] [data-header-style="default"] #single-below-header span {
  padding-left: 0;
  border-left: 0;
}

body.single-post [data-post-hs="default_minimal"] [data-remove-post-author="1"][data-remove-post-date="1"][data-remove-post-comment-number="0"] #single-below-header span,
body.single-post [data-post-hs="default_minimal"] [data-remove-post-author="0"][data-remove-post-date="1"][data-remove-post-comment-number="1"] #single-below-header span {
  padding-left: 0;
  border-left: 0;
}

body.single-post [data-post-hs="default_minimal"] [data-remove-post-author="0"][data-remove-post-date="1"][data-remove-post-comment-number="1"] #single-below-header span,
body.single-post [data-post-hs="default_minimal"] [data-remove-post-author="1"][data-remove-post-date="0"][data-remove-post-comment-number="1"] #single-below-header span,
body.single-post [data-remove-post-author="1"][data-remove-post-date="0"][data-remove-post-comment-number="1"] .heading-title[data-header-style="default_minimal"] #single-below-header span,
body.single-post [data-remove-post-author="0"][data-remove-post-date="1"][data-remove-post-comment-number="1"] .heading-title[data-header-style="default_minimal"] #single-below-header span {
  padding-left: 0;
  padding-right: 0;
  border-left: 0;
}


.single #page-header-bg #single-below-header span {
  color: rgba(255,255,255,0.8);
}

.single #single-meta ul .meta-comment-count i {
  margin-right: 3px;
}

.single #single-meta span,
.single #single-below-header span {
  font-size: 16px;
}


.single #single-meta div i {
  font-size: 16px;
  line-height: 30px;
  height: 30px;
}

.single #page-header-bg #single-meta div a,
.single #page-header-bg #single-meta div i,
.single #page-header-bg #single-meta div span {
  color: #fff!important;
}

.single-post #single-meta .nectar-social {
  margin-left: 14px;
}

.single-post .post-content > .video,
.single-post .post-content > .audio-wrap,
.single-post .post-content > .quote-inner,
.single-post .post-content > .post-featured-img > img{
  margin-bottom: 50px;
}


@media only screen and (min-width:690px) {

  .single-portfolio #page-header-bg.fullscreen-header[data-alignment-v="middle"] .span_6 .inner-wrap #portfolio-nav ul:not(.controls) {
    left: -70px;
  }

  .single-portfolio #page-header-bg.fullscreen-header[data-alignment-v="middle"] .span_6 .inner-wrap #portfolio-nav .controls {
    right: -75px;
  }
}

.single:not(.material) #page-header-bg.fullscreen-header h1 {
  font-size: 5.5vw;
  line-height: 5.9vw;
}

.single-post #page-header-bg.fullscreen-header,
 .single-post #single-below-header.fullscreen-header {
  background-color: #f8f8f8;
}


.single.single-post .fullscreen-header .blog-title {
  text-align: center;
}

body.single.single-post:not(.material) .fullscreen-header .blog-title h1 {
  max-width: none;
}


.default-blog-title.fullscreen-header,
 .single-post #page-header-bg.default-blog-title.fullscreen-header,
 .single-post.ascend #page-header-bg.default-blog-title.fullscreen-header {
  background-color: #333;
}

.single-post.ascend .container-wrap.fullscreen-blog-header,
 body.single-post[data-bg-header="true"].ascend .container-wrap {
  padding-top: 70px!important;
  margin-top: 0!important;
}

.single-post #page-header-bg.fullscreen-header.bottom-shadow:before {
  background: -moz-linear-gradient(center top,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.06) 16%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.6) 100%);
  background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.06) 16%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.6) 100%);
  bottom: 0;
  content: "";
  display: block;
  height: 351px;
  left: 0;
  position: absolute;
  transition: all 100ms cubic-bezier(0.42,0,0.58,1) 0s;
  width: 100%;
  z-index: 10;
}

.single-post #page-header-bg.fullscreen-header.bg-overlay:after {
  background: none repeat scroll 0 0 rgba(0,0,0,0.4);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 100ms cubic-bezier(0.42,0,0.58,1) 0s;
  width: 100%;
  z-index: 10;
}

.single-post .container-wrap.fullscreen-blog-header {
  margin-top: 0;
}

.single-post .bottom-meta a {
  color: inherit;
}

#author-bio{
  padding-bottom:50px;
  margin-bottom:50px;
  margin-top:0;
  min-height:80px;
  box-sizing:content-box;
  -webkit-box-sizing:content-box;
  border-bottom:1px solid #DDD;
  position:relative
}
#author-bio #author-info{
  width:100%;
  padding-left:105px
}
#author-bio img{
  width:80px;
  height:80px;
  margin-bottom:0;
  position:absolute;
  left:0;
  top:0
}
#author-bio .clear{
  padding-bottom:0
}

.single-post .container-wrap .bottom-meta #author-bio #author-info {
  width: auto!important;
  float: none;
  display: inline-block!important;
}



.single-post .bottom-meta .sharing-default-minimal {
  padding-top: 0px;
}

.single-post .bottom-meta >div:last-child {
  margin-bottom: 60px;
}

.single-post .bottom-meta .sharing-default-minimal[data-bottom-space="false"] {
  margin-bottom: 0;
}

.single #single-meta li .n-shortcode,
.single #single-meta li .nectar-love {
  padding-left: 0!important;
}

.single #single-meta ul li .nectar-love-wrap span {
  opacity: 1;
}

body[data-ext-responsive="true"].single-post .container-wrap.no-sidebar .post-area,
 body[data-ext-responsive="true"].single-post .container-wrap.no-sidebar .comment-list >li,
 body[data-ext-responsive="true"].single-post.material .container-wrap.no-sidebar .comment-wrap h3#comments,
 body[data-ext-responsive="true"].single-post.material .comment-wrap #respond,
 body[data-ext-responsive="true"].single-post #page-header-bg[data-post-hs="default_minimal"] h1,
 body[data-ext-responsive="true"].single-post.material #page-header-bg.fullscreen-header h1,
 body[data-ext-responsive="true"].single-post .heading-title[data-header-style="default_minimal"] .entry-title {
  max-width: 1000px;
  margin: 0 auto!important;
}

.blog_next_prev_buttons[data-style="fullwidth_next_only"] .col {
  border-left: 0;
}

.blog_next_prev_buttons .inner {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.blog_next_prev_buttons {
  text-align: center;
  overflow: hidden;
  position: relative;
  background-color: #333;
}

body .blog_next_prev_buttons .full-link a,
body .blog_next_prev_buttons .full-link,
body .blog_next_prev_buttons .bg-overlay {
  margin-bottom: 0;
}

.blog_next_prev_buttons .full-link a,
 .blog_next_prev_buttons .full-link,
 .blog_next_prev_buttons .bg-overlay {
  display: block;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  z-index: 10;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog_next_prev_buttons .bg-overlay {
  background-color: #282b30;
  z-index: 2;
  opacity: 0.3;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.blog_next_prev_buttons:hover .bg-overlay {
  opacity: 0;
}

.blog_next_prev_buttons.bg-color-only .bg-overlay {
  opacity: 0;
}

.blog_next_prev_buttons.bg-color-only:hover .bg-overlay {
  opacity: 0.08;
}

.blog_next_prev_buttons span {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

.blog_next_prev_buttons[data-style*="next_prev"] .next-post h3 span {
  text-align: left;
}

.blog_next_prev_buttons[data-style*="next_prev"] .previous-post h3 span {
  text-align: right;
  position: relative;
}

.blog_next_prev_buttons .col {
  height: 250px;
  border-left: 1px solid #ddd;
}


.blog_next_prev_buttons[data-post-header-style="default_minimal"] .col {
  height: 350px;
}

@media only screen and (max-width:1000px) {
  .blog_next_prev_buttons[data-post-header-style="default_minimal"] .col {
    height: 200px;
  }
}

.blog_next_prev_buttons .col h3 {
  transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  padding: 0 15%;
  color: #fff;
  margin: 0;
}

.full-width-content.blog_next_prev_buttons > .col.span_12.dark h3 {
  color: #fff;
}

.container-wrap[data-nav-pos="after_project_2"] {
  padding-bottom: 0!important;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .controls > .hidden,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .controls > .hidden {
  display: none!important;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .controls > .only,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .controls > .only {
  width: 100%!important;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .only span:not(.text),
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .only span:not(.text) {
  text-align: center!important;
}

#full_width_portfolio .container-wrap[data-nav-pos="after_project_2"] .bottom_controls {
  margin-top: 0;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul {
  padding: 0;
}

.blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul {
  margin: 0;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .container {
  max-width: none;
  width: 100%;
  padding: 0;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav,
 body .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .container {
  height: auto;
  line-height: 0;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav ul,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .controls {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav {
  display: block;
}

.container-wrap[data-nav-pos="after_project"] #portfolio-nav i {
  position: relative;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav ul .previous-project,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav ul .next-project,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post {
  width: 50%;
  line-height: 0;
  height: auto;
  padding: 6%;
  min-height: 300px;
  -webkit-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: flex;
  -moz-box-align: center;
  -moz-box-pack: center;
  align-items: center;
  -webkit-align-items: center;
  float: none;
  overflow: hidden;
  position: relative;
  background-color: #333;
}

.blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post {
  padding: 6% 9%;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:after,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:after,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post:after,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post:after {
  background-color: rgba(13,13,13,1);
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  -webkit-transition: opacity 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) 0s;
  transition: opacity 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) 0s;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:hover:after,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:hover:after,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post:hover:after,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post:hover:after {
  opacity: 0.9;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .controls li a,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: block;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:hover h3,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post:hover h3 {
  -webkit-transform: translateX(-40px) translateZ(0);
  transform: translateX(-40px) translateZ(0);
  backface-visibility: hidden;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:hover h3,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post:hover h3 {
  transform: translateX(40px) translateZ(0);
  backface-visibility: hidden;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project h3 .next-arrow line,
.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3 .next-arrow line,
.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post h3 .next-arrow line,
.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post h3 .next-arrow line {
  stroke-width: 2px;
  stroke-dasharray: 10px;
  stroke-dashoffset: 30px;
}
.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project h3 .next-arrow line,
.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3 .next-arrow line,
.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post h3 .next-arrow line,
.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post h3 .next-arrow line {
  stroke: #ffffff;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project h3 .text .line,
.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3 .text .line,
.blog_next_prev_buttons[data-style="fullwidth_next_prev"] h3 .text .line {
  height: 2px;
  width: 45px;
  background-color: #fff;
  position: absolute;
  content:'';
  right: -74px;
  display: block;
  backface-visibility: hidden;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(28px) scaleX(0);
  -webkit-transform-origin: right;
  transform: translateY(-50%) translateX(28px) scaleX(0);
  transform-origin: right;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project.mouse-leaving h3 .text .line,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post.mouse-leaving h3 .text .line {
  animation: rightLineEnd 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) forwards;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project.mouse-leaving h3 .text .line,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post.mouse-leaving h3 .text .line {
  animation: rightLineEnd2 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) forwards;
}

.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post:hover h3 .text .line {
  -webkit-transform: translateY(-50%) translateX(0px) scaleX(1);
  -webkit-transform-origin: left;
  transform: translateY(-50%) translateX(0px) scaleX(1);
  transform-origin: left;
  animation: rightLineStart 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) forwards;
}

.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post:hover h3 .text .line {
  -webkit-transform: translateY(-50%) translateX(0px) scaleX(1);
  -webkit-transform-origin: right;
  transform: translateY(-50%) translateX(0px) scaleX(1);
  transform-origin: right;
  animation: rightLineStart2 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) forwards;
}

.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post h3 .text .line {
  -webkit-transform: translateY(-50%) translateX(-28px) scaleX(0);
  -webkit-transform-origin: left;
  transform: translateY(-50%) translateX(-28px) scaleX(0);
  transform-origin: left;
  left: -74px;
  right: auto;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project.mouse-leaving h3 .next-arrow,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post.mouse-leaving h3 .next-arrow {
  animation: rightArrowEnd2 0.7s cubic-bezier(0, 0.2, 0.1, 1) forwards;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project.mouse-leaving h3 .next-arrow,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post.mouse-leaving h3 .next-arrow {
  animation: rightArrowEnd 0.7s cubic-bezier(0, 0.2, 0.1, 1) forwards;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3 .next-arrow,
.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post h3 .next-arrow {
  -webkit-transform: translateX(38px) rotate(180deg);
  transform: translateX(38px) rotate(180deg);
  left: -43px;
  right: auto;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:hover h3 .next-arrow,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post:hover h3 .next-arrow {
  animation: rightArrowStart 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) forwards;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:hover h3 .next-arrow,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post:hover h3 .next-arrow {
  animation: rightArrowStart2 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) forwards;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:hover h3 .next-arrow,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:hover h3 .next-arrow,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post:hover h3 .next-arrow,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post:hover h3 .next-arrow {
  -webkit-transform: translateX(42px);
  transform: translateX(42px);
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project.mouse-leaving h3 .next-arrow line,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project.mouse-leaving h3 .next-arrow line,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post.mouse-leaving h3 .next-arrow line,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post.mouse-leaving h3 .next-arrow line {
  animation: rightArrowLineEnd 0.4s cubic-bezier(0.3, 0.2, 0.1, 1) 0.25s forwards;
  stroke-dashoffset: 40px;
}

body .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:hover .next-arrow line,
 body .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:hover .next-arrow line,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .controls .previous-post:hover .next-arrow line,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .controls .next-post:hover .next-arrow line {
  animation: rightArrowLineStart 0.3s cubic-bezier(0.05, 0.2, 0.1, 1) 0.1s forwards;
  stroke-dashoffset: 30px;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project h3,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] h3 {
  display: inline-block;
  -webkit-transform: translateX(0px) translateZ(0);
  -webkit-transition: transform 0.4s cubic-bezier(0.05, 0.2, 0.1, 1);
  transform: translateX(0px) translateZ(0);
  transition: transform 0.4s cubic-bezier(0.05, 0.2, 0.1, 1);
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project span:not(.text),
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post span:not(.text) {
  display: block;
  font-size: 16px;
  text-align: left;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project span:not(.text),
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post span:not(.text) {
  display: block;
  font-size: 16px;
  text-align: right;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project h3,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project span,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3,
 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project span,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post h3,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post span,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post h3,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post span {
  color: #fff;
  position: relative;
  z-index: 100;
}

.container-wrap[data-nav-pos="after_project_2"] .bottom_controls .proj-bg-img,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .post-bg-img,
 .blog_next_prev_buttons[data-style="fullwidth_next_only"] .post-bg-img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  height: 100%;
  transition: transform 0.4s cubic-bezier(0.05, 0.2, 0.1, 1) 0s, opacity 0.3s ease;
}

.blog_next_prev_buttons[data-style="fullwidth_next_prev"] .post-bg-img[data-nectar-img-src],
.blog_next_prev_buttons[data-style="fullwidth_next_only"] .post-bg-img[data-nectar-img-src] {
  opacity: 0;
}

 .blog_next_prev_buttons[data-style="fullwidth_next_only"]:hover .post-bg-img,
.container-wrap[data-nav-pos="after_project_2"] .bottom_controls li:hover .proj-bg-img,
 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] li:hover .post-bg-img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.related-post-wrap .row-bg-wrap {
  z-index: 0;
  pointer-events: none;
}
.related-post-wrap .row-bg-wrap .row-bg {
  background-color: rgba(0,0,0,0.04);
}
.related-post-wrap {
  padding-bottom: 0
}

.related-post-wrap h3.related-title {
  padding: 60px 0 30px 0;
}
.ascend .blog-recent.related-posts,
.material .blog-recent.related-posts {
  padding: 0 0 8% 0;
}
.ascend .related-post-wrap h3.related-title,
.material .related-post-wrap h3.related-title {
  padding: 8% 0 40px 0;
}
.related-post-wrap[data-using-post-pagination="true"],
.ascend .fullscreen-blog-header .related-post-wrap[data-using-post-pagination="false"] {
  margin-top: 0
}
.related-post-wrap[data-using-post-pagination="false"],
.blog_next_prev_buttons:not(.full-width-content) + .related-post-wrap {
  margin-top: 80px
}

.single .post-content {
  padding-left: 0;
}

.single #single-meta {
  right: 0;

}

.single #single-meta ul {
  margin-bottom: 0;
}

.single #single-meta {
  margin-top: 4px;
}

.single #single-meta ul li {
  float: left;
  list-style: none;
  padding: 0;
  border-bottom: 0;
}

.single #single-meta ul li .nectar-love-wrap {
  border-right: 1px solid #ddd;
  margin-right: 20px;
  padding-right: 20px;
  width: auto!important;
}

.single #single-meta ul li .nectar-love-wrap span {
  font-size: 12px;
  height: 13px;
  display: block;
  width: auto;
  padding-left: 0;
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 11px;
}

.single #single-below-header {
  margin-bottom: 0;
}

#single-below-header [class^="icon-"] {
  font-size: 18px;
  line-height: 23px;
  height: 20px;
  width: auto;
  margin-right: 7px;
  color: inherit;
}

.fullscreen-blog-header #single-below-header {
  margin-bottom: 60px;
}

.single .fullscreen-blog-header #single-below-header > span,
.single .fullscreen-blog-header #single-below-header > div {
  font-family: inherit;
  color: #888;
  padding-left: 0;
  display: inline-block;
  float: left;
}
.single .fullscreen-blog-header #single-below-header > span a {
  margin-right: 14px;
  font-size: 14px;
  line-height: 28px;
  border: 2px solid rgba(0,0,0,0.1);
  -webkit-transition: border-color .45s cubic-bezier(0.25,1,0.33,1), color .45s cubic-bezier(0.25,1,0.33,1);
  transition: border-color .45s cubic-bezier(0.25,1,0.33,1), color .45s cubic-bezier(0.25,1,0.33,1);
  padding: 6px 20px;
  margin-bottom: 14px;
  border-radius: 100px;
  display: inline-block;
}

#single-meta .meta-category,
#single-meta .meta-comment-count,
#single-below-header .meta-category,
#single-below-header .meta-comment-count {
  -webkit-transition: all 0.4s cubic-bezier(0.05, 0.2, 0.1, 1);
  transition: all 0.4s cubic-bezier(0.05, 0.2, 0.1, 1);
}

#single-below-header.social-hovered .meta-category,
#single-below-header.social-hovered .meta-comment-count,
#single-meta.social-hovered .meta-category,
#single-meta.social-hovered .meta-comment-count {
  opacity: 0;
  pointer-events: none;
}

.single-post #single-meta > div {
  float: left;
}



.single [data-post-hs="default_minimal"] #single-below-header span,
.single .heading-title[data-header-style="default_minimal"] #single-below-header span {
  font-size: 14px;
}


.single #single-below-header:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}

.blog-title #single-below-header > span {
  padding: 0 20px 0 20px;
  border-left: 1px solid rgba(0,0,0,0.1);
}
.blog-title #single-below-header > span:first-child {
    padding-left: 0;
    border: none;
}

.single.single-post .section-title h1 {
  max-width: 800px;
}

.single .row .section-title {
  border-bottom: none;
}

.single [data-post-hs="default_minimal"] .section-title h1 {
  max-width: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.single .heading-title[data-header-style="default_minimal"] h1,
 body[data-ext-responsive="true"].single-post #page-header-bg[data-post-hs="default_minimal"] h1 {
  padding: 20px 0 20px 0;
}

.single .heading-title[data-header-style="default_minimal"] .meta-category a {
  border: 2px solid #000;
  padding: 4px 8px;
  margin: 5px 6px 0px 5px;
  display: inline-block;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #000;
}

body[data-button-style^="rounded"].single .heading-title[data-header-style="default_minimal"] .meta-category a {
  border-radius: 100px;
}

.single .heading-title[data-header-style="default_minimal"] .meta-category a:hover,
.single .heading-title[data-header-style="default_minimal"] .meta-category a:focus {
  border-color: transparent;
  color: #fff;
}

.single .heading-title[data-header-style="default_minimal"] {
  border-bottom: 0;
  text-align: center;
  padding-top: 30px;
}

.single .heading-title[data-header-style="default_minimal"] #single-below-header span {
  float: none;
  display: inline-block;
}

.single-post .post.quote .post-content .quote-inner {
  padding: 45px;
}

.single .post .content-inner .post-featured-img img {
  margin-bottom: 25px;
}

.single .post .content-inner[data-has-gallery] .gallery,
.single .post .content-inner[data-has-gallery] .wp-block-gallery {
  display: none;
}
.single .post .top-featured-media > .nectar-flickity > .flickity-viewport {
  margin-top: 0;
}
.single .post .top-featured-media> .nectar-flickity > .flickity-viewport .cell {
  width: auto;
}
.single .post .top-featured-media.full-width-content > .nectar-flickity > .flickity-viewport .cell {
  margin: 0 1%;
}
.single .post .top-featured-media > .nectar-flickity > .flickity-viewport img {
  height: 500px;
  width: auto;
}

.single .post.video .mejs-container {
  margin-bottom: 25px;
}

.single .post-area.standard-minimal .post-content {
  padding-left: 0;
}

.single .post-area.span_12 #author-info {
  width: 992px;
}

/* remove single meta date option */
body.single-post .container-wrap[data-remove-post-date="1"] #single-below-header .meta-date,
body.single-post #page-header-bg[data-remove-post-date="1"] .author-section .meta-date,
body.single-post #page-header-bg .span_6[data-remove-post-date="1"] #single-below-header .meta-date,
body.single-post #page-header-bg .span_6[data-remove-post-date="1"] .meta-date,
body.single-post .container-wrap[data-remove-post-date="1"] .related-posts .article-content-wrap .post-header .meta,
body.single-post .container-wrap[data-remove-post-date="1"] .related-posts[data-style="material"] .grav-wrap .text span,
.single-post #ajax-content-wrap #page-header-bg[data-post-hs="default_minimal"] .span_6[data-remove-post-date="1"] #single-below-header .meta-date {
  display: none;
}

/* remove single meta author option */
body.single-post .container-wrap[data-remove-post-author="1"] #single-below-header .meta-author,
body.single-post #page-header-bg[data-remove-post-author="1"] .author-section .meta-author,
body.single-post #page-header-bg .span_6[data-remove-post-author="1"] #single-below-header .meta-author,
body.single-post #page-header-bg .span_6[data-remove-post-author="1"] .meta-author,
body.single-post #page-header-bg .span_6[data-remove-post-author="1"] .author-section a,
body.single-post #page-header-bg[data-remove-post-author="1"].fullscreen-header .author-section a,
body.single-post .container-wrap[data-remove-post-author="1"] .related-posts[data-style="material"] .grav-wrap img,
body.single-post .container-wrap[data-remove-post-author="1"] .related-posts[data-style="material"] .grav-wrap .text a,
body.single-post .container-wrap[data-remove-post-author="1"] .related-posts[data-style="classic_enhanced"] .meta-author,
.single-post #ajax-content-wrap #page-header-bg[data-post-hs="default_minimal"] .span_6[data-remove-post-author="1"] #single-below-header .meta-author {
  display: none;
}

/* remove single meta comment count option */
body.single-post .container-wrap[data-remove-post-comment-number="1"] #single-below-header .meta-comment-count,
body.single-post #page-header-bg[data-remove-post-comment-number="1"] .author-section .meta-comment-count,
body.single-post #page-header-bg .span_6[data-remove-post-comment-number="1"] #single-below-header .meta-comment-count,
body.single-post #page-header-bg .span_6[data-remove-post-comment-number="1"] .meta-comment-count,
body.single-post .container-wrap[data-remove-post-comment-number="1"] #single-meta .meta-comment-count,
body.single-post .container-wrap[data-remove-post-comment-number="1"] .related-posts[data-style="material"] .meta-comment-count,
body.single-post .container-wrap[data-remove-post-comment-number="1"] .related-posts[data-style="classic_enhanced"] .meta-comment-count,
#single-below-header.fullscreen-header[data-remove-post-comment-number="1"] .meta-comment-count,
.single-post #ajax-content-wrap #page-header-bg[data-post-hs="default_minimal"] .span_6[data-remove-post-comment-number="1"] #single-below-header .meta-comment-count {
  display: none;
}


@media only screen and (min-width: 1000px) and (max-width: 1300px) {

  .single .post .top-featured-media > .nectar-flickity > .flickity-viewport img {
    height: 425px;
  }

  body.single-portfolio #sidebar.fixed-sidebar,
		 body.single-portfolio #sidebar {
    width: 27.5%;
  }

  body.single-portfolio .post-area {
    width: 72.5%;
  }

  body.single-portfolio.material .post-area.span_9 {
    width: 68.5%;
  }

  .single-portfolio #boxed .post-area {
    width: 72.49%;
  }

  body.single.single-post .section-title h1 {
    max-width: 620px;
  }

  body.single-portfolio .row .title-wrap .col.section-title {
    text-align: center;
  }

  body.single-portfolio .row .col.section-title h1 {
    max-width: 725px;
    margin: 0 auto;
  }

  .single .post-area.span_12 #author-bio #author-info {
    width: 773px;
  }
}

@media only screen and (max-width : 1130px) and (min-width : 1000px) {
  body.single.single-post .section-title h1 {
    max-width: 490px;
  }
}

@media only screen and (min-width : 1px) and (max-width : 1000px) {
  .single-post #page-header-bg[data-post-hs="default_minimal"],
		 .single-post #page-header-bg[data-post-hs="default"] {
    height: auto!important;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  body.single-post #page-header-bg[data-post-hs="default_minimal"][data-alignment-v="middle"]:not(.fullscreen-header) .span_6,
		 body.single-post #page-header-bg[data-post-hs="default"][data-alignment-v="middle"]:not(.fullscreen-header) .span_6 {
    -webkit-transform: none!important;
    transform: none!important;
    top: 0!important;
  }

  .single #single-meta ul {
    float: left;
  }

  .single .blog-title #single-meta ul li {
    float: right;
  }

  body.single-post .blog-title #single-meta ul li:last-child {
    margin: 5px!important;
  }

  .single-post[data-bg-header="true"].material .container-wrap:not(.no-sidebar) > .main-content {
    padding-top: 0;
  }

  .material .blog_next_prev_buttons {
    margin-top: 35px;
  }

  .related-posts[data-style="material"] .post-featured-img img {
    width: 100%;
    max-width: none;
  }

  body.single-post #page-header-bg #single-meta,
  body.single-post .blog-title #single-meta {
    margin-top: 20px;
  }

  #full_width_portfolio .project-title.parallax-effect {
    position: relative;
    top: 0px;
  }

  .ascend #author-bio img {
    margin: 0 auto;
  }
}

@media only screen and (min-width : 690px) and (max-width : 1000px) {

  .single .post .top-featured-media > .nectar-flickity > .flickity-viewport img {
    height: 300px;
  }

  .single-portfolio #full_width_portfolio .row .col.section-title h1 {
    max-width: 430px;
    margin: 0 auto;
  }

  .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project:hover h3,
		 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project:hover h3,
		 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post:hover h3,
		 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post:hover h3 {
    transform: translateX(0px) translateZ(0);
    -webkit-transform: translateX(0px) translateZ(0);
  }

  body .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .next-project h3 .next-arrow,
		 body .container-wrap[data-nav-pos="after_project_2"] .bottom_controls .previous-project h3 .next-arrow,
		 body .container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav .controls .line,
		 body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] h3 .next-arrow,
		 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] h3 .line,
		 body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post .line:not(.text),
		 body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post .line:not(.text) {
    display: none;
  }

  body .container-wrap[data-nav-pos="after_project_2"] .bottom_controls li span:not(.text),
		 body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post span:not(.text),
		 body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post span:not(.text),
		 body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .previous-post span,
		 body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .next-post span {
    text-align: center;
  }

  .container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav ul .previous-project,
		 .container-wrap[data-nav-pos="after_project_2"] .bottom_controls #portfolio-nav ul .next-project,
		 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post,
		 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post {
    min-height: 225px;
  }
}

@media only screen and (max-width : 690px) {

  .single .post .top-featured-media > .nectar-flickity > .flickity-viewport img {
    height: 200px;
  }
  .single .post .top-featured-media> .nectar-flickity > .flickity-viewport .cell {
    margin: 0 3%;
  }
  .single .post .top-featured-media > .nectar-flickity .dot {
    width: 20px;
  }
  .single .post .top-featured-media > .nectar-flickity .flickity-viewport {
    margin-bottom: 90px;
  }
  .single .post .top-featured-media > .nectar-flickity .flickity-page-dots {
    bottom: -60px;
  }

  .single-portfolio .row .col.section-title.span_12 {
    text-align: center;
  }

  html body.single [data-post-hs="default_minimal"] #single-below-header span {
    font-size: 14px;
  }

  .single-post #single-below-header.fullscreen-header > span {
    width: 100%;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #dddddd;
  }

  .single-post #single-below-header.fullscreen-header {
    border: none;
  }

  body #author-bio #author-info {
    padding-left: 85px;
  }

  .material .container-wrap #author-bio #author-info {
    width: 100%!important;
    text-align: center;
    padding-left: 0;
    margin-top: 20px;
  }

  .material .container-wrap #author-bio #author-info p {
    max-width: none;
  }

  .material #author-bio {
    text-align: center;
  }

  .single #page-header-bg .span_6 {
    margin-bottom: 0;
  }

  .ascend.single .container-wrap #author-bio #author-info {
    width: 100%;
  }

  body.ascend .container-wrap #author-bio #author-info p {
    max-width: 100%;
  }

  body.single.ascend .comment-list .comment > div,
		body.single.ascend .comment-list .pingback > div {
    padding-left: 0;
  }

  .bottom_controls #portfolio-nav {
    margin-top: 0;
  }

  body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .controls {
    position: relative;
  }

  .blog_next_prev_buttons[data-style="fullwidth_next_prev"] li span:not(.text) {
    text-align: center!important;
  }

  body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post,
		body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post {
    min-height: 250px;
  }

  .blog_next_prev_buttons[data-style="fullwidth_next_prev"] .controls span {
    display: block;
  }

  body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post,
		body .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post {
    width: 100%;
  }

  .blog_next_prev_buttons[data-style*="next_prev"] .previous-post h3 span,
		 .blog_next_prev_buttons[data-style*="next_prev"] .next-post h3 span {
    text-align: center;
  }

  .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .previous-post:hover h3,
		 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .next-post:hover h3 {
    transform: translateX(0px) translateZ(0)!important;
    -webkit-transform: translateX(0px) translateZ(0)!important;
  }

  .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul h3 .next-arrow,
		 .blog_next_prev_buttons[data-style="fullwidth_next_prev"] ul .line {
    display: none!important;
  }
}

@media only screen and (max-width: 480px) {
  .single .blog-title #single-meta ul {
    float: left;
  }

  .single .blog-title #single-meta ul .meta-share-count {
    float: none;
    clear: both;
  }

  .single .blog-title #single-meta ul li a {
    display: inline-block;
    margin-bottom: 5px;
  }

  .single .blog-title #single-meta ul li:not(.meta-share-count) > a,
		 .single .blog-title #single-meta ul li .n-shortcode a {
    opacity: 1!important;
  }
}

@media only screen and ( min-width: 1001px ) {
  .single-post #page-header-wrap[data-responsive="true"],
  .single-post #page-header-wrap[data-responsive="true"] #page-header-bg {
      min-height: 550px;
  }
}
