/*
Theme Name:  Salient
Description: Theme Skin set to "Material" in theme options
*/

p {
  padding-bottom: 1.5em;
}

.material .wpb_row,
.material .wpb_content_element {
  margin-bottom: 1.5em;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin-bottom: 1.5rem;
}

.material .vc_row-fluid[data-column-margin="none"] {
  margin-bottom: 0;
}

#header-space {
  background-color: #fff;
}

body[data-header-color="dark"] #header-space {
  background-color: #000;
}


#sidebar div ul li,
#sidebar .widget.widget_categories li,
#sidebar .widget.widget_pages li,
#sidebar .widget.widget_nav_menu li {
  border:none;
  padding:4px 0;
}

.material #footer-outer #footer-widgets .col ul li {
  padding:4px 0!important;
  border:none;
}


@media only screen and (min-width: 1000px) {
  #footer-outer .row {
    padding: 75px 0;
  }
}

.ocm-effect-wrap,
.container-wrap,
.project-title,
.material .vc_text_separator div,
.carousel-wrap[data-full-width="true"] .carousel-heading,
.carousel-wrap .left-border,
.carousel-wrap .right-border,
#page-header-wrap,
.page-header-no-bg,
.portfolio-items .col,
.page-template-template-portfolio-php .portfolio-items .col.span_3,
.page-template-template-portfolio-php .portfolio-items .col.span_4 {
  background-color: #fff;
}

#call-to-action .triangle {
  color:#fff;
}

#footer-outer #footer-widgets .col ul li,
#sidebar div ul li, #sidebar .widget.widget_categories li,
#sidebar .widget.widget_pages li,
#sidebar .widget.widget_nav_menu li {
  border:none;
  padding:4px 0
}

#sidebar .widget.widget_categories li,
#sidebar .widget.widget_pages li,
#sidebar .widget.widget_nav_menu li,
#footer-outer .widget.widget_categories li,
#footer-outer .widget.widget_pages li,
#footer-outer .widget.widget_nav_menu li {
  padding:4px 0!important
}

.material .widget li a,
.material #sidebar .widget li a,
.material #footer-outer .widget li a {
  padding:0!important;
  border:none;
  color: inherit;
}

.woocommerce #sidebar .widget_layered_nav ul li a {
  padding-left: 25px!important;
}

body:not(.ascend).woocommerce #sidebar .widget_layered_nav ul li a:before,
body:not(.ascend).woocommerce-page #sidebar .widget_layered_nav ul li a:before,
body:not(.ascend).woocommerce #sidebar .widget_layered_nav ul li:first-child a:before {
  top: 14px;
}

body[data-header-resize="1"] .container-wrap,
body[data-header-resize="1"] .project-title {
  margin-top: 0;
  padding-top: 40px;
}

body.search-results.material .container-wrap {
  margin-top: 0;
}

body[data-header-resize="1"] #page-header-wrap {
  margin-top: 0;
}

body.material .page-header-no-bg {
  padding-top: 35px;
  margin-top: 0;
}

.parallax_slider_outer.first-section,
.parallax_slider_outer.first-section .swiper-slide .content,
.nectar-slider-wrap.first-section .swiper-slide .content {
  margin-top: 0!important;
}

body.material #header-outer[data-header-resize="1"]:not([data-format="left-header"]):not(.scrolled-down):not(.small-nav),
body.material #header-outer[data-header-resize="0"]:not([data-format="left-header"]):not(.scrolled-down):not(.fixed-menu),
body[data-hhun="1"].material #header-outer[data-header-resize="0"][data-remove-fixed="0"]:not([data-format="left-header"]):not(.scrolled-down):not(.fixed-menu).invisible {
  box-shadow: none;
}
body.material #header-outer[data-box-shadow="large-line"][data-header-resize="1"]:not(.transparent):not([data-format="left-header"]):not(.scrolled-down):not(.small-nav),
body.material #header-outer[data-box-shadow="large-line"][data-header-resize="0"]:not(.transparent):not([data-format="left-header"]):not(.scrolled-down):not(.fixed-menu) {
  box-shadow: 0 1px 0 rgba(0,0,0,0.08), 0 18px 40px rgba(0,0,0,0.0);
}


@media only screen and (max-width: 1000px) {
  body.material #header-outer[data-header-resize="1"]:not([data-box-shadow="none"]):not(.transparent):not([data-format="left-header"]) {
    transition: all 0.25s ease;
  }
}


@media only screen and (min-width: 1000px) {

  body.material .slide-out-hover-icon-effect.slide-out-widget-area-toggle:not(.small) .lines-button:after,
  body.material .slide-out-hover-icon-effect.slide-out-widget-area-toggle:not(.small) .lines:before,
  body.material .slide-out-hover-icon-effect.slide-out-widget-area-toggle:not(.small) .lines:after {
    height: 2px!important;
  }

  body[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) span:not(.close-line) {
    width: 30px;
    overflow: hidden;
  }

  .slide-out-hover-icon-effect:not(.small) {
    width: 32px;
    overflow: hidden;
  }

  #top .slide-out-widget-area-toggle:not(.small) a .close-wrap {
    height: 28px;
    width: 22px!important;
  }

  #top .slide-out-widget-area-toggle:not(.small) a.using-label .close-wrap {
    height: 22px;
  }

  body[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) span .lines-button.hover-effect {
    left: -40px;
    margin-top: -3px;
  }

  body[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) .lines:after,
  .slide-out-hover-icon-effect.slide-out-widget-area-toggle:not(.small) .lines:after {
    top: -8px;
  }

  body[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) .lines:before,
  .slide-out-hover-icon-effect.slide-out-widget-area-toggle:not(.small) .lines:before {
    top: 8px;
  }

  body[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) .lines-button:after,
  body[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) .lines:before,
  body[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) .lines:after {
    border-radius: 0!important;
    height: 2px;
  }

  body:not([data-slide-out-widget-area-style*="fullscreen"])[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label):hover .lines-button:after,
  body:not([data-slide-out-widget-area-style*="fullscreen"])[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label):hover .lines:before,
  body:not([data-slide-out-widget-area-style*="fullscreen"])[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label):hover .lines:after,
  body:not([data-slide-out-widget-area-style*="fullscreen"])[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a.effect-shown:not(.using-label) .lines-button:after,
  body:not([data-slide-out-widget-area-style*="fullscreen"])[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a.effect-shown:not(.using-label) .lines:before,
  body:not([data-slide-out-widget-area-style*="fullscreen"])[data-header-search="false"] #header-outer[data-has-menu="false"][data-cart="false"] #top .slide-out-widget-area-toggle:not([data-custom-color="true"]) a.effect-shown:not(.using-label) .lines:after {
    transform: translateX(40px);
  }

  body.material[data-header-search="false"]:not(.mobile) #header-outer[data-has-menu="false"][data-cart="false"] .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) .lines:before,
  body.material[data-header-search="false"]:not(.mobile) #header-outer[data-has-menu="false"][data-cart="false"] .slide-out-widget-area-toggle:not([data-custom-color="true"]) a:not(.using-label) .lines:before,
  .slide-out-hover-icon-effect.slide-out-widget-area-toggle:not(.small) .lines:before {
    width: 1.4rem;
  }

}


@media only screen and (max-width: 1001px) {
  .slide-out-hover-icon-effect.slide-out-widget-area-toggle:not(.small) .lines:before {
    width: 1rem;
  }
}


#top .slide-out-widget-area-toggle a span {
  overflow: hidden;
  width: 22px;
}

#top .slide-out-widget-area-toggle a > span {
  position: relative;
}

#top .slide-out-widget-area-toggle a span .lines-button.hover-effect {
  left: -30px;
  margin-top: -2px;
}

#top .slide-out-widget-area-toggle a .lines-button:after {
  transition: transform 0.65s cubic-bezier(0.3, 1, 0.3, 1) 0.04s, background-color 0.2s ease, opacity 0.2s ease!important;
}

body .slide-out-widget-area-toggle a:hover .lines:before {
  transition: transform 0.65s cubic-bezier(0.3, 1, 0.3, 1) 0.08s, background-color 0.2s ease,opacity 0.2s ease!important;
}

body .slide-out-widget-area-toggle a:hover .lines:after {
  transition: transform 0.65s cubic-bezier(0.3, 1, 0.3, 1) 0s, background-color 0.2s ease,opacity 0.2s ease!important;
}

body .lines:before {
  transition: transform 0.65s cubic-bezier(0.3, 1, 0.3, 1) 0s, background-color 0.2s ease,opacity 0.2s ease!important;
}

body .lines:after {
  transition: transform 0.65s cubic-bezier(0.3, 1, 0.3, 1) 0.08s, background-color 0.2s ease,opacity 0.2s ease!important;
}

#top a.no-trans .lines-button:after,
#top a.no-trans .lines:before,
#top a.no-trans .lines:after{
  transition: none!important;
}

@media only screen and (min-width: 1000px) {

  body:not([data-slide-out-widget-area-style*="fullscreen"]) #top .slide-out-widget-area-toggle a:hover .lines-button:after,
  body:not([data-slide-out-widget-area-style*="fullscreen"]) #top .slide-out-widget-area-toggle a:hover .lines:before,
  body:not([data-slide-out-widget-area-style*="fullscreen"]) #top .slide-out-widget-area-toggle a:hover .lines:after,
  body:not([data-slide-out-widget-area-style*="fullscreen"]) #top .effect-shown .lines-button:after,
  body:not([data-slide-out-widget-area-style*="fullscreen"]) #top .effect-shown .lines:before,
  body:not([data-slide-out-widget-area-style*="fullscreen"]) #top .effect-shown .lines:after{
    transform: translateX(30px);
  }

  body[data-slide-out-widget-area-style="simple"] #top .slide-out-widget-area-toggle a:hover .lines-button:after,
  body[data-slide-out-widget-area-style="simple"] #top .slide-out-widget-area-toggle a:hover .lines:before,
  body[data-slide-out-widget-area-style="simple"] #top .slide-out-widget-area-toggle a:hover .lines:after {
    transform: none;
  }

}

body[data-slide-out-widget-area-style*="fullscreen"] #top .menu-push-out .lines-button:after,
body[data-slide-out-widget-area-style*="fullscreen"] #top .menu-push-out .lines:before,
body[data-slide-out-widget-area-style*="fullscreen"] #top .menu-push-out .lines:after,
body[data-slide-out-widget-area-style="simple"] #top .menu-push-out .lines-button:after,
body[data-slide-out-widget-area-style="simple"] #top .menu-push-out .lines:before,
body[data-slide-out-widget-area-style="simple"] #top .menu-push-out .lines:after {
  transform: translateX(30px)!important;
}

body.material #header-outer:not([data-format="left-header"]) #top nav > .buttons > li{
  margin: 0 14px;
}
body.material #header-outer:not([data-format="left-header"]) #top nav > .buttons > li.menu-item {
  margin: 0;
}

body.material #header-outer[data-transparent-header="true"].transparent nav >ul >li >a {
  margin-bottom: 0;
}

body.material #header-outer #top nav > .buttons > li:last-child,
body.material #header-outer[data-format="centered-menu-bottom-bar"] #top nav > .buttons > .slide-out-widget-area-toggle {
  margin-right: 0!important;
}

body.material #header-outer:not([data-format="left-header"]) #top nav > .buttons > .slide-out-widget-area-toggle {
  margin-right: 0;
}


#header-outer .sf-menu > li > a > .sf-sub-indicator {
  height: auto;
}

body.material #header-outer #top nav > .buttons > li:first-child {
  margin-left: 0;
}

body.material #header-outer .cart-menu,
body.material #top nav ul #search-btn >div,
body.material #top nav ul #nectar-user-account >div {
  padding-left: 0;
  border-left: none!important;
}

#top nav ul #search-btn a span,
#top nav ul #search-btn a,
#top nav ul .slide-out-widget-area-toggle a,
#top nav ul #nectar-user-account a span,
#top nav ul #nectar-user-account a {
  height: 21px;
  line-height: 21px;
}
#header-outer:not([data-format="left-header"]) .cart-menu .cart-icon-wrap {
  height: 22px;
  line-height: 22px;
}

body.material #header-outer:not([data-format="left-header"]) .cart-menu {
  position: relative;
  right: auto;
  padding: 0;
  background-color: transparent;
  top: auto;
}


body[data-header-format="left-header"] #header-outer .cart-outer {
  -webkit-transition: opacity .35s cubic-bezier(0.12,0.75,0.4,1);
  transition: opacity .35s cubic-bezier(0.12,0.75,0.4,1);
}
body[data-header-format="left-header"] #header-outer.material-search-open .cart-outer {
  opacity: 0;
  pointer-events: none;
}
#header-outer[data-format="left-header"] .sf-menu li {
  opacity: 1;
}
body.material #header-outer[data-format="left-header"] .cart-menu > a,
body[data-header-format="left-header"].material #header-outer nav ul li .cart-menu > a {
  padding: 0;
}
body.material #header-outer:not([data-format="left-header"]) .cart-wrap {
  margin-right: 0;
  top: -5px;
  right: -9px;
  color: #fff;
}
@media only screen and (max-width: 999px) {
  body.material #header-outer[data-format="left-header"] .cart-wrap {
    margin-right: 0;
    top: -5px;
    right: -9px;
    color: #fff;
  }
}




body.material #header-outer .cart-menu .cart-icon-wrap .icon-salient-cart,
body.material #top nav ul #search-btn a span {
  font-size: 20px;
}
body.material #top nav ul #nectar-user-account a span {
  font-size: 20px;
  width: 26px;
  max-width: 26px;
}

body.material #header-outer #social-in-menu i {
  font-size: 18px;
  width: 36px;
  top: 0;
}

body #header-outer[data-transparent-header="true"] #top nav ul #nectar-user-account >div,
body.material #header-outer .cart-menu {
  border-left: none;
}
body.material #header-outer:not([data-format="left-header"]) #top nav >.buttons {
  margin-left: 30px;
}
body.material #header-outer[data-has-buttons="no"]:not([data-format="left-header"]) #top nav >.buttons {
  margin-left: 0;
}

/* last menu item in default layout when no buttons are present */
body.material #header-outer[data-has-buttons="no"][data-full-width="false"][data-format="default"] #top nav >.sf-menu >li:not([class*="button_"]):last-child a {
  padding-right: 0;
}

body.material #header-outer[data-has-buttons="no"][data-full-width="false"][data-format="default"] #top nav >.sf-menu >li[class*="button_"]:last-child a {
  margin-right: 0;
}

body.material #header-outer[data-full-width="true"]:not([data-format="left-header"]) #top nav >.buttons {
  margin-left: 30px;
}

body.material #header-outer #top nav > ul #social-in-menu a {
  line-height: 22px;
}

body.material #header-outer[data-transparent-header="true"] .cart-outer .cart-notification,
body.material #header-outer[data-transparent-header="true"] .cart-outer .widget_shopping_cart {
  margin-top: 0;
}

#header-outer .nectar-woo-cart .widget_shopping_cart,
#header-outer .nectar-woo-cart .cart-notification{
  top: 100%;
}

#header-outer .nectar-woo-cart .cart-menu-wrap {
  position: relative;
  width: auto;
  overflow: visible;
  right: auto!important;
}

.material #top nav > .product_added.buttons,
.material #top nav > .buttons {
  padding-right: 0!important;
}

body[data-full-width-header="false"] #slide-out-widget-area .slide_out_area_close {
  z-index: 100;
}

.woocommerce #sidebar div ul li,
.material.woocommerce #sidebar div ul li {
  padding:3px 0
}

body:not(.ascend).woocommerce.material #sidebar .widget_layered_nav ul li:first-child a:before,
body:not(.ascend).woocommerce.material #sidebar .widget_layered_nav ul li a:before,
body:not(.ascend).woocommerce-page.material #sidebar .widget_layered_nav ul li a:before,
body:not(.ascend).woocommerce.material #sidebar .widget_layered_nav ul li a:after,
body:not(.ascend).woocommerce-page.material #sidebar .widget_layered_nav ul li a:after {
  top: 50%;
  margin-top: -1px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body:not(.ascend).material #sidebar .widget.woocommerce li:first-child > .count {
  top: 6px;
}

body:not(.ascend) #sidebar .widget.woocommerce li .count {
  top: 6px;
}

body.woocommerce-page.material .product-categories .children {
  margin-top: 3px;
}

#footer-outer #footer-widgets .col ul li a,
#sidebar div ul li a {
  display:block
}

#footer-outer .widget h4, #sidebar h4 {
  margin-bottom:15px
}

#footer-outer #copyright {
  font-size: 14px;
  background-color:transparent
}

#footer-outer[data-copyright-line="true"] #copyright {
  border-top:1px solid rgba(255,255,255,0.1);
}

#footer-outer[data-custom-color="true"] #footer-widgets a:not(.nectar-button) {
  transition: all 0.2s ease;
}

#footer-outer[data-custom-color="true"] #footer-widgets a:not(.nectar-button):hover,
#footer-outer[data-custom-color="true"] #footer-widgets a:not(.nectar-button):focus {
  opacity: 0.65;
}
#footer-outer[data-custom-color="true"] #footer-widgets .tagcloud a:not(.nectar-button):hover {
  opacity: 1;
}

#footer-outer[data-using-widget-area="false"] #copyright {
  border:none
}

.material .widget .tagcloud a,
.material #sidebar .widget .tagcloud a,
.single .post-area .content-inner > .post-tags a {
  border-radius: 0!important;
  padding: 5px 10px;
  margin: 10px 10px 0 0;
  -webkit-transition: all 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  transition: all 0.4s cubic-bezier(0.25, 1, 0.2, 1);
  background-color: transparent;
}

.material .widget .tagcloud a:before,
.material #sidebar .widget .tagcloud a:before,
.single .post-area .content-inner > .post-tags a:before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  opacity: 0.06;
}

.material[data-button-style*="rounded"] .widget .tagcloud a:before,
.material[data-button-style*="rounded"] #sidebar .widget .tagcloud a:before,
.single[data-button-style*="rounded"] .post-area .content-inner > .post-tags a:before,
.material[data-button-style*="rounded"] .widget .tagcloud a,
.material[data-button-style*="rounded"] #sidebar .widget .tagcloud a,
.single[data-button-style*="rounded"] .post-area .content-inner > .post-tags a {
  border-radius: 50px!important;
}
.material .widget .tagcloud a:hover,
.material #sidebar .widget .tagcloud a:hover,
.single .post-area .content-inner > .post-tags a:hover,
.sharing-default-minimal .nectar-social a:hover,
body.material #page-header-bg.fullscreen-header .inner-wrap >a:hover {
  box-shadow: 0 10px 24px rgba(0,0,0,0.15);
}
.material #sidebar .widget .recentcomments {
  background-color: transparent;
  padding: 0;
  margin-bottom: 8px;
}
.material .span_12.light .widget .tagcloud a,
.material .span_12.light #sidebar .widget .tagcloud a,
.material #sidebar .widget .tagcloud a:hover,
.single.material .post-area .content-inner > .post-tags a:hover,
#header-outer.light-text #search-outer input[type="text"],
body[data-header-color="dark"] #header-outer #search-outer input[type="text"],
body.mobile.material[data-header-color="light"] #header-outer[data-permanent-transparent="1"].transparent .slide-out-widget-area-toggle a .close-line {
  color: #fff!important;
}
body.single-post .content-inner > .post-tags {
  margin-top: 60px;
}

.nectar-progress-bar span strong {
  padding:4px 0;
  background-color:transparent;
  color:inherit
}
.nectar-progress-bar span strong:after {
  display:none
}
.nectar-progress-bar .bar-wrap {
  background-color:rgba(0,0,0,0.043)
}
.nectar-progress-bar .bar-wrap, .nectar-progress-bar span {
  box-shadow:none;
  -webkit-box-shadow:none;
  border-radius:0;
  -webkit-border-radius:0;
}
body .carousel-wrap[data-full-width="false"] .control-wrap {
  right:10px;
  text-align:center
}
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-prev {
  padding-right:10px;
  padding-left:10px;
  margin-right:0
}
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-next {
  padding-left:10px;
  margin-left:0
}
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-prev,
.carousel-wrap[data-full-width="false"] .control-wrap .carousel-next {
  right:0!important;
  position:relative;
  display:block;
  float:left
}
.carousel-next,
.carousel-prev {
  background-color:transparent;
  height:23px;
  width:10px;
  line-height:22px;
  font-size:14px;
  cursor:pointer;
  top:1px!important;
  transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
  box-sizing:content-box
}
.carousel-wrap .control-wrap .item-count {
  height:23px;
  top:-1px;
  right:-2px;
  line-height:22px;
  letter-spacing:4px;
  position:relative;
  display:block;
  float:left;
  z-index:10;
  cursor:pointer;
  transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1)
}
[data-full-width="false"] .carousel-next:after,
[data-full-width="false"] .carousel-prev:after {
  display:block;
  content:' ';
  position:absolute;
  width:24px;
  height:2px;
  background-color:#000;
  top:8px;
  opacity:0;
  left:-4px;
  cursor:pointer;
  transform:translateX(-20px);
  transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1)
}
.light [data-full-width="false"] .carousel-next:after,
.light [data-full-width="false"] .carousel-prev:after {
  background-color:#fff
}
.light .carousel-next i, .light .carousel-prev i {
  color:#fff
}
[data-full-width="false"] .carousel-next:after {
  left:5px
}
[data-full-width="false"] .carousel-next:hover:after {
  opacity:1;
  transform:translateX(-12px)
}
[data-full-width="false"] .carousel-prev:after {
  transform:translateX(20px)
}
[data-full-width="false"] .carousel-prev:hover:after {
  opacity:1;
  transform:translateX(0px)
}
[data-full-width="false"] .carousel-prev:hover i {
  transform:translateX(-18px)
}
[data-full-width="false"] .carousel-prev.next-hovered,
[data-full-width="false"] .item-count.next-hovered {
  transform:translateX(-18px)
}
body.material .carousel-next:hover,
body.material .carousel-prev:hover {
  background-color:transparent
}
body.material .carousel-wrap[data-full-width="true"] .carousel-prev,
body.material .carousel-wrap[data-full-width="true"] .carousel-next {
  border:none
}
.carousel-heading .container .carousel-prev {
  right:30px
}
[data-ext-responsive="true"] .carousel-heading .container .carousel-prev {
  right:40px
}
.carousel-next i, .carousel-prev i {
  color:#000;
  font-size:22px;
  line-height:17px;
  height:20px;
  transition:all .25s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .25s cubic-bezier(0.12,0.75,0.4,1)
}
 .carousel-wrap .carousel-next i,
 .carousel-wrap .carousel-prev i {
   font-size:22px;
   line-height:18px;
 }
.carousel-next:hover, .carousel-prev:hover {
  border-color:transparent
}
.light .carousel-next:hover i, .light .carousel-prev:hover i {
  color:#fff
}
.nectar-button.see-through,
body .nectar-button.see-through,
.swiper-slide .button a,
body .nectar-button.see-through-2,
.nectar-button,
#to-top {
  border-radius:0!important;
  box-shadow:none
}
body.material .nectar-button.large {
  padding-left: 35px;
  padding-right: 35px;
}
body.material .nectar-button.jumbo {
  padding-left: 50px;
  padding-right: 50px;
}
body.material .nectar-button.jumbo:not([class*="see-through"]) {
  padding: 23px 50px;
}

body.material .nectar-button.see-through[data-color-override="false"] i:after,
body.material .nectar-button.regular[class*="m-extra-color-gradient-"]:before,
body.material .nectar-button.see-through[class*="m-extra-color-gradient-"]:before,
body.material .nectar-button.see-through[class*="m-extra-color-gradient-"]:after {
  display: block;
  content: '';
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all .45s cubic-bezier(0.25, 1, 0.33, 1);
}
body.material[data-button-style*="slightly_rounded"] .nectar-button.see-through[class*="m-extra-color-gradient-"]:before {
  border-radius: 5px;
}
body.material[data-button-style*="slightly_rounded"] .nectar-button.see-through[class*="m-extra-color-gradient-"]:after {
  border-radius: 3px;
}
body.material[data-button-style="default"] .nectar-button.see-through[class*="m-extra-color-gradient-"]:before,
body.material[data-button-style="default"] .nectar-button.see-through[class*="m-extra-color-gradient-"]:after {
  border-radius: 0;
}
body.material[data-button-style="default"] .nectar-button {
  box-shadow: none;
}
body.material .nectar-button.see-through[class*="m-extra-color-gradient-"]:before {
  border-radius: 50px;
  z-index: -2;
  backface-visibility: hidden;
}
body.material .nectar-button.see-through[class*="m-extra-color-gradient-"]:after {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  border-radius: 50px;
  background-color: #fff;
  z-index: -1;
  backface-visibility: hidden;
}
body.material .nectar-button.see-through[class*="m-extra-color-gradient-"]:hover:after {
  opacity: 0;
}
body.material .nectar-button.see-through[class*="m-extra-color-gradient-"] {
  backface-visibility: hidden;
  border: none!important;
}
body.material .nectar-button.see-through[data-color-override="false"] i,
body.material .nectar-button.see-through[data-color-override="false"]:hover i:after,
body.material .nectar-button.see-through:hover i {
  box-shadow: none!important;
}
body.material[data-button-style="default"] .nectar-button.regular[class*="m-extra-color-gradient-"]:before {
  border-radius: 0;
}
body.material[data-button-style*="rounded"] .nectar-button.regular[class*="m-extra-color-gradient-"]:before {
  border-radius: 100px;
}
body.material[data-button-style*="slightly_rounded"] .nectar-button.regular[class*="m-extra-color-gradient-"]:before {
  border-radius: 5px;
}
body.material .nectar-button.regular[class*="m-extra-color-gradient-"]:before {
  opacity: 0;
}

body.material[data-button-style^="rounded"] .nectar-button.see-through[class*="m-extra-color-gradient-"].has-icon:not(:hover) span {
  transform: none!important;
}
body.material[data-button-style^="rounded"] .nectar-button.see-through[class*="m-extra-color-gradient-"].has-icon:not(:hover) i {
  transform: translateX(-5px) translateY(-50%)!important;
}
body.material[data-button-style^="rounded"] .nectar-button.see-through[class*="m-extra-color-gradient-"]:not(:hover) i {
  opacity: 0!important;
  background-color: transparent!important;
}
body.material[data-button-style^="rounded"] .nectar-button.see-through[class*="m-extra-color-gradient-"]:hover i {
  opacity: 1!important;
}
body.material .nectar-button.regular[class*="m-extra-color-gradient-"]:hover:before {
  opacity: 1;
}
body.material[data-button-style^="rounded"] .nectar-button.see-through[data-color-override="#ffffff"] i,
body.material[data-button-style^="rounded"] .nectar-button.see-through-2[data-color-override="#ffffff"]:not(:hover) i,
body.material[data-button-style^="rounded"] .nectar-button.see-through-3[data-color-override="#ffffff"]:not(:hover) i,
body.material[data-button-style^="rounded"] .span_12.light .nectar-button.see-through-2[data-color-override="false"]:not(:hover) i {
  color: #000!important;
}
body.material[data-button-style^="rounded"] .nectar-button.see-through-2[data-hover-color-override="#ffffff"]:hover i,
body.material[data-button-style^="rounded"] .nectar-button.see-through-3[data-hover-color-override="#ffffff"]:hover i {
  background-color: rgba(0,0,0,0.07)!important;
}

body.material .nectar-button.see-through[class*="m-extra-color-gradient-"]:hover,
body.material[data-button-style^="rounded"] .nectar-button.see-through i,
body.material[data-button-style^="rounded"] .nectar-button.see-through-2:not(:hover) i,
body.material[data-button-style^="rounded"] .nectar-button.see-through-3:not(:hover) i {
  color: #fff!important;
}


body.material .nectar-button.large i {
  font-size: 16px;
}
body.material .nectar-button.jumbo i {
  font-size: 20px;
}


body.material[data-button-style^="rounded"] .nectar-button.large i {
  font-size: 14px;
}
body.material[data-button-style^="rounded"] .nectar-button.jumbo i {
  font-size: 18px;
}
body.material .nectar-button.jumbo.see-through,
body.material .nectar-button.jumbo.see-through-2,
body.material .nectar-button.jumbo.see-through-3 {
  border-width: 2px;
}

.nectar-button.has-icon.see-through[class*="m-extra-color-gradient-"] .im-icon-wrap svg path {
  fill: #000;
  transition: all 0.2s ease;
}
.nectar-button.has-icon.see-through[class*="m-extra-color-gradient-"]:hover .im-icon-wrap svg path {
  fill: #fff;
}
body.material .nectar-button.has-icon, body.material .nectar-button.tilt.has-icon {
  padding-right: 46px;
}

body.material .nectar-button.has-icon.large {
  padding-right: 44px;
  padding-left: 46px;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.large[class*="m-extra-color-gradient-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.large {
  padding-right: 37px;
  padding-left: 46px;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.jumbo {
  padding-right: 56px;
  padding-left: 54px;
  padding-top: 20px;
  padding-bottom: 20px;
}

body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.large:not(.see-through):not(.see-through-2):not(.see-through-3) {
  padding-right: 39px;
  padding-left: 46px;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.jumbo:not(.see-through):not(.see-through-2):not(.see-through-3),
body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.jumbo[class*="m-extra-color-gradient-"] {
  padding-right: 56px;
  padding-left: 54px;
  padding-top: 22px;
  padding-bottom: 22px;
}
body.material .nectar-button.has-icon.jumbo {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 66px;
  padding-left: 54px;
}

body.material[data-button-style^="rounded"] .nectar-button.has-icon:not([class*="see-through"]) i,
body.material[data-button-style^="rounded"] .nectar-button.has-icon[class*="see-through"]:hover i {
  background-color: rgba(255,255,255,0.22);
}
body.material[data-button-style^="rounded"] .nectar-button.see-through[class*="m-extra-color-gradient-"]:hover i {
  background-color: rgba(255,255,255,0.22)!important;
}
body.material[data-button-style^="rounded"] .nectar-button.has-icon[data-color-override="#ffffff"].regular-button i,
body.material[data-button-style^="rounded"] .nectar-button.has-icon[data-color-override="#ffffff"].regular-button:hover i {
  background-color: rgba(0,0,0,0.04);
}
body.material .nectar-button.has-icon i {
  right: 14px;
  margin-top: 0;
  text-align:center;
  vertical-align: middle;
  border-radius: 50%;
  line-height: 32px;
  height: 32px;
  width: 32px;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon i {
  transition: none;
  -webkit-transition: none;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.see-through.has-icon[data-color-override="false"] i,
body.material:not([data-button-style^="rounded"]) .nectar-button.see-through-2.has-icon i,
body.material:not([data-button-style^="rounded"]) .nectar-button.see-through-3.has-icon i {
  color: inherit!important;
}
body.material[data-button-style^="rounded"] .nectar-button.has-icon i {
  background-color: rgba(0,0,0,0.2);
}
body.material .nectar-button.has-icon.large i {
  -webkit-transform: translateY(-50%) translateX(6px);
  transform: translateY(-50%) translateX(6px);
}
body.material .nectar-button.has-icon.large:not([class*="see-through"]) i {
  -webkit-transform: translateY(-50%) translateX(4px);
  transform: translateY(-50%) translateX(4px);
}

body.material .nectar-button.has-icon.jumbo i {
  -webkit-transform: translateY(-50%) translateX(2px);
  transform: translateY(-50%) translateX(2px);
  height: 44px;
  width: 44px;
  line-height: 44px;
}
body.material .nectar-button.has-icon.jumbo:not([class*="see-through"]) i {
  -webkit-transform: translateY(-50%) translateX(3px);
  transform: translateY(-50%) translateX(3px);
  height: 44px;
  width: 44px;
  line-height: 44px;
}


body.material .nectar-button.has-icon.small{
  padding-right: 36px;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.small{
  padding-right: 28px;
}
body.material .nectar-button.has-icon.small i {
  -webkit-transform: translateY(-50%) translateX(8px);
  transform: translateY(-50%) translateX(8px);
  height: 24px;
  width: 24px;
  line-height: 24px;
}
body.material .nectar-button.has-icon.small:not([class*="see-through"]) i {
  -webkit-transform: translateY(-50%) translateX(7px);
  transform: translateY(-50%) translateX(7px);
  height: 24px;
  width: 24px;
  line-height: 24px;
}


body.material .nectar-button.medium,
body.material .nectar-button.medium:not(.see-through):not(.see-through-2):not(.see-through-3) {
  padding-left: 24px;
  padding-right: 24px;
}
body.material .nectar-button.medium i {
  font-size: 16px;
}
body.material[data-button-style^="rounded"] .nectar-button.medium i {
  font-size: 14px;
}
body.material .nectar-button.has-icon.medium,
body.material .nectar-button.has-icon.medium:not(.see-through):not(.see-through-2):not(.see-through-3) {
  padding-right: 38px;
  padding-left: 46px;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.medium {
  padding-right: 32px;
  padding-left: 46px;
}
body.material:not([data-button-style^="rounded"]) .nectar-button.has-icon.medium:not(.see-through):not(.see-through-2):not(.see-through-3) {
  padding-right: 34px;
  padding-left: 46px;
}
body.material .nectar-button.has-icon.medium i {
  -webkit-transform: translateY(-50%) translateX(7px);
  transform: translateY(-50%) translateX(7px);
  height: 28px;
  width: 28px;
  line-height: 28px;
}
body.material .nectar-button.has-icon.medium:not([class*="see-through"]) i {
  -webkit-transform: translateY(-50%) translateX(4px);
  transform: translateY(-50%) translateX(4px);
  height: 28px;
  width: 28px;
  line-height: 28px;
}


body.material .nectar-button.has-icon.extra_jumbo[class*="see-through"] {
  border-width: 6px;
  padding-top: 31px;
  padding-bottom: 31px;
}
body.material .nectar-button.has-icon.extra_jumbo[class*="see-through"] i {
  transform: translateY(-50%) translateX(-3px);
}
body.material .nectar-button.has-icon.extra_jumbo {
  padding-top: 36px;
  padding-bottom: 36px;
  padding-right: 142px;
  padding-left: 80px;
}
body.material .nectar-button.has-icon.extra_jumbo:hover span {
  -webkit-transform: translateX(-18px);
  transform: translateX(-18px);
}
body.material .nectar-button.has-icon.extra_jumbo i {
  -webkit-transform: translateY(-50%) translateX(-6px);
  transform: translateY(-50%) translateX(-6px);
  height: 94px;
  width: 94px;
  margin-top: 0;
  line-height: 94px;
}


#header-outer .cart-menu .cart-icon-wrap .icon-salient-cart {
  left:0;
  transition:all .2s ease;
  -webkit-transition:all .2s ease
}
body.material #header-outer .cart-menu .cart-icon-wrap .icon-salient-cart {
  font-size:20px
}
.icon-salient-cart:before, body.material .icon-salient-cart:before {
  content:"\e910"
}
.material #header-outer a.cart-contents .cart-wrap span:before {
  display:none
}
#header-outer .cart-wrap {
  font-size:11px
}

#header-outer[data-full-width="true"] #top nav ul #nectar-user-account > div,
body #header-outer[data-transparent-header="true"].transparent #top nav ul #nectar-user-account >div {
  border:none!important;
}

#header-outer a.cart-contents .cart-wrap span {
  visibility:hidden;
}
body.material #header-outer a.cart-contents .cart-wrap span {
  border-radius:99px;
  font:bold 11px/16px Arial;
  line-height:18px;
  width:18px;
  padding:0 1px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}
#header-outer .sf-menu ul li a {
  border-bottom:none
}

#header-outer .static a.cart-contents span {
  visibility:visible;
}
#header-outer .has_products .cart-menu .cart-icon-wrap .icon-salient-cart {
  transition:all .2s ease;
  -webkit-transition:all .2s ease
}
body.material #header-outer .cart-menu {
  border-left:1px solid rgba(0,0,0,0.07);
  background-color:transparent
}


#top #mobile-cart-link i {
  height: 20px;
  line-height: 20px;
}
@media screen and (max-width: 999px) {
  .material #header-outer.transparent .bg-color-stripe,
  .material #header-outer:not([data-permanent-transparent="1"]).transparent .bg-color-stripe,
  .material #header-outer[data-transparent-header].transparent .bg-color-stripe,
  .material #header-outer[data-transparent-header]:not([data-permanent-transparent="1"]).transparent .bg-color-stripe {
    height: 200px;
    top: 0;
  }
  body.material #search-outer,
  body.material #header-outer #search-outer {
    height: 200px;
    transform: translate3d(0,-200px,0);
    -webkit-transform: translate3d(0,-200px,0);
  }
  body.material #header-outer[data-using-secondary="1"] #search-outer {
    top: auto;
    margin-top: -13px;
  }
  html.material #search-outer .bg-color-stripe {
    height: 200px;
    top: 0;
  }
  #search-outer #search-box,
  #search-outer #search #close,
  #header-outer #search-outer #search-box,
  #header-outer #search-outer #search #close {
    -webkit-transform: translate3d(0,200px,0);
    transform: translate3d(0,200px,0);
  }
}
body.material #search-outer {
  background-color: transparent;
  height: 35vh;
  position: absolute;
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transform: translate3d(0,-35vh,0);
  -webkit-transform: translate3d(0,-35vh,0);
  z-index: 2000!important;
  padding:0;
  top: -1px;
}

body.material[data-header-search="false"] #search-outer {
  visibility: hidden;
}


body.material #search-outer.perma-trans {
  position: fixed;
}
body.material.admin-bar #search-outer.perma-trans {
  top: 32px;
}

body.material #search-outer #search .container {
  height:auto!important;
  float:none;
  width:100%;
}

#header-outer header {
  transition: all 0.2s;
}
#header-outer:not([data-format="left-header"]).material-search-open header {
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}
#header-outer.material-search-open {
  box-shadow: none;
}
.material #header-outer.transparent .bg-color-stripe,
.material #search-outer .bg-color-stripe {
  height: 35vh;
  top: 0;
}
body[data-header-color="dark"] #header-outer .bg-color-stripe,
body[data-header-color="dark"].material #header-outer #search-outer:before {
  background-color: #000;
}
#header-outer .bg-color-stripe, #search-outer .bg-color-stripe,
.material #header-outer #search-outer:before {
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
}
.material #header-outer.no-material-transition #search-outer,
body[data-slide-out-widget-area-style="slide-out-from-right"] > a.slide_out_area_close.no-material-transition,
body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap.material-ocm-open.no-material-transition,
body[data-slide-out-widget-area-style="slide-out-from-right"].material .ocm-effect-wrap-shadow.no-material-transition {
  transition: none;
}
.material #header-outer #search-outer:before {
  content: '';
  -webkit-transform: none;
  transform: none;
  backface-visibility: hidden;
}
body.material[data-header-inherit-rc="true"] #header-outer #search-outer:before {
  display: none;
}
body.material[data-header-inherit-rc="true"] #search-outer {
  background-color: inherit;
}
#header-outer.material-search-open .bg-color-stripe, #search-outer.material-open .bg-color-stripe {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
body[data-header-color="dark"] #ajax-content-wrap:after {
  background-color: rgba(255,255,255,0.55);
}
#ajax-content-wrap:after {
  background-color: rgba(0,0,0,0.45);
  content: '';
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  pointer-events: none;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition: opacity 0.7s cubic-bezier(0.2, 1, 0.3, 1);
}
#ajax-content-wrap.material-open:after {
  opacity: 1;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #ajax-content-wrap:after {
    display: none;
  }
}

#header-secondary-outer,
#header-secondary[data-using-secondary="1"] {
  transition: transform 0.32s ease;
}

#slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .menu li small {
  display:block;
  margin: 5px 0;
}
#slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .menu > li > small {
  margin: 5px 0;
}

#slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu.secondary-header-items {
  display: none;
}
#slide-out-widget-area .mobile-only .menu.secondary-header-items {
  margin-top: 25px;
}
#slide-out-widget-area .mobile-only .menu.secondary-header-items li a {
  font-size: 18px;
}
body.material #slide-out-widget-area .mobile-only.off-canvas-menu-container .menu.secondary-header-items li {
  margin-bottom: 5px;
}
.nectar-video-box a.nectar_video_lightbox:not(.play_button_mouse_follow):before {
  opacity:0.8;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  border: none;
}
.nectar-video-box[data-color] a.nectar_video_lightbox.play_button_2 {
  background-color: transparent!important;
}
.nectar-video-box:not([data-mouse-style="see_through_contrast"]) a.nectar_video_lightbox {
  box-shadow: 0 20px 45px rgba(0,0,0,0.25)
}
.nectar_video_lightbox.play_button:before, .span_12.dark .nectar_video_lightbox.play_button:before {
  border-width: 3px;
}
.nectar_video_lightbox svg {
  width: 18px;
  height: 18px;
}
.material #search-outer {
  display: block;
  overflow: hidden;
}
#search-outer #search {
  max-width: 1200px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.material #search-outer #search,
.material #header-outer #search-outer #search {
  padding: 0;
}
#search-outer #search-box,
#search-outer #search #close {
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transform: translate3d(0,35vh,0);
  opacity: 0;
}

body.material #search-outer.material-open,
body.material #header-outer #search-outer.material-open {
  transform: translate3d(0,0vh,0);
  -webkit-transform: translate3d(0,0vh,0);
}
#search-outer.material-open #search-box,
#search-outer.material-open #search #close,
#header-outer #search-outer.material-open #search-box,
#header-outer #search-outer.material-open #search #close {
  transform: translate3d(0,0vh,0);
  opacity: 1;
}
#header-outer .mobile-search .icon-salient-search,
#header-outer .mobile-user-account .icon-salient-m-user,
#header-outer #top #mobile-cart-link i {
  background-color: transparent!important;
  vertical-align: middle;
  font-size: 18px;
}
#header-outer .mobile-user-account .icon-salient-m-user {
  font-size: 19px;
  width: 21px;
}
#header-outer #top #mobile-cart-link i {
  font-size: 19px;
  width: 19px;
}
#header-outer .mobile-search .icon-salient-search,
#header-outer .mobile-user-account .icon-salient-m-user {
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
}
body #search-outer #search input[type="text"] {
  height:auto!important;
  text-transform: none;
  color: #000;
  border-radius: 0;
  border-bottom: 2px solid #3452ff;
}
body #search-outer #search input[type="text"],
body.material #search-outer #search form input[type="text"] {
  font-size:60px;
}

body.material #search-outer #search input[type="text"] {
  line-height: 60px;
}

@media only screen and (min-width: 1000px) {
  body #search-outer #search input[type="text"] {
    height: 90px!important;
  }
  body.material #search-outer #search #search-box input[type="text"] {
    line-height: 90px;
  }
}
body #header-outer[data-lhe="animated_underline"] #top nav >ul >li:not([class*="button_"]) >a .menu-title-text:after,
body #header-secondary-outer[data-lhe="animated_underline"] nav >.sf-menu >li:not([class*="button_"]) >a .menu-title-text:after,
body #header-outer[data-lhe="animated_underline"] .nectar-header-text-content a:after,
.sf-menu li ul li a .menu-title-text:after {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 0.35s cubic-bezier(0.52, 0.01, 0.16, 1);
  bottom: -3px;
}
#header-outer[data-lhe="animated_underline"] #top nav >ul >li:not([class*="button_"]) >a .menu-title-text:after {
  -webkit-transition: -webkit-transform 0.35s cubic-bezier(0.52, 0.01, 0.16, 1), border-color 0.35s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 0.35s cubic-bezier(0.52, 0.01, 0.16, 1), border-color 0.35s cubic-bezier(0.52, 0.01, 0.16, 1);
}
body #header-secondary-outer[data-lhe="animated_underline"] nav >.sf-menu >li:not([class*="button_"]) >a .menu-title-text:after {
  bottom: 0;
  border-width: 1px;
}
body[data-header-color="custom"] #search-outer #search .span_12 span {
  opacity: 0.7;
}

body[data-header-color="light"] #header-outer #search-outer input::-webkit-input-placeholder {
  color: #000;
}
body[data-header-color="dark"] #header-outer #search-outer input::-webkit-input-placeholder {
  color: #fff;
}

#header-outer #search-outer input::-webkit-input-placeholder,
#header-outer #search-outer input::-moz-placeholder,
#header-outer #search-outer input:-ms-input-placeholder {
  color: #888;
}
body.material #search-outer > #search form {
  width:100%;
  float:none
}
#header-outer.light-text #search-outer input[type="text"],
body[data-header-color="dark"] #header-outer #search-outer input[type="text"] {
  border-color: #fff;
}
#header-outer.light-text #search-outer #search .span_12 span,
body[data-header-color="dark"] #header-outer #search-outer #search .span_12 span {
  color: rgba(255,255,255,0.6);
}
#header-outer.light-text #search-outer #search #close a span,
body[data-header-color="dark"] #header-outer #search-outer #search #close a span {
  color: #fff;
}
#header-outer.light-text #search-outer input::-webkit-input-placeholder,
body[data-header-color="dark"] #header-outer #search-outer input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.5);
}
#header-outer.light-text #search-outer input::-moz-placeholder,
body[data-header-color="dark"] #header-outer #search-outer input::-moz-placeholder {
  color: rgba(255,255,255,0.5);
}
#header-outer.light-text #search-outer input:-ms-input-placeholder,
body[data-header-color="dark"] #header-outer #search-outer input:-ms-input-placeholder {
  color: rgba(255,255,255,0.5);
}
#search-outer #search #close {
  position:absolute;
  right:40px
}

body[data-ext-responsive="false"].material #search-outer #search #close {
  right: 0;
}
body[data-ext-responsive="false"].material #search-outer #search #close a {
  right: 15px;
}

body.material #search-outer #search input[type="text"]{
  padding-right: 70px;
}
body.material #search-outer #search #close a {
  right:64px;
  top:16px;
}
#search-outer #search #close a:before, .slide_out_area_close:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 46px;
  height: 46px;
  margin: -23px 0 0 -23px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.05);
  content: '';
  -webkit-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
  transition:all 0.45s cubic-bezier(.15,0.2,.1,1);
  -webkit-transition:all 0.45s cubic-bezier(.15,0.2,.1,1);
}
#search-outer #search #close a:before {
  width: 42px;
  height: 42px;
  margin: -21px 0 0 -21px;
}
[data-header-color="dark"] #search-outer #search #close a:before {
  background-color: rgba(255,255,255,.1);
}
body[data-is].material #search-outer #search #close a:hover:not(:focus):before,
body[data-is].material .slide_out_area_close:hover:not(:focus):before,
.nectar-close-btn:hover:not(:focus):before {
  transform: scale(1.2) translateZ(0);
  -webkit-transform: scale(1.2) translateZ(0);
}
blockquote::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  content: '';
  border-left: 4px solid rgba(0,0,0,0.1);
}

blockquote.wp-block-quote.has-text-align-center.is-style-large {
  padding: 1em 1em;
}

.testimonial_slider blockquote:before {
  border: none;
}
blockquote {
  position: relative;
  padding-left: 1.8em;
}
#search-outer #search .span_12 span {
  display:block;
  color:rgba(0,0,0,0.4);
  margin-top:15px
}
@media only screen and (max-width: 1000px) {
  #search-outer #search .span_12 span {
    display: none;
  }
}

body.material #search-outer #search #close a span {
  color:#000;
}
body #search-outer .ui-widget-content {
  top:90px
}
body #search-results .result .bottom-line,
body .masonry-blog-item .bottom-line,
body .masonry-blog-item .more-link {
  display:none
}
body.material .masonry-blog-item .inner-wrap,
body.material .masonry-blog-item .mejs-container .mejs-controls {
  box-shadow:none
}
.masonry-blog-item .post-meta {
  padding:0 18px 18px
}
.post .nectar-love-wrap {
  line-height:20px
}
.masonry-blog-item .inner-wrap {
  padding:0
}
.masonry-blog-item .content-inner .post-featured-img img,
.masonry-blog-item .more-link,
.post-area.masonry .post .quote-inner,
.post-area.masonry .post .link-inner,
.post-area.masonry .post .status-inner,
.post-area.masonry .post .aside-inner {
  margin-bottom:0!important
}
@media only screen and (min-width: 1000px) {
  .post-area.masonry.span_9,
  .single-portfolio .post-area.span_9,
  .post-area.span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9,
  body.search.material .container-wrap .span_9,
  body[data-ext-responsive="true"] .post-area.masonry.span_9.meta_overlaid {
    padding-right: 0;
    margin-right: 4%;
    width: 68.5%;
  }
  .post-area.span_9.col_last,
  body.search.material.woocommerce .span_9 {
    margin-right: 0;
  }
  .material.single-portfolio .post-area.span_9 {
    margin-right: 4%!important;
  }
  .post-area.masonry.span_9 .masonry-blog-item {
    width: 47.2%;
  }
  .post-area.masonry.span_9.material .masonry-blog-item {
    width: 47.2%;
  }
  #sidebar.span_3 {
    width: 27.5%;
    backface-visibility: hidden;
  }
  .woocommerce.archive #sidebar.span_3, .woocommerce.single #sidebar.span_3 {
    width: 21%;
  }
  .woocommerce.archive #sidebar.span_3.col_last {
    width: 20%;
  }
  .woocommerce.archive .post-area.span_9, .woocommerce.single .post-area.span_9 {
    width: 75.5%;
  }
  .woocommerce.single .post-area.span_9:not(.col_last) {
    margin-right: 0;
    padding-right: 20px;
  }
  .woocommerce.single #sidebar.span_3.col_last {
    margin-left: 2%;
  }
  .masonry-blog-item {
    width: 31.1%;
  }
}
/* styles which need top padding on main blog page */
body.blog[data-bg-header="false"] .full-width-content.blog-fullwidth-wrap .post-area.span_12.masonry.material,
body.blog[data-bg-header="false"] .full-width-content.blog-fullwidth-wrap .post-area.span_12.masonry.classic_enhanced,
body.blog[data-bg-header="false"] .full-width-content.blog-fullwidth-wrap .post-area.span_12.masonry.classic {
  padding-top: 35px;
}
@media only screen and (min-width: 1000px) {
  body.blog[data-bg-header="false"] .full-width-content.blog-fullwidth-wrap .post-area.span_12.masonry.material,
  body.blog[data-bg-header="false"] .full-width-content.blog-fullwidth-wrap .post-area.span_12.masonry.classic_enhanced,
  body.blog[data-bg-header="false"] .full-width-content.blog-fullwidth-wrap .post-area.span_12.masonry.classic {
    padding-top: 2%;
  }
}
.single-post[data-bg-header="true"] .container-wrap:not(.no-sidebar) > .main-content {
  padding-top: 35px;
}
.material .masonry-blog-item .content-inner {
  padding-bottom:0;
  border:0;
  margin-bottom:0
}
.masonry-blog-item .article-content-wrap {
  padding:16px 18px 18px
}
.main-content > .row > .wpb_row:not(.full-width-content) .nectar-recent-posts-single_featured > div,
.main-content > .row > .wpb_row:not(.full-width-content) .nectar-recent-posts-single_featured.multiple_featured > div {
  border-radius: 5px;
  overflow: hidden;
}
.post-area.masonry .post.quote .post-content .post-meta,
.post-area.masonry .post.link .post-content .post-meta,
.post-area.masonry .format-status .post-content .post-meta,
.post-area.masonry .post.format-aside .post-meta {
  display:none!important
}
body.material .post .content-inner {
  border:none
}
#sidebar .widget {
  margin-bottom: 60px;
}
#sidebar >div:last-child {
  margin-bottom: 0;
}
#author-bio {
  padding-bottom:0;
  border:none;
  margin-bottom: 0
}
#author-bio img {
  display: inline-block;
  position:relative;
  vertical-align: middle;
}
.blog_next_prev_buttons {
  margin-top: 80px;
}
#author-bio h3 span,
.comments-section .comment-wrap.full-width-section > h3 span,
.container-wrap #author-bio #author-info p {
  display:block;
  margin-bottom:5px;
  font-size:14px;
  text-transform:none
}

.container-wrap #author-bio #author-info p  {
  line-height: 1.8em;
  font-size: 16px;
}

.container-wrap #author-bio #author-info h3 {
  margin-bottom: 0px;
  line-height: 1.6em;
}
#author-bio[data-has-tags="true"] {
  padding-top: 0;
}
.container-wrap #author-bio #author-info a {
  color: inherit;
}
.container-wrap #author-bio #author-info {
  width:75%!important;
  vertical-align: middle;
  display: inline-block;
  padding-left:30px
}
.container-wrap #author-bio #author-info p {
  max-width:70%;
  opacity: 0.7;
}
#author-bio .nectar-button {
  margin-top:20px
}
#author-bio .avatar {
  border-radius:100%
}
#page-header-bg.fullscreen-header .author-section .meta-category {
  display: block;
}
#page-header-bg.fullscreen-header .author-section .meta-category a,
#page-header-bg.fullscreen-header .author-section,
#page-header-bg.fullscreen-header .meta-author img {
  display: inline-block
}
#page-header-bg h1 {
  padding-top: 5px;
  padding-bottom: 5px
}
.single-post #page-header-bg.fullscreen-header h1 {
  margin: 0 auto;
}
#page-header-bg.fullscreen-header .author-section {
  width: auto
}
#page-header-bg.fullscreen-header .author-section .avatar-post-info,
#page-header-bg.fullscreen-header .author-section .meta-author {
  text-align: center
}
#page-header-bg.fullscreen-header .author-section .avatar-post-info {
  margin-top: 13px;
  margin-left: 0
}
#page-header-bg.fullscreen-header .author-section .meta-author {
  top: 0
}
#page-header-bg.fullscreen-header .author-section {
  margin-top: 25px
}
#page-header-bg.fullscreen-header .author-section .meta-author {
  display: block;
  float: none
}
.single .post-area .content-inner > .post-tags > h4 {
  display: none;
}
.material .comment-list .reply {
  position: relative;
  top: auto;
  right: auto;
  margin-top: 5px;
  bottom: auto;
}
.material .comment-list .reply a {
  font-size: 13px;
  background-color:transparent;
  color: #888;
  border-radius:0;
  padding: 0;
}
.material .comment-list .reply a:before {
  content: "\f112";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: rotate(180deg);
  padding-left: 6px;
}
.comment-list .comment-meta {
  font-size: 13px;
}
body .comment-list .reply a:hover,
body .comment-list .reply a:focus {
  background-color:transparent!important
}
#respond {
  margin-top:80px
}
body[data-ext-responsive="true"].single-post.material .comment-wrap .comment #respond {
  margin: 40px auto 0 auto!important;
}
body.material .comment-list .comment > div,
body.material .comment-list .pingback > div {
  background-color:transparent;
  box-shadow:none;
  padding-left:85px;
  padding-bottom:0;
  padding-top:0;
  margin-top:4em
}
body.material .comment-list .comment > div img.avatar,
body.material .comment-list .pingback > div img.avatar {
  left:0;
  border-radius:100%;
  top:0
}
.comment-list .comment .comment img.avatar,
.comment-list .pingback .pingback img.avatar {
  width: 40px;
  height: 40px;
}
body.material .comment-list .comment .comment > div,
body.material .comment-list .pingback .pingback > div {
  padding-left: 65px;
}
.comment-list .comment > div p,.comment-list .pingback > div p {
  margin-top:30px
}
.comment-list .children {
  border-left: none;
  background-position:left 30px;
  margin-left:26px;
  padding-left:60px
}
.comment-list .says {
  display:none
}
#reply-title {
  margin-bottom:25px;
}
.single-product.material #reply-title,
.single-product.material #commentform .form-submit {
  text-align:left
}
.material .comment #reply-title {
  text-align:left
}
#respond #cancel-comment-reply-link {
  padding-left:15px
}
body.material .comment-wrap {
  margin-top:0;
  padding-top:8%;
  padding-bottom:8%;
}
body.material .comment-wrap[data-comments-open="false"] {
  padding: 0;
  margin-bottom: 0;
  margin-top: 0;
}
body.material.single-portfolio .comment-wrap {
  margin-top:30px
}
#author-bio.no-pagination {
  border-top:1px solid #999
}
.comments-section[data-author-bio="false"] .comment-wrap {
  border:none
}
.comment-list {
  padding-bottom:80px;
}
#author-bio.no-pagination.lighter-grey,
.comment-wrap.lighter-grey {
  border-color:#ddd
}
.comment-wrap,
#author-bio {
  padding-top:30px
}
body.material .blog-recent[data-style*="classic_enhanced"].related-posts .inner-wrap {
  box-shadow: 0 45px 85px rgba(0,0,0,.08);
}
.single-post #page-header-bg.fullscreen-header,
.single-post #single-below-header.fullscreen-header {
  background-color:#f6f6f6
}
.single-post #single-below-header.fullscreen-header {
  border-top:1px solid #DDD;
  border-bottom:none!important
}
.tagcloud a,
#header-outer .widget_shopping_cart a.button,
.post .more-link span,
.blog-recent .more-link span,
.flex-direction-nav a,
#pagination span,
#pagination a,
#pagination .next.inactive,
#pagination .prev.inactive,
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce .container-wrap nav.woocommerce-pagination ul li span {
  border-radius:0!important
}

.material .col.boxed:not(.wpb_column) {
  box-shadow:0 1px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.1);
  background-color:#fff;
  padding:25px 15px 15px;
  position:relative;
  -webkit-transition:transform .2s ease,-webkit-box-shadow .2s ease;
  transition:transform .2s ease,box-shadow .2s ease;
  top:0
}
.material .col.boxed:not(.wpb_column):hover  {
  transform:translateY(-4px);
  -webkit-transform:translateY(-4px);
  box-shadow:0 17px 25px rgba(0,0,0,0.13);
  -webkit-box-shadow:0 17px 25px rgba(0,0,0,0.13);
}

.material .pp_arrow_previous,
.material .pp_arrow_next,
.material .mfp-arrow-right,
.material .mfp-arrow-left,
.woocommerce .pswp__button--arrow--right,
.woocommerce .pswp__button--arrow--left {
  overflow:visible;
  height:40px;
  width:40px;
  border-radius:100px;
  border:2px solid rgba(255,255,255,0.3)
}
.material.woocommerce .pswp__button--arrow--right:before,
.material.woocommerce .pswp__button--arrow--left:before {
  background-image: none;
  line-height:40px;
  height:40px;
  width: 36px;
}

.mfp-arrow-left:before,
.woocommerce .pswp__button--arrow--left:before {
  transform: translateX(-5px);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  top: -7px!important;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
  height: 4px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:before,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  box-shadow: 0 0 0 10px #000 inset;
  transition: box-shadow 0.2s ease;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
  transform: scale(1.2);
  box-shadow:0px 5px 12px rgba(0,0,0,0.2)!important;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
  box-shadow: none!important;
  border: 0!important;
}
.pp_arrow_previous {
  left:30px
}
.pp_arrow_next {
  right:30px
}
.pp_arrow_next:hover,
.pp_arrow_previous:hover,
.mfp-arrow-right:hover,
.mfp-arrow-left:hover,
.woocommerce .pswp__button--arrow--right:hover,
.woocommerce .pswp__button--arrow--left:hover {
  border:2px solid rgba(255,255,255,0)
}
.pp_arrow_previous .icon-default-style {
  border-radius:0;
  width:20px;
  height:40px;
  line-height:39px;
  font-size:24px;
  font-family:FontAwesome;
  margin-top:0;
  left:-1px;
  transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
body.material .mfp-arrow-left,
body.material.woocommerce .pswp__button--arrow--left {
  height:40px;
  line-height:40px;
  font-size:18px;
  font-family:FontAwesome;
  margin-top:0;
  opacity:1;
  left:40px;
  transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
.pp_arrow_next .icon-default-style {
  border-radius:0;
  width:20px;
  line-height:39px;
  height:40px;
  font-size:24px;
  margin-top:0;
  font-family:FontAwesome;
  left:1px;
  transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
body.material .mfp-arrow-right,
body.material.woocommerce .pswp__button--arrow--right {
  line-height:40px;
  height:40px;
  font-size:18px;
  margin-top:0;
  font-family:FontAwesome;
  opacity:1;
  right:40px;
  transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
.pp_arrow_previous .icon-default-style:after,
.pp_arrow_next .icon-default-style:after,
.mfp-arrow-left:after,
.mfp-arrow-right:after,
.woocommerce .pswp__button--arrow--right:after,
.woocommerce .pswp__button--arrow--left:after {
  display:block;
  content:' ';
  position:absolute;
  width:18px;
  height:2px;
  background-color:#fff;
  top:19px;
  opacity:0;
  left:-6px;
  cursor:pointer;
  transform:translateX(-37px);
  transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  pointer-events:none
}
.mfp-arrow-left:after,
.mfp-arrow-right:after,
.woocommerce .pswp__button--arrow--right:after,
.woocommerce .pswp__button--arrow--left:after {
  top:16px;
  transform-origin: right;
  opacity: 1;
  transform:translateX(13px) scaleX(0.9);
  -webkit-transform:translateX(13px) scaleX(0.9);
}
.mfp-arrow-left:after,
.woocommerce .pswp__button--arrow--left:after {
  left:65px;
  transform-origin: left;
  opacity: 1;
  transform:translateX(-54px) scaleX(0.9);
  -webkit-transform:translateX(-54px) scaleX(0.9);
}
.pp_arrow_previous .icon-default-style:after {
  left:59px
}
.pp_arrow_previous .icon-default-style:before,
.mfp-arrow-left:before,
.woocommerce .pswp__button--arrow--left:before {
  content:"\f104";
  color:#fff
}
.mfp-arrow-left:before,
.woocommerce .pswp__button--arrow--left:before {
  top:-3px;
  left:-1px;
  display:block;
  position:relative;
  transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1)
}
.pp_arrow_next .icon-default-style:before,
.mfp-arrow-right:before,
.woocommerce .pswp__button--arrow--right:before {
  content:"\f105";
  color:#fff
}
.mfp-arrow-right:before,
.woocommerce .pswp__button--arrow--right:before {
  top:-3px;
  right:-1px;
  display:block;
  transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transition:all .35s cubic-bezier(0.12,0.75,0.4,1);
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
  position:relative
}
.pp_arrow_next:hover .icon-default-style:after,
.mfp-arrow-right:hover:after,
.woocommerce .pswp__button--arrow--right:hover:after {
  opacity:1;
  transform:translateX(-18px);
  -webkit-transform:translateX(-18px)
}
.mfp-arrow-right:hover:before,
.woocommerce .pswp__button--arrow--right:hover:before {
  transform:translateX(8px);
  -webkit-transform:translateX(8px)
}
.mfp-arrow-left:hover:before,
.woocommerce .pswp__button--arrow--left:hover:before {
  transform:translateX(-9px);
  -webkit-transform:translateX(-9px)
}
.mfp-arrow-right:hover:after,
.woocommerce .pswp__button--arrow--right:hover:after {
  transform:translateX(16px) scaleX(1.2);
  -webkit-transform:translateX(16px) scaleX(1.2);
}
.pp_arrow_next:hover .icon-default-style {
  transform:translateX(7px);
  -webkit-transform:translateX(7px)
}
.pp_arrow_previous:hover .icon-default-style:after,
.mfp-arrow-left:hover:after,
.woocommerce .pswp__button--arrow--left:hover:after {
  opacity:1;
  transform:translateX(-51px);
  -webkit-transform:translateX(-51px)
}
.mfp-arrow-left:hover:after,
.woocommerce .pswp__button--arrow--left:hover:after {
  transform:translateX(-58px) scaleX(1.2);
  -webkit-transform:translateX(-58px) scaleX(1.2);
}
.pp_arrow_previous:hover .icon-default-style {
  transform:translateX(-7px);
  -webkit-transform:translateX(-7px)
}
.nectar_team_member_overlay .inner-wrap {
  padding-top: 0!important;
}
.nectar_team_member_overlay {
  z-index: 10000;
}
#commentform .form-submit {
  margin-top:25px
}
.container-wrap input[type="submit"],
.container-wrap button[type="submit"],
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  padding:16px!important;
  border-radius:0!important
}

body[data-button-style="rounded"] .container-wrap input[type="submit"],
body[data-button-style="rounded"] .container-wrap button[type="submit"] {
  padding:16px 23px!important
}
body[data-button-style="rounded"][data-form-submit="see-through"] .container-wrap .widget_search input[type="submit"],
body[data-button-style="rounded"][data-form-submit="see-through"] .container-wrap .widget_search button[type="submit"] {
  padding:12px 23px!important
}
.woocommerce .actions .button {
  height:auto!important;
  padding:14px!important
}
.cart .quantity input.plus,
.cart .quantity input.minus {
  font-weight:400;
  font-size:16px;
}

.widget_search .search-form input[type=submit],
.newsletter-widget form input[type=submit] {
  line-height:24px
}

.span_12.light input[type="text"]::placeholder,
.span_12.light textarea::placeholder,
.span_12.light input[type="email"]::placeholder,
.span_12.light input[type="password"]::placeholder,
.span_12.light input[type="tel"]::placeholder,
.span_12.light input[type="url"]::placeholder,
.span_12.light input[type="search"]::placeholder,
.span_12.light input[type="date"]::placeholder {
  color: #fff;
  opacity: 0.5;
}

.span_12.light input[type="text"],
.span_12.light textarea,
.span_12.light select,
.span_12.light input[type="email"],
.span_12.light input[type="password"],
.span_12.light input[type="tel"],
.span_12.light input[type="url"],
.span_12.light input[type="search"],
.span_12.light input[type="date"],
.span_12.light .select2-container--default .select2-selection--single,
body[data-fancy-form-rcs="1"] .span_12.light .select2-container--default .select2-selection--single {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255,255,255,0);
  color:#fff
}

.span_12.light input[type="text"]:focus,
.span_12.light textarea:focus,
.span_12.light select:focus,
.span_12.light input[type="email"]:focus,
.span_12.light input[type="password"]:focus,
.span_12.light input[type="tel"]:focus,
.span_12.light input[type="url"]:focus,
.span_12.light input[type="search"]:focus,
.span_12.light input[type="date"]:focus {
  border-color: rgba(255,255,255,0.8);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.15);
}

[data-form-style="default"] .span_12.light input[type="email"]:hover:not(:focus),
[data-form-style="default"] .span_12.light input[type="text"]:hover:not(:focus),
[data-form-style="default"] .span_12.light textarea:hover:not(:focus) {
  border-color: transparent;
}

.span_12.light .wpcf7-form .wpcf7-not-valid-tip {
  background-color: transparent;
  box-shadow: none;
  padding-left: 0;
  color: #fff;
}

.container-wrap .span_12.light input[type="submit"]:hover {
  background-color:#333;
  opacity:.8
}
body[data-button-style*="_shadow"] .container-wrap .span_12.light input[type="submit"]:hover {
  opacity: 1;
}
.mfp-iframe-holder .mfp-content, .mfp-inline-holder .mfp-content {
  max-width: 1280px;
}
#slide-out-widget-area.slide-out-from-right {
  min-width: 360px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 5;
  overflow: hidden;
  transform: none;
}

#ajax-content-wrap #slide-out-widget-area.slide-out-from-right {
  z-index: -1;
}
.slide_out_area_close:before,
#search-outer #search #close a:before {
  transform: scale(0);
}
.material-ocm-open.slide_out_area_close:before,
#search-outer.material-open #search #close a:before {
  transform: scale(1);
}
.slide_out_area_close .close-wrap,
#search-outer .close-wrap,
.slide-out-widget-area-toggle a .close-wrap,
.style_slide_in_click .close-cart .close-wrap,
.nectar-close-btn .close-wrap {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0);
  transform: translateX(-50%) translateY(-50%) translateZ(0);
  -webkit-transition: margin .2s ease,opacity .3s ease,-webkit-transform .2s ease 1s;
  transition: margin .2s ease,opacity .3s ease,-webkit-transform .2s ease 1s;
  transition: margin .2s ease,transform .2s ease 1s,opacity .3s ease;
  transition: margin .2s ease,transform .2s ease 1s,opacity .3s ease,-webkit-transform .2s ease 1s;
  width: 20px;
  height: 20px;
  display: block;
  overflow: hidden;
}
.style_slide_in_click .close-cart .close-wrap,
.nectar-close-btn.small .close-wrap {
  height: 15px;
}
#top .slide-out-widget-area-toggle a .close-wrap {
  width: 22px;
  height: 22px;
  opacity: 0;
}
@media only screen and (max-width: 999px) {
  #top .slide-out-widget-area-toggle a .close-wrap {
    height: 20px;
  }
}
#top .slide-out-widget-area-toggle .open .close-wrap,
#top .slide-out-widget-area-toggle .animating .close-wrap {
  opacity: 1;
}
.material-ocm-open.slide_out_area_close .close-line1,
#search-outer.material-open .close-line1,
.slide-out-widget-area-toggle .open .close-line1 {
  -webkit-animation-name: crossRight;
  animation-name: crossRight;
  -webkit-animation-delay: .29s;
  animation-delay: .29s;
}
.style_slide_in_click.open .close-cart .close-line1,
.nectar-close-btn-wrap.open .nectar-close-btn .close-line1 {
  -webkit-animation-name: crossRight;
  animation-name: crossRight;
  -webkit-animation-delay: .14s;
  animation-delay: .14s;
}
.material-ocm-open.slide_out_area_close .close-line2,
#search-outer.material-open .close-line2,
.slide-out-widget-area-toggle .open .close-line2 {
  -webkit-animation-name: crossLeft;
  animation-name: crossLeft;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
.style_slide_in_click.open .close-cart .close-line2,
.nectar-close-btn-wrap.open .nectar-close-btn .close-line2 {
  -webkit-animation-name: crossLeft;
  animation-name: crossLeft;
}
.slide_out_area_close .close-line1,
#search-outer:not(.material-open) .close-line1,
.slide-out-widget-area-toggle a:not(.open) .close-line1,
.style_slide_in_click:not(.open) .close-cart .close-line1,
.nectar-close-btn-wrap:not(.open) .nectar-close-btn .close-line1 {
  -webkit-transform: translateY(0) translateX(0) rotate(-45deg);
  transform: translateY(0) translateX(0) rotate(-45deg);
  -webkit-animation-name: crossLeftClose;
  animation-name: crossLeftClose;
  -webkit-animation-delay: .0s;
  animation-delay: .0s;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
}
.slide-out-widget-area-toggle a:not(.open) .close-line1 {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
}

#header-outer.transparent .slide-out-widget-area-toggle a .close-wrap:not(.loaded) {
	opacity: 0!important;
}

.slide_out_area_close .close-line2,
#search-outer:not(.material-open) .close-line2,
.slide-out-widget-area-toggle a:not(.open) .close-line2,
.style_slide_in_click:not(.open) .close-cart .close-line2,
.nectar-close-btn-wrap:not(.open) .nectar-close-btn .close-line2 {
  -webkit-transform: translateY(0) translateX(0) rotate(45deg);
  transform: translateY(0) translateX(0) rotate(45deg);
  -webkit-animation-name: crossRightClose;
  animation-name: crossRightClose;
  -webkit-animation-delay: .06s;
  animation-delay: .06s;
  -webkit-animation-duration: .15s;
  animation-duration: .15s;
}
.slide-out-widget-area-toggle a:not(.open) .close-line2 {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
.slide_out_area_close .close-line,
#search-outer .close-line,
.slide-out-widget-area-toggle a .close-line,
.style_slide_in_click .close-cart .close-line,
.nectar-close-btn .close-line {
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  animation-timing-function: cubic-bezier(0.52, 0.01, 0.16, 1);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.material-ocm-open.slide_out_area_close .close-wrap .close-line1,
#search-outer.material-open .close-wrap .close-line1,
.slide-out-widget-area-toggle .open .close-line1,
.style_slide_in_click.open .close-cart .close-line1,
.nectar-close-btn-wrap.open .nectar-close-btn .close-line1 {
  -webkit-transform: translateY(-30px) translateX(30px) rotate(45deg);
  transform: translateY(-30px) translateX(30px) rotate(45deg);
}
.material-ocm-open.slide_out_area_close .close-wrap .close-line2,
#search-outer.material-open .close-wrap .close-line2,
.slide-out-widget-area-toggle .open .close-line2,
.style_slide_in_click.open .close-cart .close-line2,
.nectar-close-btn-wrap.open .nectar-close-btn .close-line2 {
  -webkit-transform: translateY(-30px) translateX(-30px) rotate(-45deg);
  transform: translateY(-30px) translateX(-30px) rotate(-45deg);
}
.slide_out_area_close .close-wrap .close-line,
#search-outer .close-wrap .close-line,
#top .slide-out-widget-area-toggle .close-line,
.style_slide_in_click .close-cart .close-line,
.nectar-close-btn .close-line {
  height: 100%;
  width: 2px;
  background: #fff;
  backface-visibility: hidden;
  position: absolute;
  border-radius: 5px;
  left: 9px;
  transition: opacity 0.2s ease, background-color 0.2s ease;
}

.nectar-close-btn {
  position: relative;
  display: block;
  width: 30px;
}

.nectar-close-btn:before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 34px;
  	width: 34px;
  	margin: -17px 0 0 -17px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.05);
    content: '';
    -webkit-transform: scale(1) translateZ(0);
    transform: scale(1) translateZ(0);
    transition: all 0.45s cubic-bezier(.15,0.2,.1,1);
    -webkit-transition: all 0.45s cubic-bezier(.15,0.2,.1,1);
}


#header-outer:not(.transparent) #top .slide-out-widget-area-toggle .close-line {
  background-color: #666;
}
#slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li a .clip-wrap,
#slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a .clip-wrap,
#slide-out-widget-area.slide-out-from-right-hover .inner .widget.widget_nav_menu li a .clip-wrap,
#slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a .clip-wrap {
  display: none;
}
body[data-slide-out-widget-area-style*="fullscreen"][data-header-color="light"] #header-outer.side-widget-open:not(.transparent):not(.light-text) header .slide-out-widget-area-toggle .close-line {
  background-color: #888;
}
#slide-out-widget-area-bg.fullscreen-alt {
  padding: 0!important;
}
#search-outer .close-wrap .close-line,
.slide-out-widget-area-toggle a .close-line,
.style_slide_in_click .close-cart .close-line,
.nectar-close-btn .close-line {
  background-color: #000;
}
body.mobile.material[data-header-color="light"] #header-outer .slide-out-widget-area-toggle a .close-line,
body.mobile.material[data-header-color="light"] #header-outer.transparent .slide-out-widget-area-toggle a .close-line {
  background-color: #999!important;
}


@-webkit-keyframes crossLeft{
  100%{
    -webkit-transform:translateY(0px) translateX(0px) rotate(-45deg);
    transform:translateY(0px) translateX(0px) rotate(-45deg)
  }
}
@keyframes crossLeft{
  100%{
    -webkit-transform:translateY(0px) translateX(0px) rotate(-45deg);
    transform:translateY(0px) translateX(0px) rotate(-45deg)
  }
}
@-webkit-keyframes crossLeftClose{
  100%{
    -webkit-transform:translateY(22px) translateX(22px) rotate(-45deg);
    transform:translateY(22px) translateX(22px) rotate(-45deg)
  }
}
@keyframes crossLeftClose{
  100%{
    -webkit-transform:translateY(22px) translateX(22px) rotate(-45deg);
    transform:translateY(22px) translateX(22px) rotate(-45deg)
  }
}
@-webkit-keyframes crossRight{
  100%{
    -webkit-transform:translateY(0px) translateX(0px) rotate(45deg);
    transform:translateY(0px) translateX(0px) rotate(45deg)
  }
}
@keyframes crossRight{
  100%{
    -webkit-transform:translateY(0px) translateX(0px) rotate(45deg);
    transform:translateY(0px) translateX(0px) rotate(45deg)
  }
}
@-webkit-keyframes crossRightClose{
  100%{
    -webkit-transform:translateY(22px) translateX(-22px) rotate(45deg);
    transform:translateY(22px) translateX(-22px) rotate(45deg)
  }
}
@keyframes crossRightClose{
  100%{
    -webkit-transform:translateY(22px) translateX(-22px) rotate(45deg);
    transform:translateY(22px) translateX(-22px) rotate(45deg)
  }
}
#slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container {
  position: relative;
  top: auto;
}

#slide-out-widget-area[class*="slide-out-from-right"] .inner {
  height: auto;
}
#slide-out-widget-area[class*="slide-out-from-right"] .menuwrapper,
#slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container,
#slide-out-widget-area[class*="slide-out-from-right"] .widget.widget_nav_menu > div,
#slide-out-widget-area[class*="slide-out-from-right"] .bottom-meta-wrap {
  display: inline-block;
}
#slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container {
  min-width: 190px;
}
@media only screen and (min-width: 1000px) {
  #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container.mobile-only {
    display: none;
  }
}
#slide-out-widget-area[class*="slide-out-from-right"] .widget.widget_nav_menu li a {
  padding-left: 0;
  padding-right: 0;
}
#slide-out-widget-area[class*="slide-out-from-right"] .inner-wrap,
#slide-out-widget-area.slide-out-from-right-hover .inner > .off-canvas-menu-container {
  margin: auto 0;
  position: relative;
}
#slide-out-widget-area[class*="slide-out-from-right"],
#slide-out-widget-area.slide-out-from-right-hover .inner{
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
#slide-out-widget-area.slide-out-from-right-hover .inner{
  flex-wrap: wrap;
}

#fp-nav li {
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
}

#slide-out-widget-area.slide-out-from-right,
#slide-out-widget-area.slide-out-from-right:not(.fullscreen-alt):not(.fullscreen) {
  background-color: transparent!important;
}
#slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li a {
  font-size: 22px;
  line-height: 28px;
  font-family: 'Open Sans';
  font-weight: 400;
}
#slide-out-widget-area-bg.slide-out-from-right {
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: 1;
}
/*before div gets moved*/
#ajax-content-wrap > #slide-out-widget-area-bg.slide-out-from-right {
  visibility: hidden;
}


body[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area.slide-out-from-right {
  -webkit-transform: none;
  transform: none;
}

body[data-slide-out-widget-area-style="slide-out-from-right"] .slide-out-widget-area-toggle {
  z-index: 100;
}

body[data-slide-out-widget-area-style="slide-out-from-right"] .slide_out_area_close{
  position:absolute;
  right:50px;
  top:50px;
  z-index: 8;
  display: block;
}

#slide-out-widget-area.slide-out-from-right .inner-wrap,
#slide-out-widget-area.slide-out-from-right .off-canvas-menu-container {
  width: 100%;
}

body:not(.material-ocm-open) #slide-out-widget-area.slide-out-from-right {
  visibility: hidden;
}

@media only screen and (min-width: 1000px) {

  body[data-slide-out-widget-area-style="slide-out-from-right"] .slide_out_area_close{
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    position:fixed;
    right:-100px;
    top:50%;
    transform: translateY(-50%) translateX(100%);
    z-index: 10000;
  }

  body[data-slide-out-widget-area-style="slide-out-from-right"] .slide_out_area_close:before {
    background-color: #f91b39;
    box-shadow: 0 16px 44px rgba(0,0,0,0.3);
  }
}

body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap {
  -webkit-transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform-origin: right;
  transform-origin: right;
  position: relative;
  z-index: 10;
}

body[data-slide-out-widget-area-style="slide-out-from-right"].material-ocm-open .ocm-effect-wrap {
  overflow: hidden;
}



/* Safari admin bar fix with OCM */
@media not all and (min-resolution:.001dpcm) { @media {
  body[data-slide-out-widget-area-style="slide-out-from-right"].admin-bar:not(.material-ocm-open) .ocm-effect-wrap {
    position: static;
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"][data-footer-reveal="1"].material.admin-bar #footer-outer {
    z-index: 2;
  }
}}
@media only screen and (max-width: 600px) {
  body[data-slide-out-widget-area-style="slide-out-from-right"].admin-bar:not(.material-ocm-open) .ocm-effect-wrap {
    position: static;
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"][data-footer-reveal="1"].material.admin-bar #footer-outer {
    z-index: 2;
  }
}

body:not(.nectar-no-flex-height) .ocm-effect-wrap-inner,
body[data-slide-out-widget-area-style="slide-out-from-right"]:not(.nectar-no-flex-height) .ocm-effect-wrap {
  height: auto!important;
}
.nectar-no-flex-height .ocm-effect-wrap-inner,
body[data-slide-out-widget-area-style="slide-out-from-right"].nectar-no-flex-height .ocm-effect-wrap {
  height: 100%;
}


.slide-out-widget-area-toggle .lines-button.x2 .lines:before,
.slide-out-widget-area-toggle .lines-button.x2 .lines:after {
  transition: top 0.4s 0.45s ease,width 0.3s ease, -webkit-transform 0.3s ease,background-color 0.2s ease,opacity 0.2s ease;
  transition: top 0.4s 0.45s ease,width 0.3s ease, transform 0.3s ease,background-color 0.2s ease,opacity 0.2s ease;
}
.lines:after, body[data-slide-out-widget-area-style="slide-out-from-right-hover"] .slide-out-hover-icon-effect.slide-out-widget-area-toggle.small .lines:after {
  top: -7px;
}
.lines:before, body[data-slide-out-widget-area-style="slide-out-from-right-hover"] .slide-out-hover-icon-effect.slide-out-widget-area-toggle.small .lines:before {
  width: 1rem;
  top: 7px;
}
body[data-slide-out-widget-area-style="slide-out-from-right-hover"] .slide-out-widget-area-toggle.mobile-icon .lines:before,
body #header-outer .slide-out-widget-area-toggle.mobile-icon .lines:before {
  width: 1rem!important;
}
.slide-out-widget-area-toggle .lines-button.close .lines:before {
  -webkit-transform: translateY(-7px) rotateZ(-45deg);
  transform: translateY(-7px) rotateZ(-45deg);
  width: 1.5rem;
}
.slide-out-widget-area-toggle .lines-button.close .lines:after {
  -webkit-transform: translateY(7px) rotateZ(45deg);
  transform: translateY(7px) rotateZ(45deg);
  width: 1.5rem;
}
.material .lines-button.close {
  transform: none;
}
body #header-outer .icon-salient-search:before,
body.material #header-outer .icon-salient-search:before {
  content:"\e906"
}


.admin-bar[class*="bp-"] .ocm-effect-wrap-inner,
.admin-bar[class*="bp-"] .ocm-effect-wrap {
  border-radius: initial;
}


@media only screen and (max-width: 450px) {

  #slide-out-widget-area.slide-out-from-right {
    min-width: 78vw;
    width: 78vw;
    padding-left: 50px;
    padding-right: 50px;
    -webkit-transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  }
}

@media only screen and (min-width: 1000px) {

  #slide-out-widget-area.slide-out-from-right {
    min-width: 33.3vw;
    padding-left: 4%;
    padding-right: 4%;
  }


}



body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li {
  margin-bottom: 12px;
  line-height: 1.2;
}
body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .sub-menu .nectar-extra-menu-item-spacing {
  margin-bottom: 10px;
  margin-top: 10px;
}
body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .sub-menu {
  display: flex;
  flex-direction: column;
}
body.material #slide-out-widget-area.slide-out-from-right .off-canvas-menu-container li a {
  position: relative;
  display: inline-block;
}
body.material #slide-out-widget-area.slide-out-from-right .off-canvas-menu-container > .menu > li a {
  opacity: 1;
  transition: color 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
}
body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li a:after {
  transform-origin: left;
  pointer-events: none;
  bottom: -2px;
  -webkit-transition: -webkit-transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  border-color: #fff;
}
body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a {
  color: #fff;
}
input[type=text],
textarea,
input[type=email],
input[type=password],
input[type=tel],
input[type=url],
input[type=search],
input[type=date],
.material.woocommerce-page[data-form-style="default"] input#coupon_code,
select {
  background-color: rgba(0,0,0,0.04);
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0);
}
input[type=text]:focus,
textarea:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=date]:focus,
select:focus {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.11);
}

select {
  box-shadow: none;
}
