/*
Theme Name:  Salient
Description: Theme Skin set to "Original" in theme options
*/

.original #search-outer #search {
  height: 100%;
  display:-webkit-flex;
  display:flex;
  align-items: center;
}

.original #top nav ul #search-btn >div,
.original #top nav ul #nectar-user-account >div,
.original #top nav ul .nectar-woo-cart >div,
.original #top nav ul .slide-out-widget-area-toggle > div {
  padding-left:19px
}

.original[data-form-style="default"] input[type=text]:focus,
.original[data-form-style="default"] textarea:focus,
.original[data-form-style="default"] input[type=email]:focus,
.original[data-form-style="default"] input[type=search]:focus,
.original[data-form-style="default"] input[type=password]:focus,
.original[data-form-style="default"] input[type=tel]:focus,
.original[data-form-style="default"] input[type=url]:focus,
.original[data-form-style="default"] input[type=date]:focus{
  background-color:#ebebeb
}

.original .nectar-button.extra-color-gradient-1,
.original .nectar-button.extra-color-gradient-2,
.original .nectar-button.see-through-extra-color-gradient-1,
.original .nectar-button.see-through-extra-color-gradient-2{
  background-color:transparent!important;
  opacity:1;
  box-shadow:none
}
.nectar-button.extra-color-gradient-1:after,
.nectar-button.extra-color-gradient-2:after,
.nectar-button.see-through-extra-color-gradient-1:after,
.nectar-button.see-through-extra-color-gradient-2:after{
   position:absolute;
    content:' ';
    top:-2%;
    left:-1%;
    width:101.5%;
    height:104%;
    transform-origin:right;
    -webkit-transform-origin:right;
    -ms-transform-origin:right;
    transform:scale(0,1);
    -webkit-transform:scale(0,1);
    -ms-transform:scale(0,1);
    -ms-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
    transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
    -webkit-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),background-size 0.38s ease;
    z-index:-1
}
.nectar-button.see-through-extra-color-gradient-1:after,
.nectar-button.see-through-extra-color-gradient-2:after,
.nectar-button.extra-color-gradient-1:hover:after,
.nectar-button.extra-color-gradient-2:hover:after {
   background-size:225% 100%!important;
    background-position:right!important
}

.nectar-button.see-through-extra-color-gradient-1:hover:after,
.nectar-button.see-through-extra-color-gradient-2:hover:after,
.nectar-button.extra-color-gradient-1:after,
.nectar-button.extra-color-gradient-2:after {
  background-position:left!important;
  background-size:100% 100%!important
}

.nectar-button.see-through-extra-color-gradient-1:hover:after,
.nectar-button.see-through-extra-color-gradient-2:hover:after{
   transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform-origin:left;
    -webkit-transform-origin:left;
    -ms-transform-origin:left;
}

.nectar-button.extra-color-gradient-1:after,
.nectar-button.extra-color-gradient-2:after{
   transform:scale(1,1);
    -webkit-transform:scale(1,1);
    -ms-transform:scale(1,1);
    transform-origin:left;
    -webkit-transform-origin:left;
    -ms-transform-origin:left;
}

.nectar-button.extra-color-gradient-1:hover:after,
.nectar-button.extra-color-gradient-2:hover:after{
   transform:scale(0,1);
    -webkit-transform:scale(0,1);
    -ms-transform:scale(0,1);
    transform-origin:right;
    -webkit-transform-origin:right;
    -ms-transform-origin:right;
}
.nectar-button.extra-color-gradient-1 .start,
.nectar-button.extra-color-gradient-2 .start,
.nectar-button.extra-color-gradient-1 .hover,
.nectar-button.extra-color-gradient-2 .hover,
.nectar-button.see-through-extra-color-gradient-1 .start,
.nectar-button.see-through-extra-color-gradient-2 .start,
.nectar-button.see-through-extra-color-gradient-1 .hover,
.nectar-button.see-through-extra-color-gradient-2 .hover{
   -ms-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),opacity 0.38s cubic-bezier(.2,0.95,.4,0.95);
    transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),opacity 0.38s cubic-bezier(.2,0.95,.4,0.95);
    -webkit-transition:transform 0.38s cubic-bezier(.2,0.95,.4,0.95),opacity 0.38s cubic-bezier(.2,0.95,.4,0.95)
}
.nectar-button.extra-color-gradient-1 .start,
.nectar-button.extra-color-gradient-2 .start,
.nectar-button.see-through-extra-color-gradient-1 .start,
.nectar-button.see-through-extra-color-gradient-2 .start{
   animation:gradientTextHoverHover 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards;
    display:inline-block!important
}
.nectar-button.extra-color-gradient-1 .hover,
.nectar-button.extra-color-gradient-2 .hover,
.nectar-button.see-through-extra-color-gradient-1 .hover,
.nectar-button.see-through-extra-color-gradient-2 .hover{
   position:absolute;
    display:inline;
    left:0;
    animation:gradientTextHoverOff 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards;
    text-align:center;
    width:100%;
    opacity:0;
    z-index:0
}
.nectar-button.extra-color-gradient-1:hover .hover,
.nectar-button.extra-color-gradient-2:hover .hover,
.nectar-button.see-through-extra-color-gradient-1:hover .hover,
.nectar-button.see-through-extra-color-gradient-2:hover .hover{
   animation:gradientTextHoverHover 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards
}
.nectar-button.extra-color-gradient-1:hover .start,
.nectar-button.extra-color-gradient-2:hover .start,
.nectar-button.see-through-extra-color-gradient-1:hover .start,
.nectar-button.see-through-extra-color-gradient-2:hover .start{
   animation:gradientTextHoverOff 0.38s;
    animation-timing-function:cubic-bezier(.2,0.9,.4,0.9);
    animation-fill-mode:forwards
}
.nectar-button.see-through-extra-color-gradient-1 .hover,
.nectar-button.see-through-extra-color-gradient-2 .hover{
   position:absolute;
    display:inline;
    left:0;
    text-align:center;
    width:100%;
    opacity:0;
    z-index:100
}
.nectar-button.extra-color-gradient-1 .start.loading,
.nectar-button.extra-color-gradient-2 .start.loading,
.nectar-button.see-through-extra-color-gradient-1 .start.loading,
.nectar-button.see-through-extra-color-gradient-2 .start.loading{
   animation:gradientTextHoverHover 0s
}
.light .nectar-button.extra-color-gradient-1:hover .hover,
.light .nectar-button.extra-color-gradient-2:hover .hover,
.light .nectar-button.see-through-extra-color-gradient-1:hover .start,
.light .nectar-button.see-through-extra-color-gradient-2:hover .start,
.light .nectar-button.see-through-extra-color-gradient-1 .start,
.light .nectar-button.see-through-extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1:hover .hover,
div[data-text-color="light"] .nectar-button.extra-color-gradient-2:hover .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .start{
   background:none!important;
    -webkit-background-clip:border-box;
    -webkit-text-fill-color:#fff;
    background-clip:border-box;
}
.light .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start,
.light .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start{
   color:#fff!important
}
.light .nectar-button.see-through-extra-color-gradient-1:hover .start,
.light .nectar-button.see-through-extra-color-gradient-2:hover .start,
.light .nectar-button.see-through-extra-color-gradient-1 .start,
.light .nectar-button.see-through-extra-color-gradient-2 .start,
.light .nectar-button.extra-color-gradient-1 .start,
.light .nectar-button.extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-2 .start{
   opacity:1!important;
    animation:none!important
}
.light .nectar-button.see-through-extra-color-gradient-1 .hover,
.light .nectar-button.see-through-extra-color-gradient-2 .hover,
.light .nectar-button.extra-color-gradient-1 .hover,
.light .nectar-button.extra-color-gradient-2 .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .hover,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1 .hover,
div[data-text-color="light"] .nectar-button.extra-color-gradient-2 .hover{
   opacity:0!important;
    animation:none!important
}
@keyframes gradientTextHoverHover{
    0%{
        transform:translateX(0px);
        opacity:0
   }
    70%{
        opacity:1
   }
    100%{
        transform:translateX(0px)!important;
        opacity:1
   }
}
@keyframes gradientTextHoverOff{
    0%{
        transform:translateX(0px);
        opacity:1
   }
    70%{
        opacity:0
   }
    100%{
        transform:translateX(0px)!important;
        opacity:0
   }
}
.nectar-button.see-through-extra-color-gradient-1.medium.has-icon,
.nectar-button.see-through-extra-color-gradient-2.medium.has-icon,
.nectar-button.extra-color-gradient-1.medium.has-icon,
.nectar-button.extra-color-gradient-2.medium.has-icon{
   padding:7px 30px
}
.nectar-button.see-through-extra-color-gradient-1.large.has-icon,
.nectar-button.see-through-extra-color-gradient-2.large.has-icon,
.nectar-button.extra-color-gradient-1.large.has-icon,
.nectar-button.extra-color-gradient-2.large.has-icon{
   padding:12px 35px
}
.nectar-button.extra-color-gradient-1 i, .nectar-button.extra-color-gradient-2 i,
.nectar-button.see-through-extra-color-gradient-1 i, .nectar-button.see-through-extra-color-gradient-2 i{
   opacity:1;
    right:24px;
    background:inherit;
    background-size:500% 100%;
    background-position:right
}
.nectar-button.extra-color-gradient-1.has-icon span,
.nectar-button.extra-color-gradient-2.has-icon span,
.nectar-button.see-through-extra-color-gradient-1.has-icon span,
.nectar-button.see-through-extra-color-gradient-2.has-icon span{
   left:-18px
}
body .nectar-button.extra-color-gradient-1.has-icon:hover span,
body .nectar-button.extra-color-gradient-2.has-icon:hover span,
body .nectar-button.see-through-extra-color-gradient-1.has-icon:hover span,
body .nectar-button.see-through-extra-color-gradient-2.has-icon:hover span,
body .nectar-button.extra-color-gradient-1.has-icon:hover i,
body .nectar-button.extra-color-gradient-2.has-icon:hover i,
body .nectar-button.see-through-extra-color-gradient-1.has-icon:hover i,
body .nectar-button.see-through-extra-color-gradient-2.has-icon:hover i{
   -ms-transform:none;
    transform:none;
    -webkit-transform:none
}
.nectar-button.extra-color-gradient-1.jumbo i,
.nectar-button.extra-color-gradient-2.jumbo i,
.nectar-button.see-through-extra-color-gradient-1.jumbo i,
.nectar-button.see-through-extra-color-gradient-2.jumbo i{
   opacity:1;
    font-size:20px;
    line-height:20px;
    width:20px;
    text-align:center;
    margin-top:-10px
}
.nectar-button.extra-color-gradient-1.extra_jumbo i,
.nectar-button.extra-color-gradient-2.extra_jumbo i,
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo i,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo i{
    width:40px
}
.nectar-button.extra-color-gradient-1.has-icon.extra_jumbo span,
.nectar-button.extra-color-gradient-2.has-icon.extra_jumbo span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.extra_jumbo span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.extra_jumbo span{
   left:-35px
}
.nectar-button.extra-color-gradient-1.has-icon.jumbo span,
.nectar-button.extra-color-gradient-2.has-icon.jumbo span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.jumbo span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.jumbo span{
   left:-16px
}
.nectar-button.extra-color-gradient-1.has-icon.large span,
.nectar-button.extra-color-gradient-2.has-icon.large span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.large span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.large span{
   left:-14px
}
.nectar-button.extra-color-gradient-1.has-icon.medium span,
.nectar-button.extra-color-gradient-2.has-icon.medium span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.medium span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.medium span{
   left:-13px
}
.nectar-button.extra-color-gradient-1.has-icon.small span,
.nectar-button.extra-color-gradient-2.has-icon.small span,
.nectar-button.see-through-extra-color-gradient-1.has-icon.small span,
.nectar-button.see-through-extra-color-gradient-2.has-icon.small span{
   left:-11px
}
.nectar-button.extra-color-gradient-1.jumbo .hover i,
.nectar-button.extra-color-gradient-2.jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-1.jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-2.jumbo .hover i{
   right:8px
}
.nectar-button.extra-color-gradient-1.extra_jumbo .hover i,
.nectar-button.extra-color-gradient-2.extra_jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo .hover i,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo .hover i{
   right:8px
}
.nectar-button.extra-color-gradient-1.large .hover i,
.nectar-button.extra-color-gradient-2.large .hover i,
.nectar-button.see-through-extra-color-gradient-1.large .hover i,
.nectar-button.see-through-extra-color-gradient-2.large .hover i{
   right:5px
}
.nectar-button.extra-color-gradient-1.medium .hover i,
.nectar-button.extra-color-gradient-2.medium .hover i,
.nectar-button.see-through-extra-color-gradient-1.medium .hover i,
.nectar-button.see-through-extra-color-gradient-2.medium .hover i{
   right:0px
}
.nectar-button.extra-color-gradient-1.small .hover i,
.nectar-button.extra-color-gradient-2.small .hover i,
.nectar-button.see-through-extra-color-gradient-1.small .hover i,
.nectar-button.see-through-extra-color-gradient-2.small .hover i{
   right:3px
}
.nectar-button.extra-color-gradient-1.jumbo .start i,
.nectar-button.extra-color-gradient-2.jumbo .start i,
.nectar-button.see-through-extra-color-gradient-1.jumbo .start i,
.nectar-button.see-through-extra-color-gradient-2.jumbo .start i{
   right:-32px
}
.nectar-button.extra-color-gradient-1.extra_jumbo .start i,
.nectar-button.extra-color-gradient-2.extra_jumbo .start i,
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo .start i,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo .start i{
   right:-75px
}
.nectar-button.extra-color-gradient-1.large .start i,
.nectar-button.extra-color-gradient-2.large .start i,
.nectar-button.see-through-extra-color-gradient-1.large .start i,
.nectar-button.see-through-extra-color-gradient-2.large .start i{
   right:-32px
}
.nectar-button.extra-color-gradient-1.medium .start i,
.nectar-button.extra-color-gradient-2.medium .start i,
.nectar-button.see-through-extra-color-gradient-1.medium .start i,
.nectar-button.see-through-extra-color-gradient-2.medium .start i{
   right:-30px
}
.nectar-button.extra-color-gradient-1.small .start i,
.nectar-button.extra-color-gradient-2.small .start i,
.nectar-button.see-through-extra-color-gradient-1.small .start i,
.nectar-button.see-through-extra-color-gradient-2.small .start i{
   right:-30px
}
.nectar-button.see-through-extra-color-gradient-1.small,
.nectar-button.see-through-extra-color-gradient-2.small,
.nectar-button.extra-color-gradient-1.small,
.nectar-button.extra-color-gradient-2.small{
   padding:5px 14px
}
.nectar-button.see-through-extra-color-gradient-1.medium,
.nectar-button.see-through-extra-color-gradient-2.medium,
.nectar-button.extra-color-gradient-1.medium,
.nectar-button.extra-color-gradient-2.medium{
   border-width:3px;
    padding:7px 15px
}
.nectar-button.see-through-extra-color-gradient-1.large,
 .nectar-button.see-through-extra-color-gradient-2.large,
 .nectar-button.extra-color-gradient-1.large,
 .nectar-button.extra-color-gradient-2.large{
   border-width:3px;
    padding:12px 22px
}
.nectar-button.see-through-extra-color-gradient-1.jumbo,
.nectar-button.see-through-extra-color-gradient-2.jumbo,
.nectar-button.extra-color-gradient-1.jumbo,
.nectar-button.extra-color-gradient-2.jumbo{
   border-width:4px;
    padding:21px 40px
}
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo,
.nectar-button.see-through-extra-color-gradient-2.extra_jumbo,
.nectar-button.extra-color-gradient-1.extra_jumbo,
.nectar-button.extra-color-gradient-2.extra_jumbo{
   border-width:10px;
    padding:56px 90px
}
.nectar-button.extra-color-gradient-1 span,
.nectar-button.extra-color-gradient-2 span,
.nectar-button.see-through-extra-color-gradient-1 span,
.nectar-button.see-through-extra-color-gradient-2 span{
   z-index:100
}

.comment-wrap {
  padding: 60px 0;
}
.comment-wrap[data-comments-open="false"] {
  padding: 0;
}
.comment-list .reply a{
  box-shadow:0 1px 0 rgba(255,255,255,0.3) inset;
}

body.original .bypostauthor .comment-body {
  position: relative;
}
body.original .bypostauthor .comment-body:before {
  opacity: 0.06;
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  top: 0;
  left: 0;
  pointer-events: none;
}

.carousel-next i,
.carousel-prev i {
  color: #fff;
}

.original .post-area.masonry .post .post-content.classic .content-inner {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.original #header-outer[data-transparent-header="true"][data-remove-border="false"]:not(.transparent) {
	border-bottom: 0 solid rgba(255,255,255,0);
}

.original .masonry.material .masonry-blog-item .inner-wrap {
  padding: 0;
}
.original .masonry.material .masonry-blog-item .content-inner {
  padding-bottom: 0;
  margin-bottom: 0;
}
.original .blog-recent.related-posts {
  padding: 0 0 60px 0;
}

.comment-list .comment >div,
.comment-list .pingback >div {
  color: #000;
}

#sidebar > .theiaStickySidebar .widget,
#sidebar > .inner .widget {
  margin-bottom:50px
}

@media only screen and (max-width: 1000px) {
  #search-outer {
    height: 55px;
    bottom: 0;
    top: auto;
  }
}

.original #footer-outer[data-link-hover="underline"] #footer-widgets .col ul li a {
	padding: 0;
	border: none;
}

.original #footer-outer[data-link-hover="underline"] #footer-widgets .col ul:not([class*="nectar_blog_posts"]) li {
	padding: 4px 0!important;
	border: none;
}

#slide-out-widget-area.slide-out-from-right .off-canvas-menu-container li {
  margin-top: 3px;
  margin-bottom: 3px;
}
#slide-out-widget-area.slide-out-from-right .off-canvas-menu-container .sub-menu .nectar-menu-item-with-desc {
  margin: 10px 0;
}

.original #header-outer #top nav ul .slide-out-widget-area-toggle[data-custom-color="true"] a,
.original .slide-out-widget-area-toggle[data-custom-color="true"].mobile-icon a > span {
	height: 22px;
}
