/*
Theme Name:  Salient
Description: Styles for the "Masonry Classic Enhanced" post style.
*/

.post-area.masonry.classic_enhanced .post .post-featured-img,
.blog-recent[data-style*="classic_enhanced"] .post-featured-img,
.post-area.masonry.classic_enhanced .n-post-bg {
  transition:all .7s cubic-bezier(.2,1,.22,1);
  -webkit-transition:all .7s cubic-bezier(.2,1,.22,1);
  line-height:0;
  display:block;
  position:relative
}

.post-area.masonry.classic_enhanced .post .post-featured-img img,
.post-area.masonry.classic_enhanced .post.format-gallery .inner-wrap .flickity-slider .cell img,
.post-area.masonry.classic_enhanced .post.format-gallery.wide_tall .inner-wrap .flickity-viewport,
.post-area.masonry.classic_enhanced .post.format-gallery.large_featured .inner-wrap .flickity-viewport,
.blog-recent[data-style*="classic_enhanced"] .post-featured-img img {
	margin-bottom:0;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  transition:all .7s cubic-bezier(.2,1,.22,1);
  -webkit-transition:all .7s cubic-bezier(.2,1,.22,1)
}

.post-area.masonry.classic_enhanced .post .inner-wrap:hover .post-featured-img img,
.post-area.masonry.classic_enhanced .post.large_featured .inner-wrap:hover .post-featured-img,
.post-area.masonry.classic_enhanced .post.wide_tall .inner-wrap:hover .post-featured-img,
.post-area.masonry.classic_enhanced .post.format-gallery .inner-wrap:hover .flickity-slider .cell img,
.post-area.masonry.classic_enhanced .link .inner-wrap:hover .n-post-bg,
.post-area.masonry.classic_enhanced .quote .inner-wrap:hover .n-post-bg,
.post-area.masonry.classic_enhanced .post.format-gallery.wide_tall .inner-wrap:hover .flickity-viewport,
.post-area.masonry.classic_enhanced .post.format-gallery.large_featured .inner-wrap:hover .flickity-viewport,
.blog-recent[data-style*="classic_enhanced"] .inner-wrap:hover .post-featured-img img,
.blog-recent[data-style*="classic_enhanced_alt"] .inner-wrap:hover .post-featured-img {
  transform:scale(1.07);
  -webkit-transform:scale(1.07)
}

.blog-recent[data-style*="classic_enhanced"][data-remove-post-nectar-love="1"][data-remove-post-comment-number="1"][data-remove-post-author="1"] .inner-wrap {
  padding-bottom: 0;
}

.post-area.masonry.classic_enhanced[data-remove-post-nectar-love="1"][data-remove-post-comment-number="1"][data-remove-post-author="1"] .post .post-meta,
#ajax-content-wrap .blog-recent[data-style*="classic_enhanced"][data-remove-post-nectar-love="1"] .nectar-love-wrap,
.blog-recent[data-style*="classic_enhanced"][data-remove-post-nectar-love="1"][data-remove-post-comment-number="1"][data-remove-post-author="1"] .post-meta {
  display: none;
}

body .blog-recent[data-style*="classic_enhanced"] .post-meta {
  position: absolute;
  bottom: 0;
  left: 0;
  top: auto;
  z-index: 300;
  width: 100%;
  margin-bottom: 0;
  border-right: 0;
}

.masonry.classic_enhanced .post .post-header h2 a {
  color: inherit;
}

.masonry.classic_enhanced .post .post-meta a,
.masonry.classic_enhanced .post .post-meta i:not(.icon-salient-heart),
 .blog-recent[data-style*="classic_enhanced"] .post-meta a,
 .blog-recent[data-style*="classic_enhanced"] .post-meta i:not(.icon-salient-heart) {
  transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
}

.masonry.classic_enhanced .post .post-meta a,
.masonry.classic_enhanced .post-header,
.masonry.classic_enhanced .post .excerpt,
.blog-recent[data-style*="classic_enhanced"] .excerpt,
.blog-recent[data-style*="classic_enhanced"] .post-meta a {
  color: #555;
}
.blog-recent[data-style*="classic_enhanced"][data-color-scheme="dark"] .excerpt,
.blog-recent[data-style*="classic_enhanced"][data-color-scheme="dark"] .post-meta a,
.blog-recent[data-style*="classic_enhanced"][data-color-scheme="dark"] .post-header {
  color: rgba(255,255,255,0.5);
}
.masonry.classic_enhanced h3 {
  color: #000;
}

.blog-recent[data-style*="classic_enhanced"] .post-meta a .nectar-love-count {
  color: #555;
}

.masonry.classic_enhanced .post .post-meta a,
.masonry.classic_enhanced .post-meta .nectar-love-count,
.masonry.classic_enhanced .post-header,
.blog-recent[data-style*="classic_enhanced"] .post-meta .nectar-love-count,
.blog-recent[data-style*="classic_enhanced"] .post-header,
.blog-recent[data-style*="classic_enhanced"] .post-meta a {
	font-size: 12px;
}

.masonry.classic_enhanced .post .post-meta i,
 .masonry.classic_enhanced .post .post-header .icon-salient-m-clock,
 .blog-recent[data-style*="classic_enhanced"] .post-meta i,
 .blog-recent[data-style*="classic_enhanced"] .post-header .icon-salient-m-clock {
  color: #b9b9b9;
}

.masonry.classic_enhanced .post.wide_tall .post-meta i,
 .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-meta i {
  color: rgba(255,255,255,0.5);
}

.masonry.classic_enhanced .post .post-meta a,
.blog-recent[data-style*="classic_enhanced"] .post-meta a {
  display: inline-block;
  vertical-align: middle;
}

.masonry.classic_enhanced .post .post-meta i,
 .blog-recent[data-style*="classic_enhanced"] .post-meta i {
  width: 15px;
  margin-right: 3px;
  font-size: 14px;
  font-style: normal;
  top: 0;
}

.masonry.classic_enhanced .post .post-meta .icon-salient-heart-2,
 .blog-recent[data-style*="classic_enhanced"] .post-meta .icon-salient-heart-2 {
   margin-right: 0;
 }

.masonry.classic_enhanced .post .post-meta .meta-comment-count i,
.blog-recent[data-style*="classic_enhanced"] .post-meta .meta-comment-count i {
  width: 14px;
}

.masonry.classic_enhanced .post .post-header .icon-salient-m-clock,
 .blog-recent[data-style*="classic_enhanced"] .post-header .icon-salient-m-clock {
  width: 14px;
  margin-right: 5px;
  font-size: 14px;
  top: 0;
}

.masonry.classic_enhanced .posts-container article:not(.has-post-thumbnail) .meta-category a,
 .masonry.classic_enhanced .posts-container .large_featured .meta-category a,
 .blog-recent[data-style*="classic_enhanced"] .inner-wrap:not(.has-post-thumbnail) .meta-category a {
  color: #000;
  border: 2px solid rgba(0,0,0,0.2);
}

body[data-button-style^="rounded"] .masonry.classic_enhanced .posts-container article .meta-category a,
 body[data-button-style^="rounded"] .blog-recent[data-style*="classic_enhanced"] .meta-category a {
  border-radius: 100px;
}

.masonry.classic_enhanced .posts-container article .meta-category a,
.masonry.classic_enhanced .posts-container .wide_tall .meta-category a,
.blog-recent[data-style*="classic_enhanced"] .meta-category a {
  padding: 0 10px;
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
  border: 2px solid rgba(255,255,255,0.5);
  transition: all 0.2s ease;
}

body .blog-recent[data-style*="classic_enhanced_alt"] .meta-category a,
.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap:not(.has-post-thumbnail) .meta-category a {
  color: #fff;
  border: 2px solid rgba(255,255,255,0.5);
}

.masonry.classic_enhanced .posts-container article .meta-category a:hover {
  border: 2px solid transparent;
  color: #fff;
}

body .blog-recent[data-style*="classic_enhanced"] .meta-category a:hover,
.blog-recent[data-style*="classic_enhanced"] .inner-wrap:not(.has-post-thumbnail) .meta-category a:hover {
  border: 2px solid transparent;
  color: #fff;
}

.masonry.classic_enhanced .posts-container .has-post-thumbnail .meta-category a,
 .blog-recent[data-style*="classic_enhanced"] .has-post-thumbnail .meta-category a,
 .blog-recent[data-style*="classic_enhanced"] .meta-category a {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 101;
}

body .blog-recent[data-style*="classic_enhanced"] .meta-category a {
  z-index: 301;
}

.masonry.classic_enhanced .posts-container article .meta-category a,
.blog-recent[data-style*="classic_enhanced"] .meta-category a {
  z-index: 101;
  position: relative;
}

.masonry.classic_enhanced .posts-container article .meta-category a:not(:first-child),
.blog-recent[data-style*="classic_enhanced"] .meta-category a:not(:first-child) {
  display: none;
}

.masonry.classic_enhanced .posts-container article:not(.has-post-thumbnail) .meta-category a {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 0;
}

.masonry.classic_enhanced .masonry-blog-item .post-meta .nectar-love-wrap,
.blog-recent[data-style*="classic_enhanced"] .post-meta .nectar-love-wrap {
  float: none;
  display: inline-block;
}

.masonry.classic_enhanced .masonry-blog-item .post-meta .nectar-love-wrap .nectar-love i,
 .masonry.classic_enhanced .masonry-blog-item .post-meta .nectar-love-wrap .nectar-love .heart-wrap,
 .masonry.classic_enhanced .masonry-blog-item .post-meta .nectar-love-wrap .nectar-love .nectar-love-count,
 .blog-recent[data-style*="classic_enhanced"] .post-meta .nectar-love-wrap .nectar-love i,
 .blog-recent[data-style*="classic_enhanced"] .post-meta .nectar-love-wrap .nectar-love .heart-wrap,
 .blog-recent[data-style*="classic_enhanced"] .post-meta .nectar-love-wrap .nectar-love .nectar-love-count {
  display: block;
  line-height: 18px;
  float: left;
}

.blog-recent[data-style*="classic_enhanced_alt"] .inner-wrap {
  overflow: hidden;
}

.blog-recent[data-style*="classic_enhanced_alt"] .inner-wrap.has-post-thumbnail {
  background-color: transparent;
}

.post-area.masonry.classic_enhanced .post .post-meta,
 .blog-recent[data-style*="classic_enhanced"] .post-meta {
  padding: 6px 21px;
  z-index: 101;
  position: relative;
  border-top: 1px solid rgba(0,0,0,0.06);
}

.post-area.masonry.classic_enhanced .post.wide_tall.format-video .video-play-button {
  display: none;
}

.post-area.masonry.classic_enhanced .post.format-link.has-post-thumbnail .post-featured-img,
 .post-area.masonry.classic_enhanced .post.format-quote.has-post-thumbnail .post-featured-img {
  display: none;
}

.span_12.light .masonry.classic_enhanced .masonry-blog-item h3.title,
.span_12.light .blog-recent[data-style="classic_enhanced"] h3.title {
  color: #444;
}

.masonry.classic_enhanced .masonry-blog-item .inner-wrap,
 .blog-recent[data-style*="classic_enhanced"] .inner-wrap {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0,0,0,.08);
}
 .blog-recent[data-style*="classic_enhanced"] .inner-wrap {
   -webkit-perspective: none;
   perspective: none;
 }

body:not(.ascend) .masonry.classic_enhanced .masonry-blog-item .inner-wrap {
  padding: 0;
}

body:not(.ascend) .masonry.classic_enhanced .post .content-inner {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-area.masonry.classic_enhanced .post.large_featured:not(.format-link):not(.format-quote) .content-inner {
  position: relative;
  width: 50%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}

.masonry.classic_enhanced .masonry-blog-item.post.large_featured .article-content-wrap {
  width: 100%;
  top: 50%;
  left: 0;
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.post-area.masonry.classic_enhanced .post:not(.wide_tall) .img-link {
  position: relative;
  display: block;
}

.post-area.masonry.classic_enhanced .post.large_featured .post-content {
  height: 100%;
}

.post-area.masonry.classic_enhanced .post.large_featured .img-link,
 .post-area.masonry.classic_enhanced .post.large_featured .nectar-flickity {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  z-index: 100;
}

.post-area.masonry.classic_enhanced .post.large_featured .post-featured-img,
 .post-area.masonry.classic_enhanced .post.wide_tall .nectar-flickity .cell,
 .post-area.masonry.classic_enhanced .post.large_featured .nectar-flickity .cell {
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #333;
  background-position: center;
}

.post-area.masonry.classic_enhanced .post.wide_tall .post-featured-img,
 .post-area.masonry.classic_enhanced .post.wide_tall .nectar-flickity,
 .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-featured-img {
  position: absolute;
  background-size: cover;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-position: center;
  background-color: #777;
}

.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-featured-img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap > .img-link {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
}

.post-area.masonry.classic_enhanced .post.wide_tall.format-quote .post-featured-img,
.post-area.masonry.classic_enhanced .post.wide_tall.format-link .post-featured-img {
  opacity: 0.1;
}

.post-area.masonry.classic_enhanced .post.wide_tall .flickity-slider .cell,
 .post-area.masonry.classic_enhanced .post.wide_tall .flickity-viewport,
 .post-area.masonry.classic_enhanced .post.large_featured .flickity-slider .cell,
 .post-area.masonry.classic_enhanced .post.large_featured .flickity-viewport {
  height: 100%!important;
}

.post-area.masonry.classic_enhanced .post.wide_tall .meta-category,
.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .meta-category {
  z-index: 1000;
  display: block;
  position: relative;
}

.post-area.masonry.classic_enhanced .post.wide_tall h3,
.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap h3,
body .blog-recent[data-style="classic_enhanced_alt"][data-color-scheme="light"] h3.title,
.span_12.light .post-area.masonry.classic_enhanced .post.wide_tall h3 {
  color: #fff;
}

.post-area.masonry.classic_enhanced article h3:hover a {
  color: inherit;
}

.post-area.masonry.classic_enhanced .post.wide_tall .inner-wrap:after,
.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap:after {
  background: -webkit-linear-gradient(to bottom,rgba(255,255,255,0) -2%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.04) 44%,rgba(0,0,0,0.25) 100%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom,rgba(255,255,255,0) -2%,rgba(0,0,0,0) 35%,rgba(0,0,0,0.04) 44%,rgba(0,0,0,0.25) 100%,rgba(0,0,0,0.5) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  z-index: 11;
  border-radius: 4px;
  content: ' ';
}

.post-area.masonry.classic_enhanced .post.wide_tall:not(.format-quote):not(.format-link) .inner-wrap:before,
.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap:before {
  background-color: rgba(0,0,0,0.43);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  content: ' ';
}

.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap:before {
  background-color: rgba(0,0,0,0.55);
  border-radius: 4px;
}

.masonry.classic_enhanced .post.wide_tall .post-meta a,
.masonry.classic_enhanced .wide_tall .post-header,
 .masonry.classic_enhanced .post.wide_tall .excerpt,
 .masonry.classic_enhanced .post.wide_tall .nectar-love span,
 .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-meta a,
 .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-header,
 .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .excerpt,
 .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .nectar-love span {
  color: rgba(255,255,255,0.9);
}

.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .nectar-love span {
  color: rgba(255,255,255,0.9);
}

.post-area.masonry.classic_enhanced .post.wide_tall .post-meta,
.blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-meta {
  border-color: rgba(255,255,255,0.15);
}

.post-area.masonry.classic_enhanced .post.wide_tall .article-content-wrap {
  position: absolute;
  z-index: 100;
  top: 50%;
  background-color: transparent;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 0;
  width: 100%;
  padding: 20%;
}

.post-area.masonry.classic_enhanced .post.large_featured .post-meta {
  bottom: 0;
  top: auto;
  left: 0;
  z-index: 1000;
  width: 50%;
  position: absolute;
}

.masonry.classic_enhanced .masonry-blog-item.post.large_featured .article-content-wrap {
  padding: 21%;
}

.masonry.classic_enhanced .masonry-blog-item h3.title {
  line-height: 26px;
}

.post-area.masonry.classic_enhanced .post.quote .post-content .quote-inner,
.post-area.masonry.classic_enhanced .post.link .post-content .link-inner {
  padding: 0;
}

.post-area.masonry.classic_enhanced .post.quote .post-content,
.post-area.masonry.classic_enhanced .post.quote .content-inner,
 .post-area.masonry.classic_enhanced .post.quote .quote-inner,
 .post-area.masonry.classic_enhanced .post.link .post-content,
 .post-area.masonry.classic_enhanced .post.link .content-inner,
 .post-area.masonry.classic_enhanced .post.link .link-inner,
 .post-area.masonry.classic_enhanced .post.wide_tall .post-content,
 .post-area.masonry.classic_enhanced .post.wide_tall .content-inner,
 .post-area.masonry.classic_enhanced .post.wide_tall .conent-inner a {
  height: 100%;
}

.post-area.masonry.classic_enhanced .quote-wrap,
.post-area.masonry.classic_enhanced .link-wrap,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-standard .article-content-wrap,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-video .article-content-wrap,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-audio .article-content-wrap {
  padding: 17%!important;
  display: block;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  top: 50%;
  z-index: 10;
  left: 0;
  position: absolute;
}

.post-area.masonry.classic_enhanced .large_featured .quote-wrap,
.post-area.masonry.classic_enhanced .large_featured .link-wrap {
  padding: 10.5%!important;
}

@media only screen and (min-width:1000px) {
  .blog-recent[data-style*="classic_enhanced"] .inner-wrap:not(.has-post-thumbnail) .article-content-wrap {
    padding: 17%;
    display: block;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    top: 50%;
    z-index: 10;
    left: 0;
    position: absolute;
  }
}

.blog-recent[data-style*="classic_enhanced"] .inner-wrap:not(.has-post-thumbnail) .article-content-wrap {
  width: 100%;
}

.masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-standard .content-inner,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-standard .post-content,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-video .content-inner,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-video .post-content,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-audio .post-content,
 .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-audio .content-inner {
  height: 100%;
}

.masonry.classic_enhanced .posts-container article .video-play-button svg {
  width: 16px;
  height: 16px;
  display: block;
}

.masonry.classic_enhanced .posts-container article .video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -webkit-transition: all .21s cubic-bezier(.5,.5,.4,.88);
  transition: all .21s cubic-bezier(.5,.5,.4,.88);
  color: #fff;
  font-size: 40px;
  z-index: 1000;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
}

.masonry.classic_enhanced .posts-container .format-audio:hover .video-play-button,
.masonry.classic_enhanced .posts-container .format-video:hover .video-play-button {
  transform: translateY(-50%) translateX(-50%) scale(1.18);
  -webkit-transform: translateY(-50%) translateX(-50%) scale(1.18);
  box-shadow: 0 5px 8px 0 rgba(0,0,0,.17);
}

.masonry.classic_enhanced .posts-container article:not(.has-post-thumbnail) .video-play-button,
.masonry.classic_enhanced .posts-container .wide_tall .video-play-button {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 20px;
  transform: none;
  -webkit-transform: none;
}

.masonry.classic_enhanced .posts-container article:not(.has-post-thumbnail):hover .video-play-button,
.masonry.classic_enhanced .posts-container .wide_tall:hover .video-play-button {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.masonry.classic_enhanced .posts-container .large_featured .video-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.post-area.masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-audio .post-meta.no-img,
 .post-area.masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-video .post-meta.no-img,
 .post-area.masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-standard .post-meta.no-img,
 .post-area.masonry.classic_enhanced .post.wide_tall .post-meta,
 .blog-recent[data-style="classic_enhanced_alt"] .inner-wrap .post-meta {
  position: absolute!important;
  bottom: 0;
  top: auto!important;
  left: 0;
  z-index: 101;
  width: 100%;
}

@media only screen and (min-width:1000px) {
  .masonry.classic_enhanced .masonry-blog-item.large_featured h3.title {
    font-size: 30px;
    line-height: 36px;
  }
}

@media only screen and (min-width: 1000px) {
  .blog-recent[data-style*="classic_enhanced"].related-posts .col {
    margin-bottom: 0;
  }
}

.blog-recent[data-style*="classic_enhanced"].related-posts .article-content-wrap {
  padding: 30px;
}

.blog-recent[data-style*="classic_enhanced"].related-posts .article-content-wrap .post-header {
  margin-bottom: 0;
}

.blog-recent[data-style*="classic_enhanced"].related-posts .post-meta {
  padding: 10px 21px;
}

.blog-recent[data-style*="classic_enhanced"].related-posts .inner-wrap {
  padding-bottom: 52px!important;
}

.container-wrap[data-remove-post-author="1"][data-remove-post-date="1"] .blog-recent[data-style*="classic_enhanced"].related-posts .inner-wrap {
  padding-bottom: 0!important;
}

.post-area.masonry.classic_enhanced .post .post-meta >*,
 .blog-recent[data-style*="classic_enhanced"] .post-meta >* {
  margin-right: 13px;
  margin-left: 0;
}

.post-area.masonry.classic_enhanced .post .content-inner {
  position: static;
}

.post-area.masonry.classic_enhanced .post .post-meta >*:last-child,
.blog-recent[data-style*="classic_enhanced"] .post-meta >*:last-child {
  margin-right: 0;
}

.post-area.masonry.classic_enhanced .post .post-meta .nectar-love,
 .blog-recent[data-style*="classic_enhanced"] .post-meta .nectar-love {
  margin-left: 0;
}

.post-area.masonry.classic_enhanced .post .post-meta .nectar-love .icon-salient-heart,
 .post-area.masonry.classic_enhanced .post.large_featured .post-featured-img img,
 .post-area.masonry.classic_enhanced .post.wide_tall .post-featured-img img,
 .blog-recent[data-style*="classic_enhanced_alt"] .post-featured-img img,
 .post-area.masonry.classic_enhanced .post.wide_tall .nectar-flickity .cell img,
 .post-area.masonry.classic_enhanced .post.large_featured .nectar-flickity .cell img {
  display: none;
}

.masonry.classic_enhanced .masonry-blog-item .article-content-wrap,
 .blog-recent[data-style*="classic_enhanced"] .article-content-wrap {
  padding: 17%;
  position: relative;
  z-index: 100;
  background-color: #fff;
}

.masonry.classic_enhanced .masonry-blog-item h3.title,
.blog-recent[data-style*="classic_enhanced"] h3.title {
  margin-bottom: 0;
}
.blog-recent[data-style*="classic_enhanced"][data-color-scheme="light"] h3.title {
  color: #000;
}

@media only screen and (max-width: 690px) {

  .post-area.masonry.classic_enhanced .post.large_featured:not(.format-link):not(.format-quote) .content-inner {
    width: 100%;
    height: auto;
    position: static;
  }

  body .masonry.classic_enhanced .masonry-blog-item.post.large_featured .article-content-wrap,
  body .post-area.masonry.classic_enhanced .post.wide_tall .article-content-wrap,
  .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-audio .article-content-wrap {
    position: relative;
    -webkit-transform: none;
    transform: none;
    top: auto;
    height: auto!important;
    padding: 17%;
  }

  .post-area.masonry.classic_enhanced .post.large_featured .post-meta,
     .post-area.masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-standard .post-meta.no-img,
     .post-area.masonry.classic_enhanced .quote-wrap,
     .post-area.masonry.classic_enhanced .link-wrap,
     .post-area.masonry.classic_enhanced .post.wide_tall .post-meta {
    position: relative;
    width: 100%!important;
  }

  body .post-area.masonry.classic_enhanced .post.wide_tall .article-content-wrap {
    padding: 30% 17%;
  }

  .post-area.masonry.classic_enhanced .post.wide_tall .post-meta {
    position: absolute;
  }

  .post-area.masonry.classic_enhanced .post.large_featured .nectar-flickity {
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    z-index: 110;
  }

  body .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-standard .article-content-wrap,
  body .masonry.classic_enhanced .masonry-blog-item:not(.has-post-thumbnail).regular.format-video .article-content-wrap,
  .post-area.masonry.classic_enhanced .quote-wrap,
  .post-area.masonry.classic_enhanced .link-wrap {
    height: auto!important;
    -webkit-transform: none;
    transform: none;
    position: relative;
  }

  .post-area.masonry.classic_enhanced .post.large_featured .meta-category a {
    color: #fff;
    border: 2px solid rgba(255,255,255,0.5);
  }

  .post-area.masonry.classic_enhanced .post.large_featured .img-link {
    position: relative;
    width: 100%;
    height: 280px;
  }

  .post-area.masonry.classic_enhanced .post.large_featured,
     .post-area.masonry.classic_enhanced .post.regular .article-content-wrap,
     .post-area.masonry.classic_enhanced .post.regular.format-standard.has-post-thumbnail,
     .post-area.masonry.classic_enhanced .post.regular.format-video.has-post-thumbnail,
     .post-area.masonry.classic_enhanced .post.regular.format-audio.has-post-thumbnail,
     .masonry.classic_enhanced .masonry-blog-item {
    height: auto!important;
  }

  .post-area.masonry.classic_enhanced .posts-container:not(.meta-moved) .post-content > .post-meta {
    opacity: 0;
    position: absolute!important;
  }
}

@media only screen and (min-width : 690px) and (max-width : 999px) {
  body .post-area.masonry.classic_enhanced.span_9 .masonry-blog-item.large_featured {
    width: 99%;
  }
}

@media only screen and (min-width: 1600px) {
  .post-area.full-width-content.classic_enhanced .masonry-blog-item,
  .full-width-content .post-area.classic_enhanced .masonry-blog-item {
    width: 18.5%;
  }
  body .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 63.66%;
  }

  body .blog-fullwidth-wrap .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 58.5%;
  }

  body .post-area.masonry.classic_enhanced.span_9 .masonry-blog-item.large_featured {
    width: 97.5%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1600px) {

  body .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 64.1%;
  }

  body .blog-fullwidth-wrap .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 73%;
  }

  body .post-area.masonry.classic_enhanced.span_9 .masonry-blog-item.large_featured {
    width: 97.5%;
  }
}

@media only screen and (min-width: 990px) and (max-width: 1300px) {

  body .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 100%;
  }

  body .blog-fullwidth-wrap .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 97.2%;
  }

  body .post-area.masonry.classic_enhanced.span_9 .masonry-blog-item.large_featured {
    width: 97.5%;
  }
}

@media only screen and (min-width: 470px) and (max-width: 990px) {

  body .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 97%;
  }

  body .blog-fullwidth-wrap .post-area.masonry.classic_enhanced .masonry-blog-item.large_featured {
    width: 97%;
  }
}
