/*
Theme Name:  Salient
Description: Styles for the "Masonry Meta Overlaid" post style.
*/

.post-area.masonry.meta_overlaid{
    margin-bottom:0
}
 .post-area.masonry.meta_overlaid .posts-container{
    overflow:hidden
}
 body[data-ext-responsive="true"] .post-area.masonry.meta_overlaid{
    width:100%
}
 body.blog .post-area.masonry.meta_overlaid.infinite_scroll #pagination{
    margin-bottom:0;
}
 body .masonry.meta_overlaid .masonry-blog-item .article-content-wrap{
    padding:20px
}
 body .masonry.meta_overlaid .masonry-blog-item .article-content-wrap >*:not(.post-header){
    display:none
}
 .post-area.masonry.meta_overlaid .post .post-meta{
     margin: 0 0 3px;
     line-height:26px
}
 .post-area.masonry.meta_overlaid .post.wide_tall .post-meta, 
 .post-area.masonry.meta_overlaid .post.large_featured .post-meta{
    margin:6px 0 6px
}
 body .post-area.masonry.meta_overlaid article.post .post-meta .date,
 body .post-area.masonry.meta_overlaid .post.quote .quote-inner .author,
 body .post-area.masonry.meta_overlaid .post.link .post-content .destination{
    float:none!important;
    font-size:12px
}
 .post-area.masonry.meta_overlaid article .post-header{
    font-size:12px
}
body .meta_overlaid .post .post-header h3 {
    font-size:18px;
     margin-bottom:6px
}
 body .masonry.meta_overlaid .masonry-blog-item .article-content-wrap .meta-category, 
 body .masonry.meta_overlaid .masonry-blog-item .article-content-wrap .meta-comment-count{
    display:none
}
 body .masonry.meta_overlaid .masonry-blog-item{
    margin-bottom:0
}
 body .masonry.meta_overlaid .masonry-blog-item .post-featured-img:before{
     background:-moz-linear-gradient(center top,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.06) 16%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.6) 100%) repeat scroll 0 0 rgba(0,0,0,0);
     background:-webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.06) 16%,rgba(0,0,0,0.4) 75%,rgba(0,0,0,0.6) 100%);
     bottom:0;
     content:"";
     display:block;
     height:50%;
     left:0;
     position:absolute;
     transition:all 300ms cubic-bezier(0.42,0,0.58,1) 0s;
     width:100%;
     opacity:1;
     z-index:1
}
 body .masonry.meta_overlaid .masonry-blog-item:hover .post-featured-img:before{
     opacity:1
}
 body .masonry.meta_overlaid .masonry-blog-item .post-featured-img img{
    transition:opacity 300ms cubic-bezier(0.42,0,0.58,1) 0s;
     opacity:0.85
}
body .masonry.meta_overlaid .masonry-blog-item .post-featured-img img.nectar-lazy:not(.loaded) {
	opacity: 0;
}
 body .masonry.meta_overlaid .masonry-blog-item:hover .post-featured-img:hover img{
    opacity:1
}
 body .masonry.meta_overlaid .content-inner >a{
    height:100%
}
 body .masonry.meta_overlaid .content-inner >a >.post-featured-img{
    background-color:#000
}
 .masonry.meta_overlaid .masonry-blog-item .bottom-line, 
 .masonry.meta_overlaid .masonry-blog-item .more-link{
    display:none
}
 .masonry.meta_overlaid .masonry-blog-item, 
 .masonry.meta_overlaid .masonry-blog-item .mejs-container .mejs-controls{
    box-shadow:none
}
 .masonry.meta_overlaid .masonry-blog-item .post-meta{
    padding:0 18px 0 18px
}
 .masonry.meta_overlaid .post .nectar-love-wrap{
    line-height:20px
}
 .masonry.meta_overlaid .masonry-blog-item{
    padding:0
}
 .masonry.meta_overlaid .masonry-blog-item .content-inner .post-featured-img img, 
 .masonry.meta_overlaid .masonry-blog-item .more-link, 
 .masonry.meta_overlaid .post .quote-inner, 
 .masonry.meta_overlaid .post .link-inner, 
 .masonry.meta_overlaid .post .status-inner, 
 .masonry.meta_overlaid .post .aside-inner,
.masonry.meta_overlaid .masonry-blog-item .content-inner.gallery-slider img{
    margin-bottom:0!important
}
 .masonry.meta_overlaid .masonry-blog-item .content-inner{
    padding-bottom:0;
     border:0;
     margin-bottom:0
}

 .masonry.meta_overlaid .post.quote .post-content .post-meta,
 .masonry.meta_overlaid .post.link .post-content .post-meta,
 .masonry.meta_overlaid .format-status .post-content .post-meta,
 .masonry.meta_overlaid .post.format-aside .post-meta{
     display:none
}
 .masonry.meta_overlaid .post .post-header h3 a,
 .masonry.meta_overlaid .post .post-header,
 .masonry.meta_overlaid .post .post-header h3 a:hover{
    color:#fff
}
 .masonry.meta_overlaid .post .post-header h3 a{
    display:block
}
 body .masonry.meta_overlaid .content-inner >a, 
 body .masonry.meta_overlaid .content-inner >a >span{
    display:block;
     line-height:1px
}
 body .masonry.meta_overlaid article.post .post-header .meta-author span{
    font-size:13px
}
 body .masonry.meta_overlaid .post .post-header .meta-author a{
    margin-left:4px;
     color:#fff;
     transition:opacity 0.2s linear;
     -webkit-transition:opacity 0.2s linear;
}
 body .masonry.meta_overlaid .post .post-header .meta-author a:hover{
    opacity:0.85
}
 body .masonry.meta_overlaid .masonry-blog-item .article-content-wrap{
    position:absolute;
     bottom:10px;
     width:100%;
     z-index:10;
     text-align:center
}
 body .post-area.masonry.meta_overlaid .masonry-blog-item.wide_tall .post-meta .date,
 body .post-area.masonry.meta_overlaid .masonry-blog-item.large_featured .post-meta .date{
    font-size:16px
}


body .post-area.masonry.meta_overlaid .masonry-blog-item.large_featured {
  width: 100%!important;
}

@media only screen and (min-width: 690px) {
   body .masonry.meta_overlaid .masonry-blog-item.wide_tall h3.title, 
   body .masonry.meta_overlaid .masonry-blog-item.large_featured h3.title{
      font-size:30px;
      line-height: 36px;
      margin-bottom:12px
  }
}

 body .masonry.meta_overlaid .post .content-inner, 
 body .masonry.meta_overlaid .post .post-content, 
 body .masonry.meta_overlaid .post.quote .post-content .quote-inner, 
 body .masonry.meta_overlaid .post .post-content .link-inner, 
 body .masonry.meta_overlaid .post.format-link .content-inner a{
    height:100%!important;
     width:100%!important
}
 body .masonry.meta_overlaid .link-inner .link-wrap,
 body .masonry.meta_overlaid .quote-inner .quote-wrap{
    position:relative;
     top:50%;
     transform:translateY(-50%);
     -webkit-transform:translateY(-50%);
     display:block;
     z-index:100;
     padding:0 12%
}
 body .masonry.meta_overlaid .post-content{
    min-height:40px
}
 body .post-area.masonry.meta_overlaid.span_9{
    padding-right:40px
}
 .post-area.masonry.meta_overlaid .post .quote-inner, 
 .post-area.masonry.meta_overlaid .post .link-inner, 
 .post-area.masonry.meta_overlaid .post .status-inner, 
 .post-area.masonry.meta_overlaid .post .aside-inner{
    text-align:center;
     overflow:hidden
}
 
 
@media only screen and (min-width: 1600px) {
  body .post-area.masonry.meta_overlaid .masonry-blog-item.wide_tall,
  body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-quote,
  body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-link {
    width: 50%;
  }
  
  body .post-area.masonry.meta_overlaid .masonry-blog-item.regular,
	#boxed .post-area.full-width-content.meta_overlaid .masonry-blog-item.regular, 
  #boxed .full-width-content .post-area.meta_overlaid .masonry-blog-item.regular {
    width: 25%;
  }
  
} 


@media only screen and (min-width: 1300px) and (max-width: 1600px) { 
  
  body .post-area.masonry.meta_overlaid .masonry-blog-item.regular {
    width: 25%;
  }

  body .post-area.masonry.meta_overlaid .masonry-blog-item.wide_tall,
  body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-quote,
  body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-link {
    width: 50%;
  }

  body .post-area.masonry.meta_overlaid .masonry-blog-item.regular h3.title {
    font-size: 16px;
    line-height: 22px;
  }

  body .masonry.meta_overlaid .post .post-header .meta-author a {
    font-size: 11px;
  }

  body .masonry.meta_overlaid .post .post-header .meta-author span {
    font-size: 13px;
  }
  
}


@media only screen and (min-width: 990px) and (max-width: 1300px) {
	body .post-area.masonry.meta_overlaid .masonry-blog-item.regular {
    width: 25%;
  }
	
  body .masonry.meta_overlaid .post .post-header .meta-author a {
    font-size: 11px;
  }

  body .masonry.meta_overlaid .post .post-header .meta-author span {
    font-size: 13px;
  }

  body .post-area.masonry.meta_overlaid .masonry-blog-item.wide_tall,
	body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-quote,
	body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-link {
    width: 25%;
  }

  body .post-area.masonry.meta_overlaid .masonry-blog-item.regular h3.title {
    font-size: 14px;
    line-height: 20px;
  }

}

@media only screen and (min-width: 470px) and (max-width: 990px) {

	body .post-area.masonry.meta_overlaid .masonry-blog-item.regular {
    width: 50%;
  }

  body .post-area.masonry.meta_overlaid .masonry-blog-item.wide_tall,
	body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-quote,
	body .post-area.masonry.meta_overlaid.span_9 .masonry-blog-item.regular.format-link {
    width: 100%;
  }

  body .post-area.masonry.meta_overlaid .masonry-blog-item.regular h3.title {
    font-size: 16px;
    line-height: 20px;
  }
	
}

@media only screen and (max-width: 690px) and (min-width: 470px) {
  body .post-area.masonry.meta_overlaid .masonry-blog-item.format-quote.regular,
	body .post-area.masonry.meta_overlaid .masonry-blog-item.format-link.regular,
	body .post-area.masonry.meta_overlaid .masonry-blog-item.format-quote.regular_2x,
	body .post-area.masonry.meta_overlaid .masonry-blog-item.format-link.regular_2x {
    width: 100%;
  }

}


@media only screen and (max-width: 690px) {
  .post-area.masonry.meta_overlaid .post .post-content > .post-meta {
    display: none!important;
  }

  #ajax-content-wrap .masonry.meta_overlaid .quote-inner .quote-wrap,
  #ajax-content-wrap .masonry.meta_overlaid .link-inner .link-wrap {
    -webkit-transform: none;
    transform: none;
    top: 0;
    position: relative;
  }
}


@media only screen and (max-width: 470px) {
  
  body .post-area.masonry.meta_overlaid .masonry-blog-item.wide_tall,
  body .post-area.masonry.meta_overlaid .masonry-blog-item.format-quote.regular,
  body .post-area.masonry.meta_overlaid .masonry-blog-item.format-link.regular,
  body .post-area.masonry.meta_overlaid .masonry-blog-item.format-quote.regular_2x,
  body .post-area.masonry.meta_overlaid .masonry-blog-item.format-link.regular_2x {
    width: 100%;
  }
  
  body .post-area.masonry.meta_overlaid .masonry-blog-item.regular {
    width: 50%;
  }
  
  .masonry.meta_overlaid .post.wide_tall .content-inner .post-featured-img img {
    height: auto!important;
  }
  
  #ajax-content-wrap .masonry.meta_overlaid .link-inner .link-wrap, 
  #ajax-content-wrap .masonry.meta_overlaid .quote-inner .quote-wrap {
    transform: none;
    -webkit-transform: none;
    top: 0;
  }
  
  body #ajax-content-wrap .post-area.masonry.meta_overlaid .masonry-blog-item.wide_tall .post-meta .date, 
  body #ajax-content-wrap .post-area.masonry.meta_overlaid .masonry-blog-item.large_featured .post-meta .date {
    font-size: 13px;
  }

  #ajax-content-wrap .post-area.masonry.meta_overlaid .post.wide_tall .post-meta, 
  #ajax-content-wrap .post-area.masonry.meta_overlaid .post.large_featured .post-meta {
    margin: -1px 0;
  }

  #ajax-content-wrap .masonry.meta_overlaid .masonry-blog-item .article-content-wrap {
    padding-bottom: 0;
  }

  body .masonry.meta_overlaid .post .post-header .meta-author a {
    font-size: 11px;
  }

  body .masonry.meta_overlaid .post .post-header .meta-author span {
    font-size: 11px;
  }


}