/*
Theme Name:  Salient
Description: "Header Permanent Transparent" enabled in theme options
*/

.admin-bar #header-outer[data-permanent-transparent="1"],
.logged-in.buddypress #header-outer[data-permanent-transparent="1"] {
  top: 32px;
}

#top #logo.no-image {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent {
  pointer-events: none;
}
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent .span_9,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent .span_3,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent .right-aligned-menu-items,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent #header-secondary-outer,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent #mobile-menu {
  pointer-events: all;
}

#header-outer[data-permanent-transparent="1"][data-transparent-header="true"][data-transparent-shadow-helper="true"].transparent:not(.dark-slide) {
  background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 99%);
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent {
  background-color: transparent!important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] #header-outer.light-text #top nav ul .slide-out-widget-area-toggle a .lines,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] #header-outer.dark-text #top nav ul .slide-out-widget-area-toggle a .lines,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] #header-outer.dark-text #top nav >ul >li >a,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] #header-outer.dark-text nav >ul >li >a >.sf-sub-indicator [class^="icon-"],
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].ascend #boxed #header-outer.dark-text .cart-menu .cart-icon-wrap .icon-salient-cart {
  opacity: 1;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent #top nav ul .slide-out-widget-area-toggle a .lines,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent #top nav ul a .icon-salient-search,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent #top nav ul #nectar-user-account a span,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .has_products .cart-menu .cart-icon-wrap .icon-salient-cart,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .cart-menu .cart-icon-wrap .icon-salient-cart,
#header-outer[data-permanent-transparent="1"][data-header-button_style="shadow_hover_scale"].transparent #top nav ul .slide-out-widget-area-toggle[data-custom-color="true"] a:hover .lines,
body.material #header-outer[data-permanent-transparent="1"][data-header-button_style="shadow_hover_scale"].transparent #top nav ul .slide-out-widget-area-toggle[data-custom-color="true"] a:hover .lines-button:after,
body:not(.material) #header-outer[data-permanent-transparent="1"][data-header-button_style="shadow_hover_scale"].transparent #top nav ul .slide-out-widget-area-toggle[data-custom-color="true"] a:hover .lines-button:after {
  opacity: 1!important;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent #top nav ul .slide-out-widget-area-toggle a:hover .lines,
body[data-bg-header="true"]:not(.material) #header-outer[data-permanent-transparent="1"].transparent #top nav ul .slide-out-widget-area-toggle a:hover .lines-button:after,
body[data-bg-header="true"].material #header-outer[data-permanent-transparent="1"].transparent #top nav ul .slide-out-widget-area-toggle a:hover .lines-button:after,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"].transparent #top nav ul a:hover .icon-salient-search,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .has_products .cart-menu:hover .cart-icon-wrap .icon-salient-cart,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .cart-menu:hover .cart-icon-wrap .icon-salient-cart {
  opacity: 0.8!important;
}

body[data-bg-header="true"].ascend #header-outer[data-permanent-transparent="1"][data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #search-btn a:after,
body[data-bg-header="true"].ascend #header-outer[data-permanent-transparent="1"][data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul #nectar-user-account a:after,
body[data-bg-header="true"].ascend #header-outer[data-permanent-transparent="1"][data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] #top nav ul .slide-out-widget-area-toggle a:after,
body[data-bg-header="true"].ascend #header-outer[data-permanent-transparent="1"][data-transparent-header="true"][data-full-width="true"][data-remove-border="true"] .cart-contents:after {
  border: none!important;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .lines-button.x2 .lines,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .lines-button.x2 .lines:before,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .lines-button.x2 .lines:after,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .slide-out-widget-area-toggle a i.label,
#header-outer[data-permanent-transparent="1"].transparent:not(.side-widget-open) #top nav ul .slide-out-widget-area-toggle a .lines-button:after {
  opacity: 1!important;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .lines-button.x2 .lines:before,
body #header-outer[data-permanent-transparent="1"] .lines-button.x2 .lines:after {
  opacity: 1;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .lines-button.x2.close .lines,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .lines-button.x2.close .lines:before,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .lines-button.x2.close .lines:after {
  -webkit-transition: top 0.5s ease,-webkit-transform 0.3s 0.4s ease,background-color 0.2s ease,opacity 0.2s ease;
  transition: top 0.5s ease,transform 0.3s 0.4s ease,background-color 0.2s ease,opacity 0.2s ease;
}

body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .slide-out-widget-area-toggle .lines-button.x2.close .lines,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .slide-out-widget-area-toggle .lines-button.x2.close .lines:before,
body[data-bg-header="true"] #header-outer[data-permanent-transparent="1"] .slide-out-widget-area-toggle .lines-button.x2.close .lines:after {
  -webkit-transition: top 0.5s ease,-webkit-transform 0.3s ease,background-color 0.2s ease,opacity 0.2s ease;
  transition: top 0.5s ease,transform 0.3s ease,background-color 0.2s ease,opacity 0.2s ease;
}

#header-outer[data-transparent-header="true"][data-format="centered-menu-under-logo"][data-permanent-transparent="1"] #logo .dark-version,
#header-outer[data-transparent-header="true"][data-format="centered-menu-bottom-bar"][data-permanent-transparent="1"] #logo .dark-version {
  position: absolute;
}

body #header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) > #top .span_9 > .slide-out-widget-area-toggle .lines-button:after,
body #header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) > #top .span_9 > .slide-out-widget-area-toggle .lines:before,
body #header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) > #top .span_9 > .slide-out-widget-area-toggle .lines:after {
  background-color: #fff!important;
}

#header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) #top #mobile-cart-link i,
#header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) .mobile-search .icon-salient-search,
#header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) .mobile-user-account .icon-salient-m-user {
  color: #fff;
}

#header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) #top #mobile-cart-link i {
  color: #fff!important;
}

body #header-outer[data-permanent-transparent="1"].transparent.dark-slide > #top .span_9 > .slide-out-widget-area-toggle .lines-button:after,
body #header-outer[data-permanent-transparent="1"].transparent.dark-slide > #top .span_9 > .slide-out-widget-area-toggle .lines:before,
body #header-outer[data-permanent-transparent="1"].transparent.dark-slide > #top .span_9 > .slide-out-widget-area-toggle .lines:after {
  background-color: #000!important;
}

#header-outer[data-permanent-transparent="1"].transparent.dark-slide #top #mobile-cart-link i,
#header-outer[data-permanent-transparent="1"].transparent.dark-slide .mobile-search .icon-salient-search,
#header-outer[data-permanent-transparent="1"].transparent.dark-slide .mobile-user-account .icon-salient-m-user {
  color: #000;
}

#header-outer[data-permanent-transparent="1"].transparent.dark-slide #top #mobile-cart-link i {
  color: #000!important;
}

#header-outer[data-permanent-transparent="1"][data-transparent-header="true"].transparent #logo img {
  opacity: 0;
}

#header-outer[data-permanent-transparent="1"][data-transparent-header="true"].transparent:not(.dark-slide) #logo .starting-logo {
  opacity: 1;
  -ms-filter: 'alpha(opacity=100)';
}

#header-outer[data-permanent-transparent="1"][data-transparent-header="true"].transparent.dark-slide #logo .starting-logo.dark-version {
  opacity: 1;
  -ms-filter: 'alpha(opacity=100)';
}

#header-outer[data-permanent-transparent="1"][data-transparent-header="true"].transparent:not(.dark-slide) #logo img.dark-version,
#header-outer[data-permanent-transparent="1"][data-transparent-header="true"].transparent.dark-slide  #logo img:not(.dark-version) {
  opacity: 0!important;
}

body.material #search-outer.material-open {
  pointer-events: all;
}

@media only screen and (min-width : 1000px) {
  #header-outer[data-format="centered-menu-under-logo"][data-permanent-transparent="1"] #top #logo img.dark-version,
  #header-outer[data-format="centered-menu-bottom-bar"][data-permanent-transparent="1"] #top #logo img.dark-version {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}


@media only screen and (min-width : 1px) and (max-width : 999px) {

  body #header-outer[data-permanent-transparent="1"].transparent.dark-slide #top .span_3 #logo[data-supplied-ml-starting-dark="true"] img.mobile-only-logo.starting-logo.dark-version {
    opacity: 1!important;
  }

  body #header-outer[data-permanent-transparent="1"].transparent.dark-slide #top .span_3 #logo[data-supplied-ml-starting="true"] img.mobile-only-logo.starting-logo:not(.dark-version),
  body #header-outer[data-permanent-transparent="1"].transparent:not(.dark-slide) #top .span_3 #logo[data-supplied-ml-starting-dark="true"] img.mobile-only-logo.starting-logo.dark-version {
    opacity: 0!important;
  }
}
