/*
Theme Name:  Salient
Description: "Secondary Header Bar" enabled in theme options
*/

body[data-header-color="dark"] #header-secondary-outer{
    background-color:#111;
     border-bottom:1px solid #444
}

 body[data-header-color="dark"] #header-secondary-outer nav >ul >li >a{
    border-left:1px solid #222
}

 body[data-header-color="dark"] #header-secondary-outer nav >ul >li:last-child{
    border-right:1px solid #272727
}

body[data-header-color="dark"] #header-secondary-outer nav >ul >li >a,
body[data-header-color="dark"] #header-secondary-outer nav >ul >li >a .sf-sub-indicator i,
body[data-header-color="dark"] #header-secondary-outer .nectar-center-text,
body[data-header-color="dark"] #header-secondary-outer .nectar-center-text a,
body[data-header-color="dark"] #header-secondary-outer #social li a i {
    color:#A0A0A0
}

 #header-secondary-outer ul ul li a{
    font-size:11px;
    transition:none;
    -webkit-transition:none;
}


.material #header-secondary-outer[data-lhe="animated_underline"] nav >.sf-menu >li >a:hover:after,
.material #header-secondary-outer[data-lhe="animated_underline"] nav >.sf-menu >li >a.current-menu-item:after{
     backface-visibility: hidden;
     -ms-transform:scaleX(1);
     -webkit-transform:scaleX(1);
     transform:scaleX(1)
}

body[data-dropdown-style="minimal"] #header-secondary-outer .sf-menu > li ul{
     height: auto;
}

#header-secondary-outer .container {
     position: static;
}
#header-secondary-outer,
#header-secondary-outer > .container,
#header-secondary-outer > .container > nav {
     min-height: 34px;
}

.material #header-secondary-outer{
     min-height: 42px;
}
.material #header-secondary-outer > .container,
.material #header-secondary-outer > .container > nav {
  min-height: 40px;
}

#header-secondary-outer .nectar-center-text {
     text-align: center;
     padding: 0 130px;
     font-size: 14px;
     line-height: 14px;
     width: 100%;
     position: absolute;
     left: 50%;
     top: 50%;
     z-index: 10;
     -webkit-transform: translateX(-50%) translateY(-50%);
     transform: translateX(-50%) translateY(-50%);
}

body #header-secondary-outer .nectar-center-text {
     font-size: 16px;
     line-height: 16px;
     max-width: 70%;
}
body #header-outer[data-format="centered-menu-bottom-bar"] #header-secondary-outer .nectar-center-text {
  max-width: 100%;
}

#header-secondary-outer .nectar-center-text a {
     color: inherit
}


@media only screen and (max-width: 999px) {

     body #header-secondary-outer[data-secondary-text="true"] ul {
         display: none;
    }
     #header-secondary-outer .nectar-center-text {
         padding: 0 15px;
    }
}

@media only screen and (max-width: 690px) {

     body.original #header-secondary-outer .nectar-center-text {
         display: none;
    }
     body.original #header-secondary-outer {
         display: none;
    }

}

#header-secondary-outer{
     position:relative;
     top:0px;
     left:0px;
     width:100%;
     z-index:10000;
     background-color:#F8F8F8;
     border-bottom:1px solid #ddd
}
 body[data-header-color="custom"]:not(.material) #header-secondary-outer{
    border-bottom:1px solid rgba(0,0,0,0.1)
}

#header-secondary-outer #social{
    float:left;
     position: relative;
}
#header-secondary-outer #social li{
    float:left
}
#header-secondary-outer #social li a {
    line-height:20px
}
#header-secondary-outer #social li a i {
    height:14px;
    line-height:14px;
    font-size:14px;
    color: rgba(0,0,0,0.55)
}

 #header-secondary-outer #social li a{
    position:relative;
    padding:8px 10px 8px 10px;
    height:16px;
    box-sizing: content-box;
}

#header-secondary-outer ul {
    height:32px;
    float: right;
    z-index:1000
}
#header-secondary-outer nav > ul > .nectar-megamenu-menu-item ul {
  float: none;
}
#header-secondary-outer nav {
  position: relative;
}
#header-secondary-outer nav >ul >li >a{
   color:rgba(0,0,0,0.55);
}

 body #header-secondary-outer nav >ul >li >a{
     border-left:1px solid #ddd;
     line-height:11px;
     font-size:11px;
     padding:10px
}
#header-secondary-outer .nectar-menu-label {
	padding: 3px 8px;
  font-size: 11px;
}
 body[data-header-color="custom"]:not(.material) #header-secondary-outer nav >ul >li >a{
    border-left:1px solid rgba(0,0,0,0.1)
}
 #header-secondary-outer nav >ul >li >a:hover,
 #header-secondary-outer nav >ul >.current-menu-item >a,
 #header-secondary-outer nav >ul >.current-menu-ancestor >a{
    color:rgba(0,0,0,0.8)
}
 #header-secondary-outer nav >ul >li >a .sf-sub-indicator {
    margin-right:5px;
     height:11px
}
 #header-secondary-outer nav >ul >li:last-child{
    border-right:1px solid #ddd
}
 body[data-header-color="custom"]:not(.material) #header-secondary-outer nav >ul >li:last-child{
    border-right:1px solid rgba(0,0,0,0.1)
}
 #header-secondary-outer nav >ul >li >a .sf-sub-indicator i {
    color:rgba(0,0,0,0.45);
    font-size: 14px;
}
 #header-secondary-outer ul ul li a{
    background-color:#1F1F1F;
     color:#CCC
}
 #header-secondary-outer ul >.menu-item-language-current > a {
    height:32px;
    padding-top:8px
}
 #header-secondary-outer #social li .behance,
 #header-secondary-outer #social li .vimeo{
    background-color:#a6a6a6;
     background-position:center;
     background-repeat:no-repeat;
     text-indent:-9999px
}

 #header-secondary-outer #social li .vimeo{
    width:15px
}
 #header-secondary-outer #social li .behance{
    width:17px
}
 #header-secondary-outer[data-full-width="true"] >.container{
    width:100%;
     max-width:100%;
     padding:0 28px
}
 #header-secondary-outer[data-full-width="true"] >.container nav >ul >li:last-child,
 #header-secondary-outer[data-full-width="true"] nav >ul#social >li:first-child >a{
    border:none
}


 body[data-header-color="dark"] #header-secondary-outer .current-menu-ancestor >a,
 body[data-header-color="dark"] #header-secondary-outer .current-menu-item >a,
 body[data-header-color="dark"] #header-secondary-outer .sfHover >a,
 body[data-header-color="dark"] #header-secondary-outer .sfHover >a i,
 body[data-header-color="dark"] #header-secondary-outer nav >ul >li a:hover,
 body[data-header-color="dark"] #header-secondary-outer nav >ul >li a:hover .sf-sub-indicator i {
    color:#fff!important
}

body[data-header-color="dark"] #header-secondary-outer nav >ul >li >a .sf-sub-indicator i {
    color:#A0A0A0!important
}

/*material*/
 body.material #header-secondary-outer nav >ul {
     height: auto;
     padding: 6px 0;
}
 body.material #header-secondary-outer nav >.sf-menu {
     padding: 9px 0 8px 0;
}
 body.material #header-secondary-outer .nectar-center-text {
     padding: 10px 0;
}
 body.material #header-secondary-outer nav:after {
     display: block;
     clear: both;
     content: '';
}
 body.material #header-secondary-outer nav >ul >li >a,
 body.material #header-secondary-outer #social li a {
     padding: 0;
     margin: 0 10px;
     height: auto;
}
 body.material #header-secondary-outer {
     border: 1px solid transparent;
}
 body.material #header-secondary-outer nav >ul >li >a{
    border-left: 0px;
     line-height:22px;
     font-size:12px;
}
 body.material #header-secondary-outer nav >ul >li:last-child {
     border-right: 0px;
}
 body.material #header-secondary-outer nav >ul >li:last-child > a {
     margin-right: 0;
     padding-right: 0;
}
 body.material #header-secondary-outer #social li a i {
     font-size: 16px;
}
 body.material #header-secondary-outer #social li a {
     line-height: 28px;
}
 body.material #header-secondary-outer #social li:first-child a {
     padding-left: 0;
     margin-left: 0;
}

@media only screen and (max-width: 999px) {

    #header-secondary-outer[data-mobile="display_full"] .nectar-center-text {
      position: relative;
      left: 0;
      top: 0;
      margin: 0px auto;
      -webkit-transform: none;
      transform: none;
    }
    body:not(.material) #header-secondary-outer[data-mobile="display_full"] .nectar-center-text {
        margin: 20px auto;
    }
     body #header-secondary-outer[data-mobile="display_full"] ul,
     body.original #header-secondary-outer[data-mobile="display_full"] .nectar-center-text,
     body.ascend #header-secondary-outer[data-mobile="display_full"] .nectar-center-text {
         display: block;
    }
    body.original #header-secondary-outer[data-mobile="display_full"] #social > li > a {
      border: none!important;
    }
    #header-secondary-outer[data-mobile="display_full"] #social,
    #header-secondary-outer[data-mobile="display_full"] ul {
      float: none;
      text-align: center;
      margin: 0 auto;
    }
    body.original #header-secondary-outer[data-mobile="display_full"],
    body.ascend #header-secondary-outer[data-mobile="display_full"],
    body.material #header-secondary-outer[data-mobile="display_full"] {
      display: block!important;
      height: auto!important;
  }
  body[data-dropdown-style] #header-secondary-outer[data-mobile="display_full"] .sf-menu > li ul {
    display: none!important;
  }
  
  #header-secondary-outer {
    top: -13px;
  }

}


@media only screen and (min-width : 690px) and (max-width : 999px) {

  body:not(.material) #header-secondary-outer[data-mobile="display_full"] nav > #social > li:last-child {
    border: none;
  }
}


@media only screen and (max-width : 690px) {
  body[data-header-format].material #header-secondary-outer {
    display: none;
    height: 0;
  }
  body #header-secondary-outer nav > ul > li,
  body #header-secondary-outer nav > ul > li a,
  #header-secondary-outer nav >ul >li:last-child {
    border: none;
  }

  body:not(.material) #header-secondary-outer nav .sf-menu {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  body:not(.material) #header-secondary-outer ul#social {
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 999px) {
  
  body[data-header-format] #header-secondary-outer {
    height: auto;
  }

  body:not(.material) #header-secondary-outer nav > ul,
  body:not(.material) #header-secondary-outer #social {
    float: none;
    width: 100%;
    text-align: center;
    height: auto;
  }

  #header-secondary-outer nav > ul > li > a .sf-sub-indicator {
    display: none;
  }

  #header-secondary-outer nav > ul > li,
  #header-secondary-outer #social li {
    display: inline-block;
    float: none;
  }

  #header-secondary-outer ul ul {
    z-index: 100000;
  }

  #header-secondary-outer ul li:hover {
    z-index: 1000;
  }

  #header-secondary-outer nav > ul > li ul li {
    text-align: left;
  }

  #header-secondary-outer #social li > a {
    height: 15px;
  }

  body:not(.material) #header-secondary-outer nav .sf-menu {
    border-top: 1px solid #DDDDDD;
  }
  
}
