/*
Theme Name:  Salient
Description: Off canvas menu core
*/

@media only screen and (min-width: 690px) {
  #slide-out-widget-area .secondary-header-text {
    display: none;
  }
}
@media only screen and (max-width: 999px) and (min-width: 690px) {
  body.original #slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu.secondary-header-items {
    display: none;
  }
}


/* hover effects */
.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li a:after,
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container li a:after,
.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .nectar-menu-item-with-icon span:after,
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container .nectar-menu-item-with-icon span:after {
  -webkit-transition:-webkit-transform .3s ease-out, border-color .3s ease-out;
  transition:transform .3s ease-out,border-color .3s ease-out;
  position:absolute;
  display:block;
  bottom:-6px;
  left:0;
  width:100%;
  -webkit-transform:scaleX(0);
  transform:scaleX(0);
  border-top:2px solid #000;
  content:'';
  padding-bottom:inherit
}

body #slide-out-widget-area .inner .off-canvas-menu-container .nectar-menu-item-with-icon,
#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container li .nectar-menu-item-with-icon,
body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li .nectar-menu-item-with-icon,
body.material #slide-out-widget-area.slide-out-from-right .off-canvas-menu-container li .nectar-menu-item-with-icon {
	display: flex;
  align-items: center;
}

body #slide-out-widget-area .inner .off-canvas-menu-container .nectar-menu-item-with-icon.nectar-menu-item-with-desc,
body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li .nectar-menu-item-with-icon.nectar-menu-item-with-desc,
body.material #slide-out-widget-area.slide-out-from-right .off-canvas-menu-container li .nectar-menu-item-with-icon.nectar-menu-item-with-desc {
  align-items: flex-start;
}

.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .nectar-menu-item-with-icon.nectar-menu-item-with-desc span:after,
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container .nectar-menu-item-with-icon.nectar-menu-item-with-desc span:after {
  bottom:0;
}


.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .nectar-menu-item-with-icon .menu-title-text:after,
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container .nectar-menu-item-with-icon .menu-title-text:after {
  border-color: inherit;
  transform-origin: left;
}

body #slide-out-widget-area.fullscreen-split .off-canvas-menu-container .nectar-menu-item-with-icon:after,
body #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .nectar-menu-item-with-icon:after {
  display: none!important;
}
.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .nectar-menu-item-with-icon .menu-title-text,
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container .nectar-menu-item-with-icon .menu-title-text {
  position: relative;
}

#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container li a {
	position: relative;
}

body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .current-menu-item > a:after,
body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li a:hover:after,
body.material #slide-out-widget-area[class="slide-out-from-right"] .off-canvas-menu-container li a:focus:after,
#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container .current-menu-item > a:after,
#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container li a:hover:after,
#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container li a:focus:after,
body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .current-menu-item > .nectar-menu-item-with-icon .menu-title-text:after,
body.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container .nectar-menu-item-with-icon:hover .menu-title-text:after,
#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container .current-menu-item > .nectar-menu-item-with-icon .menu-title-text:after,
#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container .nectar-menu-item-with-icon:hover .menu-title-text:after {
  backface-visibility: hidden;
  -webkit-transform:scaleX(1);
  transform:scaleX(1)
}


/* Mega menu widgets */
#slide-out-widget-area .off-canvas-menu-container ul .menu-item .widget-area-active .widget ul {
	max-height: none;
	padding-left: 0;
}
body #slide-out-widget-area .menu.subview .menu-item .widget-area-active .widget li,
#header-outer #mobile-menu ul .menu-item .widget-area-active .widget ul {
	display: block!important;
}
#slide-out-widget-area .off-canvas-menu-container .widget-area-active .widget ul.product_list_widget {
	text-align: left;
}
#slide-out-widget-area .off-canvas-menu-container .widget-area-active .widget ul.product_list_widget li a {
	display: inline;
}
#slide-out-widget-area .off-canvas-menu-container .widget-area-active .widget ul.product_list_widget li a:after {
	display: none;
}

#slide-out-widget-area .widget-area-active .wp-caption .wp-caption-text {
	color: #000;
}

#slide-out-widget-area .off-canvas-menu-container li > a > .sf-sub-indicator {
  display: none;
}


/* menu content */
#slide-out-widget-area .inner .off-canvas-menu-container li a{
  font-size:20px;
  line-height:30px;
  font-family:'Open Sans';
  font-weight:700;
}
#slide-out-widget-area.fullscreen .inner li a,
#slide-out-widget-area .off-canvas-social-links li a,
#slide-out-widget-area.slide-out-from-right .inner .off-canvas-menu-container li a,
#slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a,
#slide-out-widget-area .menuwrapper li small{
  opacity:0.7;
  transition:opacity 0.2s ease, color 0.2s ease;
  -webkit-transition:opacity 0.2s ease, color 0.2s ease;
}
#slide-out-widget-area.fullscreen .inner li a:hover,
#slide-out-widget-area .off-canvas-social-links li a:hover,
#slide-out-widget-area .off-canvas-social-links li a:hover,
#slide-out-widget-area .inner .current_page_ancestor >a,
#slide-out-widget-area .inner .current-menu-item >a,
#slide-out-widget-area .inner .current-menu-ancestor >a,
#slide-out-widget-area .inner .current_page_item >a,
#slide-out-widget-area.slide-out-from-right .inner .off-canvas-menu-container li a:hover,
#slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a:hover,
#slide-out-widget-area.slide-out-from-right .inner .off-canvas-menu-container li a:focus,
#slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container li a:focus,
#slide-out-widget-area .inner .off-canvas-menu-container .menuwrapper li >a.hovered{
  opacity:1
}
#slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .off-canvas-menu-container li {
  position: relative;
}
#slide-out-widget-area .ocm-dropdown-arrow {
  transition: transform 0.5s cubic-bezier(0.215,0.61,0.355,1);
  position: absolute;
  right: -6px;
  top: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  height: 28px;
  width: 28px;
  line-height: 0;
}
#slide-out-widget-area .ocm-dropdown-arrow i {
  font-size: 18px;
  height: 28px;
  width: 28px;
  line-height: 28px;
  top:0 ;
}
#slide-out-widget-area .open-submenu > .ocm-dropdown-arrow {
  transform: translateY(-50%) rotate(180deg);
}

#slide-out-widget-area .secondary-header-text,
body #slide-out-widget-area .inner-wrap .inner .nectar-header-text-content {
  margin-bottom: 35px;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.1);
  padding: 10px 15px;
}
body #slide-out-widget-area .inner-wrap .inner .nectar-header-text-content * {
  color: inherit;
}
body #slide-out-widget-area .inner-wrap .inner .nectar-header-text-content div > *:last-child {
  margin-bottom: 0;
}

body #slide-out-widget-area .inner-wrap .inner .nectar-header-text-content {
	align-self: flex-start;
}

#slide-out-widget-area .nectar-header-text-content > span > *:last-child {
	margin-bottom: 0;
}
body #slide-out-widget-area .secondary-header-text {
	line-height: 1.4em;
}
#slide-out-widget-area.mobile,
#slide-out-widget-area.slide-out-from-right-hover.mobile {
  overflow-y:scroll;
  overflow-x:hidden;
}

#slide-out-widget-area .bottom-text{
  padding-bottom:0;
  font-size:12px
}
#slide-out-widget-area:not(.fullscreen) .off-canvas-social-links li{
  display:inline-block;
  padding:0 6px 6px 0
}
#slide-out-widget-area .off-canvas-social-links li i{
  background-color:transparent;
  font-size:18px;
  line-height:22px
}

body:not(.material) #slide-out-widget-area .off-canvas-social-links li a,
.material #slide-out-widget-area:not(.slide-out-from-right) .off-canvas-social-links li a {
	padding: 0 8px;
}

.blurred-wrap.blurred{
  -webkit-filter:blur(5px);
  -moz-filter:blur(5px);
  -ms-filter:blur(5px);
  filter:blur(5px)
}
.msie .blurred-wrap.blurred{
  -ms-filter:none;
  filter:none
}
#slide-out-widget-area .widget h4{
  margin-bottom:8px
}
#slide-out-widget-area .inner >div{
  margin-bottom:25px
}
#slide-out-widget-area .inner >div:first-of-type{
  margin-top:-7px
}
#slide-out-widget-area .inner{
  width:100%;
  height:100%
}
#slide-out-widget-area a,
#slide-out-widget-area,
#slide-out-widget-area h4,
#slide-out-widget-area h3{
  color:#fff
}
body.material #slide-out-widget-area.slide-out-from-right .widget:not(.nectar_popular_posts_widget):not(.recent_posts_extra_widget) li a:hover {
  color:#fff
}
#slide-out-widget-area .nectar-menu-label:before {
  background-color: #fff;
}

body[data-full-width-header="false"] #slide-out-widget-area .slide_out_area_close{
  position:absolute;
  right:22px;
  top:22px
}
body[data-full-width-header="false"].admin-bar #slide-out-widget-area .slide_out_area_close{
  top:47px
}
body[data-full-width-header="false"].ascend #slide-out-widget-area.slide-out-from-right .slide_out_area_close,
body[data-full-width-header="false"].original #slide-out-widget-area.slide-out-from-right .slide_out_area_close {
  z-index: 100;
}
body[data-full-width-header="false"] #slide-out-widget-area .slide_out_area_close{
  display:block;
  transition:all 0.47s cubic-bezier(0.3,1,0.3,0.95) 0s;
  -webkit-transition:all 0.47s cubic-bezier(0.3,1,0.3,0.95) 0s;
  font-family:'Open Sans';
  font-weight:400
}
body[data-full-width-header="false"] #slide-out-widget-area .slide_out_area_close{
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden;
  width:34px;
  height:34px;
  transition:all 0.47s cubic-bezier(0.3,1,0.3,0.95) 0s;
  -webkit-transition:all 0.47s cubic-bezier(0.3,1,0.3,0.95) 0s;
  color:#ddd;
  font-size:18px;
  max-width:none;
  line-height:32px
}
body[data-full-width-header="false"] #slide-out-widget-area .slide_out_area_close:hover .icon-default-style[class^="icon-"]{
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg)
}
body[data-full-width-header="false"] #slide-out-widget-area .slide_out_area_close:hover{
  border-color:rgba(255,255,255,0.7)
}
body #slide-out-widget-area .slide_out_area_close .icon-default-style[class^="icon-"]{
  -webkit-backface-visibility:hidden;
  font-size:18px;
  height:34px;
  left:-2px;
  line-height:32px;
  max-width:none;
  transition:all 0.47s cubic-bezier(0.3,1,0.3,0.95) 0s;
  -webkit-transition:all 0.47s cubic-bezier(0.3,1,0.3,0.95) 0s;
  width:34px
}
body #slide-out-widget-area .slide_out_area_close .icon-default-style {
  color:#fff;
}

#slide-out-widget-area .menuwrapper{
  position:relative;
  -webkit-perspective:1000px;
  perspective:1000px;
  -webkit-perspective-origin:center;
  perspective-origin:center;
  margin-right:0;
  display:block
}
#slide-out-widget-area .menuwrapper button{
  background:#ccc;
  border:none;
  width:48px;
  height:45px;
  text-indent:-900em;
  overflow:hidden;
  position:relative;
  cursor:pointer;
  outline:none
}
#slide-out-widget-area .menuwrapper button:after{
  content:'';
  position:absolute;
  width:68%;
  height:5px;
  background:#fff;
  top:10px;
  left:16%;
  box-shadow:0 10px 0 #fff,0 20px 0 #fff
}
#slide-out-widget-area .menuwrapper ul{
  padding:0;
  list-style:none;
  -webkit-transform-style:preserve-3d;
  transform-style:preserve-3d
}
#slide-out-widget-area .menuwrapper li{
  position:relative
}
#slide-out-widget-area .menuwrapper li small{
  display:inline-block;
  text-transform:uppercase;
  font-size:15px;
  font-family:'Open Sans';
  font-weight:600;
  letter-spacing:2px;
  position:relative;
  top:-4px;
  opacity:0.6
}
#slide-out-widget-area:not(.fullscreen):not(.fullscreen-alt) .menuwrapper li small{
  font-size:14px;
  display:block;
  font-family:'Open Sans';
	letter-spacing: inherit;
  margin-top: 5px;
  font-weight:700
}
#slide-out-widget-area .no-touch .menuwrapper li a:hover{
  background:rgba(255,248,213,0.1)
}
#slide-out-widget-area .menuwrapper .back >a{
  background:rgba(0,0,0,0.13)
}
#slide-out-widget-area:not(.fullscreen) .menuwrapper .back >a,
body #slide-out-widget-area.slide-out-from-right-hover .inner .off-canvas-menu-container .back > a {
  padding-left:10px;
  padding-right:10px;
  margin-left:-10px
}
body #slide-out-widget-area .menuwrapper .back,
body #slide-out-widget-area .menu.subview .subviewopen >.sub-menu >.back{
  display:inline-block;
  margin-bottom:20px!important
}
#slide-out-widget-area .menuwrapper .menu{
  margin:0;
  position:relative;
  width:100%;
  opacity:0;
  pointer-events:none;
  -webkit-transform:translateY(10px);
  transform:translateY(10px);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden
}
#slide-out-widget-area .menuwrapper .menu.menu-toggle{
  transition:all 0.25s ease
}
#slide-out-widget-area .menuwrapper .menu.menuopen{
  opacity:1;
  pointer-events:auto;
  -webkit-transform:translateY(0px);
  transform:translateY(0px)
}

/* Hide the inner submenus */
body #slide-out-widget-area .menuwrapper li .sub-menu{
  display:none;
}
body #slide-out-widget-area .menuwrapper li .sub-menu,
#slide-out-widget-area .menuwrapper >.sub-menu {
  margin:0!important;
  padding:0!important
}
body #slide-out-widget-area .menu.subview li,
body #slide-out-widget-area .menu.subview .subviewopen >a,
body #slide-out-widget-area .menu.subview .subview >a,
body #slide-out-widget-area .menu.subview .subviewopen >small,
body #slide-out-widget-area .menu.subview .subview >small,
#slide-out-widget-area .mobile-only {
  display:none
}
body #slide-out-widget-area .menu.subview .subviewopen >a,
body #slide-out-widget-area .menu.subview .subview >a {
  display: none!important;
}
body #slide-out-widget-area .menu.subview .subview,
body #slide-out-widget-area .menu.subview .subview .sub-menu,
body #slide-out-widget-area .menu.subview .subviewopen,
body #slide-out-widget-area .menu.subview .subviewopen >.sub-menu,
body #slide-out-widget-area .menu.subview .subviewopen >.sub-menu >li{
  display:block
}

/* Dynamically added submenu outside of the menu context */
#slide-out-widget-area .menuwrapper >.sub-menu{
  position:absolute;
  width:100%;
  top:0;
  left:0;
}
.menu.dl-animate-out-5{
  -webkit-animation:MenuAnimOut5 0.4s ease-in-out;
  animation:MenuAnimOut5 0.4s ease-in-out
}
.menu.dl-animate-in-5{
  -webkit-animation:MenuAnimIn5 0.4s ease-in-out;
  animation:MenuAnimIn5 0.4s ease-in-out
}
.menuwrapper >.sub-menu.dl-animate-in-5{
  -webkit-animation:SubMenuAnimIn5 0.4s ease-in-out;
  animation:SubMenuAnimIn5 0.4s ease-in-out
}
.menuwrapper >.sub-menu.dl-animate-out-5{
  -webkit-animation:SubMenuAnimOut5 0.4s ease-in-out;
  animation:SubMenuAnimOut5 0.4s ease-in-out
}
@-webkit-keyframes MenuAnimOut5{
  0%{
  }
  100%{
    -webkit-transform:rotateY(-25deg) translateX(-300px);
    opacity:0
  }
}
@keyframes MenuAnimOut5{
  0%{
  }
  100%{
    -webkit-transform:rotateY(-25deg) translateX(-300px);
    transform:rotateY(-25deg) translateX(-300px);
    opacity:0
  }
}
@-webkit-keyframes MenuAnimIn5{
  0%{
    -webkit-transform:rotateY(-25deg) translateX(-300px);
    opacity:0
  }
  100%{
    -webkit-transform:rotateY(0deg) translateX(0px);
    opacity:1
  }
}
@keyframes MenuAnimIn5{
  0%{
    -webkit-transform:rotateY(-25deg) translateX(-300px);
    transform:rotateY(-25deg) translateX(-300px);
    opacity:0
  }
  100%{
    -webkit-transform:rotateY(0deg) translateX(0px);
    transform:rotateY(0deg) translateX(0px);
    opacity:1
  }
}
@-webkit-keyframes SubMenuAnimIn5{
  0%{
    -webkit-transform:rotateY(25deg) translateX(300px);
    opacity:0
  }
  100%{
    -webkit-transform:rotateY(0deg) translateX(0px);
    opacity:1
  }
}
@keyframes SubMenuAnimIn5{
  0%{
    -webkit-transform:rotateY(25deg) translateX(300px);
    transform:rotateY(25deg) translateX(300px);
    opacity:0
  }
  100%{
    -webkit-transform:rotateY(0deg) translateX(0px);
    transform:rotateY(0deg) translateX(0px);
    opacity:1
  }
}
@-webkit-keyframes SubMenuAnimOut5{
  0%{
    -webkit-transform:rotateY(0deg) translateX(0px);
    opacity:1
  }
  100%{
    -webkit-transform:rotateY(25deg) translateX(300px);
    opacity:0
  }
}
@keyframes SubMenuAnimOut5{
  0%{
    -webkit-transform:rotateY(0deg) translateX(0px);
    transform:rotateY(0deg) translateX(0px);
    opacity:1
  }
  100%{
    -webkit-transform:rotateY(25deg) translateX(300px);
    transform:rotateY(25deg) translateX(300px);
    opacity:0
  }
}
.menu.dl-animate-out-4{
  -webkit-animation:MenuAnimOut4 0.4s ease-in-out;
  animation:MenuAnimOut4 0.4s ease-in-out
}
.menu.dl-animate-in-4{
  -webkit-animation:MenuAnimIn4 0.4s ease-in-out;
  animation:MenuAnimIn4 0.4s ease-in-out
}
.menuwrapper >.sub-menu.dl-animate-in-4{
  -webkit-animation:SubMenuAnimIn4 0.4s ease;
  animation:SubMenuAnimIn4 0.4s ease
}
.menuwrapper >.sub-menu.dl-animate-out-4{
  -webkit-animation:SubMenuAnimOut4 0.4s ease;
  animation:SubMenuAnimOut4 0.4s ease
}
@-webkit-keyframes MenuAnimOut4{
  0%{
  }
  100%{
    -webkit-transform:scale(1.2);
    opacity:0
  }
}
@keyframes MenuAnimOut4{
  0%{
  }
  100%{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    opacity:0
  }
}
@-webkit-keyframes MenuAnimIn4{
  0%{
    -webkit-transform: scale(1.2);
    opacity:0
  }
  100%{
    -webkit-transform:scale(1);
    opacity:1
  }
}
@keyframes MenuAnimIn4{
  0%{
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    opacity:0
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity:1
  }
}
@-webkit-keyframes SubMenuAnimIn4{
  0%{
    -webkit-transform:scale(0.8);
    opacity:0
  }
  100%{
    -webkit-transform:scale(1);
    opacity:1
  }
}
@keyframes SubMenuAnimIn4{
  0%{
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0
  }
  100%{
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:1
  }
}
@-webkit-keyframes SubMenuAnimOut4{
  0%{
    -webkit-transform:scale(1);
    opacity:1
  }
  100%{
    -webkit-transform:scale(0.8);
    opacity:0
  }
}
@keyframes SubMenuAnimOut4{
  0%{
    -webkit-transform:scale(1);
    transform:scale(1);
    opacity:1
  }
  100%{
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0
  }
}

#slide-out-widget-area.fullscreen-split[data-dropdown-func="default"] .off-canvas-menu-container li ul,
.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li ul,
#slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .off-canvas-menu-container li ul {
  position: relative;
  max-height: 0;
  box-sizing: content-box;
  -webkit-transition: max-height 0.5s cubic-bezier(0.215,0.61,0.355,1),padding 0.25s cubic-bezier(0.215,0.61,0.355,1);
  transition: max-height 0.5s cubic-bezier(0.215,0.61,0.355,1),padding 0.25s cubic-bezier(0.215,0.61,0.355,1);
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  overflow: hidden;
}
.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li ul,
#slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .off-canvas-menu-container li ul {
  padding-left: 20px;
}
.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li ul > li:first-child,
#slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .off-canvas-menu-container li ul > li:first-child {
  margin-top: 10px;
}
.material #slide-out-widget-area[class*="slide-out-from-right"] .off-canvas-menu-container li ul > li:last-child,
#slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .off-canvas-menu-container li ul > li:last-child {
  margin-bottom: 0;
}
.material #slide-out-widget-area[class*="slide-out-from-right"] .inner .off-canvas-menu-container li li a,
body #slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .inner .off-canvas-menu-container li li a {
  font-size: 16px;
  line-height: 22px;
}
.material #slide-out-widget-area[class*="slide-out-from-right"] .inner .off-canvas-menu-container .menu-item-has-children > a,
body #slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .inner .off-canvas-menu-container .menu-item-has-children > a{
  margin-right: 20px;
}
body:not(.material) #slide-out-widget-area[data-dropdown-func="separate-dropdown-parent-link"] .off-canvas-menu-container li ul > li:last-child {
  margin-bottom: 10px;
}

#slide-out-widget-area .widget_recent_entries span,
#slide-out-widget-area .recent_posts_extra_widget .post-widget-text span{
  display:block;
  line-height:17px;
  color:#999;
  font-size:11px;
  margin-bottom:6px
}
#slide-out-widget-area .widget_recent_entries span,
#slide-out-widget-area .recent_posts_extra_widget .post-widget-text span{
  color:inherit
}
#slide-out-widget-area .widget_recent_entries span{
  opacity:0.8
}


/* Widgets */
#slide-out-widget-area .widget_calendar table th,
#slide-out-widget-area .widget_calendar table tbody td {
	color: inherit;
}


#slide-out-widget-area .tagcloud a{
  padding:2px 11px;
  position: relative;
  border:1px solid #fff;
  background-color: transparent;
  margin:0 8px 8px 0;
  font-size:12px;
  display:block;
  float:left;
  text-transform:uppercase;
  transition:all 0.2s linear;
  -webkit-transition:all 0.2s linear
}
#slide-out-widget-area .tagcloud a:last-child:after,
#slide-out-widget-area .tagcloud:after{
  display:block;
  content:' ';
  clear:both;
  height:1px
}

#slide-out-widget-area .recent_projects_widget img{
  height:auto;
  width:100%
}

body #slide-out-widget-area .slide_out_area_close .icon-default-style[class^="icon-"]{
  font-size:24px!important
}

/* Responsive */
@media only screen and (max-width : 690px) {
  body #slide-out-widget-area .inner .off-canvas-menu-container.mobile-only .menu.secondary-header-items {
    display: block;
  }
}

@media only screen and (min-width : 1px) and (max-width : 999px) {
  body #slide-out-widget-area .slide_out_area_close {
    position: absolute;
    right: 22px;
    top: 22px;
    z-index: 100;
  }

  body #slide-out-widget-area.fullscreen .off-canvas-social-links,
	.admin-bar #slide-out-widget-area.fullscreen .off-canvas-social-links,
	body #slide-out-widget-area.fullscreen-alt .off-canvas-social-links,
	.admin-bar #slide-out-widget-area.fullscreen-alt .off-canvas-social-links {
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 70px;
  }

  #slide-out-widget-area.fullscreen .off-canvas-social-links:after,
	#slide-out-widget-area.fullscreen-alt .off-canvas-social-links:after {
    display: block;
    height: 1px;
    width: 0;
    background-color: rgba(255,255,255,0.6);
    content: ' ';
    margin: 0 auto;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    -moz-transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  #slide-out-widget-area .mobile-only {
    display: block;
  }

  #slide-out-widget-area.slide-out-from-right-hover .inner[data-prepend-menu-mobile="true"] .off-canvas-menu-container {
    top: 0;
    position: relative;
  }

  #slide-out-widget-area.fullscreen .off-canvas-social-links.line-shown:after,
	#slide-out-widget-area.fullscreen-alt .off-canvas-social-links.line-shown:after {
    width: 100px;
  }

  body #slide-out-widget-area.fullscreen .bottom-text,
	.admin-bar #slide-out-widget-area.fullscreen .bottom-text,
	body #slide-out-widget-area.fullscreen-alt .bottom-text,
	.admin-bar #slide-out-widget-area.fullscreen-alt .bottom-text {
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    margin-top: 15px;
  }
  #slide-out-widget-area.overflow-state,
  .admin-bar #slide-out-widget-area.overflow-state {
    padding-top: 110px;
  }

  #slide-out-widget-area.fullscreen .inner.overflow-state {
    margin-top: 0;
    margin-bottom: 130px;
  }

  body[data-full-width-header="false"] #slide-out-widget-area.slide-out-from-right-hover .slide_out_area_close {
    display: none;
  }

}
