/*
Theme Name:  Salient
Description: Off canvas menu set to "Fullscreen" in theme options
*/

#slide-out-widget-area.fullscreen,
#slide-out-widget-area.fullscreen-alt{
    position:fixed;
     width:100%;
     height:100%;
     right:auto;
     left:0;
     top:0;
     z-index:9997;
     background-color:transparent!important;
     text-align:center;
     display:none;
     overflow-y:scroll;
     overflow-x:hidden;
     padding-right:20px;
     box-sizing:content-box;
     -webkit-box-sizing:content-box;
     -moz-box-sizing:content-box
}
 #slide-out-widget-area.fullscreen .inner,
 #slide-out-widget-area.fullscreen-alt .inner{
    width:100%;
     position:relative;
     top: 0;
     left:0;
     height: auto;
     margin: auto;
     padding: 30px 0;
}

 #slide-out-widget-area.fullscreen .inner-wrap,
 #slide-out-widget-area.fullscreen-alt .inner-wrap{
     height:100%;
     margin-right:-20px;
     display: flex;
     flex-direction: column;
}

 .using-mobile-browser #slide-out-widget-area.fullscreen .inner-wrap,
 .using-mobile-browser #slide-out-widget-area.fullscreen-alt .inner-wrap{
    margin-right:0
}
 .using-mobile-browser #slide-out-widget-area.fullscreen-alt{
    overflow:auto;
     padding-top:0
}
 .using-mobile-browser #slide-out-widget-area.fullscreen-alt .inner-wrap{
    overflow-y:scroll
}
 #slide-out-widget-area.fullscreen .inner .widget,
 #slide-out-widget-area.fullscreen-alt .inner .widget{
    opacity:0;
     transform:translateY(110px);
     -webkit-transform:translateY(110px);
}
 #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container,
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container{
    transform:translateY(0px);
     -webkit-transform:translateY(0px);
     opacity:1;
     margin:0
}
 #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container .menu >li{
    opacity:0;
     transform:translateY(110px);
     -webkit-transform:translateY(110px);
}
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container .menu >li{
    opacity:0;
     transform:translateY(40px);
     -webkit-transform:translateY(40px);
}
 #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container .menu li,
 #slide-out-widget-area.fullscreen .menuwrapper li,
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container .menu li,
 #slide-out-widget-area.fullscreen-alt .menuwrapper li{
    margin:0 0 8px 0
}
 #slide-out-widget-area.fullscreen .inner .widget.widget_nav_menu li a,
 #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
 #slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li a,
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a{
    font-size:48px;
     line-height:48px;
     font-family:'Open Sans';
     font-weight:700;
     letter-spacing:-1px
}
 @media only screen and (max-width: 690px) {
     #slide-out-widget-area.fullscreen .inner .widget.widget_nav_menu li a,
     #slide-out-widget-area.fullscreen .inner .off-canvas-menu-container li a,
     #slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li a,
    #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a{
        font-size:32px;
         line-height:32px;
    }
}
 #slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li a,
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
    display:inline-block;
     position:relative;
     color:rgba(255,255,255,0.7);
     opacity:1;
     padding-left:0;
     padding-right:0
}
 #slide-out-widget-area.fullscreen-alt .inner .widget.widget_nav_menu li.no-pointer-events,
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li.no-pointer-events {
    pointer-events:none
}
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a {
     -webkit-transition: color .2s;
     transition: color .2s;
}
body #slide-out-widget-area .inner .off-canvas-menu-container li.menu-item-has-icon > a {
  justify-content: center;
}
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li a:hover,
 #slide-out-widget-area.fullscreen-alt .inner .off-canvas-menu-container li.current-menu-item a {
     color: #fff;
}
#slide-out-widget-area.fullscreen .off-canvas-menu-container li.current-menu-item a {
  opacity: 1;
}
 #slide-out-widget-area.fullscreen .inner .widget,
 #slide-out-widget-area.fullscreen-alt .inner .widget{
    max-width:1425px;
     width:100%;
     margin:20px auto 40px auto;
     padding:0 90px
}
 @media only screen and (min-width:690px){
    #slide-out-widget-area.fullscreen .recent_projects_widget div a,
    #slide-out-widget-area.fullscreen-alt .recent_projects_widget div a{
        width:10.5%
    }
     #slide-out-widget-area.fullscreen .recent_projects_widget div a:nth-child(3n+3),
     #slide-out-widget-area.fullscreen-alt .recent_projects_widget div a:nth-child(3n+3){
         margin:2% 2% 0 0
    }
     #slide-out-widget-area.fullscreen .recent_projects_widget div a:nth-child(8n+8),
     #slide-out-widget-area.fullscreen-alt .recent_projects_widget div a:nth-child(8n+8){
         margin-right:0
    }
}
 #slide-out-widget-area.fullscreen .widget_recent_comments ul li,
 #slide-out-widget-area.fullscreen-alt .widget_recent_comments ul li{
     background:transparent;
     margin-bottom:0px;
     padding:0px
}
 #slide-out-widget-area.fullscreen .tagcloud a,
 #slide-out-widget-area.fullscreen-alt .tagcloud a{
    float:none;
     display:inline-block
}
 #slide-out-widget-area.fullscreen .widget_calendar table tbody td,
 #slide-out-widget-area.fullscreen-alt .widget_calendar table tbody td{
     padding:20px
}
 #slide-out-widget-area-bg.fullscreen-alt{
    padding:20px;
     background-color:transparent;
     transform:none!important;
     -webkit-transform:none!important;
     will-change:opacity,padding
}
 body[data-slide-out-widget-area-style="fullscreen-alt"] #header-outer{
    border-bottom-color:transparent
}
 body #slide-out-widget-area-bg.fullscreen-alt{
    transition:padding 0.3s cubic-bezier(0.215,0.61,0.355,1),opacity 0.25s ease;
     -webkit-transition:padding 0.3s cubic-bezier(0.215,0.61,0.355,1),opacity 0.25s ease
}
 body #slide-out-widget-area-bg.fullscreen-alt.open{
    transition:padding 0.3s cubic-bezier(0.215,0.61,0.355,1),opacity 0.25s ease;
     -webkit-transition:padding 0.3s cubic-bezier(0.215,0.61,0.355,1),opacity 0.25s ease
}
 body #slide-out-widget-area-bg.fullscreen-alt.solid,
 body #slide-out-widget-area-bg.fullscreen-alt.dark,
 body #slide-out-widget-area-bg.fullscreen-alt.medium,
 body #slide-out-widget-area-bg.fullscreen-alt.light{
    opacity:0
}
#slide-out-widget-area.fullscreen-alt .nectar-header-text-content,
#slide-out-widget-area.fullscreen .nectar-header-text-content {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#slide-out-widget-area-bg.open + #slide-out-widget-area.fullscreen-alt .nectar-header-text-content,
#slide-out-widget-area-bg.open + #slide-out-widget-area.fullscreen .nectar-header-text-content,
#slide-out-widget-area.fullscreen.open .nectar-header-text-content {
  opacity: 1;
}
 #slide-out-widget-area-bg.fullscreen-alt.padding-removed{
    padding:0!important
}
 .admin-bar #slide-out-widget-area-bg.fullscreen-alt.padding-removed{
    padding-top:32px!important
}
 .admin-bar #slide-out-widget-area-bg.fullscreen-alt{
    padding-top:52px
}

.admin-bar #slide-out-widget-area {
  padding-top: 0;
}
 #slide-out-widget-area-bg.fullscreen,
 #slide-out-widget-area-bg.fullscreen-alt{
    transform:translateY(-100%);
     -webkit-transform:translateY(-100%);
     opacity:1;
     display:none
}
 #slide-out-widget-area-bg.fullscreen-alt{
    display:block;
     left:-100%
}
 #slide-out-widget-area-bg.fullscreen.solid,
 #slide-out-widget-area-bg.fullscreen-alt.solid{
    opacity:1
}
 #slide-out-widget-area-bg.fullscreen.dark,
 #slide-out-widget-area-bg.fullscreen-alt.dark{
    opacity:0.93
}
 #slide-out-widget-area-bg.fullscreen.medium,
 #slide-out-widget-area-bg.fullscreen-alt.medium{
    opacity:0.6
}
 #slide-out-widget-area-bg.fullscreen.light,
 #slide-out-widget-area-bg.fullscreen-alt.light{
    opacity:0.4
}
 #slide-out-widget-area.fullscreen .off-canvas-social-links,
 #slide-out-widget-area.fullscreen-alt .off-canvas-social-links{
    position:fixed;
     bottom:18px;
     right:18px
}
 #slide-out-widget-area.fullscreen .bottom-text,
 #slide-out-widget-area.fullscreen-alt .bottom-text{
    position:fixed;
     bottom:28px;
     left:28px;
     opacity:0;
     padding-bottom:0
}
 #slide-out-widget-area.fullscreen-alt .bottom-text {
    color:#fff
}
 @media only screen and (min-width:1000px){
     #slide-out-widget-area.fullscreen .bottom-text[data-has-desktop-social="false"],
     #slide-out-widget-area.fullscreen-alt .bottom-text[data-has-desktop-social="false"]{
        left:50%;
         transform:translateX(-50%);
         -webkit-transform:translateX(-50%)
    }
}
 #slide-out-widget-area.fullscreen .off-canvas-social-links li{
    display:inline-block;
     margin:0 8px;
     transform:scale(0);
     -webkit-transform:scale(0);
}
 #slide-out-widget-area.fullscreen-alt .off-canvas-social-links li{
    display:inline-block;
     transform:scale(0);
     -webkit-transform:scale(0);
}
 #slide-out-widget-area.fullscreen .inner >div,
 #slide-out-widget-area.fullscreen-alt .inner >div{
    margin:13px 0px
}
 body #slide-out-widget-area.fullscreen .slide_out_area_close,
 body #slide-out-widget-area.fullscreen-alt .slide_out_area_close{
    display:none!important
}
 #slide-out-widget-area.fullscreen .menuwrapper li a,
 #slide-out-widget-area.fullscreen-alt .menuwrapper li a{
    display:block;
     position:relative;
     padding:6px 20px;
     color:#fff;
     outline:none
}
 #slide-out-widget-area.fullscreen-alt .menuwrapper li a{
    overflow:hidden
}
 #slide-out-widget-area.fullscreen-alt .menuwrapper li small,
 #slide-out-widget-area .inner .off-canvas-menu-container li a .item_desc{
    display:block
}
 #slide-out-widget-area.fullscreen-alt .menuwrapper li.back >a{
    padding:6px 0;
     transform:scale(0.7);
     -webkit-transform:scale(0.7);
     background-color:transparent!important
}
#slide-out-widget-area.fullscreen .widget_shopping_cart,
#slide-out-widget-area.fullscreen-alt .widget_shopping_cart,
#slide-out-widget-area.fullscreen .inner .widget.widget_shopping_cart,
#slide-out-widget-area.fullscreen-alt .inner .widget.widget_shopping_cart {
	max-width: 450px;
}

#slide-out-widget-area .off-canvas-menu-container {
  padding: 0 10%;
}
