/*
Theme Name:  Salient
Description: Off canvas menu set to "Fullscreen Split" in theme options
*/

#slide-out-widget-area.fullscreen-split {
    position:fixed;
     width:100%;
     height:100%;
     right:auto;
     left:0;
     top:0;
     z-index:9997;
     background-color:transparent!important;
     display:none;
     overflow-y:scroll;
     overflow-x:hidden;
     padding-right:20px;
     box-sizing:content-box;
     -webkit-box-sizing:content-box;
     display: -webkit-flex;
     display: flex;
}

.admin-bar #slide-out-widget-area.fullscreen-split {
  height: calc(100% - 32px);
}

#slide-out-widget-area.fullscreen-split .slide_out_area_close {
  display: none!important;
}

 #slide-out-widget-area.fullscreen-split .inner {
   display: -webkit-flex;
   display: flex;
   top: 0;
}

#slide-out-widget-area.fullscreen-split .inner > .container {
 padding-top: 30px;
 padding-bottom: 30px
}

[data-permanent-transparent="1"] #slide-out-widget-area.fullscreen-split .inner > .container {
  padding-top: 0;
}

#slide-out-widget-area.fullscreen-split .inner-wrap {
    height:100%;
    width: 100%;
    margin-right:-20px;
    display: -webkit-flex;
    display: flex;
}

#slide-out-widget-area.fullscreen-split .inner > .container {
  display: -webkit-flex;
  display: flex;
  margin: auto;
  position: relative;
  width: 100%;
  left: 10px;
}

#slide-out-widget-area.fullscreen-split .left-side {
  display: -webkit-flex;
  display: flex;
  width: 50%;
  padding-right: 20px;
  align-items: flex-start;
  flex-flow: column;
}

#slide-out-widget-area.fullscreen-split .right-side {
  display: -webkit-flex;
  display: flex;
  padding-left: 20px;
  width: 50%;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

#slide-out-widget-area.fullscreen-split .right-side-inner {
  align-self: flex-end;
}

#slide-out-widget-area.fullscreen-split .right-side-inner > *:not(:first-child) {
  margin-top: 35px;
}

#slide-out-widget-area.fullscreen-split .right-side p {
  padding-bottom: 0;
}


#slide-out-widget-area-bg.hidden,
#slide-out-widget-area.hidden {
  z-index: -999;
  pointer-events: none;
  visibility: hidden;
}

#slide-out-widget-area-bg{
  -webkit-transition: opacity 0.55s ease;
  transition: opacity 0.55s ease;
  opacity: 0;
}

#slide-out-widget-area.fullscreen-split .right-side {
  -webkit-transition: opacity 0.25s ease, transform 0.01s cubic-bezier(.2,.75,.5,1) 0.45s;
  transition: opacity 0.25s ease, transform 0.01s cubic-bezier(.2,.75,.5,1) 0.45s;
  -webkit-transform: translateY(35px);
  transform: translateY(35px);
  opacity: 0;
}

#slide-out-widget-area.fullscreen-split.open .right-side {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity 0.5s ease 0.3s, transform 0.85s cubic-bezier(.2,.75,.5,1) 0.3s;
  transition: opacity 0.5s ease 0.3s, transform 0.85s cubic-bezier(.2,.75,.5,1) 0.3s;
}

#slide-out-widget-area .off-canvas-menu-container > ul > li {
  -webkit-transition: opacity 0.25s cubic-bezier(.2,.75,.5,1), transform 0.01s cubic-bezier(.2,.75,.5,1) 0.45s;
  transition: opacity 0.25s cubic-bezier(.2,.75,.5,1), transform 0.01s cubic-bezier(.2,.75,.5,1) 0.45s;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  display: block;
}

#slide-out-widget-area.open .off-canvas-menu-container > ul > li {
  -webkit-transition: opacity 0.5s ease 0.38s, transform 0.85s cubic-bezier(.2,.75,.5,1) 0.2s;
  transition: opacity 0.5s ease 0.38s, transform 0.85s cubic-bezier(.2,.75,.5,1) 0.2s;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(1) {transition-delay: 0.16s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(2) {transition-delay: 0.18s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(3) {transition-delay: 0.2s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(4) {transition-delay: 0.22s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(5) {transition-delay: 0.24s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(6) {transition-delay: 0.26s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(7) {transition-delay: 0.28s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(8) {transition-delay: 0.3s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(9) {transition-delay: 0.32s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(10) {transition-delay: 0.34s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(11) {transition-delay: 0.36s; }
#slide-out-widget-area.open .off-canvas-menu-container li:nth-child(12) {transition-delay: 0.38s; }

#slide-out-widget-area .off-canvas-menu-container .sub-menu .nectar-menu-item-with-icon {
  margin: 5px 0;
}
#slide-out-widget-area[data-dropdown-func].fullscreen-split .off-canvas-menu-container .sub-menu .nectar-extra-menu-item-spacing {
  margin: 15px 0;
}
#slide-out-widget-area .inner .off-canvas-menu-container li a .item_desc {
  display: block;
}

#slide-out-widget-area .nectar-header-text-content,
#slide-out-widget-area .secondary-header-text {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#slide-out-widget-area.open .nectar-header-text-content,
#slide-out-widget-area.open .secondary-header-text {
  opacity: 1;
}

#slide-out-widget-area-bg.open {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#slide-out-widget-area-bg.open.solid { opacity: 1; }
#slide-out-widget-area-bg.open.dark { opacity: 0.95; }
#slide-out-widget-area-bg.open.medium { opacity: 0.6; }
#slide-out-widget-area-bg.open.light { opacity: 0.4; }

#slide-out-widget-area-bg {
  width: 100%;
  height: 100%;
}


#slide-out-widget-area.fullscreen-split .inner .off-canvas-menu-container li a {
  -webkit-transition: color 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: color 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  display: inline-block;
}
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container li small {
   display:block;
   margin: 0 0 5px 0;
}

#slide-out-widget-area.fullscreen-split .off-canvas-menu-container li a:after {
  transform-origin: left;
  pointer-events: none;
  bottom: -2px;
  -webkit-transition: -webkit-transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  transition: transform 0.37s cubic-bezier(0.52, 0.01, 0.16, 1);
  border-color: #fff;
}

#slide-out-widget-area[data-dropdown-func].fullscreen-split .inner .off-canvas-menu-container li li a {
  font-size: 18px;
  line-height: 26px;
}
#slide-out-widget-area[data-dropdown-func].fullscreen-split .inner .off-canvas-menu-container li li {
  margin: 5px 0;
}


#slide-out-widget-area.fullscreen-split .off-canvas-menu-container li ul {
  margin-left: 10px;
}


#slide-out-widget-area .off-canvas-menu-container > ul > li > .ocm-dropdown-arrow i {
  font-size: 24px;
}

#slide-out-widget-area[data-dropdown-func].fullscreen-split .off-canvas-menu-container > ul > li > ul > li:first-child {
  margin-top: 14px;
}
#slide-out-widget-area[data-dropdown-func].fullscreen-split .off-canvas-menu-container > ul > li ul > li:last-child {
  margin-bottom: 0;
}
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container > ul > li .widget-area-active {
  margin: 14px 0;
}
#slide-out-widget-area.fullscreen-split .off-canvas-menu-container > ul > li {
  margin-bottom: 14px;
}

#slide-out-widget-area.fullscreen-split[data-dropdown-func="separate-dropdown-parent-link"] .inner .off-canvas-menu-container .menu-item-has-children > a {
  margin-right: 35px;
}

#slide-out-widget-area.fullscreen-split .widget h4 {
  margin-bottom: 15px;
}

#slide-out-widget-area.fullscreen-split .inner .widget.widget_nav_menu li a,
#slide-out-widget-area.fullscreen-split .widget_recent_comments ul li {
  padding: 0;
}
#slide-out-widget-area.fullscreen-split .widget_recent_comments ul li {
  margin-bottom: 10px;
  background-color: transparent;
}

@media only screen and (max-width: 690px) {

  #slide-out-widget-area.fullscreen-split .left-side,
  #slide-out-widget-area.fullscreen-split .right-side {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    display: block;
  }

  #slide-out-widget-area.fullscreen-split .right-side {
    padding-top: 10px;
  }

  #slide-out-widget-area.fullscreen-split .off-canvas-menu-container > ul > li {
    margin-bottom: 8px;
  }

  #slide-out-widget-area.fullscreen-split .right-side-inner > * {
    margin-top: 35px;
  }

  #slide-out-widget-area.fullscreen-split .inner > .container {
    display: block;
  }

}

@media only screen and (min-width: 1000px) {
  body[data-user-set-ocm="off"] #slide-out-widget-area,
  body[data-user-set-ocm="off"] #slide-out-widget-area-bg {
    display: none;
  }
}
