/*
Theme Name:  Salient
Description: Off canvas menu set to "Slide Out From Right" in theme options with Material Skin
*/



#slide-out-widget-area.slide-out-from-right .inner-wrap {
  opacity: 0;
}
body.material-ocm-open #slide-out-widget-area.slide-out-from-right .inner-wrap {
  opacity: 1;
}
#slide-out-widget-area.slide-out-from-right #slide-out-widget-area .inner > div,
#slide-out-widget-area.slide-out-from-right .inner {
  width: auto;
}


body[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area .off-canvas-social-links li:first-child a {
  padding-left: 0;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area .off-canvas-social-links li a i:after {
  z-index: 10000;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area .off-canvas-social-links li {
  padding: 0;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area .off-canvas-social-links li a {
  height: 24px;
  display: block;
  width: auto;
  line-height: 38px;
  opacity: 1;
  padding: 0 14px;
  box-sizing: content-box;
  text-align: center;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area .off-canvas-social-links li i:before {
  z-index: 10;
  display: block;
  position: relative;
}
body[data-slide-out-widget-area-style="slide-out-from-right"].material #slide-out-widget-area .off-canvas-social-links li i {
  height: 26px;
  width: auto;
}
body.material[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area .off-canvas-social-links li i {
  font-size: 20px;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] #slide-out-widget-area .off-canvas-social-links li i {
  line-height: 28px;
  display: block;
  position: relative;
  top: auto;
  backface-visibility: hidden;
  transition: color 0.2s ease;
  vertical-align: middle;
}


@media only screen and (min-width: 1000px) {

  body[data-slide-out-widget-area-style="slide-out-from-right"] .follow-body.slide_out_area_close {
    opacity: 1;
    right: 0;
    transform: translateY(-50%) translateX(-36.55vw);
  }
}

body[data-slide-out-widget-area-style="slide-out-from-right"][data-full-width-header="false"].admin-bar #slide-out-widget-area .slide_out_area_close {
  top: 50px;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] #header-outer.side-widget-open {
  box-shadow: none;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] .nectar-social.fixed {
  transition: transform 0.45s cubic-bezier(.15,0.2,.1,1);
}

/*things to hide when material ocm is open*/
.ocm-effect-wrap.material-ocm-open .nectar-social.fixed {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.ocm-effect-wrap.material-ocm-open .swiper-container .slider-prev,
.ocm-effect-wrap.material-ocm-open .swiper-container .slider-next {
  transition: background-color 0.2s linear, opacity 0.45s cubic-bezier(.15,0.2,.1,1);
  -webkit-transition: background-color 0.2s linear, opacity 0.45s cubic-bezier(.15,0.2,.1,1);
}
.ocm-effect-wrap.material-ocm-open .nectar-slider-wrap[data-full-width="true"] .swiper-container .slider-prev,
.ocm-effect-wrap.material-ocm-open .nectar-slider-wrap[data-full-width="true"] .swiper-container .slider-next {
  opacity: 0!important;
}

#fp-nav.material-ocm-open li {
  -webkit-transform: scale(0);
  transform: scale(0);
}
body.material #slide-out-widget-area.slide-out-from-right .off-canvas-menu-container .current-menu-item > a {
  opacity: 1;
}





body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap-shadow {
  -ms-transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  -ms-transform-origin: right;
  -webkit-transform-origin: right;
  transform-origin: right;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  z-index: 1;
  box-shadow: 0 80px 145px rgba(0,0,0,0.33);
}
body.admin-bar.material-ocm-open {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}


.material-ocm-open .container-wrap {
  pointer-events:none;
}

.ocm-effect-wrap.material-ocm-open .ocm-effect-wrap-inner {
  -webkit-transform: scale(1.007)!important;
  transform: scale(1.007)!important;
  -webkit-transform-origin: center;
  transform-origin: center;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap.material-ocm-open {
  -webkit-transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: scale(0.835) translateX(-466px) translateZ(0)!important;
  transform: scale(0.835) translateX(-466px) translateZ(0)!important;
  height: 100%;
}
body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap-shadow.material-ocm-open {
  -webkit-transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: scale(0.825) translateX(-476px) translateZ(0)!important;
  transform: scale(0.825) translateX(-476px) translateZ(0)!important;
  height: 100%;
}

@media only screen and (max-width: 450px) {

  body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap-shadow {
    -webkit-transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap.material-ocm-open {
    -webkit-transform: scale(0.84) translateX(-93vw) translateZ(0)!important;
    transform: scale(0.84) translateX(-93vw) translateZ(0)!important;
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap-shadow.material-ocm-open {
    -webkit-transform: scale(0.83) translateX(-94vw) translateZ(0)!important;
    transform: scale(0.83) translateX(-94vw) translateZ(0)!important;
  }
}

@media only screen and (min-width: 1000px) {

  body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap.material-ocm-open {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0.8) translateX(-32vw) translateZ(0)!important;
    transform: scale(0.8) translateX(-32vw) translateZ(0)!important;
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"] .ocm-effect-wrap-shadow.material-ocm-open {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0.79) translateX(-33.6vw) translateZ(0)!important;
    transform: scale(0.79) translateX(-33.6vw) translateZ(0)!important;
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"] .follow-body.slide_out_area_close {
    -ms-transform: translateY(-50%) translateX(-35.55vw);
    -webkit-transform: translateY(-50%) translateX(-35.55vw);
    transform: translateY(-50%) translateX(-35.55vw);
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"][data-boxed-style="1"] .ocm-effect-wrap.material-ocm-open {
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(0.85) translateX(-29.6vw) translateZ(0)!important;
    transform: scale(0.85) translateX(-29.6vw) translateZ(0)!important;
  }
  body[data-slide-out-widget-area-style="slide-out-from-right"][data-boxed-style="1"] .ocm-effect-wrap.material-ocm-open .ocm-effect-wrap-inner {
    -webkit-transform: none!important;
    transform: none!important;
  }

}

.material-ocm-open #ajax-content-wrap {
  cursor: pointer;
}
#slide-out-widget-area.slide-out-from-right .inner > div,
#slide-out-widget-area.slide-out-from-right .bottom-meta-wrap {
  -webkit-transform: translateX(110px);
  -webkit-transition: all 0.8s cubic-bezier(0.2, 1, 0.3, 1);
  transform: translateX(110px);
  transition: all 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}
#slide-out-widget-area.slide-out-from-right.material-open .inner > div,
#slide-out-widget-area.slide-out-from-right.material-open .bottom-meta-wrap {
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
